<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
        namespace="org.cbioportal.infrastructure.repository.clickhouse.clinical_attributes.ClickhouseClinicalAttributesMapper">

    <select id="getClinicalAttributesForStudies" resultType="org.cbioportal.legacy.model.ClinicalAttribute">
        SELECT
        attr_id as attrId,
        datatype as dataType,
        patient_attribute as patientAttribute,
        cs.cancer_study_identifier cancerStudyIdentifier
        FROM clinical_attribute_meta cammo
        JOIN cancer_study cs on cs.cancer_study_id = cammo.cancer_study_id
        <where>
            cancerStudyIdentifier IN
            <foreach item="studyId" collection="studyIds" open="(" separator="," close=")">
                #{studyId}
            </foreach>
        </where>

    </select>

    <select id="getClinicalAttributes" resultType="org.cbioportal.legacy.model.ClinicalAttribute">
        SELECT
            attr_id as attrId,
            datatype as dataType,
            patient_attribute as patientAttribute,
            cs.cancer_study_identifier cancerStudyIdentifier
        FROM clinical_attribute_meta cam
                 JOIN cancer_study cs on cs.cancer_study_id = cam.cancer_study_id
    </select>
</mapper>