<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <display-name>Cancer Genomics Portal</display-name>

	<!-- SPRING SECURITY SETTINGS START -->

    <!--
      - Location of the XML file that defines the root application context
      - Applied by ContextLoaderListener.  We read this in to disable method security.
	-->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
		  /WEB-INF/classes/applicationContext-security.xml
		</param-value>
	</context-param>

	<!-- SPRING SECURITY SETTINGS END -->

    <servlet>
        <servlet-name>query_builder</servlet-name>
        <servlet-class>org.mskcc.portal.servlet.QueryBuilder</servlet-class>
        <init-param>
            <param-name>pathway_commons_url</param-name>
            <param-value>pathway_commons_url_value</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>webservice</servlet-name>
        <servlet-class>org.mskcc.cgds.servlet.WebService</servlet-class>
        <init-param>
            <param-name>db_host</param-name>
            <param-value>db_host__value</param-value>
        </init-param>
         <init-param>
            <param-name>db_name</param-name>
            <param-value>db_name__value</param-value>
        </init-param>
        <init-param>
            <param-name>db_user</param-name>
            <param-value>db_user__value</param-value>
        </init-param>
        <init-param>
            <param-name>db_password</param-name>
            <param-value>db_password__value</param-value>
        </init-param>
        <load-on-startup/>
    </servlet>

    <servlet>
        <servlet-name>cross_cancer_query</servlet-name>
        <servlet-class>org.mskcc.portal.servlet.CrossCancerStudyServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>cross_cancer_summary</servlet-name>
        <servlet-class>org.mskcc.portal.servlet.CrossCancerSummaryServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>portal_meta_data_json</servlet-name>
        <servlet-class>org.mskcc.portal.servlet.PortalMetaDataJSON</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>plot</servlet-name>
        <servlet-class>org.mskcc.portal.servlet.PlotServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>boxplot</servlet-name>
        <servlet-class>org.mskcc.portal.servlet.BoxPlotServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>scatterplot</servlet-name>
        <servlet-class>org.mskcc.portal.servlet.ScatterPlotServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>generatePlots</servlet-name>
        <servlet-class>org.mskcc.portal.servlet.GeneratePlots</servlet-class>
        <init-param>
            <param-name>r_installed</param-name>
            <param-value>r_installed_value</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>plot-test</servlet-name>
        <servlet-class>org.mskcc.portal.servlet.PlotTestServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>show_data</servlet-name>
        <servlet-class>org.mskcc.portal.servlet.ShowData</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>network</servlet-name>
        <servlet-class>org.mskcc.portal.servlet.NetworkServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ProteinArraySignificanceTestJSON</servlet-name>
        <servlet-class>org.mskcc.portal.servlet.ProteinArraySignificanceTestJSON</servlet-class>
    </servlet>

    <servlet>
    	<servlet-name>CheckGeneSymbolJSON</servlet-name>
        <servlet-class>org.mskcc.portal.servlet.CheckGeneSymbolJSON</servlet-class>
    </servlet>
    
    <servlet>
    	<servlet-name>ClinicalFreeFormJSON</servlet-name>
        <servlet-class>org.mskcc.portal.servlet.ClinicalFreeFormJSON</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>oma_redirect</servlet-name>
        <servlet-class>org.mskcc.portal.servlet.OmaRedirectServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>link_out</servlet-name>
        <servlet-class>org.mskcc.portal.servlet.LinkOut</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>mutation_diagram_data_json</servlet-name>
        <servlet-class>org.mskcc.portal.mut_diagram.servlet.MutationDiagramDataServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>oncoprint_converter</servlet-name>
        <servlet-class>org.mskcc.portal.servlet.OncoPrintConverter</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>webservice</servlet-name>
        <url-pattern>/webservice.do</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>query_builder</servlet-name>
        <url-pattern>/index.do</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>cross_cancer_query</servlet-name>
        <url-pattern>/cross_cancer.do</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>cross_cancer_summary</servlet-name>
        <url-pattern>/cross_cancer_summary.do</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>portal_meta_data_json</servlet-name>
        <url-pattern>/portal_meta_data.json</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>mutation_diagram_data_json</servlet-name>
        <url-pattern>/mutation_diagram_data.json</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>query_builder</servlet-name>
        <url-pattern>/survival_plot.pdf</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>show_data</servlet-name>
        <url-pattern>/show_data.do</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>plot</servlet-name>
        <url-pattern>/plot.do</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>plot</servlet-name>
        <url-pattern>/plot.pdf</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>boxplot</servlet-name>
        <url-pattern>/boxplot.do</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>boxplot</servlet-name>
        <url-pattern>/boxplot.pdf</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>scatterplot</servlet-name>
        <url-pattern>/scatterplot.do</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>scatterplot</servlet-name>
        <url-pattern>/scatterplot.pdf</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>generatePlots</servlet-name>
        <url-pattern>/generatePlots.do</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>plot-test</servlet-name>
        <url-pattern>/plot-test.do</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>network</servlet-name>
        <url-pattern>/network.do</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>oma_redirect</servlet-name>
        <url-pattern>/omaRedirect.do</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ProteinArraySignificanceTestJSON</servlet-name>
        <url-pattern>/ProteinArraySignificanceTest.json</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>link_out</servlet-name>
        <url-pattern>/link.do</url-pattern>
    </servlet-mapping>
    
     <servlet-mapping>
    	<servlet-name>CheckGeneSymbolJSON</servlet-name>
        <url-pattern>/CheckGeneSymbol.json</url-pattern>
    </servlet-mapping>   
	
     <servlet-mapping>
        <servlet-name>oncoprint_converter</servlet-name>
        <url-pattern>/oncoprint_converter.svg</url-pattern>
    </servlet-mapping>   

	<servlet-mapping>
    	<servlet-name>ClinicalFreeFormJSON</servlet-name>
        <url-pattern>/ClinicalFreeForm.json</url-pattern>
    </servlet-mapping>
    
    <welcome-file-list>
        <welcome-file>index.do</welcome-file>
    </welcome-file-list>
    
    <filter>
        <filter-name>FileUpload</filter-name>
        <display-name>File Upload</display-name>
        <description>
            Applied to file upload requests.
            Wraps the request, allowing it to be used as a regular request, 
            'as if' it were parsed by the Servlet API.
        </description>
        <filter-class>org.mskcc.portal.util.FileUploadFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>FileUpload</filter-name>
        <url-pattern>/netviz.jsp</url-pattern>
    </filter-mapping>

    <!-- Required by the Apache FileUpload tool. -->
    <listener>
        <listener-class>
            org.apache.commons.fileupload.servlet.FileCleanerCleanup
        </listener-class>
    </listener>
</web-app>
