.oncoprint-toolbar-ctr {
	display: inline-block;
	vertical-align: top;
	float: right;
}
.oncoprint-label-area-ctr {
	float:left;
	overflow: auto;
	width: auto;
}
.oncoprint-cell-area-ctr {
	overflow: auto;
	width: auto;
	position:relative;
}

.oncoprint-cell-area {
	background-color: transparent;
    	position: relative;
}

.oncoprint-column-highlight {
	position:absolute;
	width: 1px;
	border-left: 1px dashed rgba(0,0,0,0.75);
	top: 0px;
}

.oncoprint-cell {
	position: absolute;
}

.oncoprint-animated {
	-webkit-transition: 0.5s ease-out;
	-moz-transition: 0.5s ease-out;
	-o-transition: 0.5s ease-out;
	transition: 0.5s ease-out;
}

.oncoprint-cell-hover {
	outline: 1px solid DarkGray;
	position: absolute;
}

.oncoprint-legend-header {
	font-family: Arial !important;
	font-weight: bold !important;
	fill: gray !important;
	text-anchor: start;
	alignment-baseline: hanging;
	font-size: 12px;
	padding-right: 30px;
}

.oncoprint-legend-label {
	font-family: Arial;
	alignment-baseline: hanging;
	font-size: 12px;
}

.oncoprint-legend-block {
	display: inline-block;
}
.oncoprint-legend-element {
	display: inline-block;
}

.oncoprint-track-label {
	font-size: 12px;
}

.oncoprint-track-label-draggable {
	cursor: move;
}
.oncoprint-label-dragging {
	font-weight: bold !important;
	color: #ff0000;
}

.noselect {
	-webkit-touch-callout: none;
    	-webkit-user-select: none;
    	-khtml-user-select: none;
    	-moz-user-select: none;
    	-ms-user-select: none;
    	user-select: none;
}

.oncoprint-cell-qtip {
	background-color: rgba(0,0,0,0) !important;
	//border: none !important;
}
.oncoprint-cell-qtip .qtip-content {
	background-color: rgba(255,255,255,0.92) !important;
	font-size: 13px !important;
}