<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <!-- general settings -->

    <session-config>
      <session-timeout>${tomcat.session.timeout}</session-timeout>
      <tracking-mode>COOKIE</tracking-mode>
    </session-config>
    <mime-mapping>
        <extension>wsdl</extension>
        <mime-type>text/xml</mime-type>
    </mime-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <display-name>Cancer Genomics Portal</display-name>

    <!-- context configuration -->
    <!-- dbcp profile is defined here to prevent exceptions during war deployment -->
    <context-param>
        <param-name>spring.profiles.active</param-name>
        <param-value>${dbconnector:dbcp},${authenticate},${google.analytics.tracking:ga-api-tracking-disabled}</param-value>
    </context-param>
    <context-param>
        <param-name>spring.liveBeansView.mbeanDomain</param-name>
        <param-value>${dbconnector:dbcp},${authenticate}</param-value>
    </context-param>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:applicationContext-business.xml classpath:applicationContext-security.xml classpath:applicationContext-core.xml classpath:applicationContext-logging.xml classpath:applicationContext-ehcache.xml</param-value>
    </context-param>

    <context-param>
        <param-name>webAppRootKey</param-name>
        <param-value>${app.name}.${timestamp}</param-value>
    </context-param>

    <context-param>
      <param-name>log4jConfigLocation</param-name>
      <param-value>classpath:log4j.properties</param-value>
    </context-param>

    <!-- listeners -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <!-- Required by the Apache FileUpload tool. -->
    <listener>
        <listener-class>
            org.apache.commons.fileupload.servlet.FileCleanerCleanup
        </listener-class>
    </listener>
    <!-- App custom context listener -->
    <listener>
        <listener-class>
            org.cbioportal.web.config.WebServletContextListener
        </listener-class>
    </listener>

    <!-- filters -->
    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
        <init-param>
            <param-name>cors.allowed.origins</param-name>
            <param-value>*</param-value>
        </init-param>
        <init-param>
            <param-name>cors.allowed.methods</param-name>
            <param-value>GET,POST,HEAD,OPTIONS</param-value>
        </init-param>
        <init-param>
            <param-name>cors.allowed.headers</param-name>
            <param-value>Origin,Accept,X-Requested-With,Content-Type,Access-Control-Request-Method,Access-Control-Request-Headers</param-value>
        </init-param>
        <!-- expose cors headers defined in HeaderKeyConstants.java -->
        <init-param>
            <param-name>cors.exposed.headers</param-name>
            <param-value>total-count,sample-count</param-value>
        </init-param>
        <init-param>
            <param-name>cors.support.credentials</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>cors.preflight.maxage</param-name>
            <param-value>1800</param-value>
        </init-param>
        <init-param>
            <param-name>cors.request.decorate</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>

    <filter-mapping>
      <filter-name>CorsFilter</filter-name>
      <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>DebugHrrsFilter</filter-name>
        <filter-class>org.mskcc.cbio.portal.util.DebugHrrsFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>DebugHrrsFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>

    <filter-mapping>
      <filter-name>springSecurityFilterChain</filter-name>
      <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- for mounting network tab through iframe -->
    <filter>
        <filter-name>httpHeaderSecurity</filter-name>
        <filter-class>org.apache.catalina.filters.HttpHeaderSecurityFilter</filter-class>
        <async-supported>true</async-supported>
        <init-param>
          <param-name>antiClickJackingOption</param-name>
          <param-value>SAMEORIGIN</param-value>
        </init-param>
    </filter>

    <filter-mapping>
      <filter-name>httpHeaderSecurity</filter-name>
      <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>FileUpload</filter-name>
        <display-name>File Upload</display-name>
        <description>
            Applied to file upload requests.
            Wraps the request, allowing it to be used as a regular request,
            'as if' it were parsed by the Servlet API.
        </description>
        <filter-class>org.mskcc.cbio.portal.util.FileUploadFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>FileUpload</filter-name>
        <url-pattern>/netviz.jsp</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>FileUpload</filter-name>
        <url-pattern>/oncoprint_converter.svg</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>SessionServiceFilter</filter-name>
        <display-name>Session Service Filter</display-name>
        <description>
            This intercepts the request and puts a wrapper around it.  If
            session_id is a request parameter, then it is used to look up
            the stored session using the session-service REST API, and
            the stored session request parameters are then returned by the
            wrapper on all calls to getParameter/getParameterMap/etc.  If
            session_id is not a request parameter, then this returns the current
            request parameters as normal.
        </description>
        <filter-class>org.mskcc.cbio.portal.util.SessionServiceFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>SessionServiceFilter</filter-name>
        <url-pattern>/data_download</url-pattern>
        <url-pattern>/cross_cancer.do</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>ResettableHttpServletRequestFilter</filter-name>
        <display-name>Reusable Http Servlet RequestFilter</display-name>
        <description>This allows body of a request to be read multiple times.</description>
        <filter-class>org.cbioportal.web.util.ResettableHttpServletRequestFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ResettableHttpServletRequestFilter</filter-name>
        <url-pattern>/api/*</url-pattern>
        <url-pattern>/api-legacy/*</url-pattern>
    </filter-mapping>

    <!-- make sure XssFilter runs last, so that any new parameters added
         (for example in SessionServiceFilter) are also cleaned -->
    <filter>
        <filter-name>XssFilter</filter-name>
        <display-name>Xss Filter</display-name>
        <description>
            Applied to all requests to filter out malicious XSS attacks.
            Wraps the request, allowing it to be used as a regular request,
            'as if' it were parsed by the Servlet API.
        </description>
        <filter-class>org.mskcc.cbio.portal.util.XssFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>XssFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <!-- servlet definitions & mappings -->

    <servlet>
        <servlet-name>api-legacy</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:applicationContext-weblegacy.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>api-legacy</servlet-name>
        <url-pattern>/api-legacy/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>url_shortener</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:applicationContext-url-shortener.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>url_shortener</servlet-name>
        <url-pattern>/api/url-shortener</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>api</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:applicationContext-web.xml classpath:applicationContext-logging.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>api</servlet-name>
        <url-pattern>/api/*</url-pattern>
        <url-pattern>/health</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>proxy</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:applicationContext-proxy.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>proxy</servlet-name>
        <url-pattern>/proxy/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>query_builder</servlet-name>
        <servlet-class>org.mskcc.cbio.portal.servlet.QueryBuilder</servlet-class>
        <init-param>
            <param-name>pathway_commons_url</param-name>
            <param-value>${pathway_commons.url}</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>query_builder</servlet-name>
        <url-pattern>/data_download</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>webservice</servlet-name>
        <servlet-class>org.mskcc.cbio.portal.servlet.WebService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>webservice</servlet-name>
        <url-pattern>/webservice.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>portal_meta_data_json</servlet-name>
        <servlet-class>org.mskcc.cbio.portal.servlet.PortalMetaDataJSON</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>portal_meta_data_json</servlet-name>
        <url-pattern>/portal_meta_data.json</url-pattern>
    </servlet-mapping>

	<servlet>
		<servlet-name>portal_meta_data</servlet-name>
		<servlet-class>org.mskcc.cbio.portal.servlet.PortalMetaData</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>portal_meta_data</servlet-name>
		<url-pattern>/portalMetadata.json</url-pattern>
	</servlet-mapping>

    <!-- need to keep this for legacy network page -->
    <servlet>
        <servlet-name>network</servlet-name>
        <servlet-class>org.mskcc.cbio.portal.servlet.NetworkServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>network</servlet-name>
        <url-pattern>/network.do</url-pattern>
    </servlet-mapping>

	<servlet>
		<servlet-name>network_sbgn</servlet-name>
		<servlet-class>org.mskcc.cbio.portal.servlet.NetworkSbgnServlet</servlet-class>
	</servlet>
    <servlet-mapping>
        <servlet-name>network_sbgn</servlet-name>
        <url-pattern>/networkSbgn.do</url-pattern>
    </servlet-mapping>

	<servlet>
		<servlet-name>bioGeneQuery</servlet-name>
		<servlet-class>org.mskcc.cbio.portal.servlet.BioGeneServlet</servlet-class>
	</servlet>
    <servlet-mapping>
        <servlet-name>bioGeneQuery</servlet-name>
        <url-pattern>/bioGeneQuery.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProteinArraySignificanceTestJSON</servlet-name>
        <servlet-class>org.mskcc.cbio.portal.servlet.ProteinArraySignificanceTestJSON</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProteinArraySignificanceTestJSON</servlet-name>
        <url-pattern>/ProteinArraySignificanceTest.json</url-pattern>
    </servlet-mapping>

    <servlet>
    	<servlet-name>CheckGeneSymbolJSON</servlet-name>
        <servlet-class>org.mskcc.cbio.portal.servlet.CheckGeneSymbolJSON</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckGeneSymbolJSON</servlet-name>
        <url-pattern>/CheckGeneSymbol.json</url-pattern>
    </servlet-mapping>

    <servlet>
    	<servlet-name>ClinicalFreeFormJSON</servlet-name>
        <servlet-class>org.mskcc.cbio.portal.servlet.ClinicalFreeFormJSON</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClinicalFreeFormJSON</servlet-name>
        <url-pattern>/ClinicalFreeForm.json</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>oma_redirect</servlet-name>
        <servlet-class>org.mskcc.cbio.portal.servlet.OmaRedirectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>oma_redirect</servlet-name>
        <url-pattern>/omaRedirect.do</url-pattern>
    </servlet-mapping>

	<servlet>
		<servlet-name>mutation_aligner_json</servlet-name>
		<servlet-class>org.mskcc.cbio.portal.servlet.MutationAlignerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>mutation_aligner_json</servlet-name>
		<url-pattern>/getMutationAligner.json</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>mutation_data_json</servlet-name>
		<servlet-class>org.mskcc.cbio.portal.servlet.MutationDataServlet</servlet-class>
	</servlet>
    <servlet-mapping>
        <servlet-name>mutation_data_json</servlet-name>
        <url-pattern>/getMutationData.json</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>oncoprint_converter</servlet-name>
        <servlet-class>org.mskcc.cbio.portal.servlet.OncoPrintConverter</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>oncoprint_converter</servlet-name>
        <url-pattern>/oncoprint_converter.svg</url-pattern>
     </servlet-mapping>

    <servlet>
        <servlet-name>MutSigJSON</servlet-name>
        <servlet-class>org.mskcc.cbio.portal.servlet.MutSigJSON</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MutSigJSON</servlet-name>
        <url-pattern>/MutSig.json</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GisticJSON</servlet-name>
        <servlet-class>org.mskcc.cbio.portal.servlet.GisticJSON</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GisticJSON</servlet-name>
        <url-pattern>/Gistic.json</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PancancerMutationsJSON</servlet-name>
        <servlet-class>org.mskcc.cbio.portal.servlet.PancancerMutationsJSON</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PancancerMutationsJSON</servlet-name>
        <url-pattern>/pancancerMutations.json</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EchoFile</servlet-name>
        <servlet-class>org.mskcc.cbio.portal.servlet.EchoFile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EchoFile</servlet-name>
        <url-pattern>/echofile</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ClinicalJSON</servlet-name>
        <servlet-class>org.mskcc.cbio.portal.servlet.ClinicalJSON</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClinicalJSON</servlet-name>
        <url-pattern>/clinical.json</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ClinicalAttributesServlet</servlet-name>
        <servlet-class>org.mskcc.cbio.portal.servlet.ClinicalAttributesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClinicalAttributesServlet</servlet-name>
        <url-pattern>/clinicalAttributes.json</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ClinicalTimelineData</servlet-name>
        <servlet-class>org.mskcc.cbio.portal.servlet.ClinicalTimelineData</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClinicalTimelineData</servlet-name>
        <url-pattern>/clinical_timeline_data.json</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>patient_view</servlet-name>
        <servlet-class>org.mskcc.cbio.portal.servlet.PatientView</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>CrossCancerJSON</servlet-name>
        <servlet-class>org.mskcc.cbio.portal.servlet.CrossCancerJSON</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CrossCancerJSON</servlet-name>
        <url-pattern>/crosscancerquery.json</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CrossCancerMutationJSON</servlet-name>
        <servlet-class>org.mskcc.cbio.portal.servlet.CrossCancerMutationDataServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CrossCancerMutationJSON</servlet-name>
        <url-pattern>/crosscancermutation.json</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CheckDarwinAccessServlet</servlet-name>
        <servlet-class>org.mskcc.cbio.portal.servlet.CheckDarwinAccessServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckDarwinAccessServlet</servlet-name>
        <url-pattern>/checkDarwinAccess.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MutationsJSON</servlet-name>
        <servlet-class>org.mskcc.cbio.portal.servlet.MutationsJSON</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MutationsJSON</servlet-name>
        <url-pattern>/mutations.json</url-pattern>
    </servlet-mapping>

    <servlet>
    <servlet-name>CnaJSON</servlet-name>
        <servlet-class>org.mskcc.cbio.portal.servlet.CnaJSON</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CnaJSON</servlet-name>
        <url-pattern>/cna.json</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SVGtoPDFConverter</servlet-name>
        <servlet-class>org.mskcc.cbio.portal.servlet.SvgConverter</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SVGtoPDFConverter</servlet-name>
        <url-pattern>/svgtopdf.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SimilarPatientsJSON</servlet-name>
        <servlet-class>org.mskcc.cbio.portal.servlet.SimilarPatientsJSON</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SimilarPatientsJSON</servlet-name>
        <url-pattern>/similar_patients.json</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DrugsJSON</servlet-name>
        <servlet-class>org.mskcc.cbio.portal.servlet.DrugsJSON</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DrugsJSON</servlet-name>
        <url-pattern>/drugs.json</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetGeneticProfileJSON</servlet-name>
        <servlet-class>org.mskcc.cbio.portal.servlet.GetGeneticProfilesJSON</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetGeneticProfileJSON</servlet-name>
        <url-pattern>/getGeneticProfile.json</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetProfileDataJSON</servlet-name>
        <servlet-class>org.mskcc.cbio.portal.servlet.GetProfileDataJSON</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetProfileDataJSON</servlet-name>
        <url-pattern>/getProfileData.json</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetProteinArrayDataJSON</servlet-name>
        <servlet-class>org.mskcc.cbio.portal.servlet.GetProteinArrayDataJSON</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetProteinArrayDataJSON</servlet-name>
        <url-pattern>/getProteinArrayData.json</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetSurvivalDataJSON</servlet-name>
        <servlet-class>org.mskcc.cbio.portal.servlet.GetSurvivalDataJSON</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetSurvivalDataJSON</servlet-name>
        <url-pattern>/getSurvivalData.json</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>IGVLinkingJSON</servlet-name>
        <servlet-class>org.mskcc.cbio.portal.servlet.IGVLinkingJSON</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IGVLinkingJSON</servlet-name>
        <url-pattern>/igvlinking.json</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CalcChiDistribution</servlet-name>
        <servlet-class>org.mskcc.cbio.portal.servlet.SurvivalChiSquareDistributionCalc</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CalcChiDistribution</servlet-name>
        <url-pattern>/calcPval.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetCoExpJson</servlet-name>
        <servlet-class>org.mskcc.cbio.portal.servlet.GetCoExpressionJSON</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetCoExpJson</servlet-name>
        <url-pattern>/getCoExp.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getAlterationData</servlet-name>
        <servlet-class>org.mskcc.cbio.portal.servlet.GetAlterationDataJSON</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getAlterationData</servlet-name>
        <url-pattern>/getAlterationData.json</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>calcCoExp</servlet-name>
        <servlet-class>org.mskcc.cbio.portal.servlet.CalcCoExp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>calcCoExp</servlet-name>
        <url-pattern>/calcCoExp.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>calcFisherExactTest</servlet-name>
        <servlet-class>org.mskcc.cbio.portal.servlet.CalcFisherExactTest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>calcFisherExactTest</servlet-name>
        <url-pattern>/calcFisherExact.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>overRepresentationAnalysisJSON</servlet-name>
        <servlet-class>org.mskcc.cbio.portal.servlet.EnrichmentsJSON</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>overRepresentationAnalysisJSON</servlet-name>
        <url-pattern>/oranalysis.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SinglePageApplication</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <!--mapping-->
    <servlet-mapping>
        <servlet-name>SinglePageApplication</servlet-name>
        <url-pattern>/results/*</url-pattern>
        <url-pattern>/patient/*</url-pattern>
        <url-pattern>/study/*</url-pattern>
        <url-pattern>/mutation_mapper/*</url-pattern>
        <url-pattern>/index.do/*</url-pattern>
        <url-pattern>/case.do/*</url-pattern>
        <url-pattern>/study.do/*</url-pattern>
        <url-pattern>/loading/*</url-pattern>
        <url-pattern>/comparison/*</url-pattern>
        <url-pattern>/restore</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SiteMapIndex</servlet-name>
        <jsp-file>/sitemap_index.jsp</jsp-file>
    </servlet>
    <!--mapping-->
    <servlet-mapping>
        <servlet-name>SiteMapIndex</servlet-name>
        <url-pattern>/sitemap_index.xml</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SiteMapStudy</servlet-name>
        <jsp-file>/sitemap_study.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>SiteMapStudy</servlet-name>
        <url-pattern>/sitemap_study.xml</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RobotsIndex</servlet-name>
        <jsp-file>/robots.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>RobotsIndex</servlet-name>
        <url-pattern>/robots.txt</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SiteConfiguration</servlet-name>
        <jsp-file>/config_service.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>SiteConfiguration</servlet-name>
        <url-pattern>/config_service.json</url-pattern>
    </servlet-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/index.jsp</location>
    </error-page>

</web-app>
