nb-configuration.xml
nbactions-private.xml
oncotator/src/main/resources/db.properties
portal/Portal-Google-Code.ipr
portal/Portal-Google-Code.iws
portal/Portal.iml
portal/portal.log
portal/common/FreeSans.json
portal/nbproject
portal/build
portal/images
portal/.idea
portal/.DS_Store
portal/Portal.ipr
portal/Portal.iws
portal/checkstyle_report.xml
portal/node
core/nbactions.xml
logs
importer/nbactions.xml
portal/nb-configuration.xml
portal/nbactions.xml
portal/src/main/webapp/META-INF/context.xml
\.orig\..*$
\.orig$
\.chg\..*$
\.rej$
\.conflict\~$
.DS_Store
cgds-data
cgds/CGDS.ipr
cgds/CGDS.iws
cgds/Cgds.iml
cgds/build
cgds/data
.idea/
^cgds/nbproject$
cBioPortal.ipr
cBioPortal.iws
cbio-cancer-genomics-portal.iml
my-properties-files/
cron-job-properties-files/
cbio-cancer-genomics-portal.ipr
cbio-cancer-genomics-portal.iws
portal/db/oncotator_cache.sql
portal/src/main/resources/build.properties
portal/src/main/resources/importer.properties
portal/src/main/resources/log4j.properties
portal/src/main/resources/logging.properties
portal/src/main/webapp/js/bower_components/*
src/main/resources/importer.properties.*
src/main/resources/portal.properties.*
!src/main/resource/*.EXAMPLE
firehose-importer/reference_data/gene_info
portal.properties
importer.properties
log4j.properties
build.properties
# use glob syntax
syntax: glob
*.pyc
*.swp
importer/*.log
firehose-importer/*.txt
portal/target/*
liftover/target/*
core/target/*
annotator/target/*
importer/target/*
business/target/*
model/target/*
persistence/persistence-api/target/*
persistence/persistence-mybatis/target/*
persistence/persistence-mybatis-test/target/*
service/target/*
web/target/*
mutation-assessor/target/*
cbioportal-client/target/*
mondrian-cy3-app/target/*
nbactions.xml
*/*.iml
*.iml
*.class
.settings/
.classpath
.project
.pydevproject
*/**/.gitignore
.externalToolBuilders/
dependency-reduced-pom.xml
/core/nbactions-private.xml
.profile.d/
Procfile
scripts/target
node_modules/
target/
portal/META-INF/*
portal/reactapp/*
package.json
.vscode/
*.tramp_history
pom.version.*
pom.xml.*
db-scripts/src/main/resources/cgds-test.sql
pom.xml.*
Dockerfile.local
.factorypath