<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cbioportal.persistence.mybatis.AlterationDriverAnnotationMapper">

    <select id="getAlterationDriverAnnotations" resultType="org.cbioportal.model.AlterationDriverAnnotation">
        SELECT
            alteration_driver_annotation.ALTERATION_EVENT_ID as alterationEventId,
            alteration_driver_annotation.GENETIC_PROFILE_ID as geneticProfileId,
            alteration_driver_annotation.SAMPLE_ID as sampleId,
            alteration_driver_annotation.DRIVER_FILTER as driverFilter,
            alteration_driver_annotation.DRIVER_FILTER_ANNOTATION as driverFilterAnnotation,
            alteration_driver_annotation.DRIVER_TIERS_FILTER as driverTiersFilter,
            alteration_driver_annotation.DRIVER_TIERS_FILTER_ANNOTATION as driverTiersFilterAnnotation
        FROM alteration_driver_annotation
        INNER JOIN genetic_profile ON
        genetic_profile.GENETIC_PROFILE_ID = alteration_driver_annotation.GENETIC_PROFILE_ID
        <where>
            <if test="molecularProfileIds != null and !molecularProfileIds.isEmpty()">
                genetic_profile.STABLE_ID IN
                <foreach item="id" collection="molecularProfileIds" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>

</mapper>