<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cbioportal.persistence.mybatis.AlterationDriverAnnotationMapper">

    <select id="getAlterationDriverAnnotations" resultType="org.cbioportal.model.AlterationDriverAnnotation">
        SELECT
            ALTERATION_DRIVER_ANNOTATION.ALTERATION_EVENT_ID as alterationEventId,
            ALTERATION_DRIVER_ANNOTATION.GENETIC_PROFILE_ID as geneticProfileId,
            ALTERATION_DRIVER_ANNOTATION.SAMPLE_ID as sampleId,
            ALTERATION_DRIVER_ANNOTATION.DRIVER_FILTER as driverFilter,
            ALTERATION_DRIVER_ANNOTATION.DRIVER_FILTER_ANNOTATION as driverFilterAnnotation,
            ALTERATION_DRIVER_ANNOTATION.DRIVER_TIERS_FILTER as driverTiersFilter,
            ALTERATION_DRIVER_ANNOTATION.DRIVER_TIERS_FILTER_ANNOTATION as driverTiersFilterAnnotation
        FROM ALTERATION_DRIVER_ANNOTATION
        INNER JOIN GENETIC_PROFILE ON
        GENETIC_PROFILE.GENETIC_PROFILE_ID = ALTERATION_DRIVER_ANNOTATION.GENETIC_PROFILE_ID
        <where>
            <if test="molecularProfileIds != null and !molecularProfileIds.isEmpty()">
                GENETIC_PROFILE.STABLE_ID IN
                <foreach item="id" collection="molecularProfileIds" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>

</mapper>