<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cbioportal.persistence.mybatis.alterationCountsMapper">

    <select id="getSamplealterationGeneCounts" resultType="org.cbioportal.model.alterationCountByGene">
        SELECT 
            entrez_gene_id AS "entrezGeneId",
            hugo_gene_symbol AS "hugoGeneSymbol",
            COUNT(*) AS "totalCount",
            COUNT(DISTINCT(case_id)) AS "numberOfAlteredCases"
        FROM
        (
            <trim  prefixOverrides="UNION ALL">
                <if test="mutationMolecularProfileCaseIdentifiers != null and !mutationMolecularProfileCaseIdentifiers.isEmpty()">
                    <include refid="mutationCounts">
                        <property name="case_type" value ="'sample_id'"/>
                    </include>
                </if>
                <if test="cnaMolecularProfileCaseIdentifiers != null and !cnaMolecularProfileCaseIdentifiers.isEmpty()">
                    UNION ALL
                    <include refid="cnaCounts">
                        <property name="case_type" value ="'sample_id'"/>
                    </include>
                </if>
                <if test="structuralVariantMolecularProfileCaseIdentifiers != null and !structuralVariantMolecularProfileCaseIdentifiers.isEmpty()">
                    UNION ALL
                    <include refid="structuralVariantCounts">
                        <property name="case_type" value ="'sample_id'"/>
                    </include>
                </if>
            </trim>
        ) as JoinedTable
        <where>
            <include refid="whereGene"/>
        </where>
        GROUP BY entrez_gene_id, hugo_gene_symbol;
    </select>

    <select id="getPatientalterationGeneCounts" resultType="org.cbioportal.model.alterationCountByGene">
        SELECT
            entrez_gene_id AS entrezGeneId,
            hugo_gene_symbol AS hugoGeneSymbol,
            COUNT(*) AS totalCount,
            COUNT(DISTINCT(case_id)) AS numberOfAlteredCases
        FROM
        (
            <trim  prefixOverrides="UNION ALL">
                <if test="mutationMolecularProfileCaseIdentifiers != null and !mutationMolecularProfileCaseIdentifiers.isEmpty()">
                    <include refid="mutationCounts">
                        <property name="case_type" value ="'PATIENT_ID'"/>
                    </include>
                </if>
                <if test="cnaMolecularProfileCaseIdentifiers != null and !cnaMolecularProfileCaseIdentifiers.isEmpty()">
                    UNION ALL
                    <include refid="cnaCounts">
                        <property name="case_type" value ="'PATIENT_ID'"/>
                    </include>
                </if>
                <if test="structuralVariantMolecularProfileCaseIdentifiers != null and !structuralVariantMolecularProfileCaseIdentifiers.isEmpty()">
                    UNION ALL
                    <include refid="structuralVariantCounts">
                        <property name="case_type" value ="'PATIENT_ID'"/>
                    </include>
                </if>
            </trim>
        ) as JoinedTable
        <where>
            <include refid="whereGene"/>
        </where>
        GROUP BY entrez_gene_id, hugo_gene_symbol;
    </select>

    <select id="getSampleCnaGeneCounts" resultType="org.cbioportal.model.CopyNumberCountByGene">
        SELECT
            cna_event.entrez_gene_id AS entrezGeneId,
            gene.hugo_gene_symbol AS hugoGeneSymbol,
            reference_genome_gene.cytoband as cytoband,
            cna_event.alteration AS alteration,
            COUNT(*) AS totalCount,
            COUNT(DISTINCT(sample_cna_event.sample_id)) AS numberOfAlteredCases
        FROM cna_event
        INNER JOIN sample_cna_event ON cna_event.cna_event_id = sample_cna_event.cna_event_id
        <include refid="fromIncludeCustomAnnotationsCna"/>
        INNER JOIN genetic_profile ON sample_cna_event.genetic_profile_id = genetic_profile.genetic_profile_id
        INNER JOIN gene ON cna_event.entrez_gene_id = gene.entrez_gene_id
        INNER JOIN cancer_study ON cancer_study.cancer_study_id = genetic_profile.cancer_study_id
        INNER JOIN reference_genome_gene ON reference_genome_gene.entrez_gene_id = cna_event.entrez_gene_id
        INNER JOIN sample ON sample_cna_event.sample_id = sample.internal_id
        AND reference_genome_gene.reference_genome_id = cancer_study.reference_genome_id
        <where>
            <choose>
                <when test="cnaTypes.hasNone()">NULL</when>
                <when test="!cnaTypes.hasAll()">
                    cna_event.alteration IN
                    <foreach item="type" collection="cnaTypes" open="("
                        separator="," close=")">
                        #{type}
                    </foreach>
                </when>
            </choose>
            <include refid="whereCustomAnnotations"/>
            <include refid="caseFilter">
                <property name="case_type" value="'sample_id'"/>
                <property name="identifiers" value="cnaMolecularProfileCaseIdentifiers"/>
                <property name="geneticProfileIdentifier" value="genetic_profile.genetic_profile_id" />
                <property name="caseStableIdentifier" value="caseUniqueIdentifier" />
            </include>
            <include refid="whereGeneCna"/>
        </where>
        GROUP BY cna_event.entrez_gene_id, cna_event.alteration, reference_genome_gene.cytoband, gene.hugo_gene_symbol
    </select>

    <select id="getPatientCnaGeneCounts" resultType="org.cbioportal.model.CopyNumberCountByGene">
        SELECT
            cna_event.entrez_gene_id AS entrezGeneId,
            gene.hugo_gene_symbol AS hugoGeneSymbol,
            cna_event.alteration AS alteration,
            COUNT(*) AS totalCount,
            COUNT(DISTINCT(patient.internal_id)) AS numberOfAlteredCases
        FROM cna_event
        INNER JOIN sample_cna_event ON cna_event.cna_event_id = sample_cna_event.cna_event_id
        <include refid="fromIncludeCustomAnnotationsCna"/>
        INNER JOIN genetic_profile ON sample_cna_event.genetic_profile_id = genetic_profile.genetic_profile_id
        INNER JOIN sample ON sample_cna_event.sample_id = sample.internal_id
        INNER JOIN patient ON sample.patient_id = patient.internal_id
        INNER JOIN gene ON cna_event.entrez_gene_id = gene.entrez_gene_id
        <where>
            <choose>
                <when test="cnaTypes.hasNone()">NULL</when>
                <when test="!cnaTypes.hasAll()">
                    cna_event.alteration IN
                    <foreach item="type" collection="cnaTypes" open="("
                        separator="," close=")">
                        #{type}
                    </foreach>
                </when>
            </choose>
            <include refid="whereCustomAnnotations"/>
            <include refid="caseFilter">
                <property name="case_type" value="'PATIENT_ID'"/>
                <property name="identifiers" value="cnaMolecularProfileCaseIdentifiers"/>
                <property name="geneticProfileIdentifier" value="genetic_profile.genetic_profile_id" />
                <property name="caseStableIdentifier" value="caseUniqueIdentifier" />
            </include>
            <include refid="whereGeneCna"/>
        </where>
        GROUP BY cna_event.entrez_gene_id, cna_event.alteration, gene.hugo_gene_symbol
    </select>
    
    <select id="getSampleStructuralVariantCounts" resultType="org.cbioportal.model.alterationCountByStructuralVariant">
        SELECT
            gene1.entrez_gene_id AS gene1EntrezGeneId,
            gene1.hugo_gene_symbol AS gene1HugoGeneSymbol,
            gene2.entrez_gene_id AS gene2EntrezGeneId,
            gene2.hugo_gene_symbol AS gene2HugoGeneSymbol,
            COUNT(*) AS totalCount,
            COUNT(DISTINCT(sample.internal_id)) AS numberOfAlteredCases
        FROM structural_variant
            INNER JOIN genetic_profile ON structural_variant.genetic_profile_id = genetic_profile.genetic_profile_id
            <include refid="fromIncludeCustomAnnotationsSV" />
            INNER JOIN sample ON structural_variant.sample_id = sample.internal_id
            INNER JOIN patient ON sample.patient_id = patient.internal_id
            LEFT JOIN gene as gene1 ON structural_variant.site1_entrez_gene_id = gene1.entrez_gene_id
            LEFT JOIN gene as gene2 ON structural_variant.site2_entrez_gene_id = gene2.entrez_gene_id
        <where>
            <include refid="whereCustomAnnotations"/>
            <include refid="whereSVStatus" />
            <include refid="caseFilter">
                <property name="case_type" value="'sample_id'"/>
                <property name="identifiers" value="structuralVariantMolecularProfileCaseIdentifiers" />
                <property name="geneticProfileIdentifier" value="genetic_profile.stable__ID" />
                <property name="caseStableIdentifier" value="caseStableIdentifier" />
            </include>
        </where>
        GROUP BY gene1.entrez_gene_id, gene2.entrez_gene_id
    </select>
    
    <select id="getPatientStructuralVariantCounts" resultType="org.cbioportal.model.alterationCountByStructuralVariant">
        SELECT
            gene1.entrez_gene_id AS gene1EntrezGeneId,
            gene1.hugo_gene_symbol AS gene1HugoGeneSymbol,
            gene2.entrez_gene_id AS gene2EntrezGeneId,
            gene2.hugo_gene_symbol AS gene2HugoGeneSymbol,
            COUNT(*) AS totalCount,
            COUNT(DISTINCT(patient.internal_id)) AS numberOfAlteredCases
        FROM structural_variant
            INNER JOIN genetic_profile ON structural_variant.genetic_profile_id = genetic_profile.genetic_profile_id
            INNER JOIN sample ON structural_variant.sample_id = sample.internal_id
            INNER JOIN patient ON sample.patient_id = patient.internal_id
            INNER JOIN gene as gene1 ON structural_variant.site1_entrez_gene_id = gene1.entrez_gene_id
            INNER JOIN gene as gene2 ON structural_variant.site2_entrez_gene_id = gene2.entrez_gene_id
        <where>
            <include refid="whereSVStatus" />
            <include refid="caseFilter">
                <property name="case_type" value="'PATIENT_ID'"/>
                <property name="identifiers" value="structuralVariantMolecularProfileCaseIdentifiers" />
                <property name="geneticProfileIdentifier" value="genetic_profile.stable__ID" />
                <property name="caseStableIdentifier" value="caseStableIdentifier" />
            </include>
        </where>
        GROUP BY gene1.entrez_gene_id, gene2.entrez_gene_id
    </select>

    <sql id="fromIncludeCustomAnnotationsMutation">
        <!--For better performance, only join in the alteration_driver_annotation table when we need to filter on it.-->
        <bind name="allDriverAnnotationsSelected" value="includeDriver and includeVUS and includeUnknownOncogenicity" />
        <bind name="noDriverAnnotationsSelected" value="not includeDriver and not includeVUS and not includeUnknownOncogenicity" />
        <bind name="allTierOptionsSelected" value="(selectedTiers != null and selectedTiers.hasAll()) and includeUnknownTier" />
        <bind name="noTierOptionsSelected" value="(selectedTiers == null or selectedTiers.hasNone()) and not includeUnknownTier" />
        <if test="(not allDriverAnnotationsSelected and not noDriverAnnotationsSelected) or (not allTierOptionsSelected and not noTierOptionsSelected)">
            LEFT JOIN alteration_driver_annotation ON
            mutation.mutation_event_id = alteration_driver_annotation.alteration_event_id
            AND mutation.genetic_profile_id = alteration_driver_annotation.genetic_profile_id
            AND mutation.sample_id = alteration_driver_annotation.sample_id
        </if>
    </sql>

    <sql id="fromIncludeCustomAnnotationsCna">
        <!--For better performance, only join in the alteration_driver_annotation table when we need to filter on it.-->
        <bind name="allDriverAnnotationsSelected" value="includeDriver and includeVUS and includeUnknownOncogenicity" />
        <bind name="noDriverAnnotationsSelected" value="not includeDriver and not includeVUS and not includeUnknownOncogenicity" />
        <bind name="allTierOptionsSelected" value="(selectedTiers != null and selectedTiers.hasAll()) and includeUnknownTier" />
        <bind name="noTierOptionsSelected" value="(selectedTiers == null or selectedTiers.hasNone()) and not includeUnknownTier" />
        <if test="(not allDriverAnnotationsSelected and not noDriverAnnotationsSelected) or (not allTierOptionsSelected and not noTierOptionsSelected)">
            LEFT JOIN alteration_driver_annotation ON
            sample_cna_event.cna_event_id = alteration_driver_annotation.alteration_event_id
            AND sample_cna_event.genetic_profile_id = alteration_driver_annotation.genetic_profile_id
            AND sample_cna_event.sample_id = alteration_driver_annotation.sample_id
        </if>
    </sql>
    
    <sql id="fromIncludeCustomAnnotationsSV">
        <!--For better performance, only join in the alteration_driver_annotation table when we need to filter on it.-->
        <bind name="allDriverAnnotationsSelected" value="includeDriver and includeVUS and includeUnknownOncogenicity" />
        <bind name="noDriverAnnotationsSelected" value="not includeDriver and not includeVUS and not includeUnknownOncogenicity" />
        <bind name="allTierOptionsSelected" value="(selectedTiers != null and selectedTiers.hasAll()) and includeUnknownTier" />
        <bind name="noTierOptionsSelected" value="(selectedTiers == null or selectedTiers.hasNone()) and not includeUnknownTier" />
        <if test="(not allDriverAnnotationsSelected and not noDriverAnnotationsSelected) or (not allTierOptionsSelected and not noTierOptionsSelected)">
            LEFT JOIN alteration_driver_annotation ON
            structural_variant.internal_id = alteration_driver_annotation.alteration_event_id
            AND structural_variant.genetic_profile_id = alteration_driver_annotation.genetic_profile_id
            AND structural_variant.sample_id = alteration_driver_annotation.sample_id
        </if>
    </sql>

    <!-- Row should only be returned once, also when both sv sites match -->
    <sql id="whereSite1IsNot2">
        (
            structural_variant.site2_entrez_gene_id != structural_variant.site1_entrez_gene_id
            OR
            structural_variant.site1_entrez_gene_id IS NULL
        )
    </sql>

    <sql id="whereCustomAnnotations">
        <bind name="allDriverAnnotationsSelected" value="includeDriver and includeVUS and includeUnknownOncogenicity" />
        <bind name="noDriverAnnotationsSelected" value="not includeDriver and not includeVUS and not includeUnknownOncogenicity" />
        <choose>
            <when test="not allDriverAnnotationsSelected and not noDriverAnnotationsSelected">
                <trim prefix="AND (" suffix=")" prefixOverrides="OR">
                    <if test="includeDriver">
                        OR LOWER(driver_filter) = 'putative_driver'
                    </if>
                    <if test="includeVUS">
                        OR LOWER(driver_filter) = 'putative_passenger'
                    </if>
                    <if test="includeUnknownOncogenicity">
                        OR driver_filter IS NULL
                        OR LOWER(driver_filter) IN ('unknown', 'na', '')
                    </if>
                </trim>
            </when>
            <when test="noDriverAnnotationsSelected">
                AND NULL
            </when>
            <otherwise>
                <!--when allDriverAnnotationsSelected do not filter-->
            </otherwise>
        </choose>
        <include refid="whereIncludeTiers"/>
    </sql>
        
    <sql id="whereIncludeTiers">
        <bind name="allTierOptionsSelected" value="(selectedTiers != null and selectedTiers.hasAll()) and includeUnknownTier" />
        <bind name="noTierOptionsSelected" value="(selectedTiers == null or selectedTiers.hasNone()) and not includeUnknownTier" />
        <choose>
            <when test="not allTierOptionsSelected and not noTierOptionsSelected">
                <trim prefix="AND (" suffix=")" prefixOverrides="OR">    
                    <if test="selectedTiers != null and selectedTiers.hasValues()">
                        OR driver_tiers_filter IN
                        <foreach item="item" collection="selectedTiers" open="(" separator="," close=")">
                            #{item}
                        </foreach>
                    </if>
                    <if test="includeUnknownTier">
                        OR driver_tiers_filter IS NULL
                        OR LOWER(driver_tiers_filter) IN ('', 'na', 'unknown')
                    </if>
                </trim>
            </when>
            <when test="noTierOptionsSelected">
                AND NULL
            </when>
            <otherwise>
                <!--when allTierOptionsSelected do not filter-->
            </otherwise>
        </choose>
    </sql>
    
    <sql id="whereMutationStatus">
        <bind name="allMutationStatusSelected" value="includeGermline and includeSomatic and includeUnknownStatus" />
        <bind name="noMutationStatusSelected" value="not includeGermline and not includeSomatic and not includeUnknownStatus" />
        <choose>
            <when test="not allMutationStatusSelected and not noMutationStatusSelected">
                <trim prefix="AND (" suffix=")" prefixOverrides="OR">
                    <if test="includeGermline">
                        OR
                        LOWER(mutation.mutation_status) LIKE '%germline%'
                    </if>
                    <if test="includeSomatic">
                        OR
                        LOWER(mutation.mutation_status) = 'somatic'
                    </if>
                    <if test="includeUnknownStatus">
                        OR
                        (LOWER(mutation.mutation_status) != 'somatic' AND LOWER(mutation.mutation_status) NOT LIKE '%germline%')
                    </if>
                </trim>
            </when>
            <when test="noMutationStatusSelected">
                AND NULL
            </when>
            <otherwise>
                <!--when allMutationStatusSelected do not filter-->
            </otherwise>
        </choose>
    </sql>

    <sql id="whereSVStatus">
        <bind name="allSVStatusSelected" value="includeGermline and includeSomatic and includeUnknownStatus" />
        <bind name="noSVStatusSelected" value="not includeGermline and not includeSomatic and not includeUnknownStatus" />
        <choose>
            <when test="not allSVStatusSelected and not noSVStatusSelected">
                <trim prefix="AND (" suffix=")" prefixOverrides="OR">
                    <if test="includeGermline">
                        OR
                        LOWER(sv_status) = 'germline'
                    </if>
                    <if test="includeSomatic">
                        OR
                        LOWER(sv_status) = 'somatic'
                    </if>
                    <if test="includeUnknownStatus">
                        OR
                        LOWER(sv_status) NOT IN ('germline', 'somatic')
                    </if>
                </trim>
            </when>
            <when test="noSVStatusSelected">
                AND NULL
            </when>
            <otherwise>
                <!--when allSVStatusSelected do not filter-->
            </otherwise>
        </choose>
    </sql>

    <sql id="whereGene">
        <choose>
            <when test="entrezGeneIds == null or entrezGeneIds.hasNone()">
                AND NULL
            </when>
            <when test="entrezGeneIds.hasValues()">
                AND JoinedTable.entrez_gene_id IN
                <foreach item="entrezGeneId" collection="entrezGeneIds" open="(" separator="," close=")">
                    #{entrezGeneId}
                </foreach>
            </when>
        </choose>
    </sql>
    
    <sql id="whereGeneCna">
        <choose>
            <when test="entrezGeneIds == null or entrezGeneIds.hasNone()">
                AND NULL
            </when>
            <when test="entrezGeneIds.hasValues()">
                AND cna_event.entrez_gene_id IN
                <foreach item="entrezGeneId" collection="entrezGeneIds" open="(" separator="," close=")">
                    #{entrezGeneId}
                </foreach>
            </when>
        </choose>
    </sql>

    <sql id="mutationCounts">
        SELECT
            <include refid="caseUniqueIdentifier" /> as case_id,
	        mutation.entrez_gene_id,
	        gene.hugo_gene_symbol,
	        mutation_event.mutation_type
        FROM mutation
        INNER JOIN mutation_event ON mutation_event.mutation_event_id = mutation.mutation_event_id
        INNER JOIN gene ON mutation.entrez_gene_id = gene.entrez_gene_id
        INNER JOIN genetic_profile ON mutation.genetic_profile_id = genetic_profile.genetic_profile_id
        INNER JOIN sample ON sample.internal_id = mutation.sample_id
        INNER JOIN patient ON sample.patient_id = patient.internal_id
        <include refid="fromIncludeCustomAnnotationsMutation"/>
        <where>
            <choose>
                <when test="mutationTypes.hasNone()">NULL</when>
                <when test="!mutationTypes.hasAll()">
                    LOWER(mutation_event.mutation_type)
                    <choose>
			            <when test="mutationTypes.inverse()">
			                NOT IN
			            </when>
			            <otherwise>
			            	IN
			            </otherwise>
			        </choose>
                    <foreach item="type" collection="mutationTypes" open="(" separator="," close=")">
                        LOWER(#{type})
                    </foreach>
                </when>
            </choose>
            <include refid="whereCustomAnnotations"/>
            <include refid="whereMutationStatus"/>
            <include refid="caseFilter">
                <property name="identifiers" value="mutationMolecularProfileCaseIdentifiers"/>
                <property name="geneticProfileIdentifier" value="genetic_profile.genetic_profile_id" />
                <property name="caseStableIdentifier" value="caseUniqueIdentifier" />
            </include>
        </where>
    </sql>

    <sql id="cnaCounts">
        SELECT
            <include refid="caseUniqueIdentifier" /> as case_id,
	        cna_event.entrez_gene_id,
	        gene.hugo_gene_symbol,
	        CAST(cna_event.alteration AS CHAR(3))
        FROM cna_event
        INNER JOIN sample_cna_event ON cna_event.cna_event_id = sample_cna_event.cna_event_id
        INNER JOIN gene ON cna_event.entrez_gene_id = gene.entrez_gene_id
        INNER JOIN genetic_profile ON sample_cna_event.genetic_profile_id = genetic_profile.genetic_profile_id
        INNER JOIN patient ON patient.cancer_study_id = genetic_profile.cancer_study_id
        INNER JOIN sample ON sample.patient_id = patient.internal_id AND sample.internal_id = sample_cna_event.sample_id
        INNER JOIN cancer_study ON cancer_study.cancer_study_id = genetic_profile.cancer_study_id
        <include refid="fromIncludeCustomAnnotationsCna"/>
        <where>
            <choose>
                <when test="cnaTypes.hasNone()">NULL</when>
                <when test="!cnaTypes.hasAll()">
                    cna_event.alteration IN
                    <foreach item="type" collection="cnaTypes" open="(" separator="," close=")">
                        #{type}
                    </foreach>
                </when>
            </choose>
            <include refid="whereCustomAnnotations"/>
            <include refid="caseFilter">
                <property name="identifiers" value="cnaMolecularProfileCaseIdentifiers" />
                <property name="geneticProfileIdentifier" value="genetic_profile.genetic_profile_id" />
                <property name="caseStableIdentifier" value="caseUniqueIdentifier" />
            </include>
        </where>
    </sql>
    
    <sql id="structuralVariantCounts">
        SELECT 
            caseUniqueId as "case_id",
            entrezGeneId as "entrez_gene_id",
            hugoGeneSymbol as "hugo_gene_symbol",
	        NULL as "DUMMY_COLUMN"
        FROM
            (SELECT 
                gene.entrez_gene_id AS "entrezGeneId",
                gene.hugo_gene_symbol AS "hugoGeneSymbol",
                <include refid="caseUniqueIdentifier" /> as "caseUniqueId",
                <include refid="caseStableIdentifier" /> as "caseStableId",
                genetic_profile.genetic_profile_id as "geneticProfileId",
                structural_variant.sv_status as "sv_status"
            FROM
                structural_variant
            INNER JOIN genetic_profile ON structural_variant.genetic_profile_id = genetic_profile.genetic_profile_id
            INNER JOIN sample ON structural_variant.sample_id = sample.internal_id
            INNER JOIN patient ON sample.patient_id = patient.internal_id
            INNER JOIN gene ON structural_variant.site1_entrez_gene_id = gene.entrez_gene_id
            <include refid="fromIncludeCustomAnnotationsSV"/>
            <where>
                <include refid="whereCustomAnnotations"/>
            </where>

            UNION ALL

            SELECT 
                gene.entrez_gene_id AS entrezGeneId,
                gene.hugo_gene_symbol AS hugoGeneSymbol,
                <include refid="caseUniqueIdentifier" /> as caseUniqueId,
                <include refid="caseStableIdentifier" /> as caseStableId,
                genetic_profile.genetic_profile_id as geneticProfileId,
                structural_variant.sv_status as sv_status
            FROM
                structural_variant
            INNER JOIN genetic_profile ON structural_variant.genetic_profile_id = genetic_profile.genetic_profile_id
            INNER JOIN sample ON structural_variant.sample_id = sample.internal_id
            INNER JOIN patient ON sample.patient_id = patient.internal_id
            INNER JOIN gene ON structural_variant.site2_entrez_gene_id = gene.entrez_gene_id
            <include refid="fromIncludeCustomAnnotationsSV"/>
            <where>
                <include refid="whereSite1IsNot2"/>
                <include refid="whereCustomAnnotations"/>
            </where>
            ) AS combinedResults
            <where>
                <include refid="whereSVStatus"/>
                <include refid="caseFilter">
                    <property name="identifiers" value="structuralVariantMolecularProfileCaseIdentifiers" />
                    <property name="geneticProfileIdentifier" value="geneticProfileId" />
                    <property name="caseStableIdentifier" value="caseUniqueId" />
                </include>
            </where> 
    </sql>

    <sql id="caseFilter">
        <choose>
            <when test="${identifiers} == null or ${identifiers}.isEmpty()">
                AND NULL
            </when>
            <otherwise>
                <choose>
                    <when test="@java.util.Arrays@stream(${identifiers}.{molecularProfileId}).distinct().count() == 1">
                        AND ${geneticProfileIdentifier} = #{${identifiers}[0].molecularProfileId} AND
                        <include refid="${caseStableIdentifier}" /> IN
                        <foreach item="id" collection="${identifiers}" open="(" separator="," close=")">
                            #{id.caseId}
                        </foreach>
                    </when>
                    <otherwise>
                        AND (${geneticProfileIdentifier}, <include refid="${caseStableIdentifier}" />) IN
                        <foreach item="id" collection="${identifiers}" open="(" separator="," close=")">
                            (#{id.molecularProfileId}, #{id.caseId})
                        </foreach>
                    </otherwise>
                </choose>
            </otherwise>
        </choose>
    </sql>

    <sql id="caseStableIdentifier">
        <choose>
            <when test="${case_type} == 'sample_id'">
                sample.stable_id
            </when>
            <otherwise>
                patient.stable_id
            </otherwise>
        </choose>
    </sql>

    <sql id="caseUniqueIdentifier">
        <choose>
            <when test="${case_type} == 'sample_id'">
                sample.internal_id
            </when>
            <otherwise>
                patient.internal_id
            </otherwise>
        </choose>
    </sql>

    <sql id="caseStableId">
        caseStableId
    </sql>
    
    <sql id="caseUniqueId">
        caseUniqueId
    </sql>
    
    <select id="getMolecularProfileCaseInternalIdentifier" resultType="org.cbioportal.model.MolecularProfileCaseIdentifier">
        SELECT
            genetic_profile.genetic_profile_id AS molecularProfileId,
            <include refid="caseUniqueIdentifier">
                <property name="case_type" value ="caseType" />
            </include> as caseId
        FROM genetic_profile
        INNER JOIN cancer_study ON cancer_study.cancer_study_id = genetic_profile.cancer_study_id
        INNER JOIN patient ON patient.cancer_study_id = genetic_profile.cancer_study_id
        INNER JOIN sample ON sample.patient_id = patient.internal_id
        <where>
            <include refid="caseFilter">
                <property name="identifiers" value="molecularProfileSampleIdentifiers" />
                <property name="case_type" value ="caseType" />
                <property name="geneticProfileIdentifier" value="genetic_profile.stable__ID" />
                <property name="caseStableIdentifier" value="caseStableIdentifier" />
            </include>
        </where>
    </select>

</mapper>
