<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cbioportal.persistence.mybatis.ClinicalEventMapper">
    
    <sql id="select">
        clinical_event.CLINICAL_EVENT_ID AS "clinicalEventId",
        clinical_event.EVENT_TYPE AS "eventType",
        patient.STABLE_ID AS "patientId",
        cancer_study.CANCER_STUDY_IDENTIFIER AS "studyId"
        <if test="projection == 'SUMMARY' || projection == 'DETAILED'">
            ,
            clinical_event.START_DATE AS "startDate",
            clinical_event.STOP_DATE AS "stopDate"
        </if>
    </sql>

    <sql id="from">
        FROM clinical_event
        INNER JOIN patient ON clinical_event.PATIENT_ID = patient.INTERNAL_ID
        INNER JOIN cancer_study ON patient.CANCER_STUDY_ID = cancer_study.CANCER_STUDY_ID
    </sql>

    <sql id="where">
        <where>
            cancer_study.CANCER_STUDY_IDENTIFIER = #{studyId}
            AND patient.STABLE_ID = #{patientId}
        </where>
    </sql>

    <sql id="whereStudy">
        <where>
            cancer_study.CANCER_STUDY_IDENTIFIER = #{studyId}
        </where>
    </sql>

    <select id="getPatientClinicalEvent" resultType="org.cbioportal.model.ClinicalEvent">
        SELECT
        <include refid="select"/>
        <include refid="from"/>
        <include refid="where"/>
        <if test="sortBy != null and projection != 'ID'">
            ORDER BY "${sortBy}" ${direction}
        </if>
        <if test="projection == 'ID'">
            ORDER BY clinical_event.PATIENT_ID ASC
        </if>
        <if test="limit != null and limit != 0">
            LIMIT #{limit} OFFSET #{offset}
        </if>
    </select>

    <select id="getMetaPatientClinicalEvent" resultType="org.cbioportal.model.meta.BaseMeta">
        SELECT
        COUNT(*) AS totalCount
        <include refid="from"/>
        <include refid="where"/>
    </select>

    <select id="getDataOfClinicalEvents" resultType="org.cbioportal.model.ClinicalEventData">
        SELECT
        clinical_event_data.CLINICAL_EVENT_ID AS clinicalEventId,
        clinical_event_data.KEY AS "key",
        clinical_event_data.VALUE AS value
        FROM clinical_event_data
        <where>
            <if test="list != null and !list.isEmpty()">
                clinical_event_data.CLINICAL_EVENT_ID IN
                <foreach item="item" collection="list" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="getStudyClinicalEvent" resultType="org.cbioportal.model.ClinicalEvent">
        SELECT
        <include refid="select"/>
        <include refid="from"/>
        <include refid="whereStudy"/>
        <if test="sortBy != null and projection != 'ID'">
            ORDER BY "${sortBy}" ${direction}
        </if>
        <if test="projection == 'ID'">
            ORDER BY clinical_event.PATIENT_ID ASC
        </if>
        <if test="limit != null and limit != 0">
            LIMIT #{limit} OFFSET #{offset}
        </if>
    </select>
    
    <select id="getMetaClinicalEvent" resultType="org.cbioportal.model.meta.BaseMeta">
        SELECT
        COUNT(*) AS totalCount
        <include refid="from"/>
        <include refid="whereStudy"/>
    </select>
    
    <select id="getSamplesOfPatientsPerEventType" resultType="org.cbioportal.model.ClinicalEvent">
        SELECT
        clinical_event.CLINICAL_EVENT_ID as clinicalEventId,
        clinical_event.EVENT_TYPE as eventType,
        sample.STABLE_ID as uniqueSampleKey,
        patient.STABLE_ID as patientId
        from sample
        Inner Join patient on sample.PATIENT_ID = patient.INTERNAL_ID
        Inner join clinical_event on clinical_event.PATIENT_ID = patient.INTERNAL_ID
        Inner Join cancer_study on cancer_study.CANCER_STUDY_ID = patient.CANCER_STUDY_ID
        <where>
            <if test="sampleIds == null and studyIds != null">
                cancer_study.CANCER_STUDY_IDENTIFIER IN
                <if test="studyIds.isEmpty()">
                    (NULL)
                </if>
                <if test="!studyIds.isEmpty()">
                    <foreach item="item" collection="studyIds" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </if>
            </if>
            <if test="sampleIds != null">
                <if test="@java.util.Arrays@stream(studyIds.toArray()).distinct().count() == 1">
                    cancer_study.CANCER_STUDY_IDENTIFIER = #{studyIds[0]} AND
                    sample.STABLE_ID IN
                    <foreach item="item" collection="sampleIds" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </if>
                <if test="@java.util.Arrays@stream(studyIds.toArray()).distinct().count() > 1">
                    cancer_study.CANCER_STUDY_IDENTIFIER IN
                    <foreach item="item" collection="@java.util.Arrays@stream(studyIds.toArray()).distinct().collect(@java.util.stream.Collectors@toList())" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                    AND (cancer_study.CANCER_STUDY_IDENTIFIER, sample.STABLE_ID) IN
                    <foreach index="i" collection="sampleIds" open="(" separator="," close=")">
                        (#{studyIds[${i}]}, #{sampleIds[${i}]})
                    </foreach>
                </if>
            </if>
        </where>
    </select>

    <select id="getPatientsDistinctClinicalEventInStudies" resultType="org.cbioportal.model.ClinicalEvent">
        SELECT
        <choose>
            <when test="_databaseId == 'mysql'">
                ANY_VALUE(clinical_event.CLINICAL_EVENT_ID) AS clinicalEventId,
            </when>
            <when test="_databaseId == 'h2'">
                clinical_event.CLINICAL_EVENT_ID AS clinicalEventId,
            </when>
        </choose>
        clinical_event.EVENT_TYPE AS eventType,
        patient.STABLE_ID AS patientId
        <include refid="from"/>
        <where>
            <if test="patientIds == null and studyIds != null">
                cancer_study.CANCER_STUDY_IDENTIFIER IN
                <if test="studyIds.isEmpty()">
                    (NULL)
                </if>
                <if test="!studyIds.isEmpty()">
                    <foreach item="item" collection="studyIds" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </if>
            </if>
            <if test="patientIds != null">
                <if test="@java.util.Arrays@stream(patientIds.toArray()).distinct().count() == 1">
                    cancer_study.CANCER_STUDY_IDENTIFIER = #{studyIds[0]} AND
                    patient.STABLE_ID IN
                    <foreach item="item" collection="patientIds" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </if>
                <if test="@java.util.Arrays@stream(patientIds.toArray()).distinct().count() > 1">
                    (cancer_study.CANCER_STUDY_IDENTIFIER, patient.STABLE_ID) IN
                    <foreach index="i" collection="patientIds" open="(" separator="," close=")">
                        (#{studyIds[${i}]}, #{patientIds[${i}]})
                    </foreach>
                </if>
            </if>
        </where>
        Group by clinical_event.EVENT_TYPE, patient.INTERNAL_ID
    </select>

    <select id="getTimelineEvents" resultType="org.cbioportal.model.ClinicalEvent">
        SELECT
        patient.STABLE_ID AS patientId,
        cancer_study.CANCER_STUDY_IDENTIFIER AS studyId,
        MIN(clinical_event.START_DATE) AS startDate,
        GREATEST(MAX(clinical_event.START_DATE), COALESCE(MAX(clinical_event.STOP_DATE),0)) AS stopDate
        FROM clinical_event
        INNER JOIN patient ON clinical_event.PATIENT_ID = patient.INTERNAL_ID
        INNER JOIN clinical_event_data ON clinical_event.CLINICAL_EVENT_ID = clinical_event_data.CLINICAL_EVENT_ID
        INNER JOIN cancer_study ON patient.CANCER_STUDY_ID = cancer_study.CANCER_STUDY_ID
        <where>
            <if test="patientIds == null and studyIds != null">
                cancer_study.CANCER_STUDY_IDENTIFIER IN
                <if test="studyIds.isEmpty()">
                    (NULL)
                </if>
                <if test="!studyIds.isEmpty()">
                    <foreach item="item" collection="studyIds" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </if>
            </if>
            <if test="patientIds != null">
                <if test="@java.util.Arrays@stream(patientIds.toArray()).distinct().count() == 1">
                    cancer_study.CANCER_STUDY_IDENTIFIER = #{studyIds[0]} AND
                    patient.STABLE_ID IN
                    <foreach item="item" collection="patientIds" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </if>
                <if test="@java.util.Arrays@stream(patientIds.toArray()).distinct().count() > 1">
                    (cancer_study.CANCER_STUDY_IDENTIFIER, patient.STABLE_ID) IN
                    <foreach index="i" collection="patientIds" open="(" separator="," close=")">
                        (#{studyIds[${i}]}, #{patientIds[${i}]})
                    </foreach>
                </if>
            </if>
            <if test="!clinicalEvents.isEmpty()">
                AND
                <foreach item="element" collection="clinicalEvents" open="(" separator="OR " close=")">
                    <if test="element.attributes == null || element.attributes.isEmpty()">
                        clinical_event.EVENT_TYPE = #{element.eventType}
                    </if>
                    <if test="element.attributes != null and !element.attributes.isEmpty()">
                        (CONCAT(clinical_event.EVENT_TYPE, '_', clinical_event_data.KEY, '_', clinical_event_data.VALUE)) IN
                        <foreach item="attribute" collection="element.attributes" open="(" separator="," close=")">
                            CONCAT(#{element.eventType}, '_', #{attribute.key}, '_', #{attribute.value})
                        </foreach>
                    </if>
                </foreach>
            </if>
        </where>
        GROUP BY
        clinical_event.PATIENT_ID, cancer_study.CANCER_STUDY_IDENTIFIER;
    </select>

    <resultMap id="clinicalEventsResultMap" type="org.cbioportal.model.ClinicalEvent">
        <result property="eventType" column="eventType"/>
        <collection property="attributes" ofType="org.cbioportal.model.ClinicalEventData">
            <result property="key" column="key"/>
            <result property="value" column="value"/>
        </collection>
    </resultMap>

    <select id="getClinicalEventsMeta" resultMap="clinicalEventsResultMap">
        SELECT
        LOWER(clinical_event.EVENT_TYPE) AS eventType,
        LOWER(clinical_event_data.KEY) AS "key",
        LOWER(clinical_event_data.VALUE) AS value
        FROM clinical_event
        INNER JOIN patient ON clinical_event.PATIENT_ID = patient.INTERNAL_ID
        INNER JOIN clinical_event_data ON clinical_event.CLINICAL_EVENT_ID = clinical_event_data.CLINICAL_EVENT_ID
        INNER JOIN cancer_study ON patient.CANCER_STUDY_ID = cancer_study.CANCER_STUDY_ID
        <where>
            <if test="patientIds == null and studyIds != null">
                cancer_study.CANCER_STUDY_IDENTIFIER IN
                <if test="studyIds.isEmpty()">
                    (NULL)
                </if>
                <if test="!studyIds.isEmpty()">
                    <foreach item="item" collection="studyIds" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </if>
            </if>
            <if test="patientIds != null">
                <if test="@java.util.Arrays@stream(patientIds.toArray()).distinct().count() == 1">
                    cancer_study.CANCER_STUDY_IDENTIFIER = #{studyIds[0]} AND
                    patient.STABLE_ID IN
                    <foreach item="item" collection="patientIds" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </if>
                <if test="@java.util.Arrays@stream(patientIds.toArray()).distinct().count() > 1">
                    (cancer_study.CANCER_STUDY_IDENTIFIER, patient.STABLE_ID) IN
                    <foreach index="i" collection="patientIds" open="(" separator="," close=")">
                        (#{studyIds[${i}]}, #{patientIds[${i}]})
                    </foreach>
                </if>
            </if>
            <if test="!clinicalEvents.isEmpty()">
                AND
                <foreach item="element" collection="clinicalEvents" open="(" separator="OR " close=")">
                    <if test="element.attributes == null || element.attributes.isEmpty()">
                        clinical_event.EVENT_TYPE = #{element.eventType}
                    </if>
                    <if test="element.attributes != null and !element.attributes.isEmpty()">
                        (CONCAT(clinical_event.EVENT_TYPE, '_', clinical_event_data.KEY)) IN
                        <foreach item="attribute" collection="element.attributes" open="(" separator="," close=")">
                            CONCAT(#{element.eventType}, '_', #{attribute.key})
                        </foreach>
                    </if>
                </foreach>
            </if>
        </where>
        GROUP BY clinical_event.EVENT_TYPE , clinical_event_data.KEY, clinical_event_data.VALUE;
    </select>
</mapper>
