<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cbioportal.persistence.mybatis.CopyNumberSegmentMapper">
    
    <sql id="select">
        COPY_NUMBER_SEG.SEG_ID AS "segId",
        COPY_NUMBER_SEG.CANCER_STUDY_ID AS "cancerStudyId",
        CANCER_STUDY.CANCER_STUDY_IDENTIFIER AS "cancerStudyIdentifier",
        COPY_NUMBER_SEG.SAMPLE_ID AS "sampleId",
        PATIENT.STABLE_ID AS "patientId",
        SAMPLE.STABLE_ID AS "sampleStableId",
        COPY_NUMBER_SEG.CHR AS "chr",
        COPY_NUMBER_SEG.START AS "start",
        COPY_NUMBER_SEG.END AS "end",
        COPY_NUMBER_SEG.NUM_PROBES AS "numProbes",
        COPY_NUMBER_SEG.SEGMENT_MEAN AS "segmentMean"
    </sql>

    <sql id="from">
        FROM COPY_NUMBER_SEG
        INNER JOIN CANCER_STUDY ON COPY_NUMBER_SEG.CANCER_STUDY_ID = CANCER_STUDY.CANCER_STUDY_ID
        INNER JOIN SAMPLE ON COPY_NUMBER_SEG.SAMPLE_ID = SAMPLE.INTERNAL_ID
        INNER JOIN PATIENT ONSAMPLE.PATIENT_ID = PATIENT.INTERNAL_ID
    </sql>
    
    <sql id="where">
        <where>
            <if test="sampleIds != null and !sampleIds.isEmpty()">
                (CANCER_STUDY.CANCER_STUDY_IDENTIFIER, SAMPLE.STABLE_ID) IN
                <foreach index="i" collection="sampleIds" open="(" separator="," close=")">
                    (#{studyIds[${i}]}, #{sampleIds[${i}]})
                </foreach>
            </if>
        </where>
    </sql>
    
    <select id="getSamplesWithCopyNumberSegments" resultType="Integer">
        SELECT SAMPLE.INTERNAL_ID
        FROM SAMPLE
        INNER JOIN PATIENT ONSAMPLE.PATIENT_ID=PATIENT.INTERNAL_ID
        INNER JOIN CANCER_STUDY ON PATIENT.CANCER_STUDY_ID=CANCER_STUDY.CANCER_STUDY_ID
        <include refid="where"/>
        AND EXISTS (
            SELECT * from COPY_NUMBER_SEG where SAMPLE.INTERNAL_ID=COPY_NUMBER_SEG.SAMPLE_ID
            <if test="chromosome != null and !chromosome.isEmpty()">
                AND COPY_NUMBER_SEG.CHR=#{chromosome}
            </if>
        )
    </select>
    
    
    <select id="getCopyNumberSegments" resultType="org.cbioportal.model.CopyNumberSeg">
        SELECT
        <include refid="select"/>
        <include refid="from"/>
        <include refid="where"/>
        <if test="chromosome != null and !chromosome.isEmpty()">
            AND COPY_NUMBER_SEG.CHR=#{chromosome}
        </if>
        <if test="sortBy != null and projection != 'ID'">
            ORDER BY "${sortBy}" ${direction}
        </if>
        <if test="projection == 'ID'">
            ORDER BY COPY_NUMBER_SEG.CHR ASC
        </if>
        <if test="limit != null and limit != 0">
            LIMIT #{limit} OFFSET #{offset}
        </if>
    </select>

    <select id="getMetaCopyNumberSegments" resultType="org.cbioportal.model.meta.BaseMeta">
        SELECT
        COUNT(*) AS totalCount
        <include refid="from"/>
        <include refid="where"/>
        <if test="chromosome != null and !chromosome.isEmpty()">
            AND COPY_NUMBER_SEG.CHR=#{chromosome}
        </if>
    </select>
    
    <select id="getCopyNumberSegmentsBySampleListId" resultType="org.cbioportal.model.CopyNumberSeg">
        SELECT
        <include refid="select"/>
        <include refid="from"/>
        WHERE CANCER_STUDY.CANCER_STUDY_IDENTIFIER = #{studyId}
        <if test="chromosome != null and !chromosome.isEmpty()">
            AND COPY_NUMBER_SEG.CHR=#{chromosome}
        </if>
        AND COPY_NUMBER_SEG.SAMPLE_ID IN
        (
            SELECT SAMPLE_LIST_LIST.SAMPLE_ID FROM SAMPLE_LIST_LIST
            INNER JOIN SAMPLE_LIST ON SAMPLE_LIST_LIST.LIST_ID = SAMPLE_LIST.LIST_ID
            WHERE SAMPLE_LIST.STABLE_ID = #{sampleListId}
            AND SAMPLE_LIST_LIST.SAMPLE_ID = COPY_NUMBER_SEG.SAMPLE_ID
        )
    </select>
</mapper>
