<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cbioportal.persistence.mybatis.CosmicCountMapper">
    
    <select id="getCosmicCountsByKeywords" resultType="org.cbioportal.model.CosmicMutation">
        SELECT
        cosmic_mutation.cosmic_mutation_id AS "cosmicMutationId",
        cosmic_mutation.protein_change AS "proteinChange",
        cosmic_mutation.keyword AS "keyword",
        cosmic_mutation.count AS "count"
        FROM cosmic_mutation
        <where>
            <if test="list != null and !list.isEmpty()">
                cosmic_mutation.keyword IN
                <foreach item="item" collection="list" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>
</mapper>
