<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cbioportal.persistence.mybatis.DataAccessTokenMapper">

    <sql id="select">
        DATA_ACCESS_TOKENS.TOKEN AS "${prefix}token",
        DATA_ACCESS_TOKENS.USERNAME AS "${prefix}username",
        DATA_ACCESS_TOKENS.EXPIRATION AS "${prefix}expiration",
        DATA_ACCESS_TOKENS.CREATION AS "${prefix}creation"
    </sql>

    <select id="getAllDataAccessTokensForUsername" resultType="org.cbioportal.model.DataAccessToken">
        SELECT
        <include refid="select">
            <property name="prefix" value=""/>
        </include>
        FROM DATA_ACCESS_TOKENS
        WHERE DATA_ACCESS_TOKENS.USERNAME = #{username}
        ORDER BY DATA_ACCESS_TOKENS.EXPIRATION ASC
    </select>

    <select id="getDataAccessToken" resultType="org.cbioportal.model.DataAccessToken">
        SELECT
        <include refid="select">
            <property name="prefix" value=""/>
        </include>
        FROM DATA_ACCESS_TOKENS
        WHERE DATA_ACCESS_TOKENS.TOKEN = #{token}
    </select>

    <delete id="removeDataAccessToken">
        DELETE
        FROM DATA_ACCESS_TOKENS
        WHERE TOKEN = #{token}
    </delete>

    <delete id="removeAllDataAccessTokensForUsername">
        DELETE
        FROM DATA_ACCESS_TOKENS
        WHERE USERNAME = #{username}
    </delete>

    <insert id="addDataAccessToken" parameterType="org.cbioportal.model.DataAccessToken">
        INSERT
        INTO DATA_ACCESS_TOKENS(TOKEN, USERNAME, EXPIRATION, CREATION)
        VALUES (#{token}, #{username}, #{expiration}, #{creation})
    </insert>
</mapper>
