<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cbioportal.persistence.mybatis.GenePanelMapper">
    
    <sql id="select">
        GENE_PANEL.INTERNAL_ID AS "internalId",
        GENE_PANEL.STABLE_ID AS "stableId"
        <if test="projection == 'SUMMARY' || projection == 'DETAILED'">
            ,
            GENE_PANEL.DESCRIPTION AS "description"
        </if>
    </sql>

    <sql id="selectGenePanelData">
        GENE_PANEL.STABLE_ID AS "genePanelId",
        SAMPLE.STABLE_ID AS "sampleId",
        PATIENT.STABLE_ID AS "patientId",
        CANCER_STUDY.CANCER_STUDY_IDENTIFIER AS "studyId",
        GENETIC_PROFILE.STABLE_ID AS "molecularProfileId",
        SAMPLE_PROFILE.GENETIC_PROFILE_ID IS NOT NULL AS "profiled"
    </sql>

    <sql id="fromGenePanelData">
        FROM SAMPLE
        INNER JOIN PATIENT ONSAMPLE.PATIENT_ID = PATIENT.INTERNAL_ID
        INNER JOIN CANCER_STUDY ON PATIENT.CANCER_STUDY_ID = CANCER_STUDY.CANCER_STUDY_ID
        LEFT JOIN GENETIC_PROFILE ON CANCER_STUDY.CANCER_STUDY_ID = GENETIC_PROFILE.CANCER_STUDY_ID
        LEFT JOIN SAMPLE_PROFILE ON SAMPLE_PROFILE.GENETIC_PROFILE_ID = GENETIC_PROFILE.GENETIC_PROFILE_ID AND SAMPLE.INTERNAL_ID = SAMPLE_PROFILE.SAMPLE_ID
        LEFT JOIN GENE_PANEL ON SAMPLE_PROFILE.PANEL_ID = GENE_PANEL.INTERNAL_ID
    </sql>
    
    <select id="getAllGenePanels" resultType="org.cbioportal.model.GenePanel">
        SELECT
        <include refid="select"/>
        FROM GENE_PANEL
        <if test="sortBy != null and projection != 'ID'">
            ORDER BY "${sortBy}" ${direction}
        </if>
        <if test="projection == 'ID'">
            ORDER BY GENE_PANEL.STABLE_ID ASC
        </if>
        <if test="limit != null and limit != 0">
            LIMIT #{limit} OFFSET #{offset}
        </if>
    </select>
    
    <select id="getMetaGenePanels" resultType="org.cbioportal.model.meta.BaseMeta">
        SELECT
        COUNT(*) AS totalCount
        FROM GENE_PANEL
    </select>
    
    <select id="getGenePanel" resultType="org.cbioportal.model.GenePanel">
        SELECT
        <include refid="select"/>
        FROM GENE_PANEL
        WHERE GENE_PANEL.STABLE_ID = #{genePanelId}
    </select>

    <select id="fetchGenePanels" resultType="org.cbioportal.model.GenePanel">
        SELECT
        <include refid="select"/>
        FROM GENE_PANEL
        <where>
            <if test="genePanelIds != null and !genePanelIds.isEmpty()">
                GENE_PANEL.STABLE_ID IN
                <foreach item="item" collection="genePanelIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="getGenesOfPanels" resultType="org.cbioportal.model.GenePanelToGene">
        SELECT
        GENE_PANEL.STABLE_ID AS genePanelId,
        GENE_PANEL_list.GENE_ID AS entrezGeneId,
        GENE.HUGO_GENE_SYMBOL AS hugoGeneSymbol
        FROM GENE_PANEL_list
        INNER JOIN GENE_PANEL ON GENE_PANEL_list.INTERNAL_ID = GENE_PANEL.INTERNAL_ID
        INNER JOIN GENE ON GENE_PANEL_list.GENE_ID = GENE.ENTREZ_GENE_ID
        <where>
            <if test="list != null and !list.isEmpty()">
                GENE_PANEL.STABLE_ID IN
                <foreach item="item" collection="list" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        ORDER BY hugoGeneSymbol ASC
    </select>
    
    <select id="getGenePanelDataBySampleListId" resultType="org.cbioportal.model.GenePanelData">
        SELECT
        <include refid="selectGenePanelData"/>
        <include refid="fromGenePanelData"/>
        INNER JOIN SAMPLE_LIST_LIST as SAMPLE_LIST_LIST_query ON SAMPLE_LIST_LIST_query.SAMPLE_ID = SAMPLE.INTERNAL_ID
        INNER JOIN SAMPLE_LIST as SAMPLE_LIST_query ON SAMPLE_LIST_LIST_query.LIST_ID = SAMPLE_LIST_query.LIST_ID
        WHERE
        GENETIC_PROFILE.STABLE_ID = #{molecularProfileId}
        AND SAMPLE_LIST_query.STABLE_ID = #{sampleListId}
    </select>

    <select id="getGenePanelDataBySampleIds" resultType="org.cbioportal.model.GenePanelData">
        SELECT
        <include refid="selectGenePanelData"/>
        <include refid="fromGenePanelData"/>
        WHERE
        GENETIC_PROFILE.STABLE_ID = #{molecularProfileId}
        <if test="sampleIds != null and !sampleIds.isEmpty()">
            AND SAMPLE.STABLE_ID IN
            <foreach item="item" collection="sampleIds" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <select id="fetchGenePanelDataByMolecularProfileIds" resultType="org.cbioportal.model.GenePanelData">
        SELECT
        <include refid="selectGenePanelData"/>
        <include refid="fromGenePanelData"/>
        WHERE
        GENETIC_PROFILE.STABLE_ID IN
        <foreach item="item" collection="collection" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="fetchGenePanelDataInMultipleMolecularProfiles" resultType="org.cbioportal.model.GenePanelData">
        SELECT
        <include refid="selectGenePanelData"/>
        <include refid="fromGenePanelData"/>
        <where>
            <choose>
                <when test="list == null or list.isEmpty()">
                    AND NULL
                </when>
                <otherwise>
                    <choose>
                        <when test="@java.util.Arrays@stream(list.{molecularProfileId}).distinct().count() == 1">
                            AND GENETIC_PROFILE.STABLE_ID = #{list[0].molecularProfileId} AND
                            SAMPLE.STABLE_ID IN
                            <foreach item="id" collection="list" open="(" separator="," close=")">
                                #{id.caseId}
                            </foreach>
                        </when>
                        <otherwise>
                            AND (GENETIC_PROFILE.STABLE_ID, SAMPLE.STABLE_ID) IN
                            <foreach item="id" collection="list" open="(" separator="," close=")">
                                (#{id.molecularProfileId}, #{id.caseId})
                            </foreach>
                        </otherwise>
                    </choose>
                </otherwise>
            </choose>
        </where>
    </select>

    <select id="fetchGenePanelDataInMultipleMolecularProfilesByPatientIds" resultType="org.cbioportal.model.GenePanelData">
        SELECT
        <include refid="selectGenePanelData"/>
        <include refid="fromGenePanelData"/>
        <where>
            <choose>
                <when test="list == null or list.isEmpty()">
                    AND NULL
                </when>
                <otherwise>
                    <choose>
                        <when test="@java.util.Arrays@stream(list.{molecularProfileId}).distinct().count() == 1">
                            AND GENETIC_PROFILE.STABLE_ID = #{list[0].molecularProfileId} AND
                            PATIENT.STABLE_ID IN
                            <foreach item="id" collection="list" open="(" separator="," close=")">
                                #{id.caseId}
                            </foreach>
                        </when>
                        <otherwise>
                            AND (GENETIC_PROFILE.STABLE_ID, PATIENT.STABLE_ID) IN
                            <foreach item="id" collection="list" open="(" separator="," close=")">
                                (#{id.molecularProfileId}, #{id.caseId})
                            </foreach>
                        </otherwise>
                    </choose>
                </otherwise>
            </choose>
        </where>
    </select>
</mapper>
