<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cbioportal.persistence.mybatis.GenesetMapper">

    <sql id="select">
        geneset.id AS "${prefix}internalId",
        geneset.external_id AS "${prefix}genesetId",
        geneset.name as "${prefix}name",
        geneset.description as "${prefix}description",
        geneset.ref_link as "${prefix}refLink"
    </sql>

    <select id="getGenesets" resultType="org.cbioportal.model.Geneset">
        SELECT
        <include refid="select">
            <property name="prefix" value=""/>
        </include>
        FROM geneset
        <if test="sortBy != null and projection != 'ID'">
            ORDER BY "${sortBy}" ${direction}
        </if>
        <if test="projection == 'ID'">
            ORDER BY geneset.external_id ASC
        </if>
        <if test="limit != null and limit != 0">
            LIMIT #{limit} OFFSET #{offset}
        </if>
    </select>

    <select id="getMetaGenesets" resultType="org.cbioportal.model.meta.BaseMeta">
        SELECT
        COUNT(*) AS totalCount
        FROM geneset
    </select>

    <select id="getGenesetByGenesetId" resultType="org.cbioportal.model.Geneset">
        SELECT
        <include refid="select">
            <property name="prefix" value=""/>
        </include>
        FROM geneset
        WHERE geneset.external_id = #{genesetId}
    </select>
    
    <select id="fetchGenesets" resultType="org.cbioportal.model.Geneset">
        SELECT
        <include refid="select">
            <property name="prefix" value=""/>
        </include>
        FROM geneset
        WHERE geneset.external_id IN
        <foreach item="item" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
        ORDER BY geneset.external_id ASC
    </select>

    <select id="getGenesByGenesetId" resultType="org.cbioportal.model.Gene">
        SELECT
        <include refid="org.cbioportal.persistence.mybatis.GeneMapper.select">
            <property name="prefix" value=""/>
        </include>
        FROM gene
        join geneset_gene on gene.entrez_gene_id = geneset_gene.entrez_gene_id
	    join geneset on geneset.id = geneset_gene.geneset_id
        WHERE
         geneset.external_id = #{genesetId}
    </select>
    
    <select id="getGenesetVersion" resultType="String">
        SELECT geneset_version
        FROM info
    </select>

</mapper>
