<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cbioportal.persistence.mybatis.GenericAssayMapper">
    <cache readOnly="true"/>

    <select id="getGenericAssayMeta" resultType="org.cbioportal.model.meta.GenericAssayMeta">
        SELECT genetic_entity.STABLE_ID as stableId,
        genetic_entity.ENTITY_TYPE as entityType
        FROM genetic_entity
        <where>
            genetic_entity.STABLE_ID IN
                <foreach item="item" collection="list" open="(" separator="," close=")">
                    #{item}
                </foreach>
        </where>
    </select>

    <select id="getGenericAssayAdditionalproperties" resultType="org.cbioportal.model.GenericAssayAdditionalProperty">
        SELECT generic_entity_properties.NAME as name,
        generic_entity_properties.VALUE as value,
        genetic_entity.STABLE_ID as stableId
        FROM generic_entity_properties
        INNER JOIN genetic_entity ON genetic_entity.ID = generic_entity_properties.GENETIC_ENTITY_ID
        WHERE
            generic_entity_properties.GENETIC_ENTITY_ID IN 
            (
                SELECT genetic_entity.ID
                FROM genetic_entity
                    <where>
                        genetic_entity.STABLE_ID IN
                            <foreach item="item" collection="list" open="(" separator="," close=")">
                                #{item}
                            </foreach>
                    </where>
            )
    </select>

    <select id="getMolecularProfileInternalIdsByMolecularProfileIds" resultType="int">
        SELECT genetic_profile.GENETIC_PROFILE_ID
        FROM genetic_profile
        <where>
            genetic_profile.STABLE_ID IN
                <foreach item="item" collection="list" open="(" separator="," close=")">
                    #{item}
                </foreach>
        </where>
    </select>

    <select id="getGeneticEntityIdsByMolecularProfileInternalIds" resultType="int">
        SELECT genetic_alteration.GENETIC_ENTITY_ID
        FROM genetic_alteration
        <where>
            genetic_alteration.GENETIC_PROFILE_ID IN
                <foreach item="item" collection="list" open="(" separator="," close=")">
                    #{item}
                </foreach>
        </where>
    </select>

    <select id="getGenericAssayStableIdsByGeneticEntityIds" resultType="string">
        SELECT genetic_entity.STABLE_ID
        FROM genetic_entity
        <where>
            genetic_entity.ID IN
                <foreach item="item" collection="list" open="(" separator="," close=")">
                    #{item}
                </foreach>
        </where>
    </select>

</mapper>
