<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cbioportal.persistence.mybatis.GenericAssayMapper">
    <cache readOnly="true"/>

    <select id="getGenericAssayMeta" resultType="org.cbioportal.model.meta.GenericAssayMeta">
        SELECT GENETIC_ENTITY.STABLE_ID as stableId,
        GENETIC_ENTITY.ENTITY_TYPE as entityType
        FROM GENETIC_ENTITY
        <where>
            GENETIC_ENTITY.STABLE_ID IN
                <foreach item="item" collection="list" open="(" separator="," close=")">
                    #{item}
                </foreach>
        </where>
    </select>

    <select id="getGenericAssayAdditionalproperties" resultType="org.cbioportal.model.GenericAssayAdditionalProperty">
        SELECT GENERIC_ENTITY_PROPERTIES.NAME as name,
        GENERIC_ENTITY_PROPERTIES.VALUE as value,
        GENETIC_ENTITY.STABLE_ID as stableId
        FROM GENERIC_ENTITY_PROPERTIES
        INNER JOIN GENETIC_ENTITY ON GENETIC_ENTITY.ID = GENERIC_ENTITY_PROPERTIES.GENETIC_ENTITY_ID
        WHERE
            GENERIC_ENTITY_PROPERTIES.GENETIC_ENTITY_ID IN
            (
                SELECT GENETIC_ENTITY.ID
                FROM GENETIC_ENTITY
                    <where>
                        GENETIC_ENTITY.STABLE_ID IN
                            <foreach item="item" collection="list" open="(" separator="," close=")">
                                #{item}
                            </foreach>
                    </where>
            )
    </select>

    <select id="getMolecularProfileInternalIdsByMolecularProfileIds" resultType="int">
        SELECT GENETIC_PROFILE.GENETIC_PROFILE_ID
        FROM GENETIC_PROFILE
        <where>
            GENETIC_PROFILE.STABLE_ID IN
                <foreach item="item" collection="list" open="(" separator="," close=")">
                    #{item}
                </foreach>
        </where>
    </select>

    <select id="getGeneticEntityIdsByMolecularProfileInternalIds" resultType="int">
        SELECT GENETIC_ALTERATION.GENETIC_ENTITY_ID
        FROM GENETIC_ALTERATION
        <where>
            GENETIC_ALTERATION.GENETIC_PROFILE_ID IN
                <foreach item="item" collection="list" open="(" separator="," close=")">
                    #{item}
                </foreach>
        </where>
    </select>

    <select id="getGenericAssayStableIdsByGeneticEntityIds" resultType="string">
        SELECT GENETIC_ENTITY.STABLE_ID
        FROM GENETIC_ENTITY
        <where>
            GENETIC_ENTITY.ID IN
                <foreach item="item" collection="list" open="(" separator="," close=")">
                    #{item}
                </foreach>
        </where>
    </select>

</mapper>
