<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cbioportal.persistence.mybatis.MolecularProfileMapper">

    <sql id="select">
        GENETIC_PROFILE.GENETIC_PROFILE_ID AS "${prefix}molecularProfileId",
        GENETIC_PROFILE.STABLE_ID AS "${prefix}stableId",
        GENETIC_PROFILE.CANCER_STUDY_ID AS "${prefix}cancerStudyId",
        CANCER_STUDY.CANCER_STUDY_IDENTIFIER AS "${prefix}cancerStudyIdentifier"
        <if test="projection == 'SUMMARY' || projection == 'DETAILED'">
            ,
            GENETIC_PROFILE.GENETIC_ALTERATION_TYPE AS "${prefix}molecularAlterationType",
            GENETIC_PROFILE.DATATYPE AS "${prefix}datatype",
            GENETIC_PROFILE.NAME AS "${prefix}name",
            GENETIC_PROFILE.DESCRIPTION AS "${prefix}description",
            GENETIC_PROFILE.SHOW_PROFILE_IN_ANALYSIS_TAB AS "${prefix}showProfileInAnalysisTab",
            GENETIC_PROFILE.PIVOT_THRESHOLD AS "${prefix}pivotThreshold",
            GENETIC_PROFILE.SORT_ORDER AS "${prefix}sortOrder",
            GENETIC_PROFILE.GENERIC_ASSAY_TYPE AS "${prefix}genericAssayType",
            GENETIC_PROFILE.PATIENT_LEVEL AS "${prefix}patientLevel"
        </if>
        <if test="projection == 'DETAILED'">
            ,
            <include refid="org.cbioportal.persistence.mybatis.StudyMapper.select">
                <property name="prefix" value="${prefix}cancerStudy."/>
            </include>
        </if>
    </sql>

    <select id="getAllMolecularProfilesInStudies" resultType="org.cbioportal.model.MolecularProfile">
        SELECT
        <include refid="select">
            <property name="prefix" value=""/>
        </include>
        FROM GENETIC_PROFILE
        INNER JOIN CANCER_STUDY ON GENETIC_PROFILE.CANCER_STUDY_ID = CANCER_STUDY.CANCER_STUDY_ID
        INNER JOIN REFERENCE_GENOME ON CANCER_STUDY.REFERENCE_GENOME_ID = REFERENCE_GENOME.REFERENCE_GENOME_ID
        <if test="studyIds != null">
            WHERE CANCER_STUDY.CANCER_STUDY_IDENTIFIER IN
            <if test="studyIds.isEmpty()">
                (NULL)
            </if>
            <if test="!studyIds.isEmpty()">
                <foreach item="item" collection="studyIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </if>
        <if test="sortBy != null and projection != 'ID'">
            ORDER BY "${sortBy}" ${direction}
        </if>
        <if test="projection == 'ID'">
            ORDER BY GENETIC_PROFILE.STABLE_ID ASC
        </if>
        <if test="limit != null and limit != 0">
            LIMIT #{limit} OFFSET #{offset}
        </if>
    </select>

    <select id="getMetaMolecularProfilesInStudies" resultType="org.cbioportal.model.meta.BaseMeta">
        SELECT
        COUNT(*) AS totalCount
        FROM GENETIC_PROFILE
        <if test="list != null">
            INNER JOIN CANCER_STUDY ON GENETIC_PROFILE.CANCER_STUDY_ID = CANCER_STUDY.CANCER_STUDY_ID
            INNER JOIN REFERENCE_GENOME ON CANCER_STUDY.REFERENCE_GENOME_ID = REFERENCE_GENOME.REFERENCE_GENOME_ID
            WHERE CANCER_STUDY.CANCER_STUDY_IDENTIFIER IN
            <foreach item="item" collection="list" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>
    
    <select id="getMolecularProfile" resultType="org.cbioportal.model.MolecularProfile">
        SELECT
        <include refid="select">
            <property name="prefix" value=""/>
        </include>
        FROM GENETIC_PROFILE
        INNER JOIN CANCER_STUDY ON GENETIC_PROFILE.CANCER_STUDY_ID = CANCER_STUDY.CANCER_STUDY_ID
        INNER JOIN REFERENCE_GENOME ON CANCER_STUDY.REFERENCE_GENOME_ID = REFERENCE_GENOME.REFERENCE_GENOME_ID
        WHERE GENETIC_PROFILE.STABLE_ID = #{molecularProfileId}
    </select>

    <select id="getMolecularProfiles" resultType="org.cbioportal.model.MolecularProfile">
        SELECT
        <include refid="select">
            <property name="prefix" value=""/>
        </include>
        FROM GENETIC_PROFILE
        INNER JOIN CANCER_STUDY ON GENETIC_PROFILE.CANCER_STUDY_ID = CANCER_STUDY.CANCER_STUDY_ID
        INNER JOIN REFERENCE_GENOME ON CANCER_STUDY.REFERENCE_GENOME_ID = REFERENCE_GENOME.REFERENCE_GENOME_ID
        <where>
            <if test="molecularProfileIds != null and !molecularProfileIds.isEmpty()">
                GENETIC_PROFILE.STABLE_ID IN
                <foreach item="item" collection="molecularProfileIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="getMetaMolecularProfiles" resultType="org.cbioportal.model.meta.BaseMeta">
        SELECT
        COUNT(*) AS totalCount
        FROM GENETIC_PROFILE
        <where>
            <if test="molecularProfileIds != null and !molecularProfileIds.isEmpty()">
                GENETIC_PROFILE.STABLE_ID IN
                <foreach item="item" collection="molecularProfileIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>
    
    <select id="getMolecularProfilesReferredBy" resultType="org.cbioportal.model.MolecularProfile">
        SELECT
        <include refid="select">
            <property name="prefix" value=""/>
        </include>
        FROM GENETIC_PROFILE
        INNER JOIN CANCER_STUDY ON GENETIC_PROFILE.CANCER_STUDY_ID = CANCER_STUDY.CANCER_STUDY_ID
        INNER JOIN REFERENCE_GENOME ON CANCER_STUDY.REFERENCE_GENOME_ID = REFERENCE_GENOME.REFERENCE_GENOME_ID
        WHERE 
        GENETIC_PROFILE.GENETIC_PROFILE_ID in
                      (SELECT REFERRED_GENETIC_PROFILE_ID 
                       FROM GENETIC_PROFILE_LINK
                       join GENETIC_PROFILE on GENETIC_PROFILE_LINK.REFERRING_GENETIC_PROFILE_ID = GENETIC_PROFILE.GENETIC_PROFILE_ID
                       WHERE
                         GENETIC_PROFILE.STABLE_ID = #{referringMolecularProfileId}
                       )
    </select>
    
    <select id="getMolecularProfilesReferringTo" resultType="org.cbioportal.model.MolecularProfile">
        SELECT
        <include refid="select">
            <property name="prefix" value=""/>
        </include>
        FROM GENETIC_PROFILE
        INNER JOIN CANCER_STUDY ON GENETIC_PROFILE.CANCER_STUDY_ID = CANCER_STUDY.CANCER_STUDY_ID
        INNER JOIN REFERENCE_GENOME ON CANCER_STUDY.REFERENCE_GENOME_ID = REFERENCE_GENOME.REFERENCE_GENOME_ID
        WHERE 
        GENETIC_PROFILE.GENETIC_PROFILE_ID in
                      (SELECT REFERRING_GENETIC_PROFILE_ID 
                       FROM GENETIC_PROFILE_LINK
                       join GENETIC_PROFILE on GENETIC_PROFILE_LINK.REFERRED_GENETIC_PROFILE_ID = GENETIC_PROFILE.GENETIC_PROFILE_ID
                       WHERE
                         GENETIC_PROFILE.STABLE_ID = #{referredMolecularProfileId}
                       )
    </select>
</mapper>
