<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cbioportal.persistence.mybatis.MolecularDataMapper">

    <sql id="whereInMultipleMolecularProfiles">
        <where>
            <if test="molecularProfileIds != null and !molecularProfileIds.isEmpty()">
                genetic_profile.stable_id IN
                <foreach item="item" collection="molecularProfileIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="entrezGeneIds != null and !entrezGeneIds.isEmpty()">
                AND gene.entrez_gene_id IN
                <foreach item="item" collection="entrezGeneIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </sql>

    <select id="getCommaSeparatedSampleIdsOfMolecularProfiles" resultType="org.cbioportal.model.MolecularProfileSamples">
        SELECT 
        genetic_profile.stable_id AS "molecularProfileId",
        genetic_profile_samples.ordered_sample_list AS "commaSeparatedSampleIds"
        FROM genetic_profile_samples
        INNER JOIN genetic_profile ON genetic_profile_samples.genetic_profile_id = genetic_profile.genetic_profile_id
        <where>
            <if test="molecularProfileIds != null and !molecularProfileIds.isEmpty()">
                genetic_profile.stable_id IN
                <foreach item="item" collection="molecularProfileIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>
    
    <!-- Any changes to this routine should be kept in sync with getGeneMolecularAlterationsIter below -->
    <select id="getGeneMolecularAlterations" resultType="org.cbioportal.model.GeneMolecularAlteration">
        SELECT
        gene.entrez_gene_id AS "entrezGeneId",
        genetic_alteration.`values` AS "values"
        <if test="projection == 'DETAILED'">
            ,
            <include refid="org.cbioportal.persistence.mybatis.GeneMapper.select">
                <property name="prefix" value="gene."/>
            </include>
        </if>
        FROM genetic_alteration
        INNER JOIN genetic_profile ON genetic_alteration.genetic_profile_id = genetic_profile.genetic_profile_id
        INNER JOIN gene ON genetic_alteration.genetic_entity_id = gene.genetic_entity_id
        <where>
            genetic_profile.stable_id = #{molecularProfileId}
            <if test="entrezGeneIds != null and !entrezGeneIds.isEmpty()">
                AND gene.entrez_gene_id IN
                <foreach item="item" collection="entrezGeneIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <!-- This routine is a copy of getGeneMolecularAlterations above.  This copy is necessary because
         it is backing a corresponding method in MolecularDataMapper.java which returns a Cursor as
         opposed to a List. This method should be kept in sync with getGeneMolecularAlterations above.
         (Attempts where made to share getGeneMolecularAlterations between methods in MolecularDataMapper.java
         all of which have failed).
    -->
    <select id="getGeneMolecularAlterationsIter" resultType="org.cbioportal.model.GeneMolecularAlteration">
        SELECT
        gene.entrez_gene_id AS "entrezGeneId",
        genetic_alteration.`values` AS "values"
        <if test="projection == 'DETAILED'">
            ,
            <include refid="org.cbioportal.persistence.mybatis.GeneMapper.select">
                <property name="prefix" value="gene."/>
            </include>
        </if>
        FROM genetic_alteration
        INNER JOIN genetic_profile ON genetic_alteration.genetic_profile_id = genetic_profile.genetic_profile_id
        INNER JOIN gene ON genetic_alteration.genetic_entity_id = gene.genetic_entity_id
        <where>
            genetic_profile.stable_id = #{molecularProfileId}
            <if test="entrezGeneIds != null and !entrezGeneIds.isEmpty()">
                AND gene.entrez_gene_id IN
                <foreach item="item" collection="entrezGeneIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <!-- This routine is an abbreviated copy of getGeneMolecularAlterationsIter above. The two should be kept in sync. -->
    <select id="getGeneMolecularAlterationsIterFast" resultType="org.cbioportal.model.GeneMolecularAlteration">
        SELECT
        gene.entrez_gene_id AS "entrezGeneId",
        genetic_alteration.`values` AS "values"
        FROM genetic_alteration
        INNER JOIN genetic_profile ON genetic_alteration.genetic_profile_id = genetic_profile.genetic_profile_id
        INNER JOIN gene ON genetic_alteration.genetic_entity_id = gene.genetic_entity_id
        <where>
            genetic_profile.stable_id = #{molecularProfileId}
        </where>
    </select>

    <select id="getGeneMolecularAlterationsInMultipleMolecularProfiles" resultType="org.cbioportal.model.GeneMolecularAlteration">
        SELECT
        gene.entrez_gene_id AS "entrezGeneId",
        genetic_alteration.`values` AS "values",
        genetic_profile.stable_id AS "molecularProfileId"
        <if test="projection == 'DETAILED'">
            ,
            <include refid="org.cbioportal.persistence.mybatis.GeneMapper.select">
                <property name="prefix" value="gene."/>
            </include>
        </if>
        FROM genetic_alteration
        INNER JOIN genetic_profile ON genetic_alteration.genetic_profile_id = genetic_profile.genetic_profile_id
        INNER JOIN gene ON genetic_alteration.genetic_entity_id = gene.genetic_entity_id
        <include refid="whereInMultipleMolecularProfiles"/>
    </select>

    <select id="getGeneMolecularAlteration" resultType="org.cbioportal.model.GenesetMolecularAlteration">
        SELECT
        geneset.external_id AS genesetId,
        <if test="projection == 'ID'">
        NULL AS "values"
        </if>
        <if test="projection != 'ID'">
        genetic_alteration.`values` AS "values"
        </if>
        FROM genetic_alteration
        INNER JOIN genetic_profile ON genetic_alteration.genetic_profile_id = genetic_profile.genetic_profile_id
        INNER JOIN geneset ON genetic_alteration.genetic_entity_id = geneset.genetic_entity_id
        <where>
            genetic_profile.stable_id = #{molecularProfileId}
            <if test="genesetIds != null and genesetIds">
                AND geneset.external_id IN
                <foreach item="item" collection="genesetIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <!-- Any changes to this routine should be kept in sync with getGenericAssayMolecularAlterationsIter below -->
    <select id="getGenericAssayMolecularAlterations" resultType="org.cbioportal.model.GenericAssayMolecularAlteration">
        SELECT
        genetic_entity.stable_id AS genericAssayStableId,
        genetic_profile.stable_id AS molecularProfileId,
        <if test="projection == 'ID'">
            NULL AS "values"
        </if>
        <if test="projection != 'ID'">
            genetic_alteration.`values` AS "values"
        </if>
        FROM genetic_alteration
        INNER JOIN genetic_profile ON genetic_alteration.genetic_profile_id = genetic_profile.genetic_profile_id
        INNER JOIN genetic_entity ON genetic_alteration.genetic_entity_id = genetic_entity.id
        <where>
            genetic_profile.stable_id = #{molecularProfileId}
            <if test="stableIds != null and stableIds">
                AND genetic_entity.stable_id IN
                <foreach item="item" collection="stableIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <!-- This routine is a copy of getGenericAssayMolecularAlterations above.  This copy is necessary because
         it is backing a corresponding method in MolecularDataMapper.java which returns a Cursor as
         opposed to a List. This method should be kept in sync with getGenericAssayMolecularAlterations above.
         (Attempts where made to share getGenericAssayMolecularAlterations between methods in MolecularDataMapper.java
         all of which have failed).
    -->
    <select id="getGenericAssayMolecularAlterationsIter" resultType="org.cbioportal.model.GenericAssayMolecularAlteration">
        SELECT
        genetic_entity.stable_id AS genericAssayStableId,
        genetic_profile.stable_id AS molecularProfileId,
        <if test="projection == 'ID'">
            NULL AS "values"
        </if>
        <if test="projection != 'ID'">
            genetic_alteration.`values` AS "values"
        </if>
        FROM genetic_alteration
        INNER JOIN genetic_profile ON genetic_alteration.genetic_profile_id = genetic_profile.genetic_profile_id
        INNER JOIN genetic_entity ON genetic_alteration.genetic_entity_id = genetic_entity.id
        <where>
            genetic_profile.stable_id = #{molecularProfileId}
            <if test="stableIds != null and stableIds">
                AND genetic_entity.stable_id IN
                <foreach item="item" collection="stableIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

</mapper>
