<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cbioportal.persistence.mybatis.MutationMapper">

    <sql id="select">
        GENETIC_PROFILE.STABLE_ID AS "molecularProfileId",
        SAMPLE.STABLE_ID AS "sampleId",
        PATIENT.STABLE_ID AS "patientId",
        MUTATION.ENTREZ_GENE_ID AS "entrezGeneId",
        CANCER_STUDY.CANCER_STUDY_IDENTIFIER AS "studyId"
        <if test="projection == 'SUMMARY' || projection == 'DETAILED'">
            ,
            MUTATION.CENTER AS "center",
            MUTATION.MUTATION_STATUS AS "mutationStatus",
            MUTATION.VALIDATION_STATUS AS "validationStatus",
            MUTATION.TUMOR_ALT_COUNT AS "tumorAltCount",
            MUTATION.TUMOR_REF_COUNT AS "tumorRefCount",
            MUTATION.NORMAL_ALT_COUNT AS "normalAltCount",
            MUTATION.NORMAL_REF_COUNT AS "normalRefCount",
            MUTATION.AMINO_ACID_CHANGE AS "aminoAcidChange",
            MUTATION_EVENT.CHR AS "chr",
            MUTATION_EVENT.START_POSITION AS "startPosition",
            MUTATION_EVENT.END_POSITION AS "endPosition",
            MUTATION_EVENT.REFERENCE_ALLELE AS "referenceAllele",
            MUTATION_EVENT.TUMOR_SEQ_ALLELE AS "tumorSeqAllele",
            MUTATION_EVENT.PROTEIN_CHANGE AS "proteinChange",
            MUTATION_EVENT.MUTATION_TYPE AS "mutationType",
            MUTATION_EVENT.NCBI_BUILD AS "ncbiBuild",
            MUTATION_EVENT.VARIANT_TYPE AS "variantType",
            MUTATION_EVENT.REFSEQ_MRNA_ID AS "refseqMrnaId",
            MUTATION_EVENT.PROTEIN_POS_START AS "proteinPosStart",
            MUTATION_EVENT.PROTEIN_POS_END AS "proteinPosEnd",
            MUTATION_EVENT.KEYWORD AS "keyword",
            MUTATION.ANNOTATION_JSON AS "annotationJSON",
            ALTERATION_DRIVER_ANNOTATION.DRIVER_FILTER AS "driverFilter",
            ALTERATION_DRIVER_ANNOTATION.DRIVER_FILTER_ANNOTATION AS "driverFilterAnnotation",
            ALTERATION_DRIVER_ANNOTATION.DRIVER_TIERS_FILTER AS "driverTiersFilter",
            ALTERATION_DRIVER_ANNOTATION.DRIVER_TIERS_FILTER_ANNOTATION as "driverTiersFilterAnnotation"
        </if>
        <if test="projection == 'DETAILED'">
            ,
            <include refid="org.cbioportal.persistence.mybatis.GeneMapper.select">
                <property name="prefix" value="GENE."/>
            </include>
            ,
            <include refid="getAlleleSpecificCopyNumber">
                <property name="prefix" value="alleleSpecificCopyNumber."/>
            </include>
        </if>
    </sql>
    
    <sql id="projectionAndLimitFilter">
        <if test="sortBy != null and projection != 'ID'">
            ORDER BY "${sortBy}" ${direction}
        </if>
        <if test="projection == 'ID'">
            ORDER BY GENETIC_PROFILE.STABLE_ID ASC, SAMPLE.STABLE_ID ASC, MUTATION.ENTREZ_GENE_ID ASC
        </if>
        <if test="limit != null and limit != 0">
            LIMIT #{limit} OFFSET #{offset}
        </if>
    </sql>

    <sql id="from">
        FROM MUTATION
        INNER JOIN GENETIC_PROFILE ON MUTATION.GENETIC_PROFILE_ID = GENETIC_PROFILE.GENETIC_PROFILE_ID
        INNER JOIN SAMPLE ON MUTATION.SAMPLE_ID = SAMPLE.INTERNAL_ID
        INNER JOIN PATIENT ONSAMPLE.PATIENT_ID = PATIENT.INTERNAL_ID
        INNER JOIN CANCER_STUDY ON PATIENT.CANCER_STUDY_ID = CANCER_STUDY.CANCER_STUDY_ID
        LEFT JOIN ALTERATION_DRIVER_ANNOTATION ON
                MUTATION.GENETIC_PROFILE_ID = ALTERATION_DRIVER_ANNOTATION.GENETIC_PROFILE_ID
            and MUTATION.SAMPLE_ID = ALTERATION_DRIVER_ANNOTATION.SAMPLE_ID
            and MUTATION.MUTATION_EVENT_ID = ALTERATION_DRIVER_ANNOTATION.ALTERATION_EVENT_ID
    </sql>

    <sql id="where">
        <where>
            GENETIC_PROFILE.STABLE_ID = #{molecularProfileId}
            <if test="sampleIds != null and !sampleIds.isEmpty()">
                AND SAMPLE.STABLE_ID IN
                <foreach item="item" collection="sampleIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="_parameter.containsKey('entrezGeneIds') and entrezGeneIds != null and !entrezGeneIds.isEmpty()">
                AND MUTATION.ENTREZ_GENE_ID IN
                <foreach item="item" collection="entrezGeneIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="_parameter.containsKey('geneQueries') and geneQueries != null and !geneQueries.isEmpty()">
                <include refid="whereWithGeneQueries"/>
            </if>
            <if test="snpOnly == true">
                AND MUTATION_EVENT.REFERENCE_ALLELE IN ('A','T','C','G')
                AND MUTATION_EVENT.TUMOR_SEQ_ALLELE IN ('A','T','C','G')
            </if>
        </where>
    </sql>

    <sql id="whereBySampleListId">
        <where>
            GENETIC_PROFILE.STABLE_ID = #{molecularProfileId}
            AND MUTATION.SAMPLE_ID IN
            (
                SELECT SAMPLE_LIST_LIST.SAMPLE_ID FROM SAMPLE_LIST_LIST
                INNER JOIN SAMPLE_LIST ON SAMPLE_LIST_LIST.LIST_ID = SAMPLE_LIST.LIST_ID
                WHERE SAMPLE_LIST.STABLE_ID = #{sampleListId}
                AND SAMPLE_LIST_LIST.SAMPLE_ID = MUTATION.SAMPLE_ID
            )
            <if test="entrezGeneIds != null and !entrezGeneIds.isEmpty()">
                AND MUTATION.ENTREZ_GENE_ID IN
                <foreach item="item" collection="entrezGeneIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="snpOnly == true">
                AND MUTATION_EVENT.REFERENCE_ALLELE IN ('A','T','C','G')
                AND MUTATION_EVENT.TUMOR_SEQ_ALLELE IN ('A','T','C','G')
            </if>
        </where>
    </sql>

    <sql id="whereInMultipleMolecularProfiles">
        <where>
            <if test="sampleIds != null and !sampleIds.isEmpty()">
                MUTATION.SAMPLE_ID IN (
                SELECT SAMPLE.INTERNAL_ID FROM SAMPLE
                INNER JOIN PATIENT ONSAMPLE.PATIENT_ID = PATIENT.INTERNAL_ID
                INNER JOIN GENETIC_PROFILE ON PATIENT.CANCER_STUDY_ID = GENETIC_PROFILE.CANCER_STUDY_ID
                WHERE
                <if test="@java.util.Arrays@stream(molecularProfileIds.toArray()).distinct().count() == 1">
                    GENETIC_PROFILE.STABLE_ID = #{molecularProfileIds[0]} AND
                    SAMPLE.STABLE_ID IN
                    <foreach item="item" collection="sampleIds" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </if>
                <if test="@java.util.Arrays@stream(molecularProfileIds.toArray()).distinct().count() > 1">
                    (SAMPLE.STABLE_ID, GENETIC_PROFILE.STABLE_ID) IN
                    <foreach index="i" collection="sampleIds" open="(" separator="," close=")">
                        (#{sampleIds[${i}]}, #{molecularProfileIds[${i}]})
                    </foreach>
                    AND GENETIC_PROFILE.STABLE_ID IN
                    <foreach item="item" collection="molecularProfileIds" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </if>
                AND SAMPLE.INTERNAL_ID = MUTATION.SAMPLE_ID
                )
            </if>
            <if test="sampleIds == null || sampleIds.isEmpty()">
                GENETIC_PROFILE.STABLE_ID IN
                <foreach item="item" collection="molecularProfileIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="_parameter.containsKey('entrezGeneIds') and entrezGeneIds != null and !entrezGeneIds.isEmpty()">
                AND MUTATION.ENTREZ_GENE_ID IN
                <foreach item="item" collection="entrezGeneIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="_parameter.containsKey('geneQueries') and geneQueries != null and !geneQueries.isEmpty()">
                <include refid="whereWithGeneQueries"/>
            </if>
            <if test="snpOnly == true">
                AND MUTATION_EVENT.REFERENCE_ALLELE IN ('A','T','C','G')
                AND MUTATION_EVENT.TUMOR_SEQ_ALLELE IN ('A','T','C','G')
            </if>
        </where>
    </sql>

    <sql id="whereWithGeneQueries">
        <if test="(_parameter.containsKey('geneQueries') and geneQueries != null and !geneQueries.isEmpty())">
            AND
            <foreach item="geneFilterQuery" collection="geneQueries" open="(" separator=" OR " close=")">
                ( MUTATION.ENTREZ_GENE_ID = '${geneFilterQuery.getEntrezGeneId()}'
                <bind name="allMutationStatusSelected" value="geneFilterQuery.getIncludeGermline() and geneFilterQuery.getIncludeSomatic() and geneFilterQuery.getIncludeUnknownStatus()" />
                <bind name="noMutationStatusSelected" value="not geneFilterQuery.getIncludeGermline() and not geneFilterQuery.getIncludeSomatic() and not geneFilterQuery.getIncludeUnknownStatus()" />
                <choose>
                    <when test="not allMutationStatusSelected and not noMutationStatusSelected">
                        <trim prefix="AND (" suffix=")" prefixOverrides="OR">
                            <if test="geneFilterQuery.getIncludeGermline()">
                                OR LOWER(MUTATION.MUTATION_STATUS) = 'germline'
                            </if>
                            <if test="geneFilterQuery.getIncludeSomatic()">
                                OR LOWER(MUTATION.MUTATION_STATUS) = 'somatic'
                            </if>
                            <if test="geneFilterQuery.getIncludeUnknownStatus()">
                                OR LOWER(MUTATION.MUTATION_STATUS) NOT IN ('somatic', 'germline')
                            </if>
                        </trim>
                    </when>
                    <when test="noMutationStatusSelected">
                        AND NULL
                    </when>
                    <otherwise>
                        <!--when allMutationStatusSelected do not filter-->
                    </otherwise>
                </choose>                
                <bind name="allDriverAnnotationsSelected" value="geneFilterQuery.getIncludeDriver() and geneFilterQuery.getIncludeVUS() and geneFilterQuery.getIncludeUnknownOncogenicity()" />
                <bind name="noDriverAnnotationsSelected" value="not geneFilterQuery.getIncludeDriver() and not geneFilterQuery.getIncludeVUS() and not geneFilterQuery.getIncludeUnknownOncogenicity()" />
                <choose>
                    <when test="not allDriverAnnotationsSelected and not noDriverAnnotationsSelected">
                        <trim prefix="AND (" suffix=")" prefixOverrides="OR">
                            <if test="geneFilterQuery.getIncludeDriver()">
                                OR LOWER(ALTERATION_DRIVER_ANNOTATION.DRIVER_FILTER) = 'putative_driver'
                            </if>
                            <if test="geneFilterQuery.getIncludeVUS()">
                                OR LOWER(ALTERATION_DRIVER_ANNOTATION.DRIVER_FILTER) = 'putative_passenger'
                            </if>
                            <if test="geneFilterQuery.getIncludeUnknownOncogenicity()">
                                OR ALTERATION_DRIVER_ANNOTATION.DRIVER_FILTER IS NULL
                                OR LOWER(ALTERATION_DRIVER_ANNOTATION.DRIVER_FILTER) IN ('unknown', 'na', '')
                            </if>
                        </trim>
                    </when>
                    <when test="noDriverAnnotationsSelected">
                        AND NULL
                    </when>
                    <otherwise>
                        <!--when allDriverAnnotationsSelected do not filter-->
                    </otherwise>
                </choose>
                <bind name="allTierOptionsSelected" value="(geneFilterQuery.getSelectedTiers() != null and geneFilterQuery.getSelectedTiers().hasAll()) and geneFilterQuery.getIncludeUnknownTier()" />
                <bind name="noTierOptionsSelected" value="(geneFilterQuery.getSelectedTiers() == null or geneFilterQuery.getSelectedTiers().hasNone()) and not geneFilterQuery.getIncludeUnknownTier()" />
                <bind name="allExceptUnknownTierOptionsSelected" value="(geneFilterQuery.getSelectedTiers() != null and geneFilterQuery.getSelectedTiers().hasAll()) and not geneFilterQuery.getIncludeUnknownTier()" />
                <choose>
                    <when test="allExceptUnknownTierOptionsSelected">
                        AND NOT ALTERATION_DRIVER_ANNOTATION.DRIVER_TIERS_FILTER IS NULL
                        AND NOT LOWER(ALTERATION_DRIVER_ANNOTATION.DRIVER_TIERS_FILTER) IN ('', 'na', 'unknown')
                    </when>
                    <when test="not allTierOptionsSelected and not noTierOptionsSelected">
                        <trim prefix="AND (" suffix=")" prefixOverrides="OR">
                            <if test="geneFilterQuery.getSelectedTiers() != null and geneFilterQuery.getSelectedTiers().hasValues()">
                                OR ALTERATION_DRIVER_ANNOTATION.DRIVER_TIERS_FILTER IN
                                <foreach item="item" collection="geneFilterQuery.getSelectedTiers()" open="(" separator="," close=")">
                                    #{item}
                                </foreach>
                            </if>
                            <if test="geneFilterQuery.getIncludeUnknownTier()">
                                OR ALTERATION_DRIVER_ANNOTATION.DRIVER_TIERS_FILTER IS NULL
                                OR LOWER(ALTERATION_DRIVER_ANNOTATION.DRIVER_TIERS_FILTER) IN ('', 'na', 'unknown')
                            </if>
                        </trim>
                    </when>
                    <when test="noTierOptionsSelected">
                        AND NULL
                    </when>
                    <otherwise>
                        <!--when allTierOptionsSelected do not filter-->
                    </otherwise>
                </choose>
                )
            </foreach>
        </if>
    </sql>

    <sql id="getAlleleSpecificCopyNumber">
        ALLELE_SPECIFIC_COPY_NUMBER.ASCN_INTEGER_COPY_NUMBER AS "${prefix}ascnIntegerCopyNumber",
        ALLELE_SPECIFIC_COPY_NUMBER.ASCN_METHOD AS "${prefix}ascnMethod",
        ALLELE_SPECIFIC_COPY_NUMBER.CCF_EXPECTED_COPIES_UPPER AS "${prefix}ccfExpectedCopiesUpper",
        ALLELE_SPECIFIC_COPY_NUMBER.CCF_EXPECTED_COPIES AS "${prefix}ccfExpectedCopies",
        ALLELE_SPECIFIC_COPY_NUMBER.CLONAL AS "${prefix}clonal",
        ALLELE_SPECIFIC_COPY_NUMBER.MINOR_COPY_NUMBER AS "${prefix}minorCopyNumber",
        ALLELE_SPECIFIC_COPY_NUMBER.EXPECTED_ALT_COPIES AS "${prefix}expectedAltCopies",
        ALLELE_SPECIFIC_COPY_NUMBER.TOTAL_COPY_NUMBER AS "${prefix}totalCopyNumber"
    </sql>

    <sql id="includeAlleleSpecificCopyNumber">
        LEFT JOIN ALLELE_SPECIFIC_COPY_NUMBER ON MUTATION.MUTATION_EVENT_ID = ALLELE_SPECIFIC_COPY_NUMBER.MUTATION_EVENT_ID
        AND MUTATION.GENETIC_PROFILE_ID = ALLELE_SPECIFIC_COPY_NUMBER.GENETIC_PROFILE_ID
        AND MUTATION.SAMPLE_ID = ALLELE_SPECIFIC_COPY_NUMBER.SAMPLE_ID
    </sql>

    <resultMap id="genomicDataCountItem" type="org.cbioportal.model.GenomicDataCountItem">
        <id property="hugoGeneSymbol" column="hugoGeneSymbol"/>
        <id property="profileType" column="profileType"/>
        <collection property="counts" ofType="org.cbioportal.model.GenomicDataCount" resultMap="genomicDataCount"/>
    </resultMap>

    <resultMap id="genomicDataCount" type="org.cbioportal.model.GenomicDataCount">
        <result property="label" column="label"/>
        <result property="value" column="value"/>
        <result property="count" column="count"/>
        <result property="uniqueCount" column="uniqueCount"/>
    </resultMap>


    <select id="getMutationsBySampleListId" resultType="org.cbioportal.model.Mutation">
        SELECT
        <include refid="select"/>
        <include refid="from"/>
        INNER JOIN MUTATION_EVENT ON MUTATION.MUTATION_EVENT_ID = MUTATION_EVENT.MUTATION_EVENT_ID
        <if test="projection == 'DETAILED'">
            INNER JOIN GENE ON MUTATION.ENTREZ_GENE_ID = GENE.ENTREZ_GENE_ID
            <include refid="includeAlleleSpecificCopyNumber"/>
        </if>
        <include refid="whereBySampleListId"/>
        <if test="sortBy != null and projection != 'ID'">
            ORDER BY "${sortBy}" ${direction}
        </if>
        <if test="projection == 'ID'">
            ORDER BY GENETIC_PROFILE.STABLE_ID ASC, SAMPLE.STABLE_ID ASC, MUTATION.ENTREZ_GENE_ID ASC
        </if>
        <if test="limit != null and limit != 0">
            LIMIT #{limit} OFFSET #{offset}
        </if>
    </select>

    <select id="getMetaMutationsBySampleListId" resultType="org.cbioportal.model.meta.MutationMeta">
        SELECT
        COUNT(*) AS "totalCount",
        COUNT(DISTINCT(MUTATION.SAMPLE_ID)) AS "sampleCount"
        <include refid="from"/>
        INNER JOIN MUTATION_EVENT ON MUTATION.MUTATION_EVENT_ID = MUTATION_EVENT.MUTATION_EVENT_ID
        <include refid="whereBySampleListId"/>
    </select>

    <select id="getMutationsInMultipleMolecularProfiles" resultType="org.cbioportal.model.Mutation">
        SELECT
        <include refid="select"/>
        <include refid="from"/>
        INNER JOIN MUTATION_EVENT ON MUTATION.MUTATION_EVENT_ID = MUTATION_EVENT.MUTATION_EVENT_ID
        <if test="projection == 'DETAILED'">
            INNER JOIN GENE ON MUTATION.ENTREZ_GENE_ID = GENE.ENTREZ_GENE_ID
            <include refid="includeAlleleSpecificCopyNumber"/>
        </if>
        <include refid="whereInMultipleMolecularProfiles"/>
        <include refid="projectionAndLimitFilter"/>
    </select>

    <select id="getMutationsInMultipleMolecularProfilesByGeneQueries" resultType="org.cbioportal.model.Mutation">
        SELECT
        <include refid="select"/>
        <include refid="from"/>
        INNER JOIN MUTATION_EVENT ON MUTATION.MUTATION_EVENT_ID = MUTATION_EVENT.MUTATION_EVENT_ID
        <if test="projection == 'DETAILED'">
            INNER JOIN GENE ON MUTATION.ENTREZ_GENE_ID = GENE.ENTREZ_GENE_ID
            <include refid="includeAlleleSpecificCopyNumber"/>
        </if>
        <include refid="whereInMultipleMolecularProfiles"/>
        <include refid="projectionAndLimitFilter"/>
    </select>

    <select id="getMetaMutationsInMultipleMolecularProfiles" resultType="org.cbioportal.model.meta.MutationMeta">
        SELECT
        COUNT(*) AS "totalCount",
        COUNT(DISTINCT(MUTATION.SAMPLE_ID)) AS "sampleCount"
        <include refid="from"/>
        INNER JOIN MUTATION_EVENT ON MUTATION.MUTATION_EVENT_ID = MUTATION_EVENT.MUTATION_EVENT_ID
        <include refid="whereInMultipleMolecularProfiles"/>
    </select>

    <select id="getMetaMutationsBySampleIds" resultType="org.cbioportal.model.meta.MutationMeta">
        SELECT
        COUNT(*) AS "totalCount",
        COUNT(DISTINCT(MUTATION.SAMPLE_ID)) AS "sampleCount"
        <include refid="from"/>
        INNER JOIN MUTATION_EVENT ON MUTATION_EVENT.MUTATION_EVENT_ID = MUTATION.MUTATION_EVENT_ID
        <include refid="where"/>
    </select>

    <select id="getSampleCountByEntrezGeneIdsAndSampleIds" resultType="org.cbioportal.model.MutationCountByGene">
        SELECT
        MUTATION.ENTREZ_GENE_ID AS "entrezGeneId",
        GENE.HUGO_GENE_SYMBOL AS "hugoGeneSymbol",
        COUNT(*) AS "totalCount",
        COUNT(DISTINCT(MUTATION.SAMPLE_ID)) AS "numberOfAlteredCases"
        FROM MUTATION
        INNER JOIN MUTATION_EVENT ON MUTATION_EVENT.MUTATION_EVENT_ID = MUTATION.MUTATION_EVENT_ID
        INNER JOIN GENETIC_PROFILE ON MUTATION.GENETIC_PROFILE_ID = GENETIC_PROFILE.GENETIC_PROFILE_ID
        INNER JOIN SAMPLE ON MUTATION.SAMPLE_ID = SAMPLE.INTERNAL_ID
        INNER JOIN GENE ON MUTATION.ENTREZ_GENE_ID = GENE.ENTREZ_GENE_ID
        <include refid="where"/>
        GROUP BY MUTATION.ENTREZ_GENE_ID
    </select>

    <select id="getMutationCountByPosition" resultType="org.cbioportal.model.MutationCountByPosition">
        SELECT
        #{entrezGeneId} AS "entrezGeneId",
        #{proteinPosStart} AS "proteinPosStart",
        #{proteinPosEnd} AS "proteinPosEnd",
        COUNT(*) AS "count"
        FROM MUTATION
        INNER JOIN MUTATION_EVENT ON MUTATION.MUTATION_EVENT_ID = MUTATION_EVENT.MUTATION_EVENT_ID
        WHERE MUTATION_EVENT.ENTREZ_GENE_ID = #{entrezGeneId}
        AND MUTATION_EVENT.PROTEIN_POS_START >= #{proteinPosStart}
        AND MUTATION_EVENT.PROTEIN_POS_END <![CDATA[ <= ]]> #{proteinPosEnd}
    </select>
    
    <select id="getMutationCountsByType" resultMap="genomicDataCountItem">
        SELECT
            GENE.HUGO_GENE_SYMBOL as hugoGeneSymbol,
            #{profileType} as profileType,
            REPLACE(MUTATION_EVENT.MUTATION_TYPE, '_', ' ') AS label,
            MUTATION_EVENT.MUTATION_TYPE AS value,
            COUNT(*) AS count,
            COUNT(DISTINCT(SAMPLE.INTERNAL_ID)) AS uniqueCount
        <include refid="from"/>
        INNER JOIN MUTATION_EVENT ON MUTATION.MUTATION_EVENT_ID = MUTATION_EVENT.MUTATION_EVENT_ID
        INNER JOIN GENE ON MUTATION.ENTREZ_GENE_ID = GENE.ENTREZ_GENE_ID
        <include refid="whereInMultipleMolecularProfiles"/>
        GROUP BY MUTATION_EVENT.MUTATION_TYPE
    </select>
</mapper>
