<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cbioportal.persistence.mybatis.PatientMapper">

    <sql id="select">
        patient.internal_id AS "${prefix}internalId",
        patient.stable_id AS "${prefix}stableId",
        patient.cancer_study_id AS "${prefix}cancerStudyId",
        cancer_study.cancer_study_identifier AS "${prefix}cancerStudyIdentifier"
        <if test="projection == 'DETAILED'">
            ,
            <include refid="org.cbioportal.persistence.mybatis.StudyMapper.select">
                <property name="prefix" value="${prefix}cancerStudy."/>
            </include>
        </if>
    </sql>

    <sql id="from">
        FROM patient
        INNER JOIN cancer_study ON patient.cancer_study_id = cancer_study.cancer_study_id
        INNER JOIN reference_genome ON cancer_study.reference_genome_id = reference_genome.reference_genome_id
    </sql>

    <sql id="where">
        <where>
            <if test="keyword == null">
                <if test="patientIds == null and studyIds != null">
                    cancer_study.cancer_study_identifier = #{studyIds[0]}
                </if>
                <if test="patientIds != null">
                    (cancer_study.cancer_study_identifier,patient.stable_id) IN
                        <foreach index="i" collection="patientIds" open="(" separator="," close=")">(#{studyIds[${i}]},#{patientIds[${i}]})</foreach>
                </if>
            </if>
            <if test="keyword != null">
                <foreach item="item" collection="keyword.split(' ')" open="(" separator=") AND (" close=")">
                    patient.stable_id like CONCAT('%', #{item}, '%')
                    OR
                    sample.stable_id like CONCAT('%', #{item}, '%')
                </foreach>
            </if>
        </where>
    </sql>

    <select id="getPatients" resultType="org.cbioportal.model.Patient">
        SELECT
        <include refid="select">
            <property name="prefix" value=""/>
        </include>
        <include refid="from"/>
        <if test="keyword != null">
            INNER JOIN sample ON patient.internal_id = sample.patient_id
        </if>
        <include refid="where"/>
        <if test="sortBy != null and projection != 'ID' and keyword == null">
            ORDER BY "${sortBy}" ${direction}
        </if>
        <if test="projection == 'ID' and keyword == null">
            ORDER BY patient.stable_id ASC
        </if>
        <if test="keyword != null">
            ORDER BY CASE WHEN patient.stable_id LIKE CONCAT(#{keyword}, '%') THEN 0 ELSE 1 END, patient.stable_id
        </if>
        <if test="limit != null and limit != 0">
            LIMIT #{limit} OFFSET #{offset}
        </if>
    </select>

    <select id="getMetaPatients" resultType="org.cbioportal.model.meta.BaseMeta">
        SELECT
        COUNT(*) AS totalCount
        <include refid="from"/>
        <if test="keyword != null">
            INNER JOIN sample ON patient.internal_id = sample.patient_id
        </if>
        <include refid="where"/>
    </select>

    <select id="getPatient" resultType="org.cbioportal.model.Patient">
        SELECT
        <include refid="select">
            <property name="prefix" value=""/>
        </include>
        <include refid="from"/>
        WHERE patient.stable_id = #{patientId}
        AND cancer_study.cancer_study_identifier = #{studyId}
    </select>

    <select id="getPatientsOfSamples" resultType="org.cbioportal.model.Patient">
        SELECT DISTINCT(patient.stable_id) AS stableId,
        cancer_study.cancer_study_identifier AS cancerStudyIdentifier
        FROM sample
        INNER JOIN patient ON sample.patient_id = patient.internal_id
        INNER JOIN cancer_study ON patient.cancer_study_id = cancer_study.cancer_study_id
        INNER JOIN reference_genome ON cancer_study.reference_genome_id = reference_genome.reference_genome_id
        WHERE
        <if test="@java.util.Arrays@stream(studyIds.toArray()).distinct().count() == 1">
            cancer_study.cancer_study_identifier = #{studyIds[0]} AND
            sample.stable_id IN
                <foreach item="item" collection="sampleIds" open="(" separator="," close=")">#{item}</foreach>
        </if>
        <if test="@java.util.Arrays@stream(studyIds.toArray()).distinct().count() > 1">
            (cancer_study.cancer_study_identifier,sample.stable_id) IN
                <foreach index="i" collection="sampleIds" open="(" separator="," close=")">(#{studyIds[${i}]},#{sampleIds[${i}]})</foreach>
        </if>
        <if test="@java.util.Arrays@stream(studyIds.toArray()).distinct().count() == 0">
            FALSE
        </if>
    </select>
</mapper>
