<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cbioportal.persistence.mybatis.ReferenceGenomeGeneMapper">

    <cache readOnly="true" size="100000"/>

    <sql id="select">
        REFERENCE_GENOME_GENE.ENTREZ_GENE_ID AS "${prefix}entrezGeneId",
        REFERENCE_GENOME_GENE.REFERENCE_GENOME_ID AS "${prefix}referenceGenomeId"
        <if test="projection == 'SUMMARY' || projection == 'DETAILED'">
            ,
            GENE.HUGO_GENE_SYMBOL AS "${prefix}hugoGeneSymbol",
            REFERENCE_GENOME_GENE.CHR AS "${prefix}chromosome",
            REFERENCE_GENOME_GENE.CYTOBAND AS "${prefix}cytoband",
            REFERENCE_GENOME_GENE.START AS "${prefix}start",
            REFERENCE_GENOME_GENE.END AS "${prefix}end"
        </if>
    </sql>

    <select id="getAllGenesByGenomeName" resultType="org.cbioportal.model.ReferenceGenomeGene">
        SELECT
        <include refid="select">
            <property name="prefix" value=""/>
        </include>
        FROM REFERENCE_GENOME_GENE
        INNER JOIN GENE ON GENE.ENTREZ_GENE_ID = REFERENCE_GENOME_GENE.ENTREZ_GENE_ID
        <if test="genomeName != null">
            INNER JOIN REFERENCE_GENOME ON REFERENCE_GENOME.REFERENCE_GENOME_ID = REFERENCE_GENOME_GENE.REFERENCE_GENOME_ID
            WHERE REFERENCE_GENOME.NAME = #{genomeName}
        </if>
    </select>

    <select id="getGenesByHugoGeneSymbolsAndGenomeName" resultType="org.cbioportal.model.ReferenceGenomeGene">
        SELECT
        <include refid="select">
            <property name="prefix" value=""/>
        </include>
        FROM REFERENCE_GENOME_GENE
        INNER JOIN REFERENCE_GENOME ON REFERENCE_GENOME.REFERENCE_GENOME_ID = REFERENCE_GENOME_GENE.REFERENCE_GENOME_ID
        INNER JOIN GENE ON GENE.ENTREZ_GENE_ID = REFERENCE_GENOME_GENE.ENTREZ_GENE_ID
        <where>
            <if test="geneIds != null and !geneIds.isEmpty() and genomeName != null">
                GENE.HUGO_GENE_SYMBOL IN
                <foreach item="item" collection="geneIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
                AND REFERENCE_GENOME.NAME = #{genomeName}
            </if>
            <if test="geneIds == null or geneIds.isEmpty() or genomeName == null">
                FALSE
            </if>
        </where>
    </select>

    <select id="getGenesByGenomeName" resultType="org.cbioportal.model.ReferenceGenomeGene">
        SELECT
        <include refid="select">
            <property name="prefix" value=""/>
        </include>
        FROM REFERENCE_GENOME_GENE
        INNER JOIN REFERENCE_GENOME ON REFERENCE_GENOME.REFERENCE_GENOME_ID = REFERENCE_GENOME_GENE.REFERENCE_GENOME_ID
        INNER JOIN GENE ON GENE.ENTREZ_GENE_ID = REFERENCE_GENOME_GENE.ENTREZ_GENE_ID
        <where>
            <if test="geneIds != null and !geneIds.isEmpty() and genomeName != null">
                GENE.ENTREZ_GENE_ID IN
                <foreach item="item" collection="geneIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
                AND REFERENCE_GENOME.NAME = #{genomeName}
            </if>
            <if test="geneIds == null or geneIds.isEmpty() or genomeName == null">
                FALSE
            </if>
        </where>
    </select>
    
    <select id="getReferenceGenomeGene" resultType="org.cbioportal.model.ReferenceGenomeGene">
        SELECT
        <include refid="select">
            <property name="prefix" value=""/>
        </include>
        FROM REFERENCE_GENOME_GENE
        INNER JOIN REFERENCE_GENOME ON REFERENCE_GENOME.REFERENCE_GENOME_ID = REFERENCE_GENOME_GENE.REFERENCE_GENOME_ID
        INNER JOIN GENE ON GENE.ENTREZ_GENE_ID = REFERENCE_GENOME_GENE.ENTREZ_GENE_ID
        <where>
            <if test="genomeName != null and geneId != null">
                REFERENCE_GENOME.NAME = #{genomeName} AND GENE.ENTREZ_GENE_ID = #{geneId}
            </if>  
        </where>
    </select>
    <select id="getReferenceGenomeGeneByEntityId" resultType="org.cbioportal.model.ReferenceGenomeGene">
        SELECT
        <include refid="select">
            <property name="prefix" value=""/>
        </include>
        FROM REFERENCE_GENOME_GENE
        INNER JOIN GENE ON GENE.ENTREZ_GENE_ID = REFERENCE_GENOME_GENE.ENTREZ_GENE_ID
        INNER JOIN REFERENCE_GENOME ON REFERENCE_GENOME.REFERENCE_GENOME_ID = REFERENCE_GENOME_GENE.REFERENCE_GENOME_ID
        <where>
            <if test="genomeName != null and geneticEntityId != null">
                REFERENCE_GENOME.NAME = #{genomeName} AND GENE.GENETIC_ENTITY_ID = #{geneticEntityId}
            </if>
            <if test="genomeName == null or geneticEntityId == null">
                FALSE
            </if>
        </where>
    </select>
</mapper>
