<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cbioportal.persistence.mybatis.ResourceDefinitionMapper">
    
    <sql id="select">
        RESOURCE_DEFINITION.RESOURCE_ID AS "${prefix}resourceId",
        CANCER_STUDY.CANCER_STUDY_IDENTIFIER AS "${prefix}cancerStudyIdentifier",
        RESOURCE_DEFINITION.CANCER_STUDY_ID AS "${prefix}cancerStudyId",
        RESOURCE_DEFINITION.DISPLAY_NAME AS "${prefix}displayName"
        <if test="projection == 'SUMMARY' || projection == 'DETAILED'">
            ,
            RESOURCE_DEFINITION.OPEN_BY_DEFAULT AS "${prefix}openByDefault",
            RESOURCE_DEFINITION.DESCRIPTION AS "${prefix}description",
            RESOURCE_DEFINITION.RESOURCE_TYPE AS "${prefix}resourceType",
            RESOURCE_DEFINITION.PRIORITY AS "${prefix}priority"
        </if>
    </sql>

    <select id="getResourceDefinitions" resultType="org.cbioportal.model.ResourceDefinition">
        SELECT
        <include refid="select">
            <property name="prefix" value=""/>
        </include>
        FROM RESOURCE_DEFINITION
        INNER JOIN CANCER_STUDY ON RESOURCE_DEFINITION.CANCER_STUDY_ID = CANCER_STUDY.CANCER_STUDY_ID
        <where>
            <choose>
                <when test="studyIds == null or studyIds.isEmpty()">
                    NULL
                </when>
                <otherwise>
                    CANCER_STUDY.CANCER_STUDY_IDENTIFIER IN
                    <foreach item="id" collection="studyIds" open="(" separator="," close=")">
                        #{id}
                    </foreach>
                </otherwise>
            </choose>
        </where>
        <if test="sortBy != null and projection != 'ID'">
            ORDER BY "${sortBy}" ${direction}
        </if>
        <if test="projection == 'ID'">
            ORDER BY RESOURCE_DEFINITION.RESOURCE_ID ASC
        </if>
        <if test="limit != null and limit != 0">
            LIMIT #{limit} OFFSET #{offset}
        </if>
    </select>

    <select id="getResourceDefinition" resultType="org.cbioportal.model.ResourceDefinition">
        SELECT
        <include refid="select">
            <property name="prefix" value=""/>
        </include>
        FROM RESOURCE_DEFINITION
        INNER JOIN CANCER_STUDY ON RESOURCE_DEFINITION.CANCER_STUDY_ID = CANCER_STUDY.CANCER_STUDY_ID
        <where>
            <if test="studyId != null">
                CANCER_STUDY.CANCER_STUDY_IDENTIFIER = #{studyId}
            </if>
            <if test="resourceId != null">
                AND RESOURCE_DEFINITION.RESOURCE_ID = #{resourceId}
            </if>
        </where>
    </select>

</mapper>
