<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cbioportal.persistence.mybatis.ResourceDataMapper">

    <sql id="selectSampleResource">
        SAMPLE.STABLE_ID AS "${prefix}sampleId",
        PATIENT.STABLE_ID AS "${prefix}patientId",
        RESOURCE_PATIENT.RESOURCE_ID AS "${prefix}resourceId",
        CANCER_STUDY.CANCER_STUDY_IDENTIFIER AS "${prefix}studyId"
        <if test="projection == 'SUMMARY' || projection == 'DETAILED'">
            , RESOURCE_PATIENT.URL AS "${prefix}url"
        </if>
        <if test="projection == 'DETAILED'">
            ,
            <include refid="org.cbioportal.persistence.mybatis.ResourceDefinitionMapper.select">
                <property name="prefix" value="${prefix}resourceDefinition."/>
            </include>
        </if>
    </sql>

    <sql id="selectPatientResource">
        PATIENT.STABLE_ID AS "${prefix}patientId",
        RESOURCE_PATIENT.RESOURCE_ID AS "${prefix}resourceId",
        CANCER_STUDY.CANCER_STUDY_IDENTIFIER AS "${prefix}studyId"
        <if test="projection == 'SUMMARY' || projection == 'DETAILED'">
            , RESOURCE_PATIENT.URL AS "${prefix}url"
        </if>
        <if test="projection == 'DETAILED'">
            ,
            <include refid="org.cbioportal.persistence.mybatis.ResourceDefinitionMapper.select">
                <property name="prefix" value="${prefix}resourceDefinition."/>
            </include>
        </if>
    </sql>

    <sql id="selectStudyResource">
        RESOURCE_STUDY.RESOURCE_ID AS "${prefix}resourceId",
        CANCER_STUDY.CANCER_STUDY_IDENTIFIER AS "${prefix}studyId"
        <if test="projection == 'SUMMARY' || projection == 'DETAILED'">
            , RESOURCE_STUDY.URL AS "${prefix}url"
        </if>
        <if test="projection == 'DETAILED'">
            ,
            <include refid="org.cbioportal.persistence.mybatis.ResourceDefinitionMapper.select">
                <property name="prefix" value="${prefix}resourceDefinition."/>
            </include>
        </if>
    </sql>

    <sql id="fromSample">
        FROM RESOURCE_PATIENT
        INNER JOIN SAMPLE ON RESOURCE_PATIENT.INTERNAL_ID = SAMPLE.INTERNAL_ID
        INNER JOIN PATIENT ONSAMPLE.PATIENT_ID = PATIENT.INTERNAL_ID
        INNER JOIN CANCER_STUDY ON PATIENT.CANCER_STUDY_ID = CANCER_STUDY.CANCER_STUDY_ID
    </sql>

    <sql id="fromPatient">
        FROM RESOURCE_PATIENT
        INNER JOIN PATIENT ONRESOURCE_PATIENT.INTERNAL_ID = PATIENT.INTERNAL_ID
        INNER JOIN CANCER_STUDY ON PATIENT.CANCER_STUDY_ID = CANCER_STUDY.CANCER_STUDY_ID
    </sql>

    <sql id="fromStudy">
        FROM RESOURCE_STUDY
        INNER JOIN CANCER_STUDY ON RESOURCE_STUDY.INTERNAL_ID = CANCER_STUDY.CANCER_STUDY_ID
    </sql>

    <sql id="whereSample">
        <where>
            <if test="sampleId == null">
                CANCER_STUDY.CANCER_STUDY_IDENTIFIER = #{studyId}
            </if>
            <if test="sampleId != null">
                 CANCER_STUDY.CANCER_STUDY_IDENTIFIER = #{studyId} AND
                 SAMPLE.STABLE_ID = #{sampleId}
            </if>
            <if test="resourceId != null">
                AND RESOURCE_PATIENT.RESOURCE_ID = #{resourceId}
            </if>
        </where>
    </sql>

    <sql id="wherePatient">
        <where>
            <if test="patientId == null">
                CANCER_STUDY.CANCER_STUDY_IDENTIFIER = #{studyId}
            </if>
            <if test="patientId != null">
                 CANCER_STUDY.CANCER_STUDY_IDENTIFIER = #{studyId} AND
                 PATIENT.STABLE_ID = #{patientId}
            </if>
            <if test="resourceId != null">
                AND RESOURCE_PATIENT.RESOURCE_ID = #{resourceId}
            </if>
        </where>
    </sql>

    <sql id="whereStudy">
        <where>
            CANCER_STUDY.CANCER_STUDY_IDENTIFIER = #{studyId}
            <if test="resourceId != null">
                AND RESOURCE_STUDY.RESOURCE_ID = #{resourceId}
            </if>
        </where>
    </sql>

    <select id="getResourceDataOfSampleInStudy" resultType="org.cbioportal.model.ResourceData">
        SELECT
        <include refid="selectSampleResource">
            <property name="prefix" value=""/>
        </include>
        <include refid="fromSample"/>
        <if test="projection == 'DETAILED'">
            INNER JOIN RESOURCE_DEFINITION ON RESOURCE_PATIENT.RESOURCE_ID = RESOURCE_DEFINITION.RESOURCE_ID
            AND CANCER_STUDY.CANCER_STUDY_ID = RESOURCE_DEFINITION.CANCER_STUDY_ID
        </if>
        <include refid="whereSample"/>
        <if test="sortBy != null and projection != 'ID'">
            ORDER BY "${sortBy}" ${direction}
        </if>
        <if test="projection == 'ID'">
            ORDER BY RESOURCE_PATIENT.RESOURCE_ID ASC
        </if>
        <if test="limit != null and limit != 0">
            LIMIT #{limit} OFFSET #{offset}
        </if>
    </select>

    <select id="getResourceDataOfPatientInStudy" resultType="org.cbioportal.model.ResourceData">
        SELECT
        <include refid="selectPatientResource">
            <property name="prefix" value=""/>
        </include>
        <include refid="fromPatient"/>
        <if test="projection == 'DETAILED'">
            INNER JOIN RESOURCE_DEFINITION ON RESOURCE_PATIENT.RESOURCE_ID = RESOURCE_DEFINITION.RESOURCE_ID
            AND CANCER_STUDY.CANCER_STUDY_ID = RESOURCE_DEFINITION.CANCER_STUDY_ID
        </if>
        <include refid="wherePatient"/>
        <if test="sortBy != null and projection != 'ID'">
            ORDER BY "${sortBy}" ${direction}
        </if>
        <if test="projection == 'ID'">
            ORDER BY RESOURCE_PATIENT.RESOURCE_ID ASC
        </if>
        <if test="limit != null and limit != 0">
            LIMIT #{limit} OFFSET #{offset}
        </if>
    </select>

    <select id="getResourceDataForStudy" resultType="org.cbioportal.model.ResourceData">
        SELECT
        <include refid="selectStudyResource">
            <property name="prefix" value=""/>
        </include>
        <include refid="fromStudy"/>
        <if test="projection == 'DETAILED'">
            INNER JOIN RESOURCE_DEFINITION ON RESOURCE_STUDY.RESOURCE_ID = RESOURCE_DEFINITION.RESOURCE_ID
            AND CANCER_STUDY.CANCER_STUDY_ID = RESOURCE_DEFINITION.CANCER_STUDY_ID
        </if>
        <include refid="whereStudy"/>
        <if test="sortBy != null and projection != 'ID'">
            ORDER BY "${sortBy}" ${direction}
        </if>
        <if test="projection == 'ID'">
            ORDER BY RESOURCE_PATIENT.RESOURCE_ID ASC
        </if>
        <if test="limit != null and limit != 0">
            LIMIT #{limit} OFFSET #{offset}
        </if>
    </select>

</mapper>
