<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cbioportal.persistence.mybatis.SampleMapper">

    <sql id="select">
        SAMPLE.INTERNAL_ID AS "${prefix}internalId",
        SAMPLE.STABLE_ID AS "${prefix}stableId",
        PATIENT.STABLE_ID AS "${prefix}patientStableId",
        CANCER_STUDY.CANCER_STUDY_IDENTIFIER AS "${prefix}cancerStudyIdentifier"
        <if test="projection == 'SUMMARY' || projection == 'DETAILED'">
            ,
            SAMPLE.SAMPLE_TYPE AS "${prefix}sampleType",
            SAMPLE.PATIENT_ID AS "${prefix}patientId"
        </if>
        <if test="projection == 'DETAILED'">
            ,
            <include refid="org.cbioportal.persistence.mybatis.PatientMapper.select">
                <property name="prefix" value="${prefix}PATIENT."/>
            </include>
        </if>
    </sql>

    <sql id="from">
        FROM SAMPLE
        INNER JOIN PATIENT ONSAMPLE.PATIENT_ID = PATIENT.INTERNAL_ID
        INNER JOIN CANCER_STUDY ON PATIENT.CANCER_STUDY_ID = CANCER_STUDY.CANCER_STUDY_ID
        INNER JOIN REFERENCE_GENOME ON CANCER_STUDY.REFERENCE_GENOME_ID = REFERENCE_GENOME.REFERENCE_GENOME_ID
    </sql>

    <sql id="where">
        <where>
            <if test="sampleIds == null and studyIds != null">
                CANCER_STUDY.CANCER_STUDY_IDENTIFIER IN
                <if test="studyIds.isEmpty()">
                    (NULL)
                </if>
                <if test="!studyIds.isEmpty()">
                    <foreach item="item" collection="studyIds" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </if>
            </if>
            <if test="sampleIds != null">
                <if test="@java.util.Arrays@stream(studyIds.toArray()).distinct().count() == 1">
                    CANCER_STUDY.CANCER_STUDY_IDENTIFIER = #{studyIds[0]} AND
                    SAMPLE.STABLE_ID IN
                    <foreach item="item" collection="sampleIds" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </if>
                <if test="@java.util.Arrays@stream(studyIds.toArray()).distinct().count() > 1">
                    (CANCER_STUDY.CANCER_STUDY_IDENTIFIER, SAMPLE.STABLE_ID) IN
                    <foreach index="i" collection="sampleIds" open="(" separator="," close=")">
                        (#{studyIds[${i}]}, #{sampleIds[${i}]})
                    </foreach>
                </if>
            </if>
            <if test="patientId != null">
                AND PATIENT.STABLE_ID = #{patientId}
            </if>
            <if test="keyword != null">
                AND
                <foreach item="item" collection="keyword.trim().split(' ')" open="(" separator=") AND (" close=")">
                    SAMPLE.STABLE_ID like CONCAT('%', #{item}, '%')
                </foreach>
            </if>
        </where>
    </sql>

    <select id="getSamples" resultType="org.cbioportal.model.Sample">
        SELECT
        <include refid="select">
            <property name="prefix" value=""/>
        </include>
        <include refid="from"/>
        <include refid="where"/>
        <if test="sortBy != null and projection != 'ID'">
            ORDER BY "${sortBy}" ${direction}
        </if>
        <if test="projection == 'ID' and keyword == null">
            ORDER BY SAMPLE.STABLE_ID ASC
        </if>
        <if test="keyword != null">
            ORDER BY CASE WHEN SAMPLE.STABLE_ID LIKE CONCAT(#{keyword}, '%') THEN 0 ELSE 1 END, SAMPLE.STABLE_ID
        </if>
        <if test="limit != null and limit != 0">
            LIMIT #{limit} OFFSET #{offset}
        </if>
    </select>

    <select id="getSamplesBySampleListIds" resultType="org.cbioportal.model.Sample">
        SELECT
        <include refid="select">
            <property name="prefix" value=""/>
        </include>
        <include refid="from"/>
        WHERE SAMPLE.INTERNAL_ID IN
        (
            SELECT SAMPLE_LIST_LIST.SAMPLE_ID FROM SAMPLE_LIST_LIST
            INNER JOIN SAMPLE_LIST ON SAMPLE_LIST_LIST.LIST_ID = SAMPLE_LIST.LIST_ID
            WHERE SAMPLE_LIST.STABLE_ID IN
            <foreach item="item" collection="sampleListIds" open="(" separator="," close=")">
                #{item}
            </foreach>
            AND SAMPLE_LIST_LIST.SAMPLE_ID = SAMPLE.INTERNAL_ID
        )
    </select>

    <select id="getMetaSamples" resultType="org.cbioportal.model.meta.BaseMeta">
        SELECT
        COUNT(*) AS "totalCount"
        <include refid="from"/>
        <include refid="where"/>
    </select>

    <select id="getMetaSamplesBySampleListIds" resultType="org.cbioportal.model.meta.BaseMeta">
        SELECT
        COUNT(*) AS "totalCount"
        <include refid="from"/>
        WHERE SAMPLE.INTERNAL_ID IN
        (
            SELECT SAMPLE_LIST_LIST.SAMPLE_ID FROM SAMPLE_LIST_LIST
            INNER JOIN SAMPLE_LIST ON SAMPLE_LIST_LIST.LIST_ID = SAMPLE_LIST.LIST_ID
            WHERE SAMPLE_LIST.STABLE_ID IN
            <foreach item="item" collection="list" open="(" separator="," close=")">
                #{item}
            </foreach>
            AND SAMPLE_LIST_LIST.SAMPLE_ID = SAMPLE.INTERNAL_ID
        )
    </select>

    <select id="getSample" resultType="org.cbioportal.model.Sample">
        SELECT
        <include refid="select">
            <property name="prefix" value=""/>
        </include>
        <include refid="from"/>
        WHERE SAMPLE.STABLE_ID = #{sampleId}
        AND CANCER_STUDY.CANCER_STUDY_IDENTIFIER = #{studyId}
    </select>

    <select id="getSampleByInternalId" resultType="org.cbioportal.model.Sample">
        SELECT
        <include refid="select">
            <property name="prefix" value=""/>
        </include>
        FROM SAMPLE
        WHERE SAMPLE.INTERNAL_ID = #{internalId}
    </select>

    <select id="getSamplesByInternalIds" resultType="org.cbioportal.model.Sample">
        SELECT
        <include refid="select">
            <property name="prefix" value=""/>
        </include>
        <include refid="from"/>
        <where>
            <if test="internalIds != null and !internalIds.isEmpty()">
                SAMPLE.INTERNAL_ID IN
                <foreach item="item" collection="internalIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>
    
    <select id="getSamplesOfPatients" resultType="org.cbioportal.model.Sample">
        SELECT
        <include refid="select">
            <property name="prefix" value=""/>
        </include>
        <include refid="from"/>
        WHERE
        CANCER_STUDY.CANCER_STUDY_IDENTIFIER = #{studyId}
        <if test="patientIds != null and !patientIds.isEmpty()">
            AND PATIENT.STABLE_ID IN
            <foreach item="item" collection="patientIds" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <select id="getSamplesOfPatientsInMultipleStudies" resultType="org.cbioportal.model.Sample">
        SELECT
        <include refid="select">
            <property name="prefix" value=""/>
        </include>
        <include refid="from"/>
        WHERE
        <if test="@java.util.Arrays@stream(studyIds.toArray()).distinct().count() == 1">
            CANCER_STUDY.CANCER_STUDY_IDENTIFIER = #{studyIds[0]} AND
            PATIENT.STABLE_ID IN
            <foreach item="item" collection="patientIds" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="@java.util.Arrays@stream(studyIds.toArray()).distinct().count() > 1">
            (CANCER_STUDY.CANCER_STUDY_IDENTIFIER, PATIENT.STABLE_ID) IN
            <foreach index="i" collection="patientIds" open="(" separator="," close=")">
                (#{studyIds[${i}]}, #{patientIds[${i}]})
            </foreach>
        </if>
    </select>
</mapper>
