<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cbioportal.persistence.mybatis.SampleListMapper">

    <sql id="select">
        SAMPLE_LIST.LIST_ID AS "${prefix}listId",
        SAMPLE_LIST.STABLE_ID AS "${prefix}stableId"
        <if test="projection == 'SUMMARY' || projection == 'DETAILED'">
            ,
            SAMPLE_LIST.CANCER_STUDY_ID AS "${prefix}cancerStudyId",
            CANCER_STUDY.CANCER_STUDY_IDENTIFIER AS "${prefix}cancerStudyIdentifier",
            SAMPLE_LIST.CATEGORY AS "${prefix}category",
            SAMPLE_LIST.NAME AS "${prefix}name",
            SAMPLE_LIST.DESCRIPTION AS "${prefix}description"
        </if>
        <if test="projection == 'DETAILED'">
            ,
            <include refid="org.cbioportal.persistence.mybatis.StudyMapper.select">
                <property name="prefix" value="${prefix}cancerStudy."/>
            </include>
        </if>
    </sql>

    <select id="getAllSampleLists" resultType="org.cbioportal.model.SampleList">
        SELECT
        <include refid="select">
            <property name="prefix" value=""/>
        </include>
        FROM SAMPLE_LIST
        INNER JOIN CANCER_STUDY ON SAMPLE_LIST.CANCER_STUDY_ID = CANCER_STUDY.CANCER_STUDY_ID
        INNER JOIN REFERENCE_GENOME ON CANCER_STUDY.REFERENCE_GENOME_ID = REFERENCE_GENOME.REFERENCE_GENOME_ID
        <if test="studyIds != null">
            <if test="studyIds.isEmpty()">
                WHERE FALSE
            </if>
            <if test="!studyIds.isEmpty()">
                WHERE CANCER_STUDY.CANCER_STUDY_IDENTIFIER IN
                <foreach item="item" collection="studyIds" open="("
                         separator="," close=")">
                    #{item}
                </foreach>
            </if>
		</if>
        <if test="sortBy != null and projection != 'ID'">
            ORDER BY "${sortBy}" ${direction}
        </if>
        <if test="projection == 'ID'">
            ORDER BY SAMPLE_LIST.STABLE_ID ASC
        </if>
        <if test="limit != null and limit != 0">
            LIMIT #{limit} OFFSET #{offset}
        </if>
    </select>

    <select id="getMetaSampleLists" resultType="org.cbioportal.model.meta.BaseMeta">
        SELECT
        COUNT(*) AS totalCount
        FROM SAMPLE_LIST
        <if test="_parameter != null">
            INNER JOIN CANCER_STUDY ON SAMPLE_LIST.CANCER_STUDY_ID = CANCER_STUDY.CANCER_STUDY_ID
            WHERE CANCER_STUDY.CANCER_STUDY_IDENTIFIER = #{studyId}
        </if>
    </select>

    <select id="getSampleList" resultType="org.cbioportal.model.SampleList">
        SELECT
        <include refid="select">
            <property name="prefix" value=""/>
        </include>
        FROM SAMPLE_LIST
        INNER JOIN CANCER_STUDY ON SAMPLE_LIST.CANCER_STUDY_ID = CANCER_STUDY.CANCER_STUDY_ID
        INNER JOIN REFERENCE_GENOME ON CANCER_STUDY.REFERENCE_GENOME_ID = REFERENCE_GENOME.REFERENCE_GENOME_ID
        WHERE SAMPLE_LIST.STABLE_ID = #{sampleListId}
    </select>

    <select id="getSampleLists" resultType="org.cbioportal.model.SampleList">
        SELECT
        <include refid="select">
            <property name="prefix" value=""/>
        </include>
        FROM SAMPLE_LIST
        INNER JOIN CANCER_STUDY ON SAMPLE_LIST.CANCER_STUDY_ID = CANCER_STUDY.CANCER_STUDY_ID
        INNER JOIN REFERENCE_GENOME ON CANCER_STUDY.REFERENCE_GENOME_ID = REFERENCE_GENOME.REFERENCE_GENOME_ID
        <where>
            <if test="sampleListIds != null and !sampleListIds.isEmpty()">
                SAMPLE_LIST.STABLE_ID IN
                <foreach item="item" collection="sampleListIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="getAllSampleIdsInSampleList" resultType="string">
        SELECT 
        SAMPLE.STABLE_ID
        FROM SAMPLE_LIST_LIST
        INNER JOIN SAMPLE_LIST ON SAMPLE_LIST_LIST.LIST_ID = SAMPLE_LIST.LIST_ID
        INNER JOIN SAMPLE ON SAMPLE_LIST_LIST.SAMPLE_ID = SAMPLE.INTERNAL_ID
        WHERE SAMPLE_LIST.STABLE_ID = #{sampleListId}
    </select>

    <select id="getSampleListSampleIds" resultType="org.cbioportal.model.SampleListToSampleId">
        SELECT
        SAMPLE_LIST_LIST.LIST_ID as sampleListId,
        SAMPLE.STABLE_ID as sampleId
        FROM SAMPLE_LIST_LIST
        INNER JOIN SAMPLE ON SAMPLE_LIST_LIST.SAMPLE_ID = SAMPLE.INTERNAL_ID
        <where>
            <if test="list != null and !list.isEmpty()">
                SAMPLE_LIST_LIST.LIST_ID IN
                <foreach item="item" collection="list" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>
</mapper>
