<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cbioportal.persistence.mybatis.SignificantlyMutatedGeneMapper">

    <sql id="select">
        MUT_SIG.ENTREZ_GENE_ID AS "entrezGeneId",
        MUT_SIG.CANCER_STUDY_ID AS "cancerStudyId",
        CANCER_STUDY.CANCER_STUDY_IDENTIFIER AS "cancerStudyIdentifier",
        GENE.HUGO_GENE_SYMBOL AS "hugoGeneSymbol",
        MUT_SIG.`RANK` AS `rank`,
        MUT_SIG.NumBasesCovered AS "numBasesCovered",
        MUT_SIG.NumMutations AS "numMutations",
        MUT_SIG.P_VALUE AS "pValue",
        MUT_SIG.Q_VALUE AS "qValue"
    </sql>

    <sql id="from">
        FROM MUT_SIG
        INNER JOIN CANCER_STUDY ON MUT_SIG.CANCER_STUDY_ID = CANCER_STUDY.CANCER_STUDY_ID
    </sql>

    <sql id="where">
        <where>
            CANCER_STUDY.CANCER_STUDY_IDENTIFIER = #{studyId}
        </where>
    </sql>

    <select id="getSignificantlyMutatedGenes" resultType="org.cbioportal.model.MutSig">
        SELECT
        <include refid="select"/>
        <include refid="from"/>
        INNER JOIN GENE ON MUT_SIG.ENTREZ_GENE_ID = GENE.ENTREZ_GENE_ID
        <include refid="where"/>
        <if test="sortBy != null and projection != 'ID'">
            ORDER BY "${sortBy}" ${direction}
        </if>
        <if test="projection == 'ID'">
            ORDER BY MUT_SIG.ENTREZ_GENE_ID ASC
        </if>
        <if test="limit != null and limit != 0">
            LIMIT #{limit} OFFSET #{offset}
        </if>
    </select>

    <select id="getMetaSignificantlyMutatedGenes" resultType="org.cbioportal.model.meta.BaseMeta">
        SELECT
        COUNT(*) AS totalCount
        <include refid="from"/>
        <include refid="where"/>
    </select>
</mapper>
