<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cbioportal.persistence.mybatis.StructuralVariantMapper">
    
    <sql id="select">
        GENETIC_PROFILE.STABLE_ID AS "${prefix}molecularProfileId",
        SAMPLE.STABLE_ID AS "${prefix}sampleId",
        PATIENT.STABLE_ID AS "${prefix}patientId",
        CANCER_STUDY.CANCER_STUDY_IDENTIFIER AS "${prefix}studyId",
        STRUCTURAL_VARIANT.SITE1_ENTREZ_GENE_ID AS "${prefix}site1EntrezGeneId",
        gene1.HUGO_GENE_SYMBOL AS "${prefix}site1HugoSymbol",
        STRUCTURAL_VARIANT.SITE1_ENSEMBL_TRANSCRIPT_ID AS "${prefix}site1EnsemblTranscriptId",
        STRUCTURAL_VARIANT.SITE1_CONTIG AS "${prefix}site1Contig",
        STRUCTURAL_VARIANT.SITE1_REGION AS "${prefix}site1Region",
        STRUCTURAL_VARIANT.SITE1_REGION_NUMBER AS "${prefix}site1RegionNumber",
        STRUCTURAL_VARIANT.SITE1_CHROMOSOME AS "${prefix}site1Chromosome",
        STRUCTURAL_VARIANT.SITE1_POSITION AS "${prefix}site1Position",
        STRUCTURAL_VARIANT.SITE1_DESCRIPTION AS "${prefix}site1Description",
        STRUCTURAL_VARIANT.SITE2_ENTREZ_GENE_ID AS "${prefix}site2EntrezGeneId",
        gene2.HUGO_GENE_SYMBOL AS "${prefix}site2HugoSymbol",
        STRUCTURAL_VARIANT.SITE2_ENSEMBL_TRANSCRIPT_ID AS "${prefix}site2EnsemblTranscriptId",
        STRUCTURAL_VARIANT.SITE2_CONTIG AS "${prefix}site2Contig",
        STRUCTURAL_VARIANT.SITE2_REGION AS "${prefix}site2Region",
        STRUCTURAL_VARIANT.SITE2_REGION_NUMBER AS "${prefix}site2RegionNumber",
        STRUCTURAL_VARIANT.SITE2_CHROMOSOME AS "${prefix}site2Chromosome",
        STRUCTURAL_VARIANT.SITE2_POSITION AS "${prefix}site2Position",
        STRUCTURAL_VARIANT.SITE2_DESCRIPTION AS "${prefix}site2Description",
        STRUCTURAL_VARIANT.SITE2_EFFECT_ON_FRAME AS "${prefix}site2EffectOnFrame",
        STRUCTURAL_VARIANT.NCBI_BUILD AS "${prefix}ncbiBuild",
        STRUCTURAL_VARIANT.DNA_SUPPORT AS "${prefix}dnaSupport",
        STRUCTURAL_VARIANT.RNA_SUPPORT AS "${prefix}rnaSupport",
        STRUCTURAL_VARIANT.NORMAL_READ_COUNT AS "${prefix}normalReadCount",
        STRUCTURAL_VARIANT.TUMOR_READ_COUNT AS "${prefix}tumorReadCount",
        STRUCTURAL_VARIANT.NORMAL_VARIANT_COUNT AS "${prefix}normalVariantCount",
        STRUCTURAL_VARIANT.TUMOR_VARIANT_COUNT AS "${prefix}tumorVariantCount",
        STRUCTURAL_VARIANT.NORMAL_PAIRED_END_READ_COUNT AS "${prefix}normalPairedEndReadCount",
        STRUCTURAL_VARIANT.TUMOR_PAIRED_END_READ_COUNT AS "${prefix}tumorPairedEndReadCount",
        STRUCTURAL_VARIANT.NORMAL_SPLIT_READ_COUNT AS "${prefix}normalSplitReadCount",
        STRUCTURAL_VARIANT.TUMOR_SPLIT_READ_COUNT AS "${prefix}tumorSplitReadCount",
        STRUCTURAL_VARIANT.ANNOTATION AS "${prefix}annotation",
        STRUCTURAL_VARIANT.BREAKPOINT_TYPE AS "${prefix}breakpointType",
        STRUCTURAL_VARIANT.CONNECTION_TYPE AS "${prefix}connectionType",
        STRUCTURAL_VARIANT.EVENT_INFO AS "${prefix}eventInfo",
        STRUCTURAL_VARIANT.CLASS AS "${prefix}variantClass",
        STRUCTURAL_VARIANT.LENGTH AS "${prefix}length",
        STRUCTURAL_VARIANT.COMMENTS AS "${prefix}comments",
        STRUCTURAL_VARIANT.SV_STATUS AS "${prefix}svStatus",
        STRUCTURAL_VARIANT.ANNOTATION_JSON AS "${prefix}annotationJson",
        ALTERATION_DRIVER_ANNOTATION.DRIVER_FILTER AS "${prefix}driverFilter",
        ALTERATION_DRIVER_ANNOTATION.DRIVER_FILTER_ANNOTATION AS "${prefix}driverFilterAnn",
        ALTERATION_DRIVER_ANNOTATION.DRIVER_TIERS_FILTER AS "${prefix}driverTiersFilter",
        ALTERATION_DRIVER_ANNOTATION.DRIVER_TIERS_FILTER_ANNOTATION AS "${prefix}driverTiersFilterAnn"
    </sql>

    <sql id="whereInMultipleMolecularProfiles">
        AND            
        <choose>
            <when test="sampleIds == null || sampleIds.isEmpty()">
                GENETIC_PROFILE.STABLE_ID IN
                <foreach item="item" collection="molecularProfileIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </when>
            <otherwise>
                <if test="@java.util.Arrays@stream(molecularProfileIds.toArray()).distinct().count() == 1">
                    GENETIC_PROFILE.STABLE_ID = #{molecularProfileIds[0]} AND
                    SAMPLE.STABLE_ID IN
                    <foreach item="item" collection="sampleIds" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </if>
                <if test="@java.util.Arrays@stream(molecularProfileIds.toArray()).distinct().count() > 1">
                    (SAMPLE.STABLE_ID, GENETIC_PROFILE.STABLE_ID) IN
                    <foreach index="i" collection="sampleIds" open="(" separator="," close=")">
                        (#{sampleIds[${i}]}, #{molecularProfileIds[${i}]})
                    </foreach>
                </if>
            </otherwise>
        </choose>
    </sql>

    <sql id="whereWithGeneQueries">
        AND
        <foreach item="geneFilterQuery" collection="${queries}" open="(" separator=" OR " close=")">
        (
        <choose>
            <when test="${singleGeneMode}">
                (STRUCTURAL_VARIANT.SITE1_ENTREZ_GENE_ID = ${geneFilterQuery.getEntrezGeneId()}
                OR STRUCTURAL_VARIANT.SITE2_ENTREZ_GENE_ID = ${geneFilterQuery.getEntrezGeneId()})
            </when>
            <otherwise>
                <trim prefix="" prefixOverrides="AND">
                     <choose>
                        <when test="geneFilterQuery.getGene1Query().getSpecialValue() == @org.cbioportal.model.StructuralVariantSpecialValue@NO_GENE">
                            AND STRUCTURAL_VARIANT.SITE1_ENTREZ_GENE_ID IS NULL
                        </when>
                        <when test="geneFilterQuery.getGene1Query().getSpecialValue() == @org.cbioportal.model.StructuralVariantSpecialValue@ANY_GENE" />
                        <otherwise>
                            AND STRUCTURAL_VARIANT.SITE1_ENTREZ_GENE_ID = ${geneFilterQuery.getGene1Query().getEntrezId()}
                        </otherwise>
                    </choose>
                    <choose>
                        <when test="geneFilterQuery.getGene2Query().getSpecialValue() == @org.cbioportal.model.StructuralVariantSpecialValue@NO_GENE">
                            AND
                            STRUCTURAL_VARIANT.SITE2_ENTREZ_GENE_ID IS NULL
                        </when>
                        <when test="geneFilterQuery.getGene2Query().getSpecialValue() == @org.cbioportal.model.StructuralVariantSpecialValue@ANY_GENE" />
                        <otherwise>
                            AND
                            STRUCTURAL_VARIANT.SITE2_ENTREZ_GENE_ID = ${geneFilterQuery.getGene2Query().getEntrezId()}
                        </otherwise>
                    </choose>
                </trim>       
            </otherwise>
        </choose>
        <bind name="allStructVarStatusSelected" value="geneFilterQuery.getIncludeGermline() and geneFilterQuery.getIncludeSomatic() and geneFilterQuery.getIncludeUnknownStatus()" />
        <bind name="noStructVarStatusSelected" value="not geneFilterQuery.getIncludeGermline() and not geneFilterQuery.getIncludeSomatic() and not geneFilterQuery.getIncludeUnknownStatus()" />
        <choose>
            <when test="not allStructVarStatusSelected and not noStructVarStatusSelected">
                <trim prefix="AND (" prefixOverrides="OR">
                    <if test="geneFilterQuery.getIncludeGermline()">
                        OR LOWER(STRUCTURAL_VARIANT.SV_STATUS) = 'germline'
                    </if>
                    <if test="geneFilterQuery.getIncludeSomatic()">
                        OR LOWER(STRUCTURAL_VARIANT.SV_STATUS) = 'somatic'
                    </if>
                    <if test="geneFilterQuery.getIncludeUnknownStatus()">
                        OR LOWER(STRUCTURAL_VARIANT.SV_STATUS) NOT IN ('somatic', 'germline')
                    </if>
                </trim>
                )
            </when>
            <when test="noStructVarStatusSelected">
                AND NULL
            </when>
            <otherwise>
                <!--when allStructVarStatusSelected do not filter-->
            </otherwise>
        </choose>
        <bind name="allDriverAnnotationsSelected" value="geneFilterQuery.getIncludeDriver() and geneFilterQuery.getIncludeVUS() and geneFilterQuery.getIncludeUnknownOncogenicity()" />
        <bind name="noDriverAnnotationsSelected" value="not geneFilterQuery.getIncludeDriver() and not geneFilterQuery.getIncludeVUS() and not geneFilterQuery.getIncludeUnknownOncogenicity()" />
        <choose>
            <when test="not allDriverAnnotationsSelected and not noDriverAnnotationsSelected">
                <trim prefix="" prefixOverrides="AND ( )">
                    <trim prefix="AND (" suffix=")" prefixOverrides="OR">
                        <if test="geneFilterQuery.getIncludeDriver()">
                            OR LOWER(ALTERATION_DRIVER_ANNOTATION.DRIVER_FILTER) = 'putative_driver'
                        </if>
                        <if test="geneFilterQuery.getIncludeVUS()">
                            OR LOWER(ALTERATION_DRIVER_ANNOTATION.DRIVER_FILTER) = 'putative_passenger'
                        </if>
                        <if test="geneFilterQuery.getIncludeUnknownOncogenicity()">
                            OR ALTERATION_DRIVER_ANNOTATION.DRIVER_FILTER IS NULL
                            OR LOWER(ALTERATION_DRIVER_ANNOTATION.DRIVER_FILTER) IN ('unknown', 'na', '')
                        </if>
                    </trim>
                </trim>
            </when>
            <when test="noDriverAnnotationsSelected">
                AND NULL
            </when>
            <otherwise>
                <!--when allDriverAnnotationsSelected do not filter-->
            </otherwise>
        </choose>
        <bind name="allTierOptionsSelected" value="(geneFilterQuery.getSelectedTiers() != null and geneFilterQuery.getSelectedTiers().hasAll()) and geneFilterQuery.getIncludeUnknownTier()" />
        <bind name="noTierOptionsSelected" value="(geneFilterQuery.getSelectedTiers() == null or geneFilterQuery.getSelectedTiers().hasNone()) and not geneFilterQuery.getIncludeUnknownTier()" />
        <bind name="allExceptUnknownTierOptionsSelected" value="(geneFilterQuery.getSelectedTiers() != null and geneFilterQuery.getSelectedTiers().hasAll()) and not geneFilterQuery.getIncludeUnknownTier()" />
        <choose>
            <when test="allExceptUnknownTierOptionsSelected">
                AND NOT ALTERATION_DRIVER_ANNOTATION.DRIVER_TIERS_FILTER IS NULL
                AND NOT LOWER(ALTERATION_DRIVER_ANNOTATION.DRIVER_TIERS_FILTER) IN ('', 'na', 'unknown')
            </when>
            <when test="not allTierOptionsSelected and not noTierOptionsSelected">
                <trim prefix="AND (" suffix=")" prefixOverrides="OR">
                    <if test="geneFilterQuery.getSelectedTiers() != null and geneFilterQuery.getSelectedTiers().hasValues()">
                        OR ALTERATION_DRIVER_ANNOTATION.DRIVER_TIERS_FILTER IN
                        <foreach item="item" collection="geneFilterQuery.getSelectedTiers()" open="(" separator="," close=")">
                            #{item}
                        </foreach>
                    </if>
                    <if test="geneFilterQuery.getIncludeUnknownTier()">
                        OR ALTERATION_DRIVER_ANNOTATION.DRIVER_TIERS_FILTER IS NULL
                        OR LOWER(ALTERATION_DRIVER_ANNOTATION.DRIVER_TIERS_FILTER) IN ('', 'na', 'unknown')
                    </if>
                </trim>
            </when>
            <when test="noTierOptionsSelected">
                AND NULL
            </when>
            <otherwise>
                <!--when allTierOptionsSelected do not filter-->
            </otherwise>
        </choose>
        )
        </foreach>
    </sql>
    
    <sql id="whereWithEntrezGeneIds">
        <if test="entrezGeneIds != null and !entrezGeneIds.isEmpty()">
            OR (
                STRUCTURAL_VARIANT.SITE1_ENTREZ_GENE_ID in
                <foreach item="item" collection="entrezGeneIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
                OR 
                STRUCTURAL_VARIANT.SITE2_ENTREZ_GENE_ID IN
                <foreach item="item" collection="entrezGeneIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
            )
        </if>
    </sql>

    <sql id="whereStructuralVariantQueries">
        <if test="structuralVariantQueries != null and !structuralVariantQueries.isEmpty()">
            OR (
                <foreach item="item" collection="structuralVariantQueries" open="(" separator=") OR (" close=")">
                    <if test="item.gene1.entrezId != null">
                        STRUCTURAL_VARIANT.SITE1_ENTREZ_GENE_ID=#{item.gene1.entrezId}
                    </if>
                    <if test='item.gene1.specialValue != null and item.gene1.specialValue.name() == "NO_GENE"'>
                        STRUCTURAL_VARIANT.SITE1_ENTREZ_GENE_ID IS NULL
                    </if>                
                    <if test='item.gene1.specialValue != null and item.gene1.specialValue.name() == "ANY_GENE"'>
                        TRUE
                    </if>
                    
                    AND
                    
                    <if test="item.gene2.entrezId != null">
                        STRUCTURAL_VARIANT.SITE2_ENTREZ_GENE_ID=#{item.gene2.entrezId}
                    </if>
                    <if test='item.gene2.specialValue != null and item.gene2.specialValue.name() == "NO_GENE"'>
                        STRUCTURAL_VARIANT.SITE2_ENTREZ_GENE_ID IS NULL
                    </if>
                    <if test='item.gene2.specialValue != null and item.gene2.specialValue.name() == "ANY_GENE"'>
                        TRUE
                    </if>
                </foreach>
            )
        </if>
    </sql>

    <select id="fetchStructuralVariants" resultType="org.cbioportal.model.StructuralVariant">
        SELECT
        <include refid="select">
            <property name="prefix" value=""/>
        </include>
        FROM STRUCTURAL_VARIANT
        JOIN GENETIC_PROFILE ON STRUCTURAL_VARIANT.GENETIC_PROFILE_ID = GENETIC_PROFILE.GENETIC_PROFILE_ID
        LEFT JOIN GENE gene1 ON STRUCTURAL_VARIANT.SITE1_ENTREZ_GENE_ID = gene1.ENTREZ_GENE_ID
        LEFT JOIN GENE gene2 ON STRUCTURAL_VARIANT.SITE2_ENTREZ_GENE_ID = gene2.ENTREZ_GENE_ID
        JOIN SAMPLE ON STRUCTURAL_VARIANT.SAMPLE_ID = SAMPLE.INTERNAL_ID
        JOIN PATIENT ONSAMPLE.PATIENT_ID = PATIENT.INTERNAL_ID
        JOIN CANCER_STUDY ON PATIENT.CANCER_STUDY_ID = CANCER_STUDY.CANCER_STUDY_ID AND GENETIC_PROFILE.CANCER_STUDY_ID = CANCER_STUDY.CANCER_STUDY_ID
        LEFT JOIN ALTERATION_DRIVER_ANNOTATION ON
        STRUCTURAL_VARIANT.GENETIC_PROFILE_ID = ALTERATION_DRIVER_ANNOTATION.GENETIC_PROFILE_ID
        and STRUCTURAL_VARIANT.SAMPLE_ID = ALTERATION_DRIVER_ANNOTATION.SAMPLE_ID
        and STRUCTURAL_VARIANT.INTERNAL_ID = ALTERATION_DRIVER_ANNOTATION.ALTERATION_EVENT_ID
        <where>
            <include refid="whereInMultipleMolecularProfiles"/>
            <trim prefix="AND (" suffix=")" prefixOverrides="OR">
                <include refid="whereWithEntrezGeneIds"/>
                <include refid="whereStructuralVariantQueries"/>
            </trim>
        </where>
        ORDER BY gene1.HUGO_GENE_SYMBOL, gene2.HUGO_GENE_SYMBOL
    </select>

    <select id="fetchStructuralVariantsByGeneQueries" resultType="org.cbioportal.model.StructuralVariant">
        SELECT
        <include refid="select">
            <property name="prefix" value=""/>
        </include>
        FROM STRUCTURAL_VARIANT
        JOIN GENETIC_PROFILE ON STRUCTURAL_VARIANT.GENETIC_PROFILE_ID = GENETIC_PROFILE.GENETIC_PROFILE_ID
        LEFT JOIN GENE gene1 ON STRUCTURAL_VARIANT.SITE1_ENTREZ_GENE_ID = gene1.ENTREZ_GENE_ID
        LEFT JOIN GENE gene2 ON STRUCTURAL_VARIANT.SITE2_ENTREZ_GENE_ID = gene2.ENTREZ_GENE_ID
        JOIN SAMPLE ON STRUCTURAL_VARIANT.SAMPLE_ID = SAMPLE.INTERNAL_ID
        JOIN PATIENT ONSAMPLE.PATIENT_ID = PATIENT.INTERNAL_ID
        JOIN CANCER_STUDY ON PATIENT.CANCER_STUDY_ID = CANCER_STUDY.CANCER_STUDY_ID AND GENETIC_PROFILE.CANCER_STUDY_ID = CANCER_STUDY.CANCER_STUDY_ID
        LEFT JOIN ALTERATION_DRIVER_ANNOTATION ON
        STRUCTURAL_VARIANT.GENETIC_PROFILE_ID = ALTERATION_DRIVER_ANNOTATION.GENETIC_PROFILE_ID
        and STRUCTURAL_VARIANT.SAMPLE_ID = ALTERATION_DRIVER_ANNOTATION.SAMPLE_ID
        and STRUCTURAL_VARIANT.INTERNAL_ID = ALTERATION_DRIVER_ANNOTATION.ALTERATION_EVENT_ID
        <where>
            <include refid="whereInMultipleMolecularProfiles" />
            <include refid="whereWithGeneQueries">
                <property name="singleGeneMode" value="true" />
                <property name="queries" value="geneQueries" />
            </include>
        </where>
        ORDER BY gene1.HUGO_GENE_SYMBOL, gene2.HUGO_GENE_SYMBOL
    </select>
    
    <select id="fetchStructuralVariantsByStructVarQueries" resultType="org.cbioportal.model.StructuralVariant">
        SELECT
        <include refid="select">
            <property name="prefix" value=""/>
        </include>
        FROM STRUCTURAL_VARIANT
        JOIN GENETIC_PROFILE ON STRUCTURAL_VARIANT.GENETIC_PROFILE_ID = GENETIC_PROFILE.GENETIC_PROFILE_ID
        LEFT JOIN GENE gene1 ON STRUCTURAL_VARIANT.SITE1_ENTREZ_GENE_ID = gene1.ENTREZ_GENE_ID
        LEFT JOIN GENE gene2 ON STRUCTURAL_VARIANT.SITE2_ENTREZ_GENE_ID = gene2.ENTREZ_GENE_ID
        JOIN SAMPLE ON STRUCTURAL_VARIANT.SAMPLE_ID = SAMPLE.INTERNAL_ID
        JOIN PATIENT ONSAMPLE.PATIENT_ID = PATIENT.INTERNAL_ID
        JOIN CANCER_STUDY ON PATIENT.CANCER_STUDY_ID = CANCER_STUDY.CANCER_STUDY_ID AND GENETIC_PROFILE.CANCER_STUDY_ID = CANCER_STUDY.CANCER_STUDY_ID
        LEFT JOIN ALTERATION_DRIVER_ANNOTATION ON
        STRUCTURAL_VARIANT.GENETIC_PROFILE_ID = ALTERATION_DRIVER_ANNOTATION.GENETIC_PROFILE_ID
        AND STRUCTURAL_VARIANT.SAMPLE_ID = ALTERATION_DRIVER_ANNOTATION.SAMPLE_ID
        AND STRUCTURAL_VARIANT.INTERNAL_ID = ALTERATION_DRIVER_ANNOTATION.ALTERATION_EVENT_ID
        <where>
            <include refid="whereInMultipleMolecularProfiles" />
            <include refid="whereWithGeneQueries">
                <property name="singleGeneMode" value="false" />
                <property name="queries" value="structVarQueries" />
            </include>
        </where>
        ORDER BY gene1.HUGO_GENE_SYMBOL, gene2.HUGO_GENE_SYMBOL
    </select>

</mapper>
