<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cbioportal.persistence.mybatis.StudyMapper">

    <sql id="select">
        CANCER_STUDY.CANCER_STUDY_ID AS "${prefix}cancerStudyId",
        CANCER_STUDY.CANCER_STUDY_IDENTIFIER AS "${prefix}cancerStudyIdentifier"
        <if test="projection == 'SUMMARY' || projection == 'DETAILED'">
            ,
            CANCER_STUDY.TYPE_OF_CANCER_ID AS "${prefix}typeOfCancerId",
            CANCER_STUDY.NAME AS "${prefix}name",
            CANCER_STUDY.DESCRIPTION AS "${prefix}description",
            CANCER_STUDY.PUBLIC AS "${prefix}publicStudy",
            CANCER_STUDY.PMID AS "${prefix}pmid",
            CANCER_STUDY.CITATION AS "${prefix}citation",
            CANCER_STUDY.GROUPS AS "${prefix}groups",
            CANCER_STUDY.STATUS AS "${prefix}status",
            CANCER_STUDY.IMPORT_DATE AS "${prefix}importDate",
            REFERENCE_GENOME.NAME AS "${prefix}referenceGenome"
        </if>
    </sql>


    <sql id="selectDetailed">
        ,
        COUNT(CASE WHEN SAMPLE_LIST.STABLE_ID = CONCAT(CANCER_STUDY.CANCER_STUDY_IDENTIFIER,'_sequenced') THEN 1 ELSE NULL END) AS sequencedSampleCount,
        COUNT(CASE WHEN SAMPLE_LIST.STABLE_ID = CONCAT(CANCER_STUDY.CANCER_STUDY_IDENTIFIER,'_cna') THEN 1 ELSE NULL END) AS cnaSampleCount,
        COUNT(CASE WHEN SAMPLE_LIST.STABLE_ID = CONCAT(CANCER_STUDY.CANCER_STUDY_IDENTIFIER,'_rna_seq_mrna') THEN 1 ELSE NULL END) AS mrnaRnaSeqSampleCount,
        COUNT(CASE WHEN SAMPLE_LIST.STABLE_ID = CONCAT(CANCER_STUDY.CANCER_STUDY_IDENTIFIER,'_rna_seq_v2_mrna') THEN 1 ELSE NULL END) AS mrnaRnaSeqV2SampleCount,
        COUNT(CASE WHEN SAMPLE_LIST.STABLE_ID = CONCAT(CANCER_STUDY.CANCER_STUDY_IDENTIFIER,'_microrna') THEN 1 ELSE NULL END) AS miRnaSampleCount,
        COUNT(CASE WHEN SAMPLE_LIST.STABLE_ID = CONCAT(CANCER_STUDY.CANCER_STUDY_IDENTIFIER,'_mrna') THEN 1 ELSE NULL END) AS mrnaMicroarraySampleCount,
        COUNT(CASE WHEN SAMPLE_LIST.STABLE_ID = CONCAT(CANCER_STUDY.CANCER_STUDY_IDENTIFIER,'_methylation_hm27') THEN 1 ELSE NULL END) AS methylationHm27SampleCount,
        COUNT(CASE WHEN SAMPLE_LIST.STABLE_ID = CONCAT(CANCER_STUDY.CANCER_STUDY_IDENTIFIER,'_rppa') THEN 1 ELSE NULL END) AS rppaSampleCount,
        COUNT(CASE WHEN SAMPLE_LIST.STABLE_ID = CONCAT(CANCER_STUDY.CANCER_STUDY_IDENTIFIER,'_protein_quantification') THEN 1 ELSE NULL END) AS massSpectrometrySampleCount,
        COUNT(CASE WHEN SAMPLE_LIST.STABLE_ID = CONCAT(CANCER_STUDY.CANCER_STUDY_IDENTIFIER,'_3way_complete') THEN 1 ELSE NULL END) AS completeSampleCount,
        IFNULL(TREATMENT.count, 0 ) as treatmentCount,
        COALESCE(STRUCTURAL_VARIANT.count, 0) as structuralVariantCount,
        TYPE_OF_CANCER.TYPE_OF_CANCER_ID AS "typeOfCancer.typeOfCancerId"
        <if test="projection == 'SUMMARY' || projection == 'DETAILED'">
            ,
            TYPE_OF_CANCER.NAME AS "typeOfCancer.name",
            TYPE_OF_CANCER.DEDICATED_COLOR AS "typeOfCancer.dedicatedColor",
            TYPE_OF_CANCER.SHORT_NAME AS "typeOfCancer.shortName",
            TYPE_OF_CANCER.PARENT AS "typeOfCancer.parent"
        </if>
    </sql>

    <sql id="from">
        FROM CANCER_STUDY
        INNER JOIN SAMPLE_LIST ON CANCER_STUDY.CANCER_STUDY_ID = SAMPLE_LIST.CANCER_STUDY_ID
        INNER JOIN SAMPLE_LIST_LIST ON SAMPLE_LIST.LIST_ID = SAMPLE_LIST_LIST.LIST_ID
        INNER JOIN REFERENCE_GENOME ON CANCER_STUDY.REFERENCE_GENOME_ID = REFERENCE_GENOME.REFERENCE_GENOME_ID
        <if test="projection == 'DETAILED' or keyword != null">
            INNER JOIN TYPE_OF_CANCER ON CANCER_STUDY.TYPE_OF_CANCER_ID = TYPE_OF_CANCER.TYPE_OF_CANCER_ID
            left JOIN 
            (
                SELECT Count(Distinct(CLINICAL_EVENT.PATIENT_ID)) as count,
                PATIENT.CANCER_STUDY_ID as CANCER_STUDY_ID
                FROM CANCER_STUDY
                INNER JOIN PATIENT ONCANCER_STUDY.CANCER_STUDY_ID = PATIENT.CANCER_STUDY_ID
                Left Join CLINICAL_EVENT on CLINICAL_EVENT.PATIENT_ID = PATIENT.INTERNAL_ID
                WHERE CLINICAL_EVENT.EVENT_TYPE = 'Treatment'
                GROUP BY PATIENT.CANCER_STUDY_ID
            ) as treatment on CANCER_STUDY.CANCER_STUDY_ID = TREATMENT.CANCER_STUDY_ID
            LEFT JOIN
            (
                SELECT COUNT(DISTINCT(STRUCTURAL_VARIANT.SAMPLE_ID)) as count,
                PATIENT.CANCER_STUDY_ID as CANCER_STUDY_ID
                FROM CANCER_STUDY
                INNER JOIN PATIENT ONCANCER_STUDY.CANCER_STUDY_ID = PATIENT.CANCER_STUDY_ID
                LEFT JOIN SAMPLE ON PATIENT.INTERNAL_ID = SAMPLE.PATIENT_ID
                INNER JOIN STRUCTURAL_VARIANT on STRUCTURAL_VARIANT.SAMPLE_ID = SAMPLE.INTERNAL_ID
                GROUP BY PATIENT.CANCER_STUDY_ID
            ) as STRUCTURAL_VARIANT on STRUCTURAL_VARIANT.CANCER_STUDY_ID = CANCER_STUDY.CANCER_STUDY_ID
        </if>
    </sql>

    <sql id="where">
        <where>
            <if test="studyIds != null and !studyIds.isEmpty()">
                CANCER_STUDY.CANCER_STUDY_IDENTIFIER IN
                <foreach item="item" collection="studyIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="keyword != null">
                <foreach item="item" collection="keyword.split(' ')" open="(" separator=") AND (" close=")">
                    CANCER_STUDY.NAME like CONCAT('%', #{item}, '%') OR
                    CANCER_STUDY.CANCER_STUDY_IDENTIFIER like CONCAT('%', #{item}, '%') OR
                    TYPE_OF_CANCER.NAME like CONCAT('%', #{item}, '%') OR
                    TYPE_OF_CANCER.TYPE_OF_CANCER_ID like CONCAT('%', #{item}, '%')
                </foreach>
            </if>
        </where>
    </sql>

    <select id="getStudies" resultType="org.cbioportal.model.CancerStudy">
        SELECT
        <include refid="select">
            <property name="prefix" value=""/>
        </include>
        <if test="projection == 'SUMMARY' || projection == 'DETAILED'">
            ,
            COUNT(CASE WHEN SAMPLE_LIST.STABLE_ID = CONCAT(CANCER_STUDY.CANCER_STUDY_IDENTIFIER,'_all') THEN 1 ELSE NULL END) AS allSampleCount
        </if>
        <if test="projection == 'DETAILED'">
            <include refid="selectDetailed"/>
        </if>
        <include refid="from"/>
        <include refid="where"/>
        GROUP BY CANCER_STUDY.CANCER_STUDY_ID
        <if test="sortBy != null and projection != 'ID' and keyword == null">
            ORDER BY "${sortBy}" ${direction}
        </if>
        <if test="projection == 'ID' and keyword == null">
            ORDER BY CANCER_STUDY.CANCER_STUDY_IDENTIFIER ASC
        </if>
        <if test="keyword != null">
            ORDER BY CASE WHEN CANCER_STUDY.NAME LIKE CONCAT(#{keyword}, '%') THEN 0 ELSE 1 END,
            CASE WHEN CANCER_STUDY.NAME LIKE '%tcga%' THEN 0 ELSE 1 END, CANCER_STUDY.NAME
        </if>
        <if test="limit != null and limit != 0">
            LIMIT #{limit} OFFSET #{offset}
        </if>
    </select>

    <select id="getMetaStudies" resultType="org.cbioportal.model.meta.BaseMeta">
        SELECT
        COUNT(*) AS totalCount
        FROM CANCER_STUDY
        <if test="keyword != null">
            INNER JOIN TYPE_OF_CANCER ON CANCER_STUDY.TYPE_OF_CANCER_ID = TYPE_OF_CANCER.TYPE_OF_CANCER_ID
        </if>
        <include refid="where"/>
    </select>

    <select id="getStudy" resultType="org.cbioportal.model.CancerStudy">
        SELECT
        <include refid="select">
            <property name="prefix" value=""/>
        </include>
        <if test="projection == 'SUMMARY' || projection == 'DETAILED'">
            ,
            COUNT(CASE WHEN SAMPLE_LIST.STABLE_ID = CONCAT(CANCER_STUDY.CANCER_STUDY_IDENTIFIER,'_all') THEN 1 ELSE NULL END) AS allSampleCount
        </if>
        <if test="projection == 'DETAILED'">
            <include refid="selectDetailed"/>
        </if>
        <include refid="from"/>
        WHERE CANCER_STUDY.CANCER_STUDY_IDENTIFIER = #{studyId}
        GROUP BY CANCER_STUDY.CANCER_STUDY_ID
    </select>
    
    <select id="getTags" resultType="org.cbioportal.model.CancerStudyTags">
        SELECT
        CANCER_STUDY_TAGS.CANCER_STUDY_ID AS cancerStudyId,
        CANCER_STUDY_TAGS.TAGS AS tags
        FROM CANCER_STUDY_TAGS
        JOIN CANCER_STUDY ON CANCER_STUDY_TAGS.CANCER_STUDY_ID = CANCER_STUDY.CANCER_STUDY_ID
        WHERE CANCER_STUDY.CANCER_STUDY_IDENTIFIER = #{studyId}
    </select>

    <select id="getTagsForMultipleStudies" resultType="org.cbioportal.model.CancerStudyTags">
        SELECT
        CANCER_STUDY_TAGS.CANCER_STUDY_ID AS cancerStudyId,
        CANCER_STUDY_TAGS.TAGS AS tags,
        CANCER_STUDY.CANCER_STUDY_IDENTIFIER as studyId
        FROM CANCER_STUDY_TAGS
        JOIN CANCER_STUDY ON CANCER_STUDY_TAGS.CANCER_STUDY_ID = CANCER_STUDY.CANCER_STUDY_ID
        <where>
            <if test="studyIds != null and studyIds.size > 0">
                CANCER_STUDY.CANCER_STUDY_IDENTIFIER IN
                <foreach item="item" collection="studyIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

</mapper>
