<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cbioportal.persistence.mybatis.StudyMapper">

    <sql id="select">
        cancer_study.cancer_study_id AS "${prefix}cancerStudyId",
        cancer_study.cancer_study_identifier AS "${prefix}cancerStudyIdentifier"
        <if test="projection == 'SUMMARY' || projection == 'DETAILED'">
            ,
            cancer_study.type_of_cancer_id AS "${prefix}typeOfCancerId",
            cancer_study.name AS "${prefix}name",
            cancer_study.description AS "${prefix}description",
            cancer_study.public AS "${prefix}publicStudy",
            cancer_study.pmid AS "${prefix}pmid",
            cancer_study.citation AS "${prefix}citation",
            cancer_study.groups AS "${prefix}groups",
            cancer_study.status AS "${prefix}status",
            cancer_study.import_date AS "${prefix}importDate",
            reference_genome.name AS "${prefix}referenceGenome"
        </if>
    </sql>


    <sql id="selectDetailed">
        ,
        COUNT(CASE WHEN sample_list.stable_id = concat(cancer_study.cancer_study_identifier,'_sequenced') THEN 1 ELSE NULL END) AS sequencedSampleCount,
        COUNT(CASE WHEN sample_list.stable_id = concat(cancer_study.cancer_study_identifier,'_cna') THEN 1 ELSE NULL END) AS cnaSampleCount,
        COUNT(CASE WHEN sample_list.stable_id = concat(cancer_study.cancer_study_identifier,'_rna_seq_mrna') THEN 1 ELSE NULL END) AS mrnaRnaSeqSampleCount,
        COUNT(CASE WHEN sample_list.stable_id = concat(cancer_study.cancer_study_identifier,'_rna_seq_v2_mrna') THEN 1 ELSE NULL END) AS mrnaRnaSeqV2SampleCount,
        COUNT(CASE WHEN sample_list.stable_id = concat(cancer_study.cancer_study_identifier,'_microrna') THEN 1 ELSE NULL END) AS miRnaSampleCount,
        COUNT(CASE WHEN sample_list.stable_id = concat(cancer_study.cancer_study_identifier,'_mrna') THEN 1 ELSE NULL END) AS mrnaMicroarraySampleCount,
        COUNT(CASE WHEN sample_list.stable_id = concat(cancer_study.cancer_study_identifier,'_methylation_hm27') THEN 1 ELSE NULL END) AS methylationHm27SampleCount,
        COUNT(CASE WHEN sample_list.stable_id = concat(cancer_study.cancer_study_identifier,'_rppa') THEN 1 ELSE NULL END) AS rppaSampleCount,
        COUNT(CASE WHEN sample_list.stable_id = concat(cancer_study.cancer_study_identifier,'_protein_quantification') THEN 1 ELSE NULL END) AS massSpectrometrySampleCount,
        COUNT(CASE WHEN sample_list.stable_id = concat(cancer_study.cancer_study_identifier,'_3way_complete') THEN 1 ELSE NULL END) AS completeSampleCount,
        IFNULL(treatment.count, 0 ) as treatmentCount,
        COALESCE(structural_variant.count, 0) as structuralVariantCount,
        type_of_cancer.type_of_cancer_id AS "typeOfCancer.typeOfCancerId"
        <if test="projection == 'SUMMARY' || projection == 'DETAILED'">
            ,
            type_of_cancer.name AS "typeOfCancer.name",
            type_of_cancer.dedicated_color AS "typeOfCancer.dedicatedColor",
            type_of_cancer.short_name AS "typeOfCancer.shortName",
            type_of_cancer.parent AS "typeOfCancer.parent"
        </if>
    </sql>

    <sql id="from">
        FROM cancer_study
        INNER JOIN sample_list ON cancer_study.cancer_study_id = sample_list.cancer_study_id
        INNER JOIN sample_list_list ON sample_list.list_id = sample_list_list.list_id
        INNER JOIN reference_genome ON cancer_study.reference_genome_id = reference_genome.reference_genome_id
        <if test="projection == 'DETAILED' or keyword != null">
            INNER JOIN type_of_cancer ON cancer_study.type_of_cancer_id = type_of_cancer.type_of_cancer_id
            left JOIN
            (
                SELECT Count(Distinct(clinical_event.patient_id)) as count,
                patient.cancer_study_id as cancer_study_id
                FROM cancer_study
                INNER JOIN patient on cancer_study.cancer_study_id = patient.cancer_study_id
                Left Join clinical_event on clinical_event.patient_id = patient.internal_id
                WHERE clinical_event.event_type = 'Treatment'
                GROUP BY patient.cancer_study_id
            ) as treatment on cancer_study.cancer_study_id = treatment.cancer_study_id
            LEFT JOIN
            (
                SELECT COUNT(DISTINCT(structural_variant.sample_id)) as count,
                patient.cancer_study_id as cancer_study_id
                FROM cancer_study
                INNER JOIN patient on cancer_study.cancer_study_id = patient.cancer_study_id
                LEFT JOIN sample on patient.internal_id = sample.patient_id
                INNER JOIN structural_variant on structural_variant.sample_id = sample.internal_id
                GROUP BY patient.cancer_study_id
            ) as structural_variant on structural_variant.cancer_study_id = cancer_study.cancer_study_id
        </if>
    </sql>

    <sql id="where">
        <where>
            <if test="studyIds != null and !studyIds.isEmpty()">
                cancer_study.cancer_study_identifier IN
                <foreach item="item" collection="studyIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="keyword != null">
                <foreach item="item" collection="keyword.split(' ')" open="(" separator=") AND (" close=")">
                    cancer_study.name like concat('%', #{item}, '%') OR
                    cancer_study.cancer_study_identifier like concat('%', #{item}, '%') OR
                    type_of_cancer.name like concat('%', #{item}, '%') OR
                    type_of_cancer.type_of_cancer_id like concat('%', #{item}, '%')
                </foreach>
            </if>
        </where>
    </sql>

    <select id="getStudies" resultType="org.cbioportal.model.CancerStudy">
        SELECT
        <include refid="select">
            <property name="prefix" value=""/>
        </include>
        <if test="projection == 'SUMMARY' || projection == 'DETAILED'">
            ,
            COUNT(CASE WHEN sample_list.stable_id = concat(cancer_study.cancer_study_identifier,'_all') THEN 1 ELSE NULL END) AS allSampleCount
        </if>
        <if test="projection == 'DETAILED'">
            <include refid="selectDetailed"/>
        </if>
        <include refid="from"/>
        <include refid="where"/>
        GROUP BY cancer_study.cancer_study_id, cancer_study.cancer_study_identifier, cancer_study.type_of_cancer_id, cancer_study.name, cancer_study.description, cancer_study.public, cancer_study.pmid, cancer_study.citation, cancer_study.groups, cancer_study.status, cancer_study.import_date, reference_genome.name
        <if test="sortBy != null and projection != 'ID' and keyword == null">
            ORDER BY "${sortBy}" ${direction}
        </if>
        <if test="projection == 'ID' and keyword == null">
            ORDER BY cancer_study.cancer_study_identifier ASC
        </if>
        <if test="keyword != null">
            ORDER BY CASE WHEN cancer_study.name LIKE concat(#{keyword}, '%') THEN 0 ELSE 1 END,
            CASE WHEN cancer_study.name LIKE '%tcga%' THEN 0 ELSE 1 END, cancer_study.name
        </if>
        <if test="limit != null and limit != 0">
            LIMIT #{limit} OFFSET #{offset}
        </if>
    </select>

    <select id="getMetaStudies" resultType="org.cbioportal.model.meta.BaseMeta">
        SELECT
        COUNT(*) AS totalCount
        FROM cancer_study
        <if test="keyword != null">
            INNER JOIN type_of_cancer ON cancer_study.type_of_cancer_id = type_of_cancer.type_of_cancer_id
        </if>
        <include refid="where"/>
    </select>

    <select id="getStudy" resultType="org.cbioportal.model.CancerStudy">
        SELECT
        <include refid="select">
            <property name="prefix" value=""/>
        </include>
        <if test="projection == 'SUMMARY' || projection == 'DETAILED'">
            ,
            COUNT(CASE WHEN sample_list.stable_id = concat(cancer_study.cancer_study_identifier,'_all') THEN 1 ELSE NULL END) AS allSampleCount
        </if>
        <if test="projection == 'DETAILED'">
            <include refid="selectDetailed"/>
        </if>
        <include refid="from"/>
        WHERE cancer_study.cancer_study_identifier = #{studyId}
        GROUP BY cancer_study.cancer_study_id, cancer_study.cancer_study_identifier, cancer_study.type_of_cancer_id, cancer_study.name, cancer_study.description, cancer_study.public, cancer_study.pmid, cancer_study.citation, cancer_study.groups, cancer_study.status, cancer_study.import_date, reference_genome.name
    </select>
    
    <select id="getTags" resultType="org.cbioportal.model.CancerStudyTags">
        SELECT
        cancer_study_tags.cancer_study_id AS cancerStudyId,
        cancer_study_tags.tags AS tags
        FROM cancer_study_tags
        JOIN cancer_study ON cancer_study_tags.cancer_study_id = cancer_study.cancer_study_id
        WHERE cancer_study.cancer_study_identifier = #{studyId}
    </select>

    <select id="getTagsForMultipleStudies" resultType="org.cbioportal.model.CancerStudyTags">
        SELECT
        cancer_study_tags.cancer_study_id AS cancerStudyId,
        cancer_study_tags.tags AS tags,
        cancer_study.cancer_study_identifier as studyId
        FROM cancer_study_tags
        JOIN cancer_study ON cancer_study_tags.cancer_study_id = cancer_study.cancer_study_id
        <where>
            <if test="studyIds != null and studyIds.size > 0">
                cancer_study.cancer_study_identifier IN
                <foreach item="item" collection="studyIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

</mapper>
