<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cbioportal.persistence.mybatis.TreatmentMapper">

    <select id="getAllTreatments" resultType="org.cbioportal.model.Treatment">
        SELECT
            CLINICAL_EVENT_DATA.VALUE as treatment,
            PATIENT.STABLE_ID as patientId,
            CANCER_STUDY.CANCER_STUDY_IDENTIFIER as studyId,
            CLINICAL_EVENT.START_DATE as start,
            CLINICAL_EVENT.STOP_DATE as stop
        FROM
            CLINICAL_EVENT
            INNER JOIN CLINICAL_EVENT_DATA ON CLINICAL_EVENT.CLINICAL_EVENT_ID = CLINICAL_EVENT_DATA.CLINICAL_EVENT_ID
            INNER JOIN PATIENT ONCLINICAL_EVENT.PATIENT_ID = PATIENT.INTERNAL_ID
            INNER JOIN SAMPLE ON PATIENT.INTERNAL_ID = SAMPLE.PATIENT_ID
            INNER JOIN CANCER_STUDY ON PATIENT.CANCER_STUDY_ID = CANCER_STUDY.CANCER_STUDY_ID
        <include refid="where"/>
        AND CLINICAL_EVENT.EVENT_TYPE = 'TREATMENT'
        AND CLINICAL_EVENT_DATA.KEY = #{key}
    </select>

    <select id="getAllSamples" resultType="org.cbioportal.model.ClinicalEventSample">
        SELECT
            SAMPLE.STABLE_ID as sampleId,
            PATIENT.STABLE_ID as patientId,
            CANCER_STUDY.CANCER_STUDY_IDENTIFIER as studyId,
            CLINICAL_EVENT.START_DATE as timeTaken
        FROM
            CLINICAL_EVENT
            INNER JOIN CLINICAL_EVENT_DATA ON CLINICAL_EVENT.CLINICAL_EVENT_ID = CLINICAL_EVENT_DATA.CLINICAL_EVENT_ID
            INNER JOIN PATIENT ONCLINICAL_EVENT.PATIENT_ID = PATIENT.INTERNAL_ID
            INNER JOIN SAMPLE ON CLINICAL_EVENT_DATA.VALUE = SAMPLE.STABLE_ID
            INNER JOIN CANCER_STUDY ON PATIENT.CANCER_STUDY_ID = CANCER_STUDY.CANCER_STUDY_ID
        <include refid="where"/>
            AND CLINICAL_EVENT_DATA.KEY = 'SAMPLE_ID'
            AND (CLINICAL_EVENT.EVENT_TYPE LIKE 'Sample Acquisition' OR CLINICAL_EVENT.EVENT_TYPE LIKE 'SPECIMEN')
    </select>

    <select id="getAllShallowSamples" resultType="org.cbioportal.model.ClinicalEventSample">
        SELECT
            SAMPLE.STABLE_ID as sampleId,
            PATIENT.STABLE_ID as patientId,
            CANCER_STUDY.CANCER_STUDY_IDENTIFIER as studyId
        FROM
            SAMPLE
            INNER JOIN PATIENT ONSAMPLE.PATIENT_ID = PATIENT.INTERNAL_ID
            INNER JOIN CANCER_STUDY ON PATIENT.CANCER_STUDY_ID = CANCER_STUDY.CANCER_STUDY_ID
        <include refid="where"/>
    </select>

    <select id="hasTreatmentData" resultType="java.lang.Boolean">
        SELECT EXISTS(SELECT
            *
        FROM
            CLINICAL_EVENT
            INNER JOIN CLINICAL_EVENT_DATA ON CLINICAL_EVENT.CLINICAL_EVENT_ID = CLINICAL_EVENT_DATA.CLINICAL_EVENT_ID
            INNER JOIN PATIENT ONCLINICAL_EVENT.PATIENT_ID = PATIENT.INTERNAL_ID
            INNER JOIN SAMPLE ON PATIENT.INTERNAL_ID = SAMPLE.PATIENT_ID
            INNER JOIN CANCER_STUDY ON PATIENT.CANCER_STUDY_ID = CANCER_STUDY.CANCER_STUDY_ID
        <include refid="where"/>
            AND CLINICAL_EVENT.EVENT_TYPE = 'TREATMENT'
            AND CLINICAL_EVENT_DATA.KEY = #{key} LIMIT 1
        )
    </select>

    <select id="hasSampleTimelineData" resultType="java.lang.Boolean">
        SELECT EXISTS(SELECT
            *
        FROM
            CLINICAL_EVENT
            INNER JOIN CLINICAL_EVENT_DATA ON CLINICAL_EVENT.CLINICAL_EVENT_ID = CLINICAL_EVENT_DATA.CLINICAL_EVENT_ID
            INNER JOIN PATIENT ONCLINICAL_EVENT.PATIENT_ID = PATIENT.INTERNAL_ID
            INNER JOIN SAMPLE ON CLINICAL_EVENT_DATA.VALUE = SAMPLE.STABLE_ID
            INNER JOIN CANCER_STUDY ON PATIENT.CANCER_STUDY_ID = CANCER_STUDY.CANCER_STUDY_ID
        <include refid="where"/>
            AND CLINICAL_EVENT_DATA.KEY = 'SAMPLE_ID'
            AND (CLINICAL_EVENT.EVENT_TYPE LIKE 'Sample Acquisition' OR CLINICAL_EVENT.EVENT_TYPE LIKE 'SPECIMEN') LIMIT 1)
    </select>

    <sql id="where">
        <where>
            <if test="sampleIds == null and studyIds != null">
                CANCER_STUDY.CANCER_STUDY_IDENTIFIER IN
                <if test="studyIds.isEmpty()">
                    (NULL)
                </if>
                <if test="!studyIds.isEmpty()">
                    <foreach item="item" collection="studyIds" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </if>
            </if>
            <if test="sampleIds != null">
                <if test="@java.util.Arrays@stream(studyIds.toArray()).distinct().count() == 1">
                    CANCER_STUDY.CANCER_STUDY_IDENTIFIER = #{studyIds[0]} AND
                    SAMPLE.STABLE_ID IN
                    <foreach item="item" collection="sampleIds" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </if>
                <if test="@java.util.Arrays@stream(studyIds.toArray()).distinct().count() > 1">
                    CANCER_STUDY.CANCER_STUDY_IDENTIFIER IN
                        <foreach item="item" collection="@java.util.Arrays@stream(studyIds.toArray()).distinct().collect(@java.util.stream.Collectors@toList())" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                    AND (CANCER_STUDY.CANCER_STUDY_IDENTIFIER, SAMPLE.STABLE_ID) IN
                    <foreach index="i" collection="sampleIds" open="(" separator="," close=")">
                        (#{studyIds[${i}]}, #{sampleIds[${i}]})
                    </foreach>
                </if>
            </if>
        </where>
    </sql>
</mapper>