<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cbioportal.persistence.mybatis.VariantCountMapper">

    <select id="fetchVariantCounts" resultType="org.cbioportal.model.VariantCount">
        SELECT
        GENETIC_PROFILE.STABLE_ID AS molecularProfileId,
        MUTATION_COUNT_BY_KEYWORD.KEYWORD AS keyword,
        MUTATION_COUNT_BY_KEYWORD.ENTREZ_GENE_ID AS entrezGeneId,
        MUTATION_COUNT_BY_KEYWORD.KEYWORD_COUNT AS numberOfSamplesWithKeyword,
        MUTATION_COUNT_BY_KEYWORD.GENE_COUNT AS numberOfSamplesWithMutationInGene
        FROM MUTATION_COUNT_BY_KEYWORD
        INNER JOIN GENETIC_PROFILE ON MUTATION_COUNT_BY_KEYWORD.GENETIC_PROFILE_ID = GENETIC_PROFILE.GENETIC_PROFILE_ID
        WHERE
        GENETIC_PROFILE.STABLE_ID = #{molecularProfileId}
        <if test="entrezGeneIds != null">
            AND
            <foreach index="i" collection="entrezGeneIds" open="(" separator="OR" close=")">
                <if test="keywords[i] != null">
                    MUTATION_COUNT_BY_KEYWORD.ENTREZ_GENE_ID = #{entrezGeneIds[${i}]}
                    AND MUTATION_COUNT_BY_KEYWORD.KEYWORD = #{keywords[${i}]}
                </if>
                <if test="keywords[i] == null">
                    MUTATION_COUNT_BY_KEYWORD.ENTREZ_GENE_ID = #{entrezGeneIds[${i}]}
                    AND MUTATION_COUNT_BY_KEYWORD.KEYWORD IS NULL
                </if>
            </foreach>
        </if>
    </select>
</mapper>
