<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cbioportal.persistence.mybatis.VariantCountMapper">

    <select id="fetchVariantCounts" resultType="org.cbioportal.model.VariantCount">
        SELECT
        genetic_profile.stable_id AS molecularProfileId,
        mutation_count_by_keyword.keyword AS keyword,
        mutation_count_by_keyword.entrez_gene_id AS entrezGeneId,
        mutation_count_by_keyword.keyword_count AS numberOfSamplesWithKeyword,
        mutation_count_by_keyword.gene_count AS numberOfSamplesWithMutationInGene
        FROM mutation_count_by_keyword
        INNER JOIN genetic_profile ON mutation_count_by_keyword.genetic_profile_id = genetic_profile.genetic_profile_id
        WHERE
        genetic_profile.stable_id = #{molecularProfileId}
        <if test="entrezGeneIds != null">
            AND
            <foreach index="i" collection="entrezGeneIds" open="(" separator="OR" close=")">
                <if test="keywords[i] != null">
                    mutation_count_by_keyword.entrez_gene_id = #{entrezGeneIds[${i}]}
                    AND mutation_count_by_keyword.keyword = #{keywords[${i}]}
                </if>
                <if test="keywords[i] == null">
                    mutation_count_by_keyword.entrez_gene_id = #{entrezGeneIds[${i}]}
                    AND mutation_count_by_keyword.keyword IS NULL
                </if>
            </foreach>
        </if>
    </select>
</mapper>
