/*  Styles for Online Mutation Assessor (OMA) */

.oma_link {
  font-weight:bold;
}

.oma_high {
  background: #FF9999;
  padding-left:12px;
  padding-right:18px;
  font-weight:bold;
}

.oma_medium {
  background: #FFCCCC;
  color:white;
  padding-left:5px;
  padding-right:8px;
  font-weight:bold;
}

.oma_low {
  background: #EEEEEE;
  padding-left:13px;
  padding-right:17px;
  font-weight:bold;
}

.oma_neutral {
  background: #DDDDDD;
  padding-left:5px;
  padding-right:5px;
  font-weight:bold;    
}

.oma_high A:link {!important; text-decoration: underline !important;}
.oma_high A:visited {!important; text-decoration: underline !important;}
.oma_high A:active {!important; text-decoration: underline !important;}

.mutation_details_table{
  font-size:90%;
  color:black;
}

.mutation_details_table_wrapper .mutation_table_cosmic
{
	cursor: pointer;
	color: #1974B8;
}

.dataTables_wrapper .fg-toolbar
{
	width: 800px;
	white-space: nowrap;
}

.mutation_details_table_wrapper
{
	width: 800px;
	overflow-x: scroll;
}

#cosmic_details_table th
{
	font-size: 70%;
}

.mutation_diagram_toggle
{
	margin-left: 567px;
	margin-top: -15px;
}