/*  Styles for Online Mutation Assessor (OMA) */

.oma_link {
	font-weight:bold;
	padding-top: 1px;
	padding-left:5px;
	padding-right:5px;
}

.oma_high {
  background: #FF9999;
  font-weight:bold;
}

.oma_medium {
  background: #FFCCCC;
  color:white;
  font-weight:bold;
}

.oma_low {
  background: #EEEEEE;
  font-weight:bold;
}

.oma_neutral {
  background: #DDDDDD;
  font-weight:bold;
}

.oma_high A:link {!important; text-decoration: underline !important;}
.oma_high A:visited {!important; text-decoration: underline !important;}
.oma_high A:active {!important; text-decoration: underline !important;}

#mutation_details .mutation_details_table
{
  font-size:90%;
  color:black;
}

th.mutation-details-qtip-style
{
	font-size: 115%;
}

.mutation_details_table_wrapper .mutation_table_cosmic
{
	cursor: pointer;
	color: #1974B8;
}

#mutation_details .dataTables_wrapper .fg-toolbar
{
	min-width: 680px;
	max-width: 1200px;
	width: 100%;
	white-space: nowrap;
}

#mutation_details .mutation_details_table_wrapper
{
	min-width: 680px;
	max-width: 1200px;
	width: 100%;
	overflow-x: auto;
	clear: both;
}

#mutation_details .mutation_diagram_toggle
{
	margin-left: 567px;
	margin-top: -15px;
}

#mutation_details .toggle_mut_table_col_td_label
{
	width: 100%;
	text-align: right;
}

#mutation_details .toggle_mutation_table_col_table
{
	margin-bottom: -15px;
}

#mutation_details .ui-dropdownchecklist-text
{
	font-size: 12px;
}

#mutation_details .msa-img, #mutation_details .pdb-img
{
	vertical-align: bottom;
	margin-left: 3px;
}

.mutation-details-tooltip
{
	font-size: 12px !important;
}

