/*  Styles for Online Mutation Assessor (OMA) */

.oma_link {
	font-weight:bold;
}

.oma_high {
  color: #C83C3C;
  font-weight:bold;
}

.oma_medium {
  color: #9F6F47;
  font-weight:bold;
}

.oma_low {
  color: #988A3E;
  font-weight:bold;
}

.oma_neutral {
  color: #909090;
  font-weight:bold;
}