#login_header_top {
    padding:5px 0px 0px 0px;
    background: white;
    margin:0px;
    height:70px;
}

header {
    position: relative;
    padding:10px 0;
    width:100%;
    display:flex !important;
    align-items: center;
    justify-content: space-between;
}

.legacy header {
    margin:0;
    box-sizing:border-box !important;
    text-align:left;
}

.pageTopContainer {
    background:#f5f5f5;
    border-bottom: 1px solid #ddd;
}

.pageTopContainer, #reactRoot {

}

#reactRoot {
    min-height:600px;
}

/* override for new layout */
.pageTopContainer header {
    background:none;

}

.pageTopContainer header #authentication p {
    margin-right:0;
}


#cbioportal-logo img {
    height:40px;
}

#institute-logo {
    max-height: 35px;
    max-width:200px;
    margin-left:10px;
    opacity:0.5;
}

#rightHeaderContent {
    display:flex;
    align-items:center;
    color:#777;
}

#rightHeaderContent .username {
    max-width:150px;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
}

#rightHeaderContent .userControls a {
    color:#3786C2 !important;
}

#leftHeaderContent {
    display:flex;
    align-items:center;
}

.userControls {
    position:relative;
}

.userControls i.fa {
    font-size:20px;
    color:#999;
    vertical-align:middle;
}

.userControls .identity {
    position:absolute; 
    display:none;
    white-space:nowrap; 
    display:none;
    align-items:center;
    top:-6px;
    right:-7px;
    z-index:2;
    border:1px solid #ddd;
    padding:5px 10px; 
    background:#fff; 
    font-size:12px; border-radius:4px
}

.userControls:hover .identity {
    display:block;
}

#main-nav {
    padding-bottom:0;
    margin-left:40px;
    white-space:nowrap;
}

#main-nav ul {
    padding:0;
    margin:0;
}

#main-nav:first-child {
    top:-22px;
}

#main-nav li {
    list-style-type: none;
    display: inline-block;
    font: normal normal 400 14px/18px 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
    margin-left:15px;
}

#main-nav li a:link, #main-nav li a:visited {
    color: #777;
}

#main-nav li a:hover {
    color: #000;
    text-decoration:none;
}

#main-nav li.selected a:link, #main-nav li.selected a:visited {
    color: #3786C2;
    border-bottom: 2px solid #3786C2;
    padding-bottom:4px;
}


#footer {
    text-align:center;
    padding:30px;
    opacity:.5;
    border-top:1px solid #ddd;
}

.legacy #page_wrapper {
    margin:0;
}

.legacy body {
    background-color:#fff;
}

.legacy #td-content {
    background-color:#fff;
}

.legacy #content > table {
    width:100%;
}

.legacy .modal-header .close span {
    display:none;
}

.legacy .modal-header .close:before {
    content: "x";
}

.legacy #querySelector {
    font-size:14px;
}

.contentWidth {
    min-width:1200px;
}

.legacy .contentWidth {
    padding-left:20px;
    padding-right:20px;
}

.legacy .fixedWidth .contentWidth {
    width:1200px;
    padding-left:20px;
    padding-right:20px;
    margin:0 auto;
}

.noMargin .pageTopContainer header {
    margin-right:20px;
}

/*.legacy body > center {*/
    /*text-align:left;*/
/*}*/

.legacy #footer {
    background:#fff;
    border-top:none;
}

.legacy .ui-tabs .ui-tabs-nav li a {
    padding:.5em .8em !important;
}

.legacy #cc-bookmark {
    word-break:break-word;
}

.legacy .studyContainer .contentWidth {
    width:1300px;
}
