rect.cna.none {
    fill: #D3D3D3;
}

rect.cna.AMPLIFIED {
    fill: #FF0000;
}

rect.cna.GAINED {
    fill: #FFB6C1;
}

rect.cna.DIPLOID {
    fill: #D3D3D3;
}

rect.cna.HEMIZYGOUSLYDELETED {
    fill: #8FD8D8;
}

rect.cna.HOMODELETED {
    fill: #0000FF;
}

/*
rect.mutation.none {
    fill: transparent;
}
*/

rect.mutation.mut {
    fill: #008000;
}
