#googleplus_form {
	width: 580px;	
}
	#googleplus_form legend {
		font-weight: bold;
	}
#googleplus_choice {
	display: none;
}

#googleplus_mailto {
    color: #FF0000;
}

#googleplus_input_area {
	clear: both;
	padding: 10px;
}
#googleplus_btns, #googleplus_btns br {
	clear: both;
}
	#googleplus_highlight {
		padding: 3px;
		background-color: #FFFCC9;
		float: left;
	}
	.googleplus_large_btn {
		width: 100px;
		height: 35px;
                background-color: #FFFFFF;
		border: 0px solid #DDD;
		margin: 1px;
		float: left;
	}
	.googleplus_small_btn {
		width: 24px;
		height: 24px;
		border: 1px solid #DDD;
		margin: 3px;
		float: left;
	}	
	a.googleplus_large_btn:focus {
		outline: none;
	}
	a.googleplus_large_btn:focus
	{
	-moz-outline-style: none;
	}
	.googleplus_selected {
		border: 4px solid #DDD;
	}	