/* main style */
/*
#study-view-add-chart li{
    color: white;
    text-align: center;
    list-style: none;
    border-style: solid;
    border-width: 1px 0 0 0;
    border-color: lightgrey;
    padding: 0 5px;
}
#study-view-add-chart li:hover{
    cursor: pointer;
    background-color: lightgrey;
}
#study-view-add-chart ul{
    float:right;
    padding: 0 0 5px 0;
}
*/
#study-view-top-wrapper {
    width: 100%;
    float: left;
    height: 40px;
}
#study-view-add-chart {
    right:43px;
    top: 0;
    position: absolute;
    z-index:21;
    display: inline-block;
    vertical-align: middle;
    line-height: 30px;
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
    border: 1px solid #d3d3d3;
    background: #e6e6e6;
    font-weight: normal;
    color: #555555;
}
#study-view-tutorial {
    right: 0;
    width: 80px;
    position: absolute;
    z-index:21;
}
#study-view-header-left-0 {
/*    left: 0;*/
    float: left;
    width: 160px;
    margin: 0 5px 0 0;
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
    border: 1px solid #d3d3d3;
    background: #e6e6e6;
    font-weight: normal;
    color: #555555;
}
#study-view-header-left-1 {
    /*left: 0;*/
    float: left;
    margin: 0 5px 0 0;
    /*width: 190px;*/
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
    border: 1px solid #d3d3d3;
    background: #e6e6e6;
    font-weight: normal;
    color: #555555;
    //height: 30px;
}
#study-view-header-left-2 {
    /*left: 210px;*/
    float: left;
    margin: 0 5px 0 0;
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
    border: 1px solid #d3d3d3;
    background: #e6e6e6;
    font-weight: normal;
    color: #555555;
}
#study-view-header-left-3 {
    /*position: absolute;*/
    /*left: 410px;*/
/*    height: 30px;
    line-height: 30px;*/
    /*top: 2px;*/
    float: left;
    border: 0;
    font-size: 13px;
    margin: 0;
    z-index: 21;
    vertical-align: middle;
    padding: 0 10px;
    background-color: white;
    width: auto;
    /*color: #2986e2;*/
    color: black;
    text-align: center;
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
    margin-top: 4px;
}
#study-view-header-left-4 {
    font-size: 1.1em;
}
#study-view-header-left-3:hover{
    cursor: default;
}
.study-view-header-button {
    float: left;
    margin: 0 5px 0 0;
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
    border: 1px solid #d3d3d3;
    background: #e6e6e6;
    font-weight: normal;
    color: #555555;
}
.study-view-header-button:hover {
    cursor: pointer;
}
#study-view-main {
    margin-left: auto;
    margin-right: auto;
    width:1200px;
    margin:0 auto;
    height:auto;
    overflow: hidden;
}
#study-view-charts {	
    width:1200px;
    height:auto;
    margin:0 auto;
    margin-top: 10px;
    float:left;
}
#study-view-scatter-plot {
    position: relative;
    top: 1em;
    right: 1em;
    text-align:center;
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
}
#data-table-chart {
    max-width:1200px;
    width : 100%;
    float:left;
    height:100%;
    margin-top:30px;
}
#dialog-form {
    position:fixed;
    left:50px;
    top:90px;
    width:250px;
    text-align:right;
    font-size:12px;
}
#dialog-form h4{
    font-size:15px;
}
#data-chart h4{
    margin-top:0px;
    margin-bottom:5px;
    font-size:10px;
}
#data-chart h3{
    margin-bottom:5px;
    font-size:12px;
    text-align:center;
}
#data-chart {
    width:200px;
    margin-bottom:10px;
    margin-left:20px;
    text-align: center;
    float:left;
}
#study-view-update {
    float:left;
    width:1200px;
    margin:auto;
}
#study-view-updateContent {
    width: 350px;
    height: 25px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 20px;
}
#study-view-dataTable-updateTable {
    margin-right: 75px;
}
#study-view-header-function {
    position: absolute;
    top: 60px;
    width: 1200px;
    height: 30px;
    background-color: white;
    z-index: 20;
    -webkit-backface-visibility: hidden;
}
#study-view-scatter-plot-header {
    float: right;
    margin-top: 2px;
}
#study-view-scatter-plot-title {
    float: left;
    margin: 5px 0 0 5px;
}

#study-view-scatter-plot-side {
    border: 1px solid lightgray;
    border-left-width: 0;
    position: absolute;
    width: auto;
    left: 375px;
    top: 22px;
    background: white;
    display: none;
    z-index: 1;
}
#clinical_table_info {
    float: left;
}
/*
#study-view-scatter-plot-body-top-chart {
    width: 100%;
    height: 80px;
    float: left;
}
#study-view-scatter-plot-body-right-chart {
    width: 130px;
    height: 350px;
    float: left;
}
#study-view-scatter-plot-body-svg {
    width: 430px;
    height: 350px;
    float: left;
}*/
#study-view-word-cloud-title {
    width:180px; 
    text-align:center;
    margin-bottom: 20px;
}
#study-view-selectAttr{
     display:none;
}
#dataTables_filter {
    width:auto;
    float: right;
}
.study-view-pie-label .dataTables_filter {
    width: 100%;
    text-align: left;
    padding-top: 4px;
}
.qtip-content .dataTables_filter {
    width: 100%;
}
.qtip-content .dataTables_wrapper {
    margin: 10px 5px;
}
.qtip-content td {
    white-space: nowrap;
}
#dataTable_info {
    float: left;
    width: auto;
    margin-left: 3px;
}
/* CLASS styles */
.study-view-header{    
    //border-style: solid;
    //border-width: 1px;
    //border-color: lightgrey;
    //border-radius: 5px;
    margin: 0;
    position: absolute;
    z-index: 21;
    vertical-align: middle;
    padding: 0 10px;
    background-color: white;
    width: auto;
    color: #2986e2;
    border: 1px solid #2986e2;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    line-height: 30px;
}
.study-view-header:hover{    
    cursor: pointer !important;
    background-color: #2986e2 !important;
    color: white !important;
    -webkit-transition: All 0.3s ease;
    -moz-transition: All 0.3s ease;
    -o-transition: All 0.3s ease;
    -ms-transition: All 0.3s ease;
    transition: All 0.3s ease;
    /*
    -moz-box-shadow: 0 0 5px #ccc inset;
    -webkit-box-shadow: 0 0 5px #ccc inset;
    box-shadow: 0 0 5px #ccc inset;
    */
}
.boxLeft {
    //box-shadow: 2px 2px 2px lightgrey;
}
.boxRight {
    //box-shadow: -2px 2px 2px lightgrey;
}
.hidden {
    display: none;
}
.show {
    display: block;
}
.pieLabel {
    /*width: 75px;*/
    height: 15px;
    border-spacing: 0px;
}
.study-view-scatter-plot-checkbox {
    margin: 5px 10px 0px 0px; 
    color: grey;
    font-size: 10px;
}
.study-view-bar-chart g.brush rect.extent {
    fill: #2986e2;
    fill-opacity:0.2;
}
.study-view-bar-chart g.brush .resize path {
    fill: #eee;
    stroke: #666;
}
.study-view-bar-chart g.brush rect.background {
    z-index: -999;
}
.header {
    font-size:10px;
    width:3000px;
}
.dc-table-group {
    background-color:lightblue;
}
.study-view-pie-chart {
    height:150px;
    width:100%;
    //padding-left: 15px;
    float:left;
}
.study-view-pie-chart svg{
    margin-left: 25px;
    margin-right: 10px;
    float: left;
}
.study-view-pie-label {
    height:55px;
    width:95%;
    float:left;
    padding: 0 10px;
    display: none;
}
.pieLabel:hover{
    cursor: pointer;
}
.study-view-word-cloud {
    float:left;
    width:180px;
    height:220px;
    border:1px;
    border-color:lightgrey;
    border-style:solid;
}
.study-view-pdf-svg-side {
    position: absolute;
    //width: 35px;
    /*left: 130px;*/
    right: 0;
    top: 15px;
/*    border: 1px solid lightgrey;
    left: 180px;
    top: 15px;
    z-index: 20;
    padding: 2px 2px 4px 0;
    background-color: white;
    border-left-width: 0;*/
    /*float: left;*/
    width: 14px;
    display: none;
}
.study-view-pdf-svg-side.bar {
    /*left: 375px;*/
    /*left: 325px;*/
}
.w1 {
    width: 180px;
}
.w2{
    width:375px;
}
.w3{
    width:570px;
}
.w4{
    width:750px;
}
.w5{
    width:940px;
}
.w6{
    width:1130px;
}

.w4{
    width:750px;
}
.h1{
    height:165px;
}
.h1half{
    height:340px;
}
.h2{
    height:455px;
}
.h3{
    height:680px;
}
.study-view-bar-main {
    float:left;
    width:375px;
    height:165px;
    border:1px;
    border-color:lightgrey;
    border-style:solid;
}
.study-view-bar-x-log {
    float: left;
    margin-right: 2px;
    margin-top: 3px;
}
.study-view-bar-x-linear {
    float: right;
    margin-right: 2px;
    margin-top: 3px;
}
.study-view-pie-main {
    float:left;
    width:180px;
    height:165px;
    border:1px;
    border-color:lightgrey;
    border-style:solid;
}

.study-view-pie-chart :active{
    cursor: move;
}
.study-view-dc-chart-delete {
    float: left;
    margin-right: 5px;
    color: grey;
    cursor: pointer;
}
.study-view-chart-plot-delete{  
    margin-right: 5px;
    color: grey;
    cursor: pointer;
    float: right;
}
.study-view-chart-cloud-delete{  
    margin-right: 5px;
    color: lightgray;
    cursor: pointer;
    float: right;
}
.study-view-dc-chart {
    background-color: white;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.study-view-dc-chart-change {
    float: left;
    margin-right: 10px;
    margin-top: 3px;
    cursor: pointer;
    font-size:10px;
    display: none;
}

.study-view-drag-icon {
    width:10px;
    height:10px;
    margin-top:4px;
    margin-right:4px;
    float:left;
}
.study-view-drag-icon:hover{
    cursor: move;
}
.study-view-survival-icon {
    width:10px;
    height:12px;
    margin-top:2px;
    margin-right:2px;
    float:left;
}
.study-view-survival-icon:hover{
    cursor: pointer;
}
.study-view-download-icon {
    width:10px;
    height:10px;
    margin-top:4px;
    margin-right:4px;
    float:left;
}
.study-view-title-icon {
    width:12px;
    height:12px;
    margin-top:2px;
    margin-right:4px;
    float:left;
}
.study-view-table-icon {
    width:11px;
    margin-top:3px;
    margin-right:5px;
}
#study-view-transfer-icon {
    width:9px;
    height:9px;
    margin-top:6px;
    margin-right:4px;
    margin-left:1px;
    float:left;
}
.hover:hover{
    cursor: pointer;
}
.study-view-arrow-icon {
    width: 13px;
    margin: 0 auto;
}
.heightlightRow {
    background-color: lightgrey !important;
}
/*.study-view-expand-icon {
    width:9px;
    height:9px;
    margin-top:6px;
    margin-right:4px;
    margin-left:1px;
    float:left;
}
.study-view-contract-icon {
    width:9px;
    height:9px;
    margin-top:6px;
    margin-right:4px;
    margin-left:1px;
    float:left;
    display: none;
}*/
.study-view-bar-chart path {
    shape-rendering: crispEdges
}
.study-view-bar-chart .tick line {
    shape-rendering: crispEdges
}
.study-view-download-icon:hover{
    cursor: pointer;
}
.study-view-side-item {
    float: left;
    display: block;
    clear: left;
    white-space: nowrap;
}
chartTitleH4{
    font-size: 10px;
    color: black;
    font-weight: bold;
    padding-left: 5px;
}
pieH3{
    font-size: 10px;
    color: blue;
}
.data-pie-chart {
    width:100px;
    float:left;	
    text-align:center;
}
.subData {
    font-size:10px;
}
.dc-chart .axis {
    fill:none;
    stroke:black;
    stroke-width:1px;
    font-size:9px;
}
.dc-chart .axis text{
    fill:black;
    stroke:black;
    stroke-width:0.5px;
    font-size:9px;
}
.study-view-bar-chart {
    width:100%;
}

.dc-chart rect.bar {
    stroke: none;
    cursor: pointer;
}
.dc-chart rect.bar:hover {
    fill-opacity: .5;
}
.dc-chart rect.stack1 {
    stroke: none;
    fill: red;
}
.dc-chart rect.stack2 {
    stroke: none;
    fill: green;
}
.dc-chart rect.deselected {
    stroke: none;
    fill: #ccc;
}
.dc-chart .pie-slice {
    fill: white;
    font-size: 10px;
    cursor: pointer;
    stroke:white;
    stroke-width:1px;
}
.dc-chart .pie-slice :hover {
    fill-opacity: .5;
    stroke-width: 3px;
}
.dc-chart .selected path {
    stroke-width: 3;
    stroke: #ccc;
    fill-opacity: 1;
}
.dc-chart .deselected path {
    stroke: white;
    stroke-width: 1;
    fill-opacity: .2;
}
.dc-data-count {
    float: right;
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
}
.dc-data-count .filter-count {
    color: #2986e2;
    font-weight: bold;
}
.dc-data-count .total-count {
    color: #3182bd;
    font-weight: bold;
}
.study-view-middle-button{
    background-color: white;
    color: #2986e2;
    border: 1px solid #2986e2;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    cursor:pointer;
}
.study-view-middle-button:hover:enabled{
    background-color: #2986e2;
    color:white;
    -webkit-transition: All 0.3s ease;
    -moz-transition: All 0.3s ease;
    -o-transition: All 0.3s ease;
    -ms-transition: All 0.3s ease;
    transition: All 0.3s ease;
}
.study-view-middle-button:disabled {
    background-color:lightgray;
}
.study-view-middle-button:hover:disabled{
    cursor: default;
}
.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
    z-index: -1;
} 
.row_selected{
    background-color: lightgray;
}
.dataTableTop {
    float: left;
    width: 100%;
}
.dataTableReset {
    float: left;
    width: auto;
    margin-left: 3px;
    font-size: 100%;
    padding: 3px;
}
.dataTableReset span{
    color: #2986e2;
}
.dataTableReset span:hover{
    cursor: pointer;
}
.clickable:hover{
    cursor: pointer;
}
.forceZindex {
    z-index: 14800 !important;
}
.qtip-max-width {
    max-width: 1000px;
}
//Show/Hide columns related classes
.ColVis_collection {
    width: 500px;
}
.ColVis_Button {
    white-space: nowrap;
}
.ColVis_Button.TableTools_Button.ColVis_MasterButton{
    outline: none;
    background-color: white;
/*    color: #2986e2;
    border: 1px solid #2986e2;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;*/
    cursor: pointer;
    height: 23px;
    padding: 0;
}
.ColVis_Button.TableTools_Button.ColVis_MasterButton span{
    padding: 2px 6px 3px 6px;
}
/*.ColVis_Button.TableTools_Button.ColVis_MasterButton :hover{
    background-color: #2986e2;
    color:white;
    -webkit-transition: All 0.3s ease;
    -moz-transition: All 0.3s ease;
    -o-transition: All 0.3s ease;
    -ms-transition: All 0.3s ease;
    transition: All 0.3s ease;    
}

Style for search box in dataTable of Summaery Tab
.dataTables_filter input{
    border: 1px solid #2986e2;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}*/
#content ul{
    margin-bottom: 0;
}
#content li a{
    outline: none;
}
/*
.ui-widget-content {
    border: 0;
}
.ui-widget-header {
    border: 0;
    background: white;
}
.ui-tabs .ui-tabs-nav {
    padding: 0;
}
.ui-state-default.ui-corner-top.ui-tabs-active.ui-state-active{
    border: 1px solid #aaaaaa;
    border-bottom: 0;
    background: white;
    color: #2986e2;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -moz-box-shadow: 0 0 5px lightgrey inset;
    -webkit-box-shadow: 0 0 5px lightgrey inset;
    box-shadow: 0 0 5px lightgrey inset;
}

.ui-state-default.ui-corner-top.ui-state-hover {
    border: 1px solid #aaaaaa;
    border-bottom: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -moz-box-shadow: 0 0 5px lightgrey inset;
    -webkit-box-shadow: 0 0 5px lightgrey inset;
    box-shadow: 0 0 5px lightgrey inset;
}
.ui-state-default.ui-corner-top{
    border: 1px;
    border-color: white;
    background: white;
}*/
.study-view-survival-label-font-1{
    font-size: 9px;
    font-weight: bold;
}

.study-view-survival-plot {
    position: relative;
    top: 1em;
    right: 1em;
    text-align:center;
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
}

.study-view-survival-plot-header {
    float: left;
    margin-top: 2px;
    height: 22px;
}
.study-view-survival-plot-title {
    float: left;
    margin: 5px 0 0 5px;
    max-width: 240px;
}
.study-view-survival-plot-body {
    width: 100%;
}
.study-view-survival-plot-header-wrapper {
    float:right;
    width: 100%;
    height: 22px;
    margin-bottom: 5px;
}
.study-view-survival-plot-select {
    font-size:10px;
    margin-right:5px;
    width: 130px;
}
.study-view-survival-plot-body-label {
    width: auto;
    overflow-y: auto;
    display: none;
    position: absolute;
    top: 20px;
    left: 375px;
    border: 1px solid lightgray;
    border-left-width: 0;
    background-color: white;
    z-index: 1;
    max-height: 280px;
}
.study-view-survival-plot-body-label svg{
    float: left;
}
.study-view-menu-icon:hover{
    cursor: pointer;
}
.study-view-loader {
    width: 100%;
    display:none;
    position: absolute;
    top: 30%;
}

/* These five styles are designed for study view tabs. 
#dc-plots {
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    border-top-left-radius: 0;
}
#clinical-plots {
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    border-top-left-radius: 0;
}
#mutations {
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    border-top-left-radius: 0;
}
#clinical {
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    border-top-left-radius: 0;
}
#cna {
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    border-top-left-radius: 0;
}*/

/* tag styles */
/*
ul {
    list-style-type: none;
}
ul li{
    cursor:pointer;
    margin: 2px 0px 0px 0px;
}
ul li a {
    display:block;
}
ul li a:hover, ul li a:focus {
    color:skyblue;
}
*/
#data-table-chart table.dataTable{
    width:100%;
    font-size:12px;
}
#data-table-chart table#dataTable>tbody:hover{
    cursor: pointer;
}
#data-table-chart table.dataTable>thead>tr>th:nth-child(1) {background-color: white; white-space: nowrap;}
#data-table-chart table.dataTable>thead>tr>th {
    //white-space:nowrap;
    //-webkit-transform: rotate(315deg);  
    //-moz-transform: rotate(315deg);
    //-ms-transform: rotate(315deg);
   // -o-transform: rotate(315deg);
    border-style: hidden;
    text-align: center;
    vertical-align: middle;
    word-wrap:break-word;
    max-width: 200px;
    min-width: 60px;
}#data-table-chart table.dataTable>tbody>tr>td:nth-child(1) {
    text-align: center;
    white-space: nowrap;
}
#data-table-chart table.dataTable>tbody>tr>td {
    max-width: 200px;
    min-width: 60px;
}
#data-table-chart table.dataTable>tfoot>tr>th {
    max-width: 200px;
    min-width: 60px;
    border-top: 0;
}
/* Used for leftcolumnWrapper of the datatable in summary page*/
#data-table-chart .DTFC_LeftBodyWrapper {
    background-color: white;
}
#data-table-chart .DTFC_LeftBodyLiner {
    overflow-y: hidden
}
#data-table-chart .DTFC_LeftHeadWrapper {
    background-color: white;
}
#clinical_table_wrapper table.dataTable>tbody>tr>td {
    white-space: nowrap;
}