

/* main style */
#study-view-main {
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin: 0 auto;
	overflow: hidden;
	width: 1200px; }

#study-view-charts {
	float: left;
	height: auto;
	margin-top: 10px;
	margin: 0 auto;
	width: 1200px; }

#data-table-chart {
	float: left;
	height: 100%;
	margin-top: 30px;
	width: 100%; }

#dialog-form {
	font-size: 12px;
	left: 50px;
	position: fixed;
	text-align: right;
	top: 90px;
	width: 250px; }

	#dialog-form h4 { font-size: 15px; }

#data-chart h4 {
	font-size: 10px;
	margin-bottom: 5px;
	margin-top: 0px; }

#data-chart h3 {
	font-size: 12px;
	margin-bottom: 5px;
	text-align: center; }

#data-chart {
	float: left;
	margin-bottom: 10px;
	margin-left: 20px;
	text-align: center;
	width: 200px; }

#study-view-update {
	float: left;
	margin: auto;
	width: 1000px; }

#dataTableLoading {
	float: left;
	margin: auto;
	width: 1000px; }

#study-view-updateContent {
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	text-align: right;
	width: 500px; }

#study-view-dataTable-updateTable { margin-right: 75px; }

#study-view-add-chart {
	float: left;
	margin-bottom: 10px;
	margin-top: 10px;
	width: 100%; }

/* CLASS styles */
.study-view-bar-chart g.brush rect.extent {
	fill-opacity: 0.2;
	fill: steelblue; }

.study-view-bar-chart g.brush .resize path {
	fill: #eee;
	stroke: #666; }

.study-view-bar-chart g.brush rect.background { z-index: -999; }

.header {
	font-size: 10px;
	width: 3000px; }

.dc-table-group { background-color: lightblue; }

.study-view-pie-chart {
	border-color: lightgrey;
	border-style: solid;
	border-width: 1px;
	float: left;
	height: 100px;
	text-align: center;
	width: 100px; }

	.study-view-pie-chart.w2 {
		border-color: lightgrey;
		border-style: solid;
		border-width: 1px;
		float: left;
		height: 200px;
		margin-bottom: 10px;
		text-align: center;
		width: 180px; }

	.study-view-pie-chart.w3 {
		border-color: lightgrey;
		border-style: solid;
		border-width: 1px;
		float: left;
		height: 400px;
		text-align: center;
		width: 400px; }

	.study-view-pie-chart g { font-size: 11px; }

	.study-view-pie-chart :active { cursor: move; }

.study-view-dc-chart-delete {
	color: lightgray;
	cursor: pointer;
	float: right;
	margin-right: 5px; }

.study-view-row-chart {
	float: left;
	text-align: center;
	width: 300px; }

	.study-view-row-chart g { font-size: 11px; }

pieH4 {
	color: blue;
	font-size: 11px;
	font-weight: bold; }

pieH3 {
	color: blue;
	font-size: 10px; }

.data-pie-chart {
	float: left;
	text-align: center;
	width: 100px; }

.subData { font-size: 10px; }

.dc-chart .axis {
	fill-opacity: 1;
	fill: steelblue;
	stroke-opacity: 0.5;
	stroke-width: 0.5;
	stroke: grey; }

.study-view-bar-chart {
	border-color: lightgrey;
	border-style: solid;
	border: 1px;
	float: left;
	height: 200px;
	margin-bottom: 10px;
	width: 560px; }

.dc-chart rect.bar {
	cursor: pointer;
	stroke: none; }

	.dc-chart rect.bar:hover { fill-opacity: .5; }

.dc-chart rect.stack1 {
	fill: red;
	stroke: none; }

.dc-chart rect.stack2 {
	fill: green;
	stroke: none; }

.dc-chart rect.deselected {
	fill: #ccc;
	stroke: none; }

.dc-chart .pie-slice {
	cursor: pointer;
	fill: white;
	font-size: 10px; }

	.dc-chart .pie-slice :hover { fill-opacity: .8; }

.dc-chart .selected path {
	fill-opacity: 1;
	stroke-width: 3;
	stroke: #ccc; }

.dc-chart .deselected path {
	fill-opacity: .5;
	fill: #ccc;
	stroke: none; }

.dc-data-count {
	float: right;
	margin-bottom: 10px;
	margin-right: 15px;
	margin-top: 15px; }

	.dc-data-count .filter-count {
		color: #3182bd;
		font-weight: bold; }

	.dc-data-count .total-count {
		color: #3182bd;
		font-weight: bold; }

.study-view-header-button {
	-moz-border-radius: 10px;
	-moz-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	-webkit-border-radius: 10px;
	-webkit-transition: All 0.5s ease;
	background-color: #D3D6FF;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	transition: All 0.5s ease; }

	.study-view-header-button:hover:enabled { background-color: #BDC0E5; }

	.study-view-header-button:hover:disabled { cursor: default; }

/* tag styles */
ul { list-style-type: none; }

	ul li {
		cursor: pointer;
		margin: 2px 0px 0px 0px; }

		ul li a { display: block; }

			ul li a:hover, ul li a:focus { color: skyblue; }

table.dataTable {
	font-size: 12px;
	width: 100%; }

	table.dataTable>tbody>tr>td { white-space: nowrap }

	table.dataTable>thead>tr>th:nth-child(1) { background-color: white; }

	table.dataTable>thead>tr>th {
		-moz-transform: rotate(315deg);
		-ms-transform: rotate(315deg);
		-o-transform: rotate(315deg);
		-webkit-transform: rotate(315deg);
		//white-space: nowrap;
		border-style: hidden;
		text-align: center;
		vertical-align: middle; }

