/* main style */

#study-view-main {
    margin-left: auto;
    margin-right: auto;
    width:1200px;
    margin:0 auto;
    height:auto;
    overflow: hidden;
}
#study-view-charts {	
    width:1200px;
    height:auto;
    margin:0 auto;
    margin-top: 10px;
    float:left;
}
#data-table-chart {
    width:100%;
    float:left;
    height:100%;
    margin-top:30px;
}
#dialog-form {
    position:fixed;
    left:50px;
    top:90px;
    width:250px;
    text-align:right;
    font-size:12px;
}
#dialog-form h4{
    font-size:15px;
}
#data-chart h4{
    margin-top:0px;
    margin-bottom:5px;
    font-size:10px;
}
#data-chart h3{
    margin-bottom:5px;
    font-size:12px;
    text-align:center;
}
#data-chart {
    width:200px;
    margin-bottom:10px;
    margin-left:20px;
    text-align: center;
    float:left;
}
#study-view-update {
    float:left;
    width:1000px;
    margin:auto;
}
#dataTableLoading {
    float:left;
    width:1000px;
    margin:auto;
}
#study-view-updateContent {
    text-align:right;
    width: 500px;
    height: auto;
    margin-left:auto;
    margin-right:auto;
    margin-top: 20px;
}
#study-view-dataTable-updateTable {
    margin-right: 75px;
}
#study-view-add-chart {
    width:100%;
    float:left;
    margin-top:10px;
    margin-bottom:10px;
}


/* CLASS styles */
.study-view-bar-chart rect{
    fill: #3366cc;
}
.study-view-bar-chart g.brush rect.extent {
    fill:#3366cc;
    fill-opacity:0.2;
}
.study-view-bar-chart g.brush .resize path {
    fill: #eee;
    stroke: #666;
}
.study-view-bar-chart g.brush rect.background {
    z-index: -999;
}
.header {
    font-size:10px;
    width:3000px;
}
.dc-table-group {
    background-color:lightblue;
}
.study-view-pie-chart {
    float:left;
    width:180px;
    height:200px;
    text-align:center;
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
    margin-bottom: 10px;
}

.study-view-pie-chart.w2{
    width:370px;
}

.study-view-pie-chart.w4{
    width:750px;
}

.study-view-pie-chart.h2{
    height:410px;
}

.study-view-pie-chart :active{
    cursor: move;
}
.study-view-dc-chart-delete {
    float: right;
    margin-right: 5px;
    color: lightgray;
    cursor: pointer;
}
.study-view-dc-chart-change {
    float: right;
    margin-right: 5px;
    margin-top: 3px;
    cursor: pointer;
}
.study-view-row-chart {
    float:left;
    text-align:center;
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
    margin-bottom: 10px;
}
.study-view-row-chart.w1 {
    width:180px;
}
.study-view-row-chart.w2 {
    width:370px;
}
.study-view-row-chart.w3 {
    width:580px;
}
.study-view-row-chart g{
    font-size:11px;
    color: white;
}
pieH4{
    font-size: 11px;
    color: black;
    font-weight: bold;
}
pieH3{
    font-size: 10px;
    color: blue;
}
.data-pie-chart {
    width:100px;
    float:left;	
    text-align:center;
}
.subData {
    font-size:10px;
}
.dc-chart .axis {
    fill:none;
    stroke:grey;
    stroke-width:1.5px;
    font-size:10px;
    stroke-opacity:0.8
}
.study-view-bar-chart {
    float:left;
    width:560px;
    height:200px;
    border:1px;
    border-color:lightgrey;
    border-style:solid;
    margin-bottom: 10px;
}

.dc-chart rect.bar {
    stroke: none;
    cursor: pointer;
}
.dc-chart rect.bar:hover {
    fill-opacity: .5;
}
.dc-chart rect.stack1 {
    stroke: none;
    fill: red;
}
.dc-chart rect.stack2 {
    stroke: none;
    fill: green;
}
.dc-chart rect.deselected {
    stroke: none;
    fill: #ccc;
}
.dc-chart .pie-slice {
    fill: white;
    font-size: 10px;
    cursor: pointer;
    stroke:white;
    stroke-width:0.5px;
}
.dc-chart .pie-slice :hover {
    fill-opacity: .8;
}
.dc-chart .selected path {
    stroke-width: 3;
    stroke: #ccc;
    fill-opacity: 1;
}
.dc-chart .deselected path {
    stroke: none;
    fill-opacity: .5;
    fill: #ccc;
}
.dc-data-count {
    float: right;
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
}
.dc-data-count .filter-count {
    color: #3182bd;
    font-weight: bold;
}
.dc-data-count .total-count {
    color: #3182bd;
    font-weight: bold;
}
.study-view-header-button{
    color:white;
    background-color:#3366ff;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    cursor:pointer;
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    transition: All 0.5s ease;
}
.study-view-header-button:hover:enabled{
    background-color:#3366cc;
}
.study-view-header-button:disabled {
    background-color:lightgray;
}
.study-view-header-button:hover:disabled{
    cursor: default;
}
/* tag styles */
ul {
    list-style-type: none;
}
ul li{
    cursor:pointer;
    margin: 2px 0px 0px 0px;
}
ul li a {
    display:block;
}
ul li a:hover, ul li a:focus {
    color:skyblue;
}
table.dataTable{
    width:100%;
    font-size:12px;
}

table.dataTable>tbody>tr>td {white-space:nowrap}
table.dataTable>thead>tr>th:nth-child(1) {background-color: white;}
table.dataTable>thead>tr>th {
    //white-space:nowrap;
    -webkit-transform: rotate(315deg);  
    -moz-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    border-style: hidden;
    text-align: center;
    vertical-align: middle;
}