/* main style */

#main {
margin-left: auto;
margin-right: auto;
width:1200px;
margin:0 auto;
height:auto;
overflow: hidden;
}
#pie {	
    width:100%;
    height:auto;
    margin:0 auto;
}
#bar {
    height:auto;
    margin:0 auto;
}
#data-table-chart {
    width:100%;
    float:left;
    height:100%;
    margin-top:30px;
}
#bar h4 {
    font-size:12px;
}
#dialog-form {
    position:fixed;
    left:50px;
    top:90px;
    width:250px;
    text-align:right;
    font-size:12px;
}
#dialog-form h4{
    font-size:15px;
}
#data-chart h4{
    margin-top:0px;
    margin-bottom:5px;
    font-size:10px;
}
#data-chart h3{
    margin-bottom:5px;
    font-size:12px;
    text-align:center;
}
#data-chart {
    width:200px;
    margin-bottom:10px;
    margin-left:20px;
    text-align: center;
    float:left;
}
#update {
    float:left;
    width:1000px;
    margin:auto;
}
#dataTableLoading {
    float:left;
    width:1000px;
    margin:auto;
}
#updateContent {
    text-align:right;
    width: 500px;
    height: auto;
    margin-left:auto;
    margin-right:auto;
    margin-top: 20px;
}
#dataTable_reset {
    margin-right: 10px;
}
#dataTable_updateTable {
    margin-right: 75px;
}
/* CLASS styles */
.bar-chart g.brush rect.extent {
    fill:steelblue;
    fill-opacity:0.2;
}
.bar-chart g.brush .resize path {
    fill: #eee;
    stroke: #666;
}
.bar-chart g.brush rect.background {
    z-index: -999;
}
.header {
    font-size:10px;
    width:3000px;
}
.dc-table-group {
    background-color:lightblue;
}
.pie-chart {
    margin-left:20px;
    margin-bottom:20px;
    float:left;
    width:200px;	
    text-align:center;
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
}
.pie-chart g{
    font-size:11px;
}

.pie-chart :active{
    cursor: move;
}

.row-chart {
    float:left;
    width:300px;	
    text-align:center;
}
.row-chart g{
    font-size:11px;
}
pieH4{
    font-size: 11px;
    color: blue;
    font-weight: bold;
}
pieH3{
    font-size: 10px;
    color: blue;
}
.data-pie-chart {
    width:100px;
    float:left;	
    text-align:center;
}
.subData {
    font-size:10px;
}
.dc-chart .axis {
    fill:steelblue;
    fill-opacity:1;
    stroke:grey;
    stroke-opacity:0.5;
    stroke-width:0.5;
}
.bar-chart {
    margin-top:20px;
    float:left;
    width:560px;
    border:1px;
    border-color:lightgrey;
    border-style:solid;
    margin-left:15px;
    margin-right:15px;
}
.dc-chart rect.bar {
    stroke: none;
    cursor: pointer;
}
.dc-chart rect.bar:hover {
    fill-opacity: .5;
}
.dc-chart rect.stack1 {
    stroke: none;
    fill: red;
}
.dc-chart rect.stack2 {
    stroke: none;
    fill: green;
}
.dc-chart rect.deselected {
    stroke: none;
    fill: #ccc;
}
.dc-chart .pie-slice {
    fill: white;
    font-size: 10px;
    cursor: pointer;
}
.dc-chart .pie-slice :hover {
    fill-opacity: .8;
}
.dc-chart .selected path {
    stroke-width: 3;
    stroke: #ccc;
    fill-opacity: 1;
}
.dc-chart .deselected path {
    stroke: none;
    fill-opacity: .5;
    fill: #ccc;
}
.dc-data-count {
    float: right;
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
}
.dc-data-count .filter-count {
    color: #3182bd;
    font-weight: bold;
}
.dc-data-count .total-count {
    color: #3182bd;
    font-weight: bold;
}
.header_button{
    background-color:#D3D6FF;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    cursor:pointer;
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    transition: All 0.5s ease;
}
.header_button:hover{
    background-color:#BDC0E5;
}
/* tag styles */
ul {
    list-style-type: none;
}
ul li{
    cursor:pointer;
    margin: 2px 0px 0px 0px;
}
ul li a {
    display:block;
}
ul li a:hover, ul li a:focus {
    color:skyblue;
}
table.dataTable{
    width:100%;
    font-size:12px;
}

table.dataTable>tbody>tr>td {white-space:nowrap}
table.dataTable>thead>tr>th:nth-child(1) {background-color: white;}
table.dataTable>thead>tr>th {
    //white-space:nowrap;
    -webkit-transform: rotate(315deg);  
    -moz-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    border-style: hidden;
    text-align: center;
    vertical-align: middle;
}