<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
                         "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <display-name>Cancer Genomics Data Server</display-name>

	<welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

    <servlet>
        <servlet-name>webservice</servlet-name>
        <servlet-class>org.mskcc.cgds.servlet.WebService</servlet-class>
        <init-param>
            <param-name>db_host</param-name>
            <param-value>db_host__value</param-value>
        </init-param>
         <init-param>
            <param-name>db_name</param-name>
            <param-value>db_name__value</param-value>
        </init-param>
        <init-param>
            <param-name>db_user</param-name>
            <param-value>db_user__value</param-value>
        </init-param>
        <init-param>
            <param-name>db_password</param-name>
            <param-value>db_password__value</param-value>
        </init-param>
        <load-on-startup/>
    </servlet>

    <servlet-mapping>
        <servlet-name>webservice</servlet-name>
        <url-pattern>/webservice.do</url-pattern>
    </servlet-mapping>
</web-app>
