# app name
app.name=cbioportal

# database
db.user=cbio_user
db.password=somepassword
db.host=localhost:3306
db.portal_db_name=cbioportal
db.driver=com.mysql.jdbc.Driver
db.connection_string=jdbc:mysql://localhost:3306/
# set tomcat_resource_name when using dbconnector=jndi instead of the default
# dbconnector=dbcp. Note that dbconnector needs to be set in CATLINA_OPTS when
# using Tomcat (CATALINA_OPTS="-Ddbconnector=jndi"). It does not get picked up
# from the properties file
# (https://github.com/cBioPortal/cbioportal/issues/6148).
#
# db.tomcat_resource_name=jdbc/cbioportal

# this should normally be set to false. In some cases you could set this to true (e.g. for testing a feature of a newer release that is not related to the schema change in expected db version above):
db.suppress_schema_version_mismatch_errors=false
db.use_ssl=false
# web page cosmetics
skin.title=cBioPortal for Cancer Genomics
skin.email_contact=cbioportal at googlegroups dot com
skin.authorization_message=Access to this portal is only available to authorized users at Memorial Sloan Kettering Cancer Center.  [<a href="http://bit.ly/ZevaHa">Request Access</a>].
skin.example_study_queries=tcga\ntcga -provisional\ntcga -moratorium\ntcga OR icgc\n-"cell line"\nprostate mskcc\nesophageal OR stomach\nserous\nbreast
skin.data_sets_header=The portal currently contains data from the following cancer genomics studies.  The table below lists the number of available samples per data type and tumor.
skin.data_sets_footer=Data sets of TCGA studies were downloaded from Broad Firehose (http://gdac.broadinstitute.org) and updated monthly. In some studies, data sets were from the TCGA working groups directly.
#skin.examples_right_column_html=<ul><li><a href="patient?studyId=ucec_tcga_pub&caseId=TCGA-BK-A0CC">Patient view of an endometrial cancer case</a></li></ul>

# documentation pages
skin.documentation.baseurl=https://raw.githubusercontent.com/cBioPortal/cbioportal/master/docs/
skin.documentation.markdown=true
skin.documentation.faq=FAQ.md
skin.documentation.about=About-Us.md
skin.documentation.news=News.md
skin.documentation.oql=Onco-Query-Language.md
skin.documentation.dat=Authenticating-Users-via-Tokens.md

# setting controlling the logos
skin.right_logo=
skin.tag_line_image=tag_line.png

# setting controlling which tabs to hide.
skin.show_news_tab=true
skin.show_data_tab=true
skin.show_web_api_tab=true
skin.show_r_matlab_tab=true
skin.show_tutorials_tab=true
skin.show_faqs_tab=true
skin.show_tools_tab=true
skin.show_about_tab=true

# settings controlling the whats new blurb
skin.right_nav.whats_new_blurb=<p> &bull;<a href="news.jsp"> <b>New data and features released</b></a><br/> &bull;<a href="tools.jsp"> <b>New tools released</b></a> </p> <form action="https://groups.google.com/group/cbioportal-news/boxsubscribe"> &nbsp;&nbsp;&nbsp;&nbsp;<b>Sign up for low-volume email news alerts:</b></br> &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="email"> <input type="submit" name="sub" value="Subscribe"> </form> &nbsp;&nbsp;&nbsp;&nbsp;<b>Or follow us <a href="http://www.twitter.com/cbioportal"><i>@cbioportal</i></a> on Twitter</b>

# setting controlling the blurb
skin.blurb=The cBioPortal for Cancer Genomics provides <b>visualization</b>, <b>analysis</b> and <b>download</b> of large-scale cancer genomics data sets.  <p>Please adhere to <u><a href="http://cancergenome.nih.gov/abouttcga/policies/publicationguidelines"> the TCGA publication guidelines</a></u> when using TCGA data in your publications.</p> <p><b>Please cite</b> <a href="http://www.ncbi.nlm.nih.gov/pubmed/23550210">Gao et al. <i>Sci. Signal.</i> 2013</a> &amp;  <a href="http://cancerdiscovery.aacrjournals.org/content/2/5/401.abstract">Cerami et al. <i>Cancer Discov.</i> 2012</a> when publishing results based on cBioPortal.</p>

# setting controlling the citation below the blurb
# skin.citation_rule_text=Please cite: <a href="http://cancerdiscovery.aacrjournals.org/content/2/5/401.abstract" target="_blank">Cerami et al., 2012</a> &amp; <a href="http://www.ncbi.nlm.nih.gov/pubmed/23550210" target="_blank">Gao et al., 2013</a>

# setting controlling the footer
skin.footer= | <a href="http://www.mskcc.org/mskcc/html/44.cfm">MSKCC</a> | <a href="http://cancergenome.nih.gov/">TCGA</a>

# setting controlling html for the contact
skin.login.contact_html=If you think you have received this message in error, please contact us at <a style="color:#FF0000" href="mailto:cbioportal-access@cbio.mskcc.org">cbioportal-access@cbio.mskcc.org</a>

# setting controlling the saml registration
skin.login.saml.registration_html=Sign in with MSK

# settings controlling what to show in the right navigation bar
skin.right_nav.show_data_sets=true
skin.right_nav.show_examples=true
skin.right_nav.show_testimonials=true
skin.right_nav.show_whats_new=true

# settings controlling what to show in the right navigation bar
skin.study_view.link_text=To build your own case set, try out our enhanced Study View.

# setting controlling the default setting for filtering genes in patient view
# skin.patientview.filter_genes_profiled_all_samples=false

## enable and set this property to specify a study group to be used to identify public studies for which no specific authorization entries are needed in the `authorities` table
# always_show_study_group=

## change the `-Dauthenticate=` JVM argument to configure
## which method of authentication to use (false, googleplus, social_auth_google, social_auth_microsoft, saml, openid, ad, ldap, noauthsessionservice)

## Should the permissions for groups and users be filtered by this instance's app.name?
## (true means the system only handles "CBIOPORTAL:someGroupPermission" groups, false means "someGroupPermission" works)
filter_groups_by_appname=true
## settings to connect to googleplus/social_auth_google auth infrastructure
googleplus.consumer.key=
googleplus.consumer.secret=

## settings to connect to social_auth_microsoft auth infrastructure
microsoftlive.consumer.key=
microsoftlive.consumer.secret=

## SAML settings
saml.sp.metadata.entityid=
# change this url if behind reverse proxy that handles SSL, see docs/Authenticating-Users-via-SAML.md
saml.sp.metadata.entitybaseurl=#{null}
saml.idp.metadata.location=
saml.idp.metadata.entityid=
# saml keystore settings:
saml.keystore.location=
saml.keystore.password=
saml.keystore.private-key.key=
saml.keystore.private-key.password=
saml.keystore.default-key=
# How to send SAML request messages to the IDP.
# Set to "specificBinding" to configure specific binding:
saml.idp.comm.binding.settings=defaultBinding
# Configure the specific binding if above is specificBinding. Leave empty if defaultBinding.
# Options: bindings:HTTP-POST, bindings:HTTP-Redirect, bindings:PAOS, profiles:holder-of-key:SSO:browser
saml.idp.comm.binding.type=
# Change this to configure your custom UserDetails parser (default: org.cbioportal.security.spring.authentication.saml.SAMLUserDetailsServiceImpl)
saml.custom.userservice.class=org.cbioportal.security.spring.authentication.saml.SAMLUserDetailsServiceImpl
# Change this to configure to configure a custom logout URL: (default: /login.jsp?logout_success=true)
saml.logout.url=/login.jsp?logout_success=true

## settings to connect to an Active Directory domain controller
ad.domain=
ad.url=
## configuration for the LDAP access
ldap.user_search_base=DC=example,DC=com
ldap.url=ldap://ldap.example.com
ldap.manager.dn=CN=manager-user,DC=example,DC=com
ldap.manager.password=PASSWORD
## The following attributes for are good for ActiveDirectory, for OpenLDAP use "uid" for username
ldap.attributes.username=sAMAccountName
#ldap.attributes.username=uid
ldap.attributes.last_name=sn
ldap.attributes.given_name=givenName
ldap.attributes.email=mail

# data access token settings
dat.unauth_users=
dat.method=none
dat.ttl_seconds=2592000
dat.uuid.max_number_per_user=1
dat.uuid.revoke_other_tokens=true
dat.jwt.secret_key=

# study view settings
# always show studies with this group
always_show_study_group=

# mdacc heatmap integration
#show.mdacc.heatmap=true

# patient view settings
patient_view_placeholder=false
digitalslidearchive.iframe.url=http://cancer.digitalslidearchive.net/index_mskcc.php?slide_name=
digitalslidearchive.meta.url=http://cancer.digitalslidearchive.net/local_php/get_slide_list_from_db_groupid_not_needed.php?slide_name_filter=
tumor_image.url=http://cbio.mskcc.org/cancergenomics/tcga-tumor-images/
tcga_path_report.url=https://github.com/cbioportal/datahub/raw/master/tcga/pathology_reports/pathology_reports.txt

# various url's
segfile.url=http://cbio.mskcc.org/cancergenomics/gdac-portal/seg/


# The default OncoKB instance, the portal is connecting to, does not include any therapeutic information and the token is not required.
# If you wish to include such information, please consider obtaining a license to support future OncoKB development by following
# https://docs.cbioportal.org/2.4-integration-with-other-webservices/oncokb-data-access.

# Enable OncoKB annotation (true, false)
show.oncokb=true

# The URL of the OncoKB instance to connect to.
# The default address does not require authentication and is freely to use.
oncokb.public_api.url=https://public.api.oncokb.org/api/v1

# Your OncoKB Token which an be found under https://www.oncokb.org/account/settings
oncokb.token=


# Enable Chang's hotspot list (true, false)
show.hotspot=true
hotspots.url=https://www.cancerhotspots.org/api/

# Enable Civic variant annotation (true, false)
show.civic=false

# Link to My Cancer Genome. Please disable (set to false) when using cBioPortal with patient identifiable data due My Cancer Genome license restrictions.
mycancergenome.show=true

# igv bam linking
igv.bam.linking=
# colon delimited
igv.bam.linking.studies=
openssl.binary=
signature.key=
encryption.key=
broad.bam.url=
broad.bam.checking.url=

# pathway settings
include_networks=true
pathway_commons.url=http://www.pathwaycommons.org/pc2

# the new API uses the v3 of bitly API, and a java library to make the API call, so you only need to provide the access token
bitly.access.token=

# google analytics
google_analytics_profile_id=

# genomespace linking
genomespace=true

# set this to true if you update cancer studies in your production database without shutting the web server
recache_study_after_update=false

# session-service url: http://[host]:[port]/[session_service_app]/api/sessions/[portal_instance]/
# example session-service url: http://localhost:8080/session_service/api/sessions/public_portal/
# see: https://github.com/cBioPortal/session-service
# excluding this value or setting it to an empty string will revert to the previous bookmarking method
# WARNING: do not use session service with -Dauthenticate=false
#  either use authentication or change to -Dauthenticate=noauthsessionservice
session.service.url=
# if basic authentication is enabled on session service one should set:
# session.service.user=user
# session.service.password=pass

# disabled tabs, | delimited
# possible values: cancer_types_summary, mutual_exclusivity, plots, mutations, co_expression, enrichments, survival, network, download, bookmark, IGV
disabled_tabs=

# study ids and categories to force to top of study selector
# format is category1#study1a,study1b,study1c;category2#study2
priority_studies=

# species and genomic information
species=human
ncbi.build=37
ucsc.build=hg19

# default view in oncoprint (sample, patient (default))
oncoprint.defaultview=patient

# OncoPrint driver mutation annotations
# oncoprint.custom_driver_annotation.binary.menu_label=Custom driver annotation
# oncoprint.custom_driver_annotation.tiers.menu_label=Custom driver tiers
# oncoprint.custom_driver_annotation.binary.default=true
# oncoprint.custom_driver_annotation.tiers.default=true
oncoprint.oncokb.default=true
oncoprint.hotspots.default=true
# oncoprint.hide_vus.default=true

# Custom gene sets
# querypage.setsofgenes.location=file:/<path>

# valid cache types are (heap, disk, hybrid), or use 'none' to disable use of Ehcache
ehcache.cache_type=none
#ehcache.xml_configuration=/ehcache.xml
# Enable cache statistics endpoint for Ehcache monitoring
#cache.statistics_endpoint_enabled=false

# Properties for specifying cache size constraints
# - Zero is not an accepted value, will break deployment
# - disk size (if used) must be greater than heap size

#ehcache.general_repository_cache.max_mega_bytes_heap=1024
#ehcache.static_repository_cache_one.max_mega_bytes_heap=30

#ehcache.persistence_path=/tmp
#ehcache.general_repository_cache.max_mega_bytes_local_disk=4096
#ehcache.static_repository_cache_one.max_mega_bytes_local_disk=32

# Default cross cancer study query
# query this session id when not specifying a study for
# linkout links e.g. /ln?q=TP53:MUT or when querying a single gene in quick
# search
#
# default_cross_cancer_study_session_id=
#
# if session service is not enabled, specify a comma separated list of studies
# here instead e.g.:
#
# default_cross_cancer_study_list=mixed_pipseq_2017,cellline_nci60
# default_cross_cancer_study_list_name=My list of studies

# Enable/Disable quick search (currently in beta, default is false)
# quick_search.enabled=true

# enable/disable hrrs logging
# hrrs can be used for debugging - when enabled incoming web requests
# will be logged into the specified directory
# logs must be decrypted for more in-depth information
# see: https://github.com/vy/hrrs/blob/master/README.md
#hrrs.logging.filepath=
#hrrs.enable.logging=false

# ensembl URL template for transcript lookup in Mutations tab. Default is http://grch37.ensembl.org/homo_sapiens/Transcript/Summary?t=<%= transcriptId %>
#ensembl.transcript_url=http://ensembl.org/homo_sapiens/Transcript/Summary?t=<%= transcriptId %>

# Enable/disable Persistent Cache (true, false)
# The Persistent Cache is a frontend feature that is used to cache semi static
# data produced by APIs. It uses IndexedDB as a means for persistent storage.
# This feature is disabled by default.
# enable_persistent_cache=true

# Limit the size of gene queries (number). gene count * sample count < query_product_limit
# This limit is enforced on the frontend.
# query_product_limit=1000000

# Enable gsva to query
# skin.show_gsva=true
