# app name
app.name=cbioportal

# database
db.user=cbio_user
db.password=somepassword
db.host=localhost
db.portal_db_name=cbioportal
db.driver=com.mysql.jdbc.Driver
db.connection_string=jdbc:mysql://localhost/
db.tomcat_resource_name=jdbc/cbioportal
# this should normally be set to false. In some cases you could set this to true (e.g. for testing a feature of a newer release that is not related to the schema change in expected db version above):
db.suppress_schema_version_mismatch_errors=false

# web page cosmetics
skin.title=cBioPortal for Cancer Genomics
skin.email_contact=cbioportal at googlegroups dot com
skin.authorization_message=Access to this portal is only available to authorized users at Memorial Sloan Kettering Cancer Center.  [<a href="http://bit.ly/ZevaHa">Request Access</a>].
skin.example_study_queries=tcga\ntcga -provisional\ntcga -moratorium\ntcga OR icgc\n-"cell line"\nprostate mskcc\nesophageal OR stomach\nserous\nbreast
skin.data_sets_header=The portal currently contains data from the following cancer genomics studies.  The table below lists the number of available samples per data type and tumor.
skin.data_sets_footer=Data sets of TCGA studies were downloaded from Broad Firehose (http://gdac.broadinstitute.org) and updated monthly. In some studies, data sets were from the TCGA working groups directly.
#skin.examples_right_column_html=<ul><li><a href="patient?studyId=ucec_tcga_pub&caseId=TCGA-BK-A0CC">Patient view of an endometrial cancer case</a></li></ul>

# documentation pages
skin.documentation.baseurl=https://raw.githubusercontent.com/cBioPortal/cbioportal/master/docs/
skin.documentation.markdown=true
skin.documentation.faq=FAQ.md
skin.documentation.about=About-Us.md
skin.documentation.news=News.md
skin.documentation.oql=Onco-Query-Language.md

# setting controlling the logos
skin.right_logo=
skin.tag_line_image=tag_line.png

# setting controlling which tabs to hide.
skin.show_news_tab=true
skin.show_data_tab=true
skin.show_web_api_tab=true
skin.show_r_matlab_tab=true
skin.show_tutorials_tab=true
skin.show_faqs_tab=true
skin.show_tools_tab=true
skin.show_about_tab=true

# settings controlling the whats new blurb
skin.right_nav.whats_new_blurb=<p> &bull;<a href="news.jsp"> <b>New data and features released</b></a><br/> &bull;<a href="tools.jsp"> <b>New tools released</b></a> </p> <form action="https://groups.google.com/group/cbioportal-news/boxsubscribe"> &nbsp;&nbsp;&nbsp;&nbsp;<b>Sign up for low-volume email news alerts:</b></br> &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="email"> <input type="submit" name="sub" value="Subscribe"> </form> &nbsp;&nbsp;&nbsp;&nbsp;<b>Or follow us <a href="http://www.twitter.com/cbioportal"><i>@cbioportal</i></a> on Twitter</b>

# setting controlling the blurb
skin.blurb=The cBioPortal for Cancer Genomics provides <b>visualization</b>, <b>analysis</b> and <b>download</b> of large-scale cancer genomics data sets.  <p>Please adhere to <u><a href="http://cancergenome.nih.gov/abouttcga/policies/publicationguidelines"> the TCGA publication guidelines</a></u> when using TCGA data in your publications.</p> <p><b>Please cite</b> <a href="http://www.ncbi.nlm.nih.gov/pubmed/23550210">Gao et al. <i>Sci. Signal.</i> 2013</a> &amp;  <a href="http://cancerdiscovery.aacrjournals.org/content/2/5/401.abstract">Cerami et al. <i>Cancer Discov.</i> 2012</a> when publishing results based on cBioPortal.</p>

# setting controlling the footer
skin.footer= | <a href="http://www.mskcc.org/mskcc/html/44.cfm">MSKCC</a> | <a href="http://cancergenome.nih.gov/">TCGA</a>

# setting controlling html for the contact
skin.login.contact_html=If you think you have received this message in error, please contact us at <a style="color:#FF0000" href="mailto:cbioportal-access@cbio.mskcc.org">cbioportal-access@cbio.mskcc.org</a>

# setting controlling the saml registration
skin.login.saml.registration_html=Sign in with MSK

# settings controlling what to show in the right navigation bar
skin.right_nav.show_data_sets=true
skin.right_nav.show_examples=true
skin.right_nav.show_testimonials=true

# settings controlling what to show in the right navigation bar
skin.study_view.link_text=To build your own case set, try out our enhanced Study View.

# authentication
## is authorization enabled at all? (true, false)
authorization=false
## enable and set this property to specify a study group to be used to identify public studies for which no specific authorization entries are needed in the `authorities` table
# always_show_study_group=

## change the `-Dauthenticate=` JVM argument to configure
## which method of authentication to use (false, googleplus, social_auth, saml, openid, ad, ldap, noauthsessionservice)

## Should the permissions for groups and users be filtered by this instance's app.name?
## (true means the system only handles "CBIOPORTAL:someGroupPermission" groups, false means "someGroupPermission" works)
filter_groups_by_appname=true
## settings to connect to googleplus auth infrastructure
googleplus.consumer.key=
googleplus.consumer.secret=

## SAML settings
saml.sp.metadata.entityid=
saml.idp.metadata.location=
saml.idp.metadata.entityid=
# saml keystore settings:
saml.keystore.location=
saml.keystore.password=
saml.keystore.private-key.key=
saml.keystore.private-key.password=
saml.keystore.default-key=
# How to send SAML request messages to the IDP. 
# Set to "specificBinding" to configure specific binding:
saml.idp.comm.binding.settings=defaultBinding
# Configure the specific binding if above is specificBinding. Leave empty if defaultBinding.
# Options: bindings:HTTP-POST, bindings:HTTP-Redirect, bindings:PAOS, profiles:holder-of-key:SSO:browser
saml.idp.comm.binding.type=
# Change this to configure your custom UserDetails parser (default: org.cbioportal.security.spring.authentication.saml.SAMLUserDetailsServiceImpl)
saml.custom.userservice.class=org.cbioportal.security.spring.authentication.saml.SAMLUserDetailsServiceImpl
# Change this to configure to configure a custom logout URL: (default: /login.jsp?logout_success=true)
saml.logout.url=/login.jsp?logout_success=true

## settings to connect to an Active Directory domain controller
ad.domain=
ad.url=
## configuration for the LDAP access
ldap.user_search_base=DC=example,DC=com
ldap.url=ldap://ldap.example.com
ldap.manager.dn=CN=manager-user,DC=example,DC=com
ldap.manager.password=PASSWORD
## The following attributes for are good for ActiveDirectory, for OpenLDAP use "uid" for username
ldap.attributes.username=sAMAccountName
#ldap.attributes.username=uid
ldap.attributes.last_name=sn
ldap.attributes.given_name=givenName
ldap.attributes.email=mail

# study view settings
# always show studies with this group
always_show_study_group=
mdacc.heatmap.study.meta.url=//bioinformatics.mdanderson.org/study2url?studyid=
mdacc.heatmap.study.url=//bioinformatics.mdanderson.org/TCGA/NGCHMPortal/?

# patient view settings
patient_view_placeholder=false
digitalslidearchive.iframe.url=http://cancer.digitalslidearchive.net/index_mskcc.php?slide_name=
digitalslidearchive.meta.url=http://cancer.digitalslidearchive.net/local_php/get_slide_list_from_db_groupid_not_needed.php?slide_name_filter=
tumor_image.url=http://cbio.mskcc.org/cancergenomics/tcga-tumor-images/
tcga_path_report.url=https://github.com/cbioportal/datahub/raw/master/tcga/pathology_reports/pathology_reports.txt
mdacc.heatmap.patient.url=//bioinformatics.mdanderson.org/TCGA/NGCHMPortal/?participant=
mdacc.heatmap.meta.url=//bioinformatics.mdanderson.org/participant2maps?participant=

# various url's
segfile.url=http://cbio.mskcc.org/cancergenomics/gdac-portal/seg/

# Enable OncoKB annotation (true, false)
show.oncokb=true

# Enable Chang's hotspot list (true, false)
show.hotspot=true
hotspots.url=https://www.cancerhotspots.org/api/

# Enable Civic variant annotation (true, false)
show.civic=false

# Link to My Cancer Genome. Please disable (set to false) when using cBioPortal with patient identifiable data due My Cancer Genome license restrictions.
mycancergenome.show=true

# igv bam linking
igv.bam.linking=
# colon delimited
igv.bam.linking.studies=
openssl.binary=
signature.key=
encryption.key=
broad.bam.url=
broad.bam.checking.url=

# pathway settings
include_networks=true
pathway_commons.url=http://www.pathwaycommons.org/pc2

# the new API uses the v3 of bitly API, and a java library to make the API call, so you only need to provide the access token  
bitly.access.token=

# google analytics
google_analytics_profile_id=

# genomespace linking
genomespace=true

# set this to true if you update cancer studies in your production database without shutting the web server
recache_study_after_update=false

# session-service url: http://[host]:[port]/[session_service_app]/api/sessions/[portal_instance]/ 
# example session-service url: http://localhost:8080/session_service/api/sessions/public_portal/
# see: https://github.com/cBioPortal/session-service
# excluding this value or setting it to an empty string will revert to the previous bookmarking method
# WARNING: do not use session service with -Dauthenticate=false
#  either use authentication or change to -Dauthenticate=noauthsessionservice
session.service.url=
# if basic authentication is enabled on session service one should set:
# session.service.user=user
# session.service.password=pass

# disabled tabs, | delimited
# possible values: cancer_types_summary, mutual_exclusivity, plots, mutations, co_expression, enrichments, survival, network, download, bookmark, IGV
disabled_tabs=

# study ids and categories to force to top of study selector
# format is category1#study1a,study1b,study1c;category2#study2
priority_studies=

# species and genomic information
species=human
ncbi.build=37
ucsc.build=hg19

# default view in oncoprint (sample, patient (default))
oncoprint.defaultview=patient

# OncoPrint driver mutation annotations
# oncoprint.custom_driver_annotation.binary.menu_label=Custom driver annotation
# oncoprint.custom_driver_annotation.tiers.menu_label=Custom driver tiers
# oncoprint.custom_driver_annotation.default=true
# oncoprint.custom_driver_tiers_annotation.default=true
# oncoprint.oncokb_hotspots.default=custom
# oncoprint.hide_vus.default=false

# Custom gene sets
# querypage.setsofgenes.location=file:/<path>
#
# Disable cache (for non authorized portals this can sometimes avoid running
# out of memory with relatively little performance loss)
# mybatis.cache.enabled=false
