<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
        namespace="org.cbioportal.infrastructure.repository.clickhouse.clinical_event.ClickhouseClinicalEventMapper">

    <select id="getClinicalEventTypeCounts" resultType="org.cbioportal.legacy.model.ClinicalEventTypeCount">
        SELECT
        event_type as eventType,
        count(DISTINCT patient_unique_id) as count
        FROM clinical_event_derived
        <where>
           <include refid="org.cbioportal.infrastructure.repository.clickhouse.studyview.ClickhouseStudyViewFilterMapper.applyStudyViewFilterUsingPatientId"/>
        </where>
        GROUP BY event_type
    </select>
</mapper>