<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
        namespace="org.cbioportal.infrastructure.repository.clickhouse.clinical_event.ClickhouseClinicalEventMapper">

    <select id="getClinicalEventTypeCounts" resultType="org.cbioportal.legacy.model.ClinicalEventTypeCount">
        SELECT
        ce.event_type as eventType,
        count(DISTINCT concat(cs_ce.cancer_study_identifier, '_', p_ce.stable_id)) as count
        FROM clinical_event ce
        JOIN patient p_ce ON ce.patient_id = p_ce.internal_id
        JOIN cancer_study cs_ce ON p_ce.cancer_study_id = cs_ce.cancer_study_id
        <where>
           concat(cs_ce.cancer_study_identifier, '_', p_ce.stable_id) in (
               SELECT patient_unique_id
               FROM <include refid="org.cbioportal.infrastructure.repository.clickhouse.sample.ClickhouseSampleMapper.sampleDerivedInline"/> sample_derived
               <where>
                   sample_unique_id IN (<include refid="org.cbioportal.infrastructure.repository.clickhouse.studyview.ClickhouseStudyViewFilterMapper.sampleUniqueIdsFromStudyViewFilter"/>)
               </where>
           )
        </where>
        GROUP BY ce.event_type
    </select>
</mapper>
