/* custom styles for the pancancer study summary ui (studies comprising more than 1 cancer type) */

table.customize-options {
	width: 100%;
}
   
table.customize-options td{
	vertical-align: top;
}

.slider-label{
	min-width: 200px;
	max-width: 220px;
	padding-left: 5px;
}

.show-hide-cancer-types{
    color: #2153AA;
    font-weight: bold;
    cursor: pointer;
}

.show-hide-cancer-types:hover {
    text-decoration: underline;
}

.specific-cancertypes-area {
    clear: both;
    padding: 10px;
}

.cc-hide {
    display: none;
}

.cc-triangle {
    float: left;
}

.cc-remove-single-study {
    width: 350px;
    float: left;
    overflow-x: hidden;
}

.cc-remove-single-study label {
    width: 350px;
}

.diagram-min-nr-altered-samples-max-label {
	float: right;
	width: 50%;
	text-align: right;
}