<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cbioportal.persistence.clickhouse.mapper.AlterationDriverAnnotationMapper">

    <select id="getAlterationDriverAnnotations" resultType="org.cbioportal.model.AlterationDriverAnnotation">
        SELECT
            alterationEventId,
            geneticProfileId,
            sampleId,
            driverFilter,
            driverFilterAnnotation,
            driverTiersFilter,
            driverTiersFilterAnnotation
        FROM alteration_driver_annotation
        <where>
            <if test="molecularProfileIds != null and !molecularProfileIds.isEmpty()">
                genomicProfileStableId IN
                <foreach item="id" collection="molecularProfileIds" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>

</mapper>