<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cbioportal.persistence.clickhouse.mapper.CosmicCountMapper">
    
    <select id="getCosmicCountsByKeywords" resultType="org.cbioportal.model.CosmicMutation">
        SELECT
        	cosmicMutationId,
	        proteinChange,
        	keyword,
        	count,
        FROM cosmic_mutation
        <where>
            <if test="list != null and !list.isEmpty()">
                keyword IN
                <foreach item="item" collection="list" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>
</mapper>
