<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cbioportal.persistence.clickhouse.mapper.MolecularProfileMapper">

	<sql id="select">
        molecularProfileId,
        stableId,
        cancerStudyId,
        cancerStudyIdentifier,
        <if test="projection == 'SUMMARY' || projection == 'DETAILED'">
        	molecularAlterationType,
        	datatype,
        	name,
        	description,
        	showProfileInAnalysisTab,
        	pivotThreshold,
        	sortOrder,
        	genericAssayType,
        	patientLevel
        </if>
        <if test="projection == 'DETAILED'">
            ,
            <include refid="org.cbioportal.persistence.clickhouse.mapper.StudyMapper.select">
                <property name="prefix" value="cancer_study."/>
            </include>
        </if>
        
    </sql>
    
    <select id="getAllMolecularProfilesInStudies" resultType="org.cbioportal.model.MolecularProfile">
        SELECT
        <include refid="select" />
        FROM molecular_profile
        INNER JOIN cancer_study ON molecular_profile.cancerStudyId = cancer_study.id
        <if test="studyIds != null">
        	WHERE cancerStudyIdentifier IN
        	<if test="studyIds.isEmpty()">
        	 (NULL)
        	</if>
        	<if test="!studyIds.isEmpty()">
                <foreach item="item" collection="studyIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </if>
        <if test="sortBy != null and projection != 'ID'">
            ORDER BY "${sortBy}" ${direction}
        </if>
        <if test="projection == 'ID'">
            ORDER BY stableId ASC
        </if>
        <if test="limit != null and limit != 0">
            LIMIT #{limit} OFFSET #{offset}
        </if>
	</select>
	
	<select id="getMetaMolecularProfilesInStudies" resultType="org.cbioportal.model.meta.BaseMeta">
		SELECT
        COUNT(*) AS totalCount
        FROM molecular_profile
		<if test="list != null">
            WHERE cancerStudyIdentifier IN
            <foreach item="item" collection="list" open="(" separator="," close=")">
                #{item}
            </foreach>
		</if>
	</select>
	
	<select id="getMolecularProfile" resultType="org.cbioportal.model.MolecularProfile">
		SELECT
        <include refid="select" />
        FROM molecular_profile
        <where>
	        <if test="molecularProfileIds != null and !molecularProfileIds.isEmpty()">
	        	stableId IN
                <foreach item="item" collection="molecularProfileIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
    	    </if>
	    </where>
	</select>
	
	<select id="getMetaMolecularProfiles" resultType="org.cbioportal.model.meta.BaseMeta">
        SELECT
        COUNT(*) AS totalCount
        FROM molecular_profile
        <where>
	        <if test="molecularProfileIds != null and !molecularProfileIds.isEmpty()">
	        	stableId IN
                <foreach item="item" collection="molecularProfileIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
    	    </if>
	    </where>
    </select>

</mapper>