<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cbioportal.persistence.clickhouse.mapper.MolecularDataMapper">
	<select id="getMolecularProfileSampleCounts" resultType="org.cbioportal.model.GenomicDataCount">
		SELECT 
			name as label,
			replaceOne(stableId, concat(cancerStudyIdentifier, '_'), '') as value,
			length(splitByChar(',', commaSeparatedSampleIds))  - 1  as count
		FROM
			molecular_profile
		WHERE
		<if test="studyViewFilter.sampleIdentifiers == null and studyViewFilter.studyIds != null">
            cancerStudyIdentifier IN
            <if test="studyViewFilter.studyIds.isEmpty()">
                (NULL)
            </if>
            <if test="!studyViewFilter.studyIds.isEmpty()">
                <foreach item="item" collection="studyViewFilter.studyIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </if>
	</select>
</mapper>