<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
        namespace="org.cbioportal.infrastructure.repository.clickhouse.patient.ClickhousePatientMapper">

    <sql id="getFilteredPatientCount">
        SELECT count(distinct patient_unique_id) as count
        FROM sample_derived
        <where>
            <include refid="org.cbioportal.infrastructure.repository.clickhouse.studyview.ClickhouseStudyViewFilterMapper.applyStudyViewFilterUsingSampleId"/>
        </where>
    </sql>

    <!-- for /sample-lists-counts/fetch (returns CaseListDataCount) -->
    <select id="getCaseListDataCountsPerStudy" resultType="org.cbioportal.legacy.model.CaseListDataCount">
        SELECT
        name AS label,
        REPLACE(stable_id, CONCAT(cancer_study_identifier, '_'), '') AS value,
        count(sample_id) AS count
        FROM sample_list_list sll
        LEFT JOIN sample_derived s ON sll.sample_id=s.internal_id
        LEFT JOIN sample_list sl on sll.list_id=sl.list_id
        <where>
            <include refid="org.cbioportal.infrastructure.repository.clickhouse.studyview.ClickhouseStudyViewFilterMapper.applyStudyViewFilterUsingSampleId"/>
        </where>
        AND label IS NOT NULL
        GROUP BY s.cancer_study_identifier, sl.stable_id, sl.name
    </select>
</mapper>