<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="propertyPlaceholderConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
        <property name="searchSystemEnvironment" value="true" />
        <property name="ignoreResourceNotFound" value="true" />
        <property name="ignoreUnresolvablePlaceholders" value="true" />
        <property name="locations">
            <list>
                <value>file:///${PORTAL_HOME}/portal.properties</value>
                <value>classpath:portal.properties</value>
                <value>classpath:maven.properties</value>
                <value>classpath:git.properties</value>
            </list>
        </property>
    </bean>

    <bean name="/applicationSwaggerConfig" class="org.cbioportal.web.config.SwaggerConfig"/>
    <bean class="org.springframework.validation.beanvalidation.MethodValidationPostProcessor">
        <property name="validator">
            <bean class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean"/>
        </property>
    </bean>

    <context:component-scan base-package="org.cbioportal.web" />
    <context:component-scan base-package="org.cbioportal.documentation" />
    <aop:aspectj-autoproxy/>

    <mvc:resources mapping="/swagger-ui.html" location="classpath:/META-INF/resources/"/>
    <mvc:resources mapping="/webjars/**" location="classpath:/META-INF/resources/webjars/"/>
    <mvc:resources mapping="/images/**" location="/images/"/>
    <mvc:resources mapping="/css/**" location="/css/"/>
    <mvc:resources mapping="/js/**" location="/js/"/>
    <mvc:resources mapping="/content/**" location="/content/"/>
    <mvc:resources mapping="/gfx/**" location="/gfx/"/>
    <mvc:resources mapping="/swf/**" location="/swf/"/>
    <mvc:view-controller path="/api" view-name="redirect:/api/swagger-ui.html"/>

    <bean id="contentNegotiationManager" class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
        <property name="favorPathExtension" value="false" />
    </bean>

    <bean class="springfox.bean.validators.configuration.BeanValidatorPluginsConfiguration" />

    <bean class="io.sentry.spring.SentryExceptionResolver"/>

    <mvc:annotation-driven content-negotiation-manager="contentNegotiationManager">
        <mvc:path-matching suffix-pattern="false" />
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="objectMapper">
                    <bean class="org.cbioportal.web.config.CustomObjectMapper"/>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>
    <mvc:interceptors>
        <bean id="involvedCancerStudyInterceptor" class="org.cbioportal.web.util.InvolvedCancerStudyExtractorInterceptor"/>
    </mvc:interceptors>
    <beans profile="ga-api-tracking-enabled">
      <mvc:interceptors>
        <bean id="googleAnalyticsInterceptor" class="org.cbioportal.web.util.GoogleAnalyticsInterceptor"/>
      </mvc:interceptors>
    </beans>

</beans>
