<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cbioportal.application.file.export.mappers.CancerStudyMetadataMapper">
    <select id="getCancerStudyMetadata" resultType="org.cbioportal.application.file.model.CancerStudyMetadata">
        SELECT
        cs.TYPE_OF_CANCER_ID AS typeOfCancer,
        cs.CANCER_STUDY_IDENTIFIER AS cancerStudyIdentifier,
        cs.NAME AS name,
        cs.DESCRIPTION AS description,
        cs.CITATION AS citation,
        cs.PMID AS pmid,
        cs.`GROUPS` AS `groups`,
        rg.NAME AS referenceGenome
        FROM cancer_study cs
        JOIN reference_genome rg ON rg.REFERENCE_GENOME_ID = cs.REFERENCE_GENOME_ID
        WHERE cs.CANCER_STUDY_IDENTIFIER = #{studyId}
    </select>
</mapper>