<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cbioportal.application.file.export.repositories.mybatis.CaseListMetadataMapper">
    <resultMap id="CaseListMetadataResultMap" type="org.cbioportal.application.file.model.CaseListMetadata">
        <id column="list_id"/>
        <result property="cancerStudyIdentifier" column="cancer_study_identifier"/>
        <result property="stableId" column="stable_id"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
        <collection property="sampleIds" ofType="String" javaType="java.util.TreeSet">
            <result column="sample_id"/>
        </collection>
    </resultMap>
    <select
            id="getCaseListsMetadata"
            resultMap="CaseListMetadataResultMap">
        <bind name="sampleIdsArray" value="sampleIds != null ? sampleIds.toArray(new String[sampleIds.size()]) : null" />
        SELECT
            sl.list_id AS list_id,
            cs.cancer_study_identifier AS cancer_study_identifier,
            sl.stable_id AS stable_id,
            sl.name AS name,
            sl.description AS description,
            s.stable_id AS sample_id
        FROM sample_list sl
        JOIN cancer_study cs ON cs.cancer_study_id = sl.cancer_study_id
        JOIN sample_list_list sll ON sll.list_id = sl.list_id
        JOIN sample s ON s.internal_id = sll.sample_id
        WHERE cs.cancer_study_identifier = #{studyId}
        <if test="sampleIds != null">
            AND s.stable_id IN (#{sampleIdsArray, typeHandler=org.apache.ibatis.type.ArrayTypeHandler})
        </if>
    </select>
</mapper>
