<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cbioportal.application.file.export.mappers.CnaSegmentMapper">
    <select id="getCnaSegments" resultType="org.cbioportal.application.file.model.CnaSegment"
            resultSetType="FORWARD_ONLY">
        SELECT
            cns.SEG_ID,
            s.STABLE_ID AS sampleId,
            cns.chr as chr,
            cns.start as start,
            cns.end as end,
            cns.num_probes as numProbes,
            cns.segment_mean as segmentMean
        FROM copy_number_seg cns
        JOIN cancer_study cs ON cs.CANCER_STUDY_ID = cns.CANCER_STUDY_ID
        JOIN sample s ON s.INTERNAL_ID = cns.SAMPLE_ID
        WHERE cs.CANCER_STUDY_IDENTIFIER = #{studyId}
    </select>
    <select id="hasCnaSegments" resultType="java.lang.Boolean">
        SELECT EXISTS (
            SELECT 1
            FROM copy_number_seg cns
            JOIN cancer_study cs ON cs.CANCER_STUDY_ID = cns.CANCER_STUDY_ID
            WHERE cs.CANCER_STUDY_IDENTIFIER = #{studyId}
        )
    </select>
</mapper>