<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cbioportal.application.file.export.mappers.GeneticProfileMapper">
    <select
            id="getGeneticProfiles"
            resultType="org.cbioportal.application.file.model.GeneticProfileDatatypeMetadata">
        SELECT
            cs.CANCER_STUDY_IDENTIFIER AS cancerStudyIdentifier,
            gp.STABLE_ID AS stableId,
            gp.NAME AS profileName,
            gp.DESCRIPTION AS profileDescription,
            gp.GENETIC_ALTERATION_TYPE AS geneticAlterationType,
            gp.DATATYPE AS datatype,
            gp.GENERIC_ASSAY_TYPE AS genericAssayType,
            gp.SHOW_PROFILE_IN_ANALYSIS_TAB AS showProfileInAnalysisTab,
            gp.PIVOT_THRESHOLD AS pivotThreshold,
            gp.SORT_ORDER AS sortOrder,
            gp.PATIENT_LEVEL AS patientLevel
        FROM genetic_profile gp
        JOIN cancer_study cs ON gp.CANCER_STUDY_ID = cs.CANCER_STUDY_ID
        WHERE cs.CANCER_STUDY_IDENTIFIER = #{studyId} AND gp.GENETIC_ALTERATION_TYPE = #{geneticAlterationType} AND gp.DATATYPE = #{datatype}
        <if test="sampleIds != null">
            AND EXISTS (
                SELECT 1
                FROM sample_profile sp
                JOIN sample s ON sp.SAMPLE_ID = s.INTERNAL_ID
                WHERE s.STABLE_ID IN
                <foreach item="sid" collection="sampleIds" open="(" separator="," close=")">
                    #{sid}
                </foreach>
                AND sp.GENETIC_PROFILE_ID = gp.GENETIC_PROFILE_ID
            )
        </if>
    </select>
</mapper>