<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cbioportal.application.file.export.repositories.mybatis.MafRecordMapper">
    <select
            id="getMafRecords"
            resultType="org.cbioportal.application.file.model.MafRecord"
            resultSetType="FORWARD_ONLY">
        SELECT
            g.ENTREZ_GENE_ID AS entrezGeneId,
            m.CENTER AS center,
            g.HUGO_GENE_SYMBOL AS hugoSymbol,
            me.NCBI_BUILD AS ncbiBuild,
            me.CHR AS chromosome,
            me.START_POSITION AS startPosition,
            me.END_POSITION AS endPosition,
            me.STRAND AS strand,
            me.MUTATION_TYPE AS variantClassification,
            me.VARIANT_TYPE AS variantType,
            me.REFERENCE_ALLELE AS referenceAllele,
            m.TUMOR_SEQ_ALLELE1 AS tumorSeqAllele1,
            m.TUMOR_SEQ_ALLELE2 AS tumorSeqAllele2,
            me.DB_SNP_RS AS dbSnpRs,
            me.DB_SNP_VAL_STATUS AS dbSnpValStatus,
            CASE
                WHEN TRIM(me.PROTEIN_CHANGE) IN ('', 'MUTATED') THEN NULL
                ELSE CONCAT('p.', me.PROTEIN_CHANGE)
            END AS hgvspShort,
            CONCAT('p.', me.PROTEIN_CHANGE) AS hgvspShort, -- if not MUTATED
            s.STABLE_ID AS tumorSampleBarcode,
            m.MATCHED_NORM_SAMPLE_BARCODE AS matchedNormSampleBarcode,
            m.MATCH_NORM_SEQ_ALLELE1 AS matchNormSeqAllele1,
            m.MATCH_NORM_SEQ_ALLELE2 AS matchNormSeqAllele2,
            m.TUMOR_VALIDATION_ALLELE1 AS tumorValidationAllele1,
            m.TUMOR_VALIDATION_ALLELE2 AS tumorValidationAllele2,
            m.MATCH_NORM_VALIDATION_ALLELE1 AS matchNormValidationAllele1,
            m.MATCH_NORM_VALIDATION_ALLELE2 AS matchNormValidationAllele2,
            m.VERIFICATION_STATUS AS verificationStatus,
            m.VALIDATION_STATUS AS validationStatus,
            m.MUTATION_STATUS AS mutationStatus,
            m.SEQUENCING_PHASE AS sequencingPhase,
            m.SEQUENCE_SOURCE AS sequenceSource,
            m.VALIDATION_METHOD AS validationMethod,
            m.SCORE AS score,
            m.BAM_FILE AS bamFile,
            m.SEQUENCER AS sequencer,
            m.TUMOR_ALT_COUNT AS tAltCount,
            m.TUMOR_REF_COUNT AS tRefCount,
            m.NORMAL_ALT_COUNT AS nAltCount,
            m.NORMAL_REF_COUNT AS nRefCount
        FROM mutation m
        JOIN genetic_profile gp ON gp.GENETIC_PROFILE_ID = m.GENETIC_PROFILE_ID
        JOIN sample s ON s.INTERNAL_ID = m.SAMPLE_ID
        <if test="sampleIds != null">
            JOIN (
                SELECT *
                FROM (VALUES
                <foreach item="sid" collection="sampleIds" separator=",">
                    ROW(#{sid})
                </foreach>
                ) AS temp(sample_id)
            ) AS sample_ids_subquery ON sample_ids_subquery.sample_id = s.STABLE_ID
        </if>
        JOIN gene g ON g.ENTREZ_GENE_ID = m.ENTREZ_GENE_ID
        JOIN mutation_event me ON me.MUTATION_EVENT_ID = m.MUTATION_EVENT_ID
        WHERE gp.STABLE_ID = #{molecularProfileStableId}
    </select>
</mapper>