<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cbioportal.application.file.export.repositories.mybatis.SVMapper">
    <select
            id="getStructuralVariants"
            resultType="org.cbioportal.application.file.model.StructuralVariant"
            resultSetType="FORWARD_ONLY">
        <bind name="sampleIdsArray" value="sampleIds != null ? sampleIds.toArray(new String[sampleIds.size()]) : null" />
        SELECT
            s.stable_id AS sampleId,
            sv.site1_entrez_gene_id AS site1EntrezGeneId,
            g1.hugo_gene_symbol AS site1HugoSymbol,
            sv.site1_ensembl_transcript_id AS site1EnsemblTranscriptId,
            sv.site1_chromosome AS site1Chromosome,
            sv.site1_region AS site1Region,
            sv.site1_region_number AS site1RegionNumber,
            sv.site1_contig AS site1Contig,
            sv.site1_position AS site1Position,
            sv.site1_description AS site1Description,
            sv.site2_entrez_gene_id AS site2EntrezGeneId,
            g2.hugo_gene_symbol AS site2HugoSymbol,
            sv.site2_ensembl_transcript_id AS site2EnsemblTranscriptId,
            sv.site2_chromosome AS site2Chromosome,
            sv.site2_region AS site2Region,
            sv.site2_region_number AS site2RegionNumber,
            sv.site2_contig AS site2Contig,
            sv.site2_position AS site2Position,
            sv.site2_description AS site2Description,
            sv.site2_effect_on_frame AS site2EffectOnFrame,
            sv.ncbi_build AS ncbiBuild,
            sv.dna_support AS dnaSupport,
            sv.rna_support AS rnaSupport,
            sv.normal_read_count AS normalReadCount,
            sv.tumor_read_count AS tumorReadCount,
            sv.normal_variant_count AS normalVariantCount,
            sv.tumor_variant_count AS tumorVariantCount,
            sv.normal_paired_end_read_count AS normalPairedEndReadCount,
            sv.tumor_paired_end_read_count AS tumorPairedEndReadCount,
            sv.normal_split_read_count AS normalSplitReadCount,
            sv.tumor_split_read_count AS tumorSplitReadCount,
            sv.annotation AS annotation,
            sv.breakpoint_type AS breakpointType,
            sv.connection_type AS connectionType,
            sv.event_info AS eventInfo,
            sv.class AS structuralVariantClass,
            sv.length AS length,
            sv.comments AS comments,
            sv.sv_status AS svStatus
        FROM structural_variant sv
        JOIN genetic_profile gp ON gp.genetic_profile_id = sv.genetic_profile_id
        JOIN sample s ON s.internal_id = sv.sample_id
        LEFT JOIN gene g1 ON g1.entrez_gene_id = sv.site1_entrez_gene_id
        LEFT JOIN gene g2 ON g2.entrez_gene_id = sv.site2_entrez_gene_id
        WHERE gp.stable_id = #{molecularProfileStableId}
        <if test="sampleIds != null">
            AND s.stable_id IN (#{sampleIdsArray, typeHandler=org.apache.ibatis.type.ArrayTypeHandler})
        </if>
    </select>
</mapper>
