.patientTable-module__portalWidth__10-JD{padding-left:20px;padding-right:20px;min-width:400px}.patientTable-module__framedImage__95IdD{margin:20px 0;border:1px solid #eee !important;border-radius:5px;padding:10px;display:block;box-shadow:1px 1px 1px 0px rgba(0,0,0,.21)}.patientTable-module__patientTable__2vI5g{table-layout:fixed;word-wrap:break-word}.patientTable-module__patientTable__2vI5g td:first-child{width:300px}
.portalWidth{padding-left:20px;padding-right:20px;min-width:400px}.framedImage{margin:20px 0;border:1px solid #eee !important;border-radius:5px;padding:10px;display:block;box-shadow:1px 1px 1px 0px rgba(0,0,0,.21)}.sample-inline-tooltip-children{margin-right:5px}
.portalWidth{padding-left:20px;padding-right:20px;min-width:400px}.framedImage{margin:20px 0;border:1px solid #eee !important;border-radius:5px;padding:10px;display:block;box-shadow:1px 1px 1px 0px rgba(0,0,0,.21)}.clinical-spans{display:inline-flex;flex-wrap:wrap}.dark-comma{color:#333}
.sampleTable-module__portalWidth__2sn4E{padding-left:20px;padding-right:20px;min-width:400px}.sampleTable-module__framedImage__2E0br{margin:20px 0;border:1px solid #eee !important;border-radius:5px;padding:10px;display:block;box-shadow:1px 1px 1px 0px rgba(0,0,0,.21)}.sampleTable-module__sampleTable__37lEE tr th span{text-transform:capitalize}
.portalWidth{padding-left:20px;padding-right:20px;min-width:400px}.framedImage{margin:20px 0;border:1px solid #eee !important;border-radius:5px;padding:10px;display:block;box-shadow:1px 1px 1px 0px rgba(0,0,0,.21)}div.lazy-mobx-table .rc-tooltip{opacity:1}
.portalWidth{padding-left:20px;padding-right:20px;min-width:400px}.framedImage{margin:20px 0;border:1px solid #eee !important;border-radius:5px;padding:10px;display:block;box-shadow:1px 1px 1px 0px rgba(0,0,0,.21)}.msk-tabs .nav-tabs .tabAnchor{display:flex;align-items:center}.msk-tabs .nav-tabs .tabAnchor .closeButton{margin-left:10px;cursor:pointer}.msk-tabs .nav-tabs .tabAnchor .closeButton:hover{opacity:.6}
.portalWidth{padding-left:20px;padding-right:20px;min-width:400px}.framedImage{margin:20px 0;border:1px solid #eee !important;border-radius:5px;padding:10px;display:block;box-shadow:1px 1px 1px 0px rgba(0,0,0,.21)}.portalWidth{padding-left:20px;padding-right:20px;min-width:400px}.framedImage{margin:20px 0;border:1px solid #eee !important;border-radius:5px;padding:10px;display:block;box-shadow:1px 1px 1px 0px rgba(0,0,0,.21)}.patientPageHeader{position:relative;padding-left:45px;display:flex}.patientPageHeader .cohortNav{text-align:right}.patientPageHeader .cohortNav .btn-group{float:right !important;display:flex}.patientPageHeader td{vertical-align:top;padding-left:10px;padding-bottom:4px}.patientPageHeader .studyMetaBar{text-align:right;flex-grow:1}.patientPageHeader .studyMetaBar .studyMetaBar_studyName{white-space:nowrap;max-width:400px;text-overflow:ellipsis;display:inline-block;overflow:hidden}.patientPageHeader .patientDataTable{flex-grow:1}.patientPageHeader .patientIcon{position:absolute;left:0;font-size:40px}.patientPageHeader .patientSamples .patientSample{display:inline-block;background-color:#ddd;padding:1px 2px;margin-right:6px;border-radius:3px;margin-bottom:3px;font-size:11px;height:20px;line-height:20px;vertical-align:middle}.patientPageHeader .patientSamples .patientSample svg{position:relative;top:1px}.vafPlot{position:relative;top:-10px}.resourcesTab .resourcesSection{padding:10px;border-radius:5px;border:1px dashed #ddd;margin-bottom:30px}.resourcesTab .resourcesSection:last-child{margin-bottom:0px}.patient-clinical-data-tab>div{margin-bottom:20px}
.trialMatch-module__portalWidth__3OMBJ{padding-left:20px;padding-right:20px;min-width:400px}.trialMatch-module__framedImage__llM-4{margin:20px 0;border:1px solid #eee !important;border-radius:5px;padding:10px;display:block;box-shadow:1px 1px 1px 0px rgba(0,0,0,.21)}.trialMatch-module__armDiv__8Ikbp{margin:0 0 3px 0}.trialMatch-module__criteriaHr__33xV1{margin:3px 0 !important;border-top-color:#ddd !important}.trialMatch-module__alterationUl__15PAE{margin-bottom:-20px !important;list-style-type:none;padding-left:15px}.trialMatch-module__genomicSpan__1MdPT{margin-right:5px}.trialMatch-module__tooltip__3TLty{maxheight:400px;maxwidth:600px;overflow:auto}.trialMatch-module__statusBackground__1izwh{display:block;padding:10px;width:130px;border-radius:10px;background:#73ad21;text-align:center;color:#fff}.trialMatch-module__icon__1kFBu .trialMatch-module__marginLeft__3bEGE{margin-left:5px}.trialMatch-module__icon__1kFBu .trialMatch-module__marginRight__2Ei8B{margin-right:5px}.trialMatch-module__matchInfoContainer__2Mbjv{display:flex;justify-content:space-between}.trialMatch-module__matchInfoContainer__2Mbjv .trialMatch-module__sampleIdsContainer__nJeC2{flex:0 0 auto;width:30px}.trialMatch-module__matchInfoContainer__2Mbjv .trialMatch-module__genomicInfoContainer__2rTwv{flex:1 1 auto;margin:0 5px 0 0}.trialMatch-module__criteriaContainer__10CIJ{display:flex;justify-content:space-between}.trialMatch-module__criteriaContainer__10CIJ .trialMatch-module__firstLeft__3xi9Y{flex:1 1 auto;margin:0 5px 0 0}.trialMatch-module__criteriaContainer__10CIJ .trialMatch-module__firstRight__x9eHB{display:flex;flex:0 0 auto;width:50%;justify-content:space-between}.trialMatch-module__criteriaContainer__10CIJ .trialMatch-module__firstRight__x9eHB .trialMatch-module__secondLeft__3fgcR{flex:0 0 auto;width:85px;margin-right:10px}.trialMatch-module__criteriaContainer__10CIJ .trialMatch-module__firstRight__x9eHB .trialMatch-module__secondRight__Yz5Ho{flex:1 1 auto}.trialMatch-module__powered__1pOTQ{padding-right:9px;text-align:right;font-size:13px}.trialMatch-module__statusContainer__1xnON{margin:20% 0 20% 0}.trialMatch-module__statusContainer__1xnON a:hover{text-decoration:none}.trialMatch-module__feedback__1u4I4{font-size:12px}.trialMatch-module__feedback__1u4I4 .trialMatch-module__feedbackButton__2-8zQ{display:block;margin-left:auto;margin-right:auto;margin-top:10px}
.portalWidth{padding-left:20px;padding-right:20px;min-width:400px}.framedImage{margin:20px 0;border:1px solid #eee !important;border-radius:5px;padding:10px;display:block;box-shadow:1px 1px 1px 0px rgba(0,0,0,.21)}.portalWidth{padding-left:20px;padding-right:20px;min-width:400px}.framedImage{margin:20px 0;border:1px solid #eee !important;border-radius:5px;padding:10px;display:block;box-shadow:1px 1px 1px 0px rgba(0,0,0,.21)}.oncoprintjs__tooltip{padding:5px;margin-top:-10px;max-width:unset !important;min-width:225px !important;word-break:keep-all}.nobreak{white-space:nowrap;display:inline-block}.oncoprint-hidden{opacity:0}.oncoprintjs__scroll_div::-webkit-scrollbar{width:8px;height:8px;background-color:rgba(0,0,0,0);-webkit-border-radius:100px}.oncoprintjs__scroll_div::-webkit-scrollbar-thumb{background:rgba(0,0,0,.21);-webkit-border-radius:100px;width:8px;height:8px}.oncoprintjs__scroll_div::-webkit-scrollbar-thumb:hover{background:rgba(0,0,0,.3)}.oncoprintjs__scroll_div::-webkit-scrollbar-thumb:active{background:rgba(0,0,0,.42);-webkit-border-radius:100px}
.styles-module__portalWidth__3hRmD{padding-left:20px;padding-right:20px;min-width:400px}.styles-module__framedImage__WKn6v{margin:20px 0;border:1px solid #eee !important;border-radius:5px;padding:10px;display:block;box-shadow:1px 1px 1px 0px rgba(0,0,0,.21)}.styles-module__zoomControls__uXkD3{display:flex !important;align-items:center;border:1px solid #e4e4e4;border-radius:5px;padding:3px 5px;margin-left:5px}.styles-module__zoomControls__uXkD3>*{margin-right:10px}.styles-module__zoomControls__uXkD3>:last-child{margin-right:0}.styles-module__zoomControls__uXkD3>.styles-module__zoomButton__17cGd{cursor:pointer}.styles-module__zoomControls__uXkD3 .rangeslider{margin:0}.styles-module__zoomControls__uXkD3 .rangeslider .rangeslider__labels{display:none}.styles-module__zoomControls__uXkD3 .rangeslider .rangeslider__handle{height:15px;width:15px}.styles-module__zoomControls__uXkD3 .rangeslider .rangeslider__handle:after{width:9px;height:9px;top:2px;left:2px}.styles-module__zoomControls__uXkD3 .rangeslider .rangeslider__fill{background-image:linear-gradient(to bottom, #89cdef 0, #81bfde 100%)}
.styles-module__portalWidth__1kueS{padding-left:20px;padding-right:20px;min-width:400px}.styles-module__framedImage__1ndwn{margin:20px 0;border:1px solid #eee !important;border-radius:5px;padding:10px;display:block;box-shadow:1px 1px 1px 0px rgba(0,0,0,.21)}.styles-module__SurvivalTable__2NKCT{margin:30px auto;width:70%}.styles-module__SurvivalTable__2NKCT table{border-collapse:collapse !important}.styles-module__SurvivalTable__2NKCT td{border:1px solid #000;padding:0 10px;text-align:center;font-size:12px;background-color:#f8f8f8;white-space:nowrap}.styles-module__Tooltip__1I-Ty{max-width:none !important;white-space:nowrap}.styles-module__Tooltip__1I-Ty div{font-size:12px}.styles-module__NotAvailable__1Zx5R{font-size:18px;text-align:center;margin:20px 0}.styles-module__XmaxNumberInput__SQsf6{margin-right:5px;cursor:auto !important;border:1px inset;height:18px;padding:0 5px 0 5px;display:inline-block}
.styles-module__portalWidth__2aeY-{padding-left:20px;padding-right:20px;min-width:400px}.styles-module__framedImage__NILoq{margin:20px 0;border:1px solid #eee !important;border-radius:5px;padding:10px;display:block;box-shadow:1px 1px 1px 0px rgba(0,0,0,.21)}.styles-module__Tooltip__1Qxp7{border-radius:3px !important}.styles-module__Tooltip__1Qxp7>.popover-content{padding:8px 10px}div#MutationHeatmap .oncoprintjs__tooltip{border-radius:3px !important;padding:8px 10px;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:12px;transform:translate(0px, -2px)}
.portalWidth{padding-left:20px;padding-right:20px;min-width:400px}.framedImage{margin:20px 0;border:1px solid #eee !important;border-radius:5px;padding:10px;display:block;box-shadow:1px 1px 1px 0px rgba(0,0,0,.21)}.VAFChartControls{display:flex;align-items:center;justify-content:center;margin-bottom:15px}.VAFChartControls>label{font-weight:normal;display:flex;align-items:center;margin-left:30px !important;margin-bottom:0 !important;white-space:nowrap}
.tl-timeline-wrapper {
  position: relative;
}
.tl-timeline-wrapper .tl-timeline-reset-buttons {
  position: absolute;
  top: -25px;
  display: inline-block;
  left: 50%;
  font-size: 12px;
}

.tl-timelineviewport {
  border-top: none;
  overflow-x: auto;
  overflow-y: hidden;
  display: inline-block;
  width: 1200px;
  flex-grow: 1;
}

.tl-viewport-pseudo-border {
  width: 1px;
  background: #ccc;
}

.tl-timeline {
  position: relative;
}
.tl-timeline .tl-cursor {
  position: absolute;
  top: 0;
  left: 0px;
  border-left: 1px dashed #999;
  width: 1px;
  height: 1000px;
  display: none;
  z-index: 10;
  overflow: visible;
  pointer-events: none;
}
.tl-timeline .tl-cursor > div {
  position: absolute;
  background: #999;
  color: #fff;
  padding: 1px;
  font-size: 9px;
  white-space: nowrap;
  width: 75px;
  top: 0px;
  left: -37.5px;
  text-align: center;
  opacity: 1;
  border-radius: 4px;
  display: none;
}
.tl-timeline .tl-track {
  pointer-events: all;
}
.tl-timeline .tl-track line.tl-axis-grid-line.tl-track-highlight {
  stroke: #aaa;
  stroke-width: 1;
  stroke-dasharray: 5 2;
  opacity: 0;
}
.tl-timeline .tl-track rect.tl-track-highlight {
  fill: #f2f2f2;
  opacity: 0;
}

.tl-timeline-leftbar .tl-timeline-tracklabels {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-size: 12px;
}
.tl-timeline-leftbar .tl-timeline-tracklabels > div {
  white-space: nowrap;
  border-bottom: 1px dashed #eee;
  padding-right: 10px;
  padding-top: 2px;
}

.tl-zoom-selectbox {
  position: absolute;
  height: 1000px;
  background: #ccc;
  left: 100px;
  z-index: 100;
  opacity: 0.3;
  display: none;
}

.tl-zoom-selectbox-mask {
  position: absolute;
  z-index: 99;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
}

.tl-timeline-tooltip {
  max-width: 480px !important;
  min-width: 300px;
}
.tl-timeline-tooltip:hover {
  z-index: 1070 !important;
}
.tl-timeline-tooltip .popover-content {
  padding: 2px 5px !important;
  border: none;
  font-size: 10px;
}
.tl-timeline-tooltip .popover-content td,
.tl-timeline-tooltip .popover-content th {
  padding: 1px 5px;
}

.timeline-label:last-of-type {
  display: none;
}

.tl-displaynone {
  display: none;
}

.tl-hover-disabled {
  background: none !important;
}
.tl-hover-disabled .tl-track-highlight {
  display: none;
}

.tl-custom-track-header {
  position: relative;
}
.styles-module__portalWidth__31Bse{padding-left:20px;padding-right:20px;min-width:400px}.styles-module__framedImage__1BiD7{margin:20px 0;border:1px solid #eee !important;border-radius:5px;padding:10px;display:block;box-shadow:1px 1px 1px 0px rgba(0,0,0,.21)}.styles-module__genesList__2enmP table{margin-top:20px}.styles-module__genesList__2enmP .styles-module__searchInput__385Z_{margin-left:5px}.styles-module__genesList__2enmP h4.styles-module__panelName__czMY2{margin-bottom:15px}.styles-module__genesList__2enmP .styles-module__copyDownloadControls__2Edes{z-index:1080}.styles-module__patientViewModal__17gba{z-index:1070 !important}
.styles-module__portalWidth__3mtfh{padding-left:20px;padding-right:20px;min-width:400px}.styles-module__framedImage__24LeD{margin:20px 0;border:1px solid #eee !important;border-radius:5px;padding:10px;display:block;box-shadow:1px 1px 1px 0px rgba(0,0,0,.21)}.styles-module__carouselButton__35zgJ{color:#e0e0e0}.styles-module__carouselButton__35zgJ.styles-module__active__xJZuN{color:#000;cursor:pointer}.styles-module__carouselButton__35zgJ.styles-module__active__xJZuN:hover{opacity:.7}.styles-module__carouselButton__35zgJ.styles-module__active__xJZuN:active{opacity:.9}
.mutationalSignatureTable-module__portalWidth__3o3k5{padding-left:20px;padding-right:20px;min-width:400px}.mutationalSignatureTable-module__framedImage__3wxhg{margin:20px 0;border:1px solid #eee !important;border-radius:5px;padding:10px;display:block;box-shadow:1px 1px 1px 0px rgba(0,0,0,.21)}.mutationalSignatureTable-module__mutationalSignatureValue__1jp3y{font-weight:bold}
