.portalWidth{padding-left:20px;padding-right:20px;min-width:400px}.framedImage{margin:20px 0;border:1px solid #eee !important;border-radius:5px;padding:10px;display:block;box-shadow:1px 1px 1px 0px rgba(0,0,0,.21)}.oncoprint__controls{display:flex}.oncoprint__controls .rangeslider{margin:0}.oncoprint__controls .rangeslider .rangeslider__labels{display:none}.oncoprint__controls .rangeslider .rangeslider__handle{height:10px;width:10px}.oncoprint__controls .rangeslider .rangeslider__handle:after{display:none}.oncoprint__controls .checkbox:first-child,.oncoprint__controls .radio:first-child{margin-top:0px}.oncoprint__controls .dropdown-menu{width:270px;padding:12px !important}.oncoprint__controls .dropdown-menu>*,.oncoprint__controls .dropdown-menu button{margin-bottom:10px;width:100%}.oncoprint__controls .dropdown-menu>:last-child{margin-bottom:0 !important}.oncoprint__controls .oncoprint__controls__heatmap_menu textarea{width:100%;min-height:50px;border:1px solid #ddd;resize:vertical}.oncoprint__controls .oncoprint__controls__heatmap_menu>*,.oncoprint__controls .oncoprint__controls__heatmap_menu button{margin-bottom:10px;width:100%}.oncoprint__controls .oncoprint__controls__heatmap_menu>:last-child{margin-bottom:0 !important}.oncoprint__controls .oncoprint__controls__heatmap_menu .generic-assay-selector button{width:auto;margin:0;padding:5px 10px;vertical-align:middle}.oncoprint__controls .oncoprint__zoom-controls{display:flex !important;align-items:center}.oncoprint__controls .oncoprint__zoom-controls>*{margin-right:10px}.oncoprint__controls .oncoprint__zoom-controls>:last-child{margin-right:0}.oncoprint__controls .Select{margin-right:10px}.oncoprint__controls .Select .Select-control{height:32px}.oncoprint__controls .Select .Select-input{height:32px}.oncoprint__controls .clinical-track-selector .Select-control{height:33px}.oncoprint__controls .clinical-track-selector .Select .Select-placeholder{color:#000}.oncoprint__controls .clinical-track-selector .Select .Select-arrow{border-color:#000 transparent transparent}.oncoprint__controls .clinical-track-selector .Select .Select-menu-outer{max-height:400px}.oncoprint__controls .clinical-track-selector .Select .Select-menu{max-height:398px;overflow:hidden}.oncoprint__controls .clinical-track-selector .Select .Select-menu>div>div:nth-child(2){max-height:350px !important;overflow-x:hidden !important;overflow-y:scroll !important}.oncoprint__controls .clinical-track-selector .is-open .Select-control .Select-arrow{border-color:transparent transparent #000}
/**
 * React Select
 * ============
 * Created by Jed Watson and Joss Mackison for KeystoneJS, http://www.keystonejs.com/
 * https://twitter.com/jedwatson https://twitter.com/jossmackison https://twitter.com/keystonejs
 * MIT License: https://github.com/JedWatson/react-select
*/
.Select {
  position: relative;
}
.Select input::-webkit-contacts-auto-fill-button,
.Select input::-webkit-credentials-auto-fill-button {
  display: none !important;
}
.Select input::-ms-clear {
  display: none !important;
}
.Select input::-ms-reveal {
  display: none !important;
}
.Select,
.Select div,
.Select input,
.Select span {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.Select.is-disabled .Select-arrow-zone {
  cursor: default;
  pointer-events: none;
  opacity: 0.35;
}
.Select.is-disabled > .Select-control {
  background-color: #f9f9f9;
}
.Select.is-disabled > .Select-control:hover {
  box-shadow: none;
}
.Select.is-open > .Select-control {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: #fff;
  border-color: #b3b3b3 #ccc #d9d9d9;
}
.Select.is-open > .Select-control .Select-arrow {
  top: -2px;
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}
.Select.is-searchable.is-open > .Select-control {
  cursor: text;
}
.Select.is-searchable.is-focused:not(.is-open) > .Select-control {
  cursor: text;
}
.Select.is-focused > .Select-control {
  background: #fff;
}
.Select.is-focused:not(.is-open) > .Select-control {
  border-color: #007eff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1);
  background: #fff;
}
.Select.has-value.is-clearable.Select--single > .Select-control .Select-value {
  padding-right: 42px;
}
.Select.has-value.Select--single > .Select-control .Select-value .Select-value-label,
.Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
  color: #333;
}
.Select.has-value.Select--single > .Select-control .Select-value a.Select-value-label,
.Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label {
  cursor: pointer;
  text-decoration: none;
}
.Select.has-value.Select--single > .Select-control .Select-value a.Select-value-label:hover,
.Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:hover,
.Select.has-value.Select--single > .Select-control .Select-value a.Select-value-label:focus,
.Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:focus {
  color: #007eff;
  outline: none;
  text-decoration: underline;
}
.Select.has-value.Select--single > .Select-control .Select-value a.Select-value-label:focus,
.Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:focus {
  background: #fff;
}
.Select.has-value.is-pseudo-focused .Select-input {
  opacity: 0;
}
.Select.is-open .Select-arrow,
.Select .Select-arrow-zone:hover > .Select-arrow {
  border-top-color: #666;
}
.Select.Select--rtl {
  direction: rtl;
  text-align: right;
}
.Select-control {
  background-color: #fff;
  border-color: #d9d9d9 #ccc #b3b3b3;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #333;
  cursor: default;
  display: table;
  border-spacing: 0;
  border-collapse: separate;
  height: 36px;
  outline: none;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.Select-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}
.Select-control .Select-input:focus {
  outline: none;
  background: #fff;
}
.Select-placeholder,
.Select--single > .Select-control .Select-value {
  bottom: 0;
  color: #aaa;
  left: 0;
  line-height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  right: 0;
  top: 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.Select-input {
  height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.Select-input > input {
  width: 100%;
  background: none transparent;
  border: 0 none;
  box-shadow: none;
  cursor: default;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  outline: none;
  line-height: 17px;
  /* For IE 8 compatibility */
  padding: 8px 0 12px;
  /* For IE 8 compatibility */
  -webkit-appearance: none;
}
.is-focused .Select-input > input {
  cursor: text;
}
.has-value.is-pseudo-focused .Select-input {
  opacity: 0;
}
.Select-control:not(.is-searchable) > .Select-input {
  outline: none;
}
.Select-loading-zone {
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 16px;
}
.Select-loading {
  -webkit-animation: Select-animation-spin 400ms infinite linear;
  -o-animation: Select-animation-spin 400ms infinite linear;
  animation: Select-animation-spin 400ms infinite linear;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-right-color: #333;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.Select-clear-zone {
  -webkit-animation: Select-animation-fadeIn 200ms;
  -o-animation: Select-animation-fadeIn 200ms;
  animation: Select-animation-fadeIn 200ms;
  color: #999;
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 17px;
}
.Select-clear-zone:hover {
  color: #D0021B;
}
.Select-clear {
  display: inline-block;
  font-size: 18px;
  line-height: 1;
}
.Select--multi .Select-clear-zone {
  width: 17px;
}
.Select-arrow-zone {
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 25px;
  padding-right: 5px;
}
.Select--rtl .Select-arrow-zone {
  padding-right: 0;
  padding-left: 5px;
}
.Select-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 2.5px;
  display: inline-block;
  height: 0;
  width: 0;
  position: relative;
}
.Select-control > *:last-child {
  padding-right: 5px;
}
.Select--multi .Select-multi-value-wrapper {
  display: inline-block;
}
.Select .Select-aria-only {
  position: absolute;
  display: inline-block;
  height: 1px;
  width: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  float: left;
}
@-webkit-keyframes Select-animation-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes Select-animation-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.Select-menu-outer {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top-color: #e6e6e6;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  z-index: 1;
  -webkit-overflow-scrolling: touch;
}
.Select-menu {
  max-height: 198px;
  overflow-y: auto;
}
.Select-option {
  box-sizing: border-box;
  background-color: #fff;
  color: #666666;
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}
.Select-option:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.Select-option.is-selected {
  background-color: #f5faff;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 126, 255, 0.04);
  color: #333;
}
.Select-option.is-focused {
  background-color: #ebf5ff;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 126, 255, 0.08);
  color: #333;
}
.Select-option.is-disabled {
  color: #cccccc;
  cursor: default;
}
.Select-noresults {
  box-sizing: border-box;
  color: #999999;
  cursor: default;
  display: block;
  padding: 8px 10px;
}
.Select--multi .Select-input {
  vertical-align: middle;
  margin-left: 10px;
  padding: 0;
}
.Select--multi.Select--rtl .Select-input {
  margin-left: 0;
  margin-right: 10px;
}
.Select--multi.has-value .Select-input {
  margin-left: 5px;
}
.Select--multi .Select-value {
  background-color: #ebf5ff;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 126, 255, 0.08);
  border-radius: 2px;
  border: 1px solid #c2e0ff;
  /* Fallback color for IE 8 */
  border: 1px solid rgba(0, 126, 255, 0.24);
  color: #007eff;
  display: inline-block;
  font-size: 0.9em;
  line-height: 1.4;
  margin-left: 5px;
  margin-top: 5px;
  vertical-align: top;
}
.Select--multi .Select-value-icon,
.Select--multi .Select-value-label {
  display: inline-block;
  vertical-align: middle;
}
.Select--multi .Select-value-label {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  cursor: default;
  padding: 2px 5px;
}
.Select--multi a.Select-value-label {
  color: #007eff;
  cursor: pointer;
  text-decoration: none;
}
.Select--multi a.Select-value-label:hover {
  text-decoration: underline;
}
.Select--multi .Select-value-icon {
  cursor: pointer;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  border-right: 1px solid #c2e0ff;
  /* Fallback color for IE 8 */
  border-right: 1px solid rgba(0, 126, 255, 0.24);
  padding: 1px 5px 3px;
}
.Select--multi .Select-value-icon:hover,
.Select--multi .Select-value-icon:focus {
  background-color: #d8eafd;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 113, 230, 0.08);
  color: #0071e6;
}
.Select--multi .Select-value-icon:active {
  background-color: #c2e0ff;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 126, 255, 0.24);
}
.Select--multi.Select--rtl .Select-value {
  margin-left: 0;
  margin-right: 5px;
}
.Select--multi.Select--rtl .Select-value-icon {
  border-right: none;
  border-left: 1px solid #c2e0ff;
  /* Fallback color for IE 8 */
  border-left: 1px solid rgba(0, 126, 255, 0.24);
}
.Select--multi.is-disabled .Select-value {
  background-color: #fcfcfc;
  border: 1px solid #e3e3e3;
  color: #333;
}
.Select--multi.is-disabled .Select-value-icon {
  cursor: not-allowed;
  border-right: 1px solid #e3e3e3;
}
.Select--multi.is-disabled .Select-value-icon:hover,
.Select--multi.is-disabled .Select-value-icon:focus,
.Select--multi.is-disabled .Select-value-icon:active {
  background-color: #fcfcfc;
}
@keyframes Select-animation-spin {
  to {
    transform: rotate(1turn);
  }
}
@-webkit-keyframes Select-animation-spin {
  to {
    -webkit-transform: rotate(1turn);
  }
}

.styles-module__portalWidth__1Knza{padding-left:20px;padding-right:20px;min-width:400px}.styles-module__framedImage__p1p-k{margin:20px 0;border:1px solid #eee !important;border-radius:5px;padding:10px;display:block;box-shadow:1px 1px 1px 0px rgba(0,0,0,.21)}.styles-module__main__2V5AI{display:flex;flex-direction:column}.styles-module__operations__2tHBt{display:flex;justify-content:space-between}.styles-module__options__2V0tE{display:flex;flex-direction:column}.styles-module__option__dhLVt{margin-top:5px;overflow:hidden;white-space:nowrap;display:flex;align-items:center}.styles-module__markedForDeletion__2l0on{color:#ccc;text-decoration:line-through #000}.styles-module__footer__8u68Z{display:flex;justify-content:space-between}.styles-module__input__2Zk8R{margin-right:5px !important}.styles-module__label__YKqSs{white-space:nowrap;overflow:hidden;-ms-text-overflow:ellipsis;text-overflow:ellipsis;font-weight:normal !important;cursor:pointer;display:flex !important}.styles-module__labelDisabled__3jDaR{color:#ccc;cursor:default}.styles-module__sharedChart__23Z4O{background-color:#ffa !important}
/* Collection default theme */

.ReactVirtualized__Collection {
}

.ReactVirtualized__Collection__innerScrollContainer {
}

/* Grid default theme */

.ReactVirtualized__Grid {
}

.ReactVirtualized__Grid__innerScrollContainer {
}

/* Table default theme */

.ReactVirtualized__Table {
}

.ReactVirtualized__Table__Grid {
}

.ReactVirtualized__Table__headerRow {
  font-weight: 700;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ReactVirtualized__Table__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ReactVirtualized__Table__headerTruncatedText {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ReactVirtualized__Table__headerColumn,
.ReactVirtualized__Table__rowColumn {
  margin-right: 10px;
  min-width: 0px;
}
.ReactVirtualized__Table__rowColumn {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ReactVirtualized__Table__headerColumn:first-of-type,
.ReactVirtualized__Table__rowColumn:first-of-type {
  margin-left: 10px;
}
.ReactVirtualized__Table__sortableHeaderColumn {
  cursor: pointer;
}

.ReactVirtualized__Table__sortableHeaderIconContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ReactVirtualized__Table__sortableHeaderIcon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  height: 1em;
  width: 1em;
  fill: currentColor;
}

/* List default theme */

.ReactVirtualized__List {
}
.portalWidth{padding-left:20px;padding-right:20px;min-width:400px}.framedImage{margin:20px 0;border:1px solid #eee !important;border-radius:5px;padding:10px;display:block;box-shadow:1px 1px 1px 0px rgba(0,0,0,.21)}#oncoprintDiv .oncoprintjs__track_options__toggle_btn_img{top:4px}#oncoprintDiv .oncoprintjs__track_options__toggle_btn_img,#oncoprintDiv .oncoprintjs__header__toggle_btn_img{opacity:0;border-width:0px !important;border-radius:5px;position:relative}#oncoprintDiv .oncoprintjs__track_options__toggle_btn_img:hover,#oncoprintDiv .oncoprintjs__header__toggle_btn_img:hover{background-color:#eee}#oncoprintDiv:hover .oncoprintjs__track_options__toggle_btn_img,#oncoprintDiv:hover .oncoprintjs__header__toggle_btn_img{opacity:1}#oncoprintDiv .oncoprintjs__track_options__dropdown,#oncoprintDiv .oncoprintjs__header__dropdown{border:1px solid rgba(0,0,0,.15) !important;margin:0 !important;padding:0 !important;box-shadow:0 6px 12px rgba(0,0,0,.175);border-radius:5px;z-index:10000}#oncoprintDiv .oncoprintjs__track_options__dropdown li,#oncoprintDiv .oncoprintjs__header__dropdown li{padding:2px 5px}#oncoprintDiv .oncoprintjs__track_options__dropdown li.oncoprintjs__track_options__separator,#oncoprintDiv .oncoprintjs__track_options__dropdown li.oncoprintjs__header__separator,#oncoprintDiv .oncoprintjs__header__dropdown li.oncoprintjs__track_options__separator,#oncoprintDiv .oncoprintjs__header__dropdown li.oncoprintjs__header__separator{border-top:1px solid #ddd !important}#oncoprintDiv .oncoprintjs__track_options__dropdown li:not(.oncoprintjs__track_options__separator,.oncoprintjs__header__separator),#oncoprintDiv .oncoprintjs__header__dropdown li:not(.oncoprintjs__track_options__separator,.oncoprintjs__header__separator){border-width:0 !important}#oncoprintDiv .oncoprintjs__track_options__dropdown li:hover,#oncoprintDiv .oncoprintjs__header__dropdown li:hover{background:#fff !important;text-decoration:underline}
.styles-module__portalWidth__22mhB{padding-left:20px;padding-right:20px;min-width:400px}.styles-module__framedImage__-4l6t{margin:20px 0;border:1px solid #eee !important;border-radius:5px;padding:10px;display:block;box-shadow:1px 1px 1px 0px rgba(0,0,0,.21)}.styles-module__Checkboxes__2oyZv{display:flex;flex-direction:row;float:left}.styles-module__Checkboxes__2oyZv>*{margin:0 10px !important}.styles-module__Tendency__2Y46X{display:flex;flex-direction:column}.styles-module__Tendency__2Y46X.styles-module__Significant__34YnP{font-weight:bold}
.styles-module__portalWidth__38sW0{padding-left:20px;padding-right:20px;min-width:400px}.styles-module__framedImage__20n6Q{margin:20px 0;border:1px solid #eee !important;border-radius:5px;padding:10px;display:block;box-shadow:1px 1px 1px 0px rgba(0,0,0,.21)}.styles-module__dataFormatHelp__3eOr2{padding:13px;border-radius:11px;margin-top:10px;width:100%;max-width:800px}.styles-module__dataFormatHelp__3eOr2 .styles-module__dataFormatHelpBorder__2uZE3{border-left:1px solid #000;margin-left:15px;margin-right:15px}
