/* CytoscapeWeb dimensions */
#vis_content
{
    width: 100%;
	height: 666px;
	border: 1px solid #aaaaaa;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

/*
 * ######################################################## 
 * #################### Network Menu ######################
 * ########################################################
 */

#network_menu_div
{
	margin-top: -10px;
}

#network_menu_div ul
{
	margin:0;
	padding:0;
	list-style-type:none;
	list-style-position:outside;
	position:relative;
	line-height:1.3em;
}

#network_menu a
{
	cursor:pointer;
	display:block;
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-top: 0;
	padding-bottom: 0;
	border-left: 1px solid #aaaaaa;
	border-right: 1px solid #aaaaaa;
	color: #2e6e9e;
	text-decoration: none;
	background-color: #e6e6e6;
	background-repeat: no-repeat;
	font-size: 11px;
}

#network_menu li
{
	float:left;
	position:relative;
}

#network_menu ul
{
	position: absolute;
	display: none;
	top: 1.4em;
}

#network_menu li ul a
{
	height: auto;
	float: left;
}

#network_menu ul ul
{
	top:auto;
}	

#network_menu li ul ul 
{
	left:12em;
	margin:0px 0 0 10px;
}

#network_menu li:hover ul ul, #network_menu li:hover ul ul ul, #network_menu li:hover ul ul ul ul
{
	display:none;
}

#network_menu li:hover ul, #network_menu li li:hover ul, #network_menu li li li:hover ul, #network_menu li li li li:hover ul
{
	display:block;
}

#file_menu
{
	width: 19em;
}

#file_menu a
{
	width: 16em;
}

#topology_menu
{
	width: 26em;
}

#topology_menu a
{
	width: 23em;
}

#view_menu
{
	width: 20em;
}

#view_menu a
{
	width: 17em;
}

#layout_menu
{
	width: 20em;
}

#layout_menu a
{
	width: 17em;
}

#legends_menu
{
	width: 17em;
}

#legends_menu a
{
	width: 14em;
}

#network_menu .hovered-menu-item
{
	background-color: #fff;
	color: #2e6e9e;
}

#network_menu .checked-menu-item
{
	background-image: url("images/menu_check.gif");
	background-position: left;
}

#network_menu .separator-menu-item
{
	border-top:1px solid #aaaaaa;
}

#network_menu .first-menu-item
{
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
}

#network_menu .last-menu-item
{
	border-bottom:1px solid #aaaaaa;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

#network_menu .main-menu-item
{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border:1px solid #aaaaaa;
}

#network_menu .sub-menu-item
{
	background-image: url("images/menu_right.png");
	background-position: right;
}

.ui-dialog .ui-widget-header .ui-icon
{
	background-image: url(images/ui-icons_ffffff_256x240.png);
}

.ui-dialog .ui-icon-closethick
{
	background-position: -96px -128px;
}

.ui-dialog .ui-dialog-titlebar
{
	font-size: 9pt;
}

.hidden-network-ui
{
	display: none;
	visibility: hidden;
}

/* settings panel */
#settings_dialog #fd_layout_settings table 
{
	/* centering the table */
	margin-left: auto;
	margin-right: auto;
}

#settings_dialog #fd_layout_settings label 
{
	white-space: nowrap;
}

#settings_dialog .footer
{
	padding-top: 0.5em;
	text-align: center;
	font-size: 9pt;
}

/* quick info text */
#quick_info_div
{
	padding-top: 9px;
	white-space: nowrap;
}

#quick_info_label
{
	margin-left: 20px;
	font-weight: bold;
}


/*
 * ######################################################## 
 * ################### Node inspector #####################
 * ########################################################
 */
 
#node_inspector_content
{
	text-align: left;
}

#node_inspector_content .data-row
{
	font-size: 12pt;
}

#node_inspector .percent-bar
{
	margin-top: 0.5em;
	margin-left: 0.1em;
	margin-right: 0.1em;
	height: 0.3em;
	border-right: 0px solid #b0b0b0;
	clear: both;
}

#node_inspector .percent-cell
{
	width: 120px;
}

#node_inspector .percent-value
{
	text-align: right;
}

#node_inspector .percent-text
{
	
}

#node_inspector .profile
{
	border-collapse: collapse;
	margin-bottom: 0.5em;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

#node_inspector .profile-header
{
	margin-top: 0.5em;
	font-weight: bold;
}

/*  
 * IE ignores borders for tr elements, so setting borders for all td elements
 * inside a tr.
 */
#node_inspector .section-separator td
{
	border-top: 1px solid #aaaaaa;
}

#node_inspector .total-alteration td
{
	border-bottom: 2px solid #aaaaaa;
}

/*
 * ######################################################## 
 * ################### Edge inspector #####################
 * ########################################################
 */

#edge_inspector .data, #edge_inspector .xref
{
	/* centering the tables */
	margin-left: auto;
	margin-right: auto;
}

#edge_inspector .top-row td
{
	border-top: 1px solid #aaaaaa;
	border-left: 1px solid #aaaaaa;
	border-right: 1px solid #aaaaaa;
}

#edge_inspector .inner-row td
{
	border-left: 1px solid #aaaaaa;
	border-right: 1px solid #aaaaaa;
}

#edge_inspector .bottom-row td
{
	border-bottom: 1px solid #aaaaaa;
	border-left: 1px solid #aaaaaa;
	border-right: 1px solid #aaaaaa;
}

#edge_inspector .empty-row
{
	height: 0.5em;
}

#edge_inspector table
{
	border-collapse: collapse;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

/*
 * ######################################################## 
 * ############## Network Tabs (general) ##################
 * ########################################################
 */

#network_tabs
{
	width: 245px;
	height: 666px;
}

#network_tabs .tabs-button
{
	padding-top: 7px;
	padding-bottom: 7px;
	width: 26px;
}

#network_tabs .heading
{
	font-weight: bold;
	font-size: 13px;
}

/* label of the update button */
#network_tabs .footer .button-text
{
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	margin-right: 2px;
}

#network_tabs label
{
	color: #666666;
    font-family: verdana,arial,sans-serif;
    font-size: 12px;
}

/*
 * ######################################################## 
 * ##################### Genes Tab ########################
 * ########################################################
 */

#genes_tab .header
{
	padding-bottom: 0.5em;
	text-align: center;
	width: 210px;
}

#genes_tab .header #search_box
{
	width: 56px;
	margin-left: 2px;
	vertical-align: bottom;
	font-size: 11px;
}

#genes_tab .in-query
{
	color: #000000;
}

#genes_tab .not-in-query
{
	color: #808080;
}

#genes_tab select
{
	/* dimensions of the select box */
	width: 210px;
	height: 480px;
	
	font-size: 12px;
	
	margin-left: auto;
	margin-right: auto;
}

#genes_tab .selected-gene
{
	background: #aaaaaa;
}

#genes_tab #control_area
{
	margin-top: 1em;
	margin-bottom: 0.10em;
}

#genes_tab #control_area table
{
	margin-left: auto;
	margin-right: auto;
}

#genes_tab #weight_slider_area
{
	padding-top: 8px;
	padding-bottom: 0px;
}

#genes_tab #affinity_slider_area
{
	/*
	padding-top: 8px;
	padding-bottom: 8px;
	*/
}

#genes_tab #weight_slider_bar
{
	margin-left: 20px;
	margin-right: 75px;
	font-size: 1em;
}

#genes_tab #slider_area .slider-value
{
    float: right;
    text-align: left;
    padding-left: 5px;
    margin-top: -4px;
}

#genes_tab #slider_area .slider-value input
{
	font-size: 11px;
	width: 2.5em;
}

#genes_tab #slider_area .slider-max
{
    float: right;
    text-align: left;
    /*padding-left: 15px;*/
}

#genes_tab #slider_area .slider-min
{
    float: left;
    text-align: left;
}

#genes_tab #slider_area label
{
	font-size: 12px;
}

#genes_tab .footer
{
	margin-top: 4px;
	text-align: center;
}

#genes_tab .footer table
{
	margin-left: auto;
	margin-right: auto;
}


#genes_tab .ui-icon-crop
{
	background-image: url(images/crop_disabled.png); 
}

#genes_tab .ui-state-hover .ui-icon-crop,
#genes_tab .ui-icon-crop .ui-state-focus
{
	background-image: url(images/crop_enabled.png);
}

/*
 * ######################################################## 
 * ########## Interactions (Relations) Tab ################
 * ########################################################
 */

#relations_tab .percent-bar
{
	margin: 0.2em 0.5em 0 2.5em;
	height: 0.3em;
	border-right: 0px solid #b0b0b0;
	clear: both;
}

#relations_tab .footer
{
	padding-top: 0.5em;
	text-align: center;
}

#relations_tab .footer table
{
	/* centering the table */
	margin-left: auto;
	margin-right: auto;
}

#relations_tab .percent-value
{
	font-size: 10px;
	text-align: right;
}

#relations_tab .edge-type-checkbox
{
	width: 85%;
	white-space: nowrap;
}

#relations_tab, #genes_tab, #help_tab
{
	height: 575px;
	width: 210px;
}

#relations_tab #edge_source_filter
{
	padding-top: 1em;
}

/*
 * ######################################################## 
 * ####################### Help Tab #######################
 * ########################################################
 */
 
#help_tab
{
	overflow-y: auto;
}

#help_tab p
{
	margin-bottom: 15px;
    margin-top: 15px;
    text-align: left;
}

#help_tab .seed_node_img
{
	/* actual [width,height] : [96px,139px] */	
	width: auto;
	height: 72px;
}

#help_tab .linker_node_img
{
	/* actual [width,height] : [93px,121px] */
	width: auto;
	height: 64px;
}

#help_tab .altered_node_img
{
	/* actual [width,height] : [111px,125px] */
	width: auto;
	height: 90px;
}

#help_tab .not_altered_node_img
{
	/* actual [width,height] : [108px,124px] */
	width: auto;
	height: 90px;
}

#help_tab img
{
	display: block;
	
	/* centering images */
	margin-left: auto;
	margin-right: auto;
}

#help_tab ul, #help_tab p
{
	color: #666666;
    font-family: verdana,arial,sans-serif;
    font-size: 11px;
}

#help_tab ul li
{
	margin-left: -15px;
	text-align: left;
}

#help_tab a
{
	cursor:pointer;
	color:#1974B8;
}

#help_tab .italic
{
	font-style: italic;
}

#help_tab .bold
{
	font-weight: bold;
}

/*
 * ######################################################## 
 * ###################### Legends #########################
 * ########################################################
 */
#node_legend img
{
	margin: 0.4em;
}

#edge_legend #edge_type_legend
{
	/* centering the table */
	margin-left: auto;
	margin-right: auto;
}

#edge_legend img
{
	margin-top: 0.4em;
	margin-bottom: 0.4em;
}

#edge_legend .color-bar
{
	width: 95%;
	margin: 0.2em 0.5em 0 1.0em;
	height: 0.3em;
	border-right: 0px solid #b0b0b0;
	clear: both;
}

#edge_legend .color-cell
{
	width: 100px;
}

#edge_legend .label-cell
{
	width: 165px;
}

#edge_legend .type-label
{
	align: left;
	white-space: nowrap;
}

#network_tabs ul {
  font-size:12px !important;
}