#network_menu_div
{
	/* margin-left: 18px; */
	margin-top: -10px;
}

#network_menu_div ul
{
	margin:0;
	padding:0;
	list-style-type:none;
	list-style-position:outside;
	position:relative;
	line-height:1.7em;
}

#network_menu a
{
	cursor:pointer;
	display:block;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-left: 1px solid #aaaaaa;
	border-right: 1px solid #aaaaaa;
	/*font-weight: bold;*/
	color: #2e6e9e;
	text-decoration: none;
	background-color: #e6e6e6;
	background-repeat: no-repeat;
}

#network_menu a:hover
{
	background-color: #fff;
	color: #2e6e9e;
}

#network_menu li
{
	float:left;
	position:relative;
}

#network_menu ul
{
	position:absolute;
	display:none;
	width:18em;
	top:1.9em;
}

#network_menu li ul a
{
	width:15em;
	height:auto;
	float:left;
}

#network_menu ul ul
{
	top:auto;
}	

#network_menu li ul ul 
{
	left:12em;
	margin:0px 0 0 10px;
}

#network_menu li:hover ul ul, #network_menu li:hover ul ul ul, #network_menu li:hover ul ul ul ul
{
	display:none;
}

#network_menu li:hover ul, #network_menu li li:hover ul, #network_menu li li li:hover ul, #network_menu li li li li:hover ul
{
	display:block;
}

/* 
 * Menu & Settings Panel
 */
 
.checked-menu-item
{
	background-image: url("images/menu_check.gif");
	background-position: left;
}

.separator-menu-item
{
	border-top:1px solid #aaaaaa;
}

.first-menu-item
{
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
}

.last-menu-item
{
	border-bottom:1px solid #aaaaaa;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.main-menu-item
{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border:1px solid #aaaaaa;
}

.sub-menu-item
{
	background-image: url("images/menu_right.png");
	background-position: right;
}

.ui-dialog .ui-widget-header .ui-icon
{
	background-image: url(images/ui-icons_ffffff_256x240.png);
}

.ui-dialog .ui-icon-closethick
{
	background-position: -96px -128px;
}

.ui-dialog .ui-dialog-titlebar
{
	font-size: 9pt;
}

.hidden-network-ui
{
	display: none;
	visibility: hidden;
}

#settings_dialog .footer
{
	padding-top: 0.5em;
	text-align: center;
	font-size: 9pt;
}


/*
 * CytoscapeWeb dimensions
 */
#vis_content
{
	width: 580px;
	height: 666px;
	border: 1px solid #aaaaaa;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

/*
 * Inspectors
 */
#node_inspector_content .data-row
{
	font-size: 12pt;
}

/*
 * Tabs
 */
#genes_tab .header
{
	padding-bottom: 0.5em;
	text-align: center;
	font-size: 9pt;
}

#genes_tab .in-query
{
	/*font-weight: bold;*/
	color: #000000;
}

#genes_tab .not-in-query
{
	/*font-weight: bold;*/
	color: #808080;
}

#relations_tab .footer
{
	padding-top: 0.5em;
	text-align: center;
	font-size: 9pt;
}

#genes_tab select
{
	width: 200px;
	height: 500px;
}

#genes_tab .selected-gene
{
	background: #aaaaaa;
}

#relations_tab .percent-bar
{
	margin: 0.2em 0.5em 0 2.5em;
	height: 0.3em;
	border-right: 0px solid #b0b0b0;
	clear: both;
}

#relations_tab .percent-value
{
	font-size: 8pt;
}

#relations_tab .edge-type-checkbox
{
	width: 85%;
	white-space: nowrap;
}

#relations_tab, #genes_tab, #help_tab
{
	height: 575px;
	width: 200px;
}