
#network_menu_div
{
	margin-top: -10px;
}

#network_menu_div ul
{
	margin:0;
	padding:0;
	list-style-type:none;
	list-style-position:outside;
	position:relative;
	line-height:1.7em;
}

#network_menu a
{
	cursor:pointer;
	display:block;
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-top: 0;
	padding-bottom: 0;
	border-left: 1px solid #aaaaaa;
	border-right: 1px solid #aaaaaa;
	color: #2e6e9e;
	text-decoration: none;
	background-color: #e6e6e6;
	background-repeat: no-repeat;
}

#network_menu li
{
	float:left;
	position:relative;
}

#network_menu ul
{
	position: absolute;
	display: none;
	top: 1.8em;
}

#network_menu li ul a
{
	height: auto;
	float: left;
}

#network_menu ul ul
{
	top:auto;
}	

#network_menu li ul ul 
{
	left:12em;
	margin:0px 0 0 10px;
}

#network_menu li:hover ul ul, #network_menu li:hover ul ul ul, #network_menu li:hover ul ul ul ul
{
	display:none;
}

#network_menu li:hover ul, #network_menu li li:hover ul, #network_menu li li li:hover ul, #network_menu li li li li:hover ul
{
	display:block;
}

#file_menu
{
	width: 19em;
}

#file_menu a
{
	width: 16em;
}

#topology_menu
{
	width: 26em;
}

#topology_menu a
{
	width: 23em;
}

#view_menu
{
	width: 20em;
}

#view_menu a
{
	width: 17em;
}

#layout_menu
{
	width: 20em;
}

#layout_menu a
{
	width: 17em;
}

#legends_menu
{
	width: 15em;
}

#legends_menu a
{
	width: 12em;
}

/* 
 * Menu & Settings Panel
 */

#network_menu .hovered-menu-item
{
	background-color: #fff;
	color: #2e6e9e;
}

#network_menu .checked-menu-item
{
	background-image: url("images/menu_check.gif");
	background-position: left;
}

#network_menu .separator-menu-item
{
	border-top:1px solid #aaaaaa;
}

#network_menu .first-menu-item
{
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
}

#network_menu .last-menu-item
{
	border-bottom:1px solid #aaaaaa;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

#network_menu .main-menu-item
{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border:1px solid #aaaaaa;
}

#network_menu .sub-menu-item
{
	background-image: url("images/menu_right.png");
	background-position: right;
}

.ui-dialog .ui-widget-header .ui-icon
{
	background-image: url(images/ui-icons_ffffff_256x240.png);
}

.ui-dialog .ui-icon-closethick
{
	background-position: -96px -128px;
}

.ui-dialog .ui-dialog-titlebar
{
	font-size: 9pt;
}

.hidden-network-ui
{
	display: none;
	visibility: hidden;
}

#settings_dialog .footer
{
	padding-top: 0.5em;
	text-align: center;
	font-size: 9pt;
}


/*
 * CytoscapeWeb dimensions
 */
#vis_content
{
	width: 580px;
	height: 666px;
	border: 1px solid #aaaaaa;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

/*
 * Inspectors
 */
#node_inspector_content
{
	text-align: left;
}

#node_inspector_content .data-row
{
	font-size: 12pt;
}

#node_inspector .percent-bar
{
	margin-top: 0.5em;
	margin-left: 0.1em;
	margin-right: 0.1em;
	height: 0.3em;
	border-right: 0px solid #b0b0b0;
	clear: both;
}

#node_inspector .percent-cell
{
	width: 120px;
}

#node_inspector .percent-value
{
	text-align: right;
}

#node_inspector .percent-text
{
	
}

#node_inspector .profile
{
	border-collapse: collapse;
	margin-bottom: 0.5em;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

#node_inspector .profile-header
{
	margin-top: 0.5em;
	font-weight: bold;
}

/*  
 * IE ignores borders for tr elements, so setting borders for all td elements
 * inside a tr.
 */
#node_inspector .section-separator td
{
	border-top: 1px solid #aaaaaa;
}

#node_inspector .total-alteration td
{
	border-bottom: 2px solid #aaaaaa;
}

#edge_inspector .top-row td
{
	border-top: 1px solid #aaaaaa;
	border-left: 1px solid #aaaaaa;
	border-right: 1px solid #aaaaaa;
}

#edge_inspector .inner-row td
{
	border-left: 1px solid #aaaaaa;
	border-right: 1px solid #aaaaaa;
}

#edge_inspector .bottom-row td
{
	border-bottom: 1px solid #aaaaaa;
	border-left: 1px solid #aaaaaa;
	border-right: 1px solid #aaaaaa;
}

#edge_inspector .empty-row
{
	height: 0.5em;
}

#edge_inspector table
{
	border-collapse: collapse;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

/*
 * Tabs & Legends
 */
#genes_tab .header
{
	padding-bottom: 0.5em;
	text-align: center;
	font-size: 9pt;
	width: 200px;
}

#genes_tab .header #search
{
	width: 111px;
}

#genes_tab .in-query
{
	color: #000000;
}

#genes_tab .not-in-query
{
	color: #808080;
}

#relations_tab .footer
{
	padding-top: 0.5em;
	text-align: center;
	font-size: 9pt;
}

#genes_tab select
{
	width: 200px;
	height: 500px;
}

#genes_tab .selected-gene
{
	background: #aaaaaa;
}

#relations_tab .percent-bar
{
	margin: 0.2em 0.5em 0 2.5em;
	height: 0.3em;
	border-right: 0px solid #b0b0b0;
	clear: both;
}

#edge_legend .color-bar
{
	width: 95%;
	margin: 0.2em 0.5em 0 1.0em;
	height: 0.3em;
	border-right: 0px solid #b0b0b0;
	clear: both;
}

#edge_legend .color-cell
{
	width: 100px;
}

#edge_legend .label-cell
{
	width: 165px;
}

#edge_legend .type-label
{
	align: left;
	white-space: nowrap;
}

#relations_tab .percent-value
{
	font-size: 8pt;
	text-align: right;
}

#relations_tab .edge-type-checkbox
{
	width: 85%;
	white-space: nowrap;
}

#relations_tab, #genes_tab, #help_tab
{
	height: 575px;
	width: 200px;
}

#relations_tab #edge_source_filter
{
	padding-top: 1em;
}