<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cbioportal.persistence.mybatiscolumnstore.StudyViewMapper">

    <!-- for /filtered-sample/fetch (returns Sample objects) -->
    <select id="getFilteredSamples" resultType="org.cbioportal.model.Sample">
        SELECT
            patient_stable_id as patientStableId,
            sample_stable_id as stableId,
            cancer_study_identifier as cancerStudyIdentifier,
            base64Encode(sample_unique_id) as uniqueSampleKey,
            base64Encode(patient_unique_id) as uniquePatientKey
        FROM sample
        WHERE sample_unique_id IN (
                <!-- Study View Filter-->
                <include refid="sampleUniqueIdsFromStudyViewFilter"/>
            )
        )
        ORDER BY sample_stable_id ASC;
    </select>

    <!-- for /mutated-genes/fetch (returns AlterationCountByGene objects) -->
    <select id="getMutatedGenes" resultType="org.cbioportal.model.AlterationCountByGene">
        SELECT
            hugo_gene_symbol as hugoGeneSymbol,
            1 as entrezGeneId,
            -- TODO incorporate login on gene panels to assess the number of profiled cases.
            COUNT(DISTINCT sample_unique_id) as numberOfProfiledCases,
            COUNT(DISTINCT sample_unique_id) as numberOfAlteredCases,
            COUNT(*) as totalCount
        FROM mutation
        WHERE sample_unique_id IN (
            <include refid="sampleUniqueIdsFromStudyViewFilter"/>
        )
        GROUP BY hugo_gene_symbol
        ORDER BY totalCount DESC;
    </select>
    
    <!-- This block represents the Study View Filter -->
    <sql id="sampleUniqueIdsFromStudyViewFilter">
        <trim prefixOverrides="INTERSECT">
            <if test="studyIds != null and !studyIds.isEmpty()">
                INTERSECT
                SELECT sample_unique_id
                FROM sample
                WHERE cancer_study_identifier IN
                <foreach item="studyId" collection="studyIds" open="(" separator="," close=")">
                    #{studyId}
                </foreach>
            </if>
            <if test="sampleIdentifiers != null and !sampleIdentifiers.isEmpty()">
                INTERSECT
                SELECT sample_unique_id
                FROM sample
                WHERE sample_unique_id IN
                <foreach item="sampleIdentifier" collection="sampleIdentifiers" open="(" separator="," close=")">
                    #{sampleIdentifier.getStudyId()}_#{sampleIdentifier.getSampleId()}
                </foreach>
            </if>
            <if test="geneFilters != null and !geneFilters.isEmpty()">
                INTERSECT
                SELECT sample_unique_id
                FROM genomic_event
                <where>
                    <trim prefixOverrides="OR">
                        <foreach item="profileGroup" collection="geneFilters" open="OR (" separator="," close=")">
                            genetic_profile_stable_id IN
                            <foreach item="molecularProfileId" collection="profileGroup.getMolecularProfileIds()" open="(" separator="," close=")">
                                #{molecularProfileId}
                            </foreach>
                            AND hugo_gene_symbol IN
                            <foreach item="geneFilterQueryList" collection="profileGroup.getGeneQueries()">
                                <foreach item="geneFilterQuery" collection="geneFilterQueryList" open="(" separator="," close=")">
                                    #{geneFilterQuery.hugoGeneSymbol}
                                </foreach>
                            </foreach>
                        </foreach>
                    </trim>
                </where>
            </if>
            <if test="clinicalDataFilters != null and !clinicalDataFilters.isEmpty()">
                INTERSECT
                SELECT sample_unique_id
                FROM sample
                WHERE patient_unique_id IN (
                    SELECT patient_unique_id
                    FROM patient_clinical_attribute_numeric
                    WHERE
                    <trim prefixOverrides="AND">
                        <foreach item="clinicalDataFilter" collection="clinicalDataFilters" open="(" separator=") AND (" close=")">
                            <foreach item="dataFilterValue" collection="clinicalDataFilter.values" open="(" separator=") OR (" close=")">
                                attribute_name = '${clinicalDataFilter.attributeId}'
                                <if test="dataFilterValue.value eq 'NA'">
                                    AND attribute_value = -1000000
                                </if>
                                <if test="dataFilterValue.start != null">
                                    AND attribute_value &gt; ${dataFilterValue.start}
                                </if>
                                <if test="dataFilterValue.end != null">
                                    AND attribute_value &lt;= ${dataFilterValue.end}
                                </if>
                            </foreach>
                        </foreach>
                    </trim>
                 )
            </if>
            <!-- ... extend for other elements of the StudyViewFilter object -->
        </trim>
    </sql>

</mapper>
