<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cbioportal.persistence.mybatiscolumnstore.StudyViewMapper">

    <select id="getFilteredSamples" resultType="org.cbioportal.model.Sample">
        SELECT patient_stable_id as patientStableId,
               sample_stable_id as stableId,
               sample_internal_id as internalId,
               cancer_study_identifier as cancerStudyIdentifier,
               uniqueSampleKey,
               uniquePatientKey
        FROM sample_mysql
        WHERE sample_internal_id IN (
            SELECT DISTINCT sample_internal_id
                FROM sample
                WHERE sample_stable_id IN (
                    -- StudyView filter
                    SELECT sample_stable_id
                    FROM sample
                    WHERE cancer_study_identifier IN ('msk_impact_2017', 'msk_ch_2020', 'msk_met_2021')
                    INTERSECT
                    SELECT sample_stable_id
                    FROM cna_discrete
                    WHERE alteration IN (-2, 2)
                    INTERSECT
                    SELECT sample_stable_id
                    FROM sample_clinical_attribute_categorical
                    WHERE attribute_name = 'CANCER_TYPE' AND attribute_value = 'Anal Cancer'
                    INTERSECT
                    SELECT sample_stable_id
                    FROM mutation
                    WHERE hugo_gene_symbol IN ('BML', 'AR', 'TP53', 'BRAF'))
                )
        ORDER BY sample_stable_id ASC;
    </select>

</mapper>