<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cbioportal.legacy.persistence.mybatis.ClinicalEventMapper">
    <sql id="select">
        clinical_event.clinical_event_id AS "clinicalEventId",
        clinical_event.event_type AS "eventType",
        patient.stable_id AS "patientId",
        cancer_study.cancer_study_identifier AS "studyId"
        <if test="projection == 'SUMMARY' || projection == 'DETAILED'">
            ,
            clinical_event.start_date AS "startDate",
            clinical_event.stop_date AS "stopDate"
        </if>
    </sql>

    <sql id="from">
        FROM clinical_event
        INNER JOIN patient ON clinical_event.patient_id = patient.internal_id
        INNER JOIN cancer_study ON patient.cancer_study_id = cancer_study.cancer_study_id
    </sql>

    <sql id="where">
        <where>
            cancer_study.cancer_study_identifier = #{studyId}
            AND patient.stable_id = #{patientId}
        </where>
    </sql>

    <sql id="whereStudy">
        <where>
            cancer_study.cancer_study_identifier = #{studyId}
        </where>
    </sql>

    <select id="getPatientClinicalEvent" resultType="org.cbioportal.legacy.model.ClinicalEvent">
        SELECT
        <include refid="select"/>
        <include refid="from"/>
        <include refid="where"/>
        <if test="sortBy != null and projection != 'ID'">
            ORDER BY "${sortBy}" ${direction}
        </if>
        <if test="projection == 'ID'">
            ORDER BY clinical_event.patient_id ASC
        </if>
        <if test="limit != null and limit != 0">
            LIMIT #{limit} OFFSET #{offset}
        </if>
    </select>

    <select id="getMetaPatientClinicalEvent" resultType="org.cbioportal.legacy.model.meta.BaseMeta">
        SELECT
        COUNT(*) AS totalCount
        <include refid="from"/>
        <include refid="where"/>
    </select>

    <select id="getDataOfClinicalEvents" resultType="org.cbioportal.legacy.model.ClinicalEventData">
        SELECT
        clinical_event_data.clinical_event_id AS clinicalEventId,
        clinical_event_data.key AS "key",
        clinical_event_data.value AS value
        FROM clinical_event_data
        <where>
            <if test="list != null and !list.isEmpty()">
                clinical_event_data.clinical_event_id IN
                    <foreach item="item" collection="list" open="(" separator="," close=")">#{item}</foreach>
            </if>
        </where>
    </select>

    <select id="getStudyClinicalEvent" resultType="org.cbioportal.legacy.model.ClinicalEvent">
        SELECT
        <include refid="select"/>
        <include refid="from"/>
        <include refid="whereStudy"/>
        <if test="sortBy != null and projection != 'ID'">
            ORDER BY "${sortBy}" ${direction}
        </if>
        <if test="projection == 'ID'">
            ORDER BY clinical_event.patient_id ASC
        </if>
        <if test="limit != null and limit != 0">
            LIMIT #{limit} OFFSET #{offset}
        </if>
    </select>

    <select id="getMetaClinicalEvent" resultType="org.cbioportal.legacy.model.meta.BaseMeta">
        SELECT
        COUNT(*) AS totalCount
        <include refid="from"/>
        <include refid="whereStudy"/>
    </select>

    <select id="getSamplesOfPatientsPerEventType" resultType="org.cbioportal.legacy.model.ClinicalEvent">
        SELECT
        clinical_event.clinical_event_id as clinicalEventId,
        clinical_event.event_type as eventType,
        sample.stable_id as uniqueSampleKey,
        patient.stable_id as patientId
        FROM sample
        INNER JOIN patient ON sample.patient_id = patient.internal_id
        INNER JOIN clinical_event ON clinical_event.patient_id = patient.internal_id
        INNER JOIN cancer_study ON cancer_study.cancer_study_id = patient.cancer_study_id
        <where>
            <if test="sampleIds == null and studyIds != null">
                cancer_study.cancer_study_identifier IN
                    <if test="studyIds.isEmpty()">(NULL)</if>
                    <if test="!studyIds.isEmpty()"><foreach item="item" collection="studyIds" open="(" separator="," close=")">#{item}</foreach></if>
            </if>
            <if test="sampleIds != null">
                <if test="@java.util.Arrays@stream(studyIds.toArray()).distinct().count() == 1">
                    <bind name="sampleArray" value="@org.cbioportal.legacy.persistence.mybatis.util.SqlUtils@listToArray(sampleIds)" />
                    cancer_study.cancer_study_identifier = #{studyIds[0]} AND
                    sample.stable_id IN (
                        #{sampleArray, typeHandler=org.apache.ibatis.type.ArrayTypeHandler}
                    )
                </if>
                <if test="@java.util.Arrays@stream(studyIds.toArray()).distinct().count() > 1">
                    <bind name="sampleUniqueKeys" value="@org.cbioportal.legacy.persistence.mybatis.util.SqlUtils@combineStudyAndEntityIds(studyIds, sampleIds)" />
                    CONCAT(cancer_study.cancer_study_identifier, ':', sample.stable_id) IN (
                        #{sampleUniqueKeys, typeHandler=org.apache.ibatis.type.ArrayTypeHandler}
                    )
                </if>
            </if>
        </where>
    </select>

    <select id="getPatientsDistinctClinicalEventInStudies" resultType="org.cbioportal.legacy.model.ClinicalEvent">
        SELECT
            ANY_VALUE(clinical_event.clinical_event_id) AS clinicalEventId,
            clinical_event.event_type AS eventType,
            patient.stable_id AS patientId
        <include refid="from"/>
        <where>
            <if test="patientIds == null and studyIds != null">
                cancer_study.cancer_study_identifier IN
                    <if test="studyIds.isEmpty()">(NULL) </if>
                    <if test="!studyIds.isEmpty()"><foreach item="item" collection="studyIds" open="(" separator="," close=")">#{item}</foreach></if>
            </if>
            <if test="patientIds != null">
                <if test="@java.util.Arrays@stream(patientIds.toArray()).distinct().count() == 1">
                    <bind name="patientArray" value="@org.cbioportal.legacy.persistence.mybatis.util.SqlUtils@listToArray(patientIds)" />
                    cancer_study.cancer_study_identifier = #{studyIds[0]} AND
                    patient.stable_id IN (
                        #{patientArray, typeHandler=org.apache.ibatis.type.ArrayTypeHandler}
                    )
                </if>
                <if test="@java.util.Arrays@stream(patientIds.toArray()).distinct().count() > 1">
                    <bind name="patientUniqueKeys" value="@org.cbioportal.legacy.persistence.mybatis.util.SqlUtils@combineStudyAndEntityIds(studyIds, patientIds)" />
                    CONCAT(cancer_study.cancer_study_identifier, ':', patient.stable_id) IN (
                        #{patientUniqueKeys, typeHandler=org.apache.ibatis.type.ArrayTypeHandler}
                    )
                </if>
            </if>
            <if test="!clinicalEvents.isEmpty()">
                AND
                <foreach item="element" collection="clinicalEvents" open="(" separator="OR " close=")">
                    <if test="element.attributes == null || element.attributes.isEmpty()">
                        clinical_event.event_type = #{element.eventType}
                    </if>
                    <if test="element.attributes != null and !element.attributes.isEmpty()">
                        (CONCAT(clinical_event.event_type, '_', clinical_event_data.key)) IN
                        <foreach item="attribute" collection="element.attributes" open="(" separator="," close=")">
                            CONCAT(#{element.eventType}, '_', #{attribute.key})
                        </foreach>
                    </if>
                </foreach>
            </if>
        </where>
        GROUP BY clinical_event.event_type, patient.stable_id
    </select>

    <select id="getTimelineEvents" resultType="org.cbioportal.legacy.model.ClinicalEvent">
        SELECT
            ANY_VALUE(patient.stable_id) AS patientId,
            cancer_study.cancer_study_identifier AS studyId,
            MIN(clinical_event.start_date) AS startDate,
            GREATEST(MAX(clinical_event.start_date), COALESCE(MAX(clinical_event.stop_date),0)) AS stopDate
        FROM clinical_event
            INNER JOIN patient ON clinical_event.patient_id = patient.internal_id
            INNER JOIN clinical_event_data ON clinical_event.clinical_event_id = clinical_event_data.clinical_event_id
            INNER JOIN cancer_study ON patient.cancer_study_id = cancer_study.cancer_study_id
        <where>
            <if test="patientIds == null and studyIds != null">
                cancer_study.cancer_study_identifier IN
                <if test="studyIds.isEmpty()">(NULL)</if>
                <if test="!studyIds.isEmpty()"><foreach item="item" collection="studyIds" open="(" separator="," close=")">#{item}</foreach></if>
            </if>
            <if test="patientIds != null">
                <if test="@java.util.Arrays@stream(patientIds.toArray()).distinct().count() == 1">
                    <bind name="patientArray" value="@org.cbioportal.legacy.persistence.mybatis.util.SqlUtils@listToArray(patientIds)" />
                    cancer_study.cancer_study_identifier = #{studyIds[0]} AND
                    patient.stable_id IN (
                        #{patientArray, typeHandler=org.apache.ibatis.type.ArrayTypeHandler}
                    )
                </if>
                <if test="@java.util.Arrays@stream(patientIds.toArray()).distinct().count() > 1">
                    <bind name="patientUniqueKeys" value="@org.cbioportal.legacy.persistence.mybatis.util.SqlUtils@combineStudyAndPatientIds(studyIds, patientIds)" />
                    CONCAT(cancer_study.cancer_study_identifier, ':', patient.stable_id) IN (
                        #{patientUniqueKeys, typeHandler=org.apache.ibatis.type.ArrayTypeHandler}
                    )
                </if>
            </if>
            <if test="!clinicalEvents.isEmpty()">
                AND
                <foreach item="element" collection="clinicalEvents" open="(" separator="OR " close=")">
                    <if test="element.attributes == null || element.attributes.isEmpty()">
                        clinical_event.event_type = #{element.eventType}
                    </if>
                    <if test="element.attributes != null and !element.attributes.isEmpty()">
                        (CONCAT(clinical_event.event_type, '_', clinical_event_data.key, '_', clinical_event_data.value)) IN
                        <foreach item="attribute" collection="element.attributes" open="(" separator="," close=")">
                            CONCAT(#{element.eventType}, '_', #{attribute.key}, '_', #{attribute.value})
                        </foreach>
                    </if>
                </foreach>
            </if>
        </where>
        GROUP BY
        clinical_event.patient_id, cancer_study.cancer_study_identifier;
    </select>

    <resultMap id="clinicalEventsResultMap" type="org.cbioportal.legacy.model.ClinicalEvent">
        <result property="eventType" column="eventType"/>
        <collection property="attributes" ofType="org.cbioportal.legacy.model.ClinicalEventData">
            <result property="key" column="key"/>
            <result property="value" column="value"/>
        </collection>
    </resultMap>
    
    <select id="getClinicalEventsMeta" resultMap="clinicalEventsResultMap">
        SELECT
            LOWER(clinical_event.event_type) AS eventType,
            LOWER(clinical_event_data.key) AS "key",
            LOWER(clinical_event_data.value) AS value
        FROM clinical_event
            INNER JOIN patient ON clinical_event.patient_id = patient.internal_id
            INNER JOIN clinical_event_data ON clinical_event.clinical_event_id = clinical_event_data.clinical_event_id
            INNER JOIN cancer_study ON patient.cancer_study_id = cancer_study.cancer_study_id
        <where>
            <if test="patientIds == null and studyIds != null">
                cancer_study.cancer_study_identifier IN
                <if test="studyIds.isEmpty()">(NULL)</if>
                <if test="!studyIds.isEmpty()"><foreach item="item" collection="studyIds" open="(" separator="," close=")">#{item}</foreach></if>
            </if>
            <if test="patientIds != null">
                <if test="@java.util.Arrays@stream(patientIds.toArray()).distinct().count() == 1">
                    <bind name="patientArray" value="@org.cbioportal.legacy.persistence.mybatis.util.SqlUtils@listToArray(patientIds)" />
                    cancer_study.cancer_study_identifier = #{studyIds[0]} AND
                    patient.stable_id IN (
                    #{patientArray, typeHandler=org.apache.ibatis.type.ArrayTypeHandler}
                    )
                </if>
                <if test="@java.util.Arrays@stream(patientIds.toArray()).distinct().count() > 1">
                    <bind name="patientUniqueKeys" value="@org.cbioportal.legacy.persistence.mybatis.util.SqlUtils@combineStudyAndPatientIds(studyIds, patientIds)" />
                    CONCAT(cancer_study.cancer_study_identifier, ':', patient.stable_id) IN (
                    #{patientUniqueKeys, typeHandler=org.apache.ibatis.type.ArrayTypeHandler}
                    )
                </if>
            </if>
            <if test="!clinicalEvents.isEmpty()">
                AND
                <foreach item="element" collection="clinicalEvents" open="(" separator="OR " close=")">
                    <if test="element.attributes == null || element.attributes.isEmpty()">
                        clinical_event.event_type = #{element.eventType}
                    </if>
                    <if test="element.attributes != null and !element.attributes.isEmpty()">
                        (CONCAT(clinical_event.event_type, '_', clinical_event_data.key)) IN
                        <foreach item="attribute" collection="element.attributes" open="(" separator="," close=")">
                            CONCAT(#{element.eventType}, '_', #{attribute.key})
                        </foreach>
                    </if>
                </foreach>
            </if>
        </where>
        GROUP BY clinical_event.event_type , clinical_event_data.key, clinical_event_data.value;
    </select>

</mapper>
