<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cbioportal.legacy.persistence.mybatis.CopyNumberSegmentMapper">
    <sql id="select">
        copy_number_seg.seg_id AS "segId",
        copy_number_seg.cancer_study_id AS "cancerStudyId",
        cancer_study.cancer_study_identifier AS "cancerStudyIdentifier",
        copy_number_seg.sample_id AS "sampleId",
        patient.stable_id AS "patientId",
        sample.stable_id AS "sampleStableId",
        copy_number_seg.chr AS "chr",
        copy_number_seg.start AS "start",
        copy_number_seg.end AS "end",
        copy_number_seg.num_probes AS "numProbes",
        copy_number_seg.segment_mean AS "segmentMean"
    </sql>

    <sql id="from">
        FROM copy_number_seg
        INNER JOIN cancer_study ON copy_number_seg.cancer_study_id = cancer_study.cancer_study_id
        INNER JOIN sample ON copy_number_seg.sample_id = sample.internal_id
        INNER JOIN patient ON sample.patient_id = patient.internal_id
    </sql>

    <sql id="where">
        <where>
            <if test="sampleIds != null and !sampleIds.isEmpty()">
                <bind name="sampleUniqueKeys" value="@org.cbioportal.legacy.persistence.mybatis.util.SqlUtils@combineStudyAndPatientIds(studyIds, sampleIds)" />
                CONCAT(cancer_study.cancer_study_identifier, ':', sample.stable_id) IN (
                    #{sampleUniqueKeys, typeHandler=org.apache.ibatis.type.ArrayTypeHandler}
                )
            </if>
        </where>
    </sql>

    <select id="getSamplesWithCopyNumberSegments" resultType="Integer">
        SELECT sample.internal_id
        FROM sample
        INNER JOIN patient ON sample.patient_id = patient.internal_id
        INNER JOIN cancer_study ON patient.cancer_study_id = cancer_study.cancer_study_id
        <include refid="where"/>
        AND EXISTS (
            SELECT * from copy_number_seg  INNER JOIN sample ON sample.internal_id = copy_number_seg.sample_id
            <if test="chromosome != null and !chromosome.isEmpty()">
                <where>
                    copy_number_seg.chr = #{chromosome}
                </where>
            </if>
        )
    </select>


    <select id="getCopyNumberSegments" resultType="org.cbioportal.legacy.model.CopyNumberSeg">
        SELECT
        <include refid="select"/>
        <include refid="from"/>
        <include refid="where"/>
        <if test="chromosome != null and !chromosome.isEmpty()">
            AND copy_number_seg.chr = #{chromosome}
        </if>
        <if test="sortBy != null and projection != 'ID'">
            ORDER BY "${sortBy}" ${direction}
        </if>
        <if test="projection == 'ID'">
            ORDER BY copy_number_seg.chr ASC
        </if>
        <if test="limit != null and limit != 0">
            LIMIT #{limit} OFFSET #{offset}
        </if>
    </select>

    <select id="getMetaCopyNumberSegments" resultType="org.cbioportal.legacy.model.meta.BaseMeta">
        SELECT
        COUNT(*) AS totalCount
        <include refid="from"/>
        <include refid="where"/>
        <if test="chromosome != null and !chromosome.isEmpty()">
            AND copy_number_seg.chr = #{chromosome}
        </if>
    </select>

    <select id="getCopyNumberSegmentsBySampleListId" resultType="org.cbioportal.legacy.model.CopyNumberSeg">
        SELECT
        <include refid="select"/>
        <include refid="from"/>
        WHERE cancer_study.cancer_study_identifier = #{studyId}
        <if test="chromosome != null and !chromosome.isEmpty()">
            AND copy_number_seg.chr = #{chromosome}
        </if>
        AND copy_number_seg.sample_id IN
        (
            SELECT sample_list_list.sample_id FROM sample_list_list
            INNER JOIN sample_list ON sample_list_list.list_id = sample_list.list_id
            WHERE sample_list.stable_id = #{sampleListId}
            AND sample_list_list.sample_id = copy_number_seg.sample_id
        )
    </select>
</mapper>
