<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cbioportal.legacy.persistence.mybatis.DataAccessTokenMapper">

    <sql id="select">
        data_access_tokens.token AS "${prefix}token",
        data_access_tokens.username AS "${prefix}username",
        data_access_tokens.expiration AS "${prefix}expiration",
        data_access_tokens.creation AS "${prefix}creation"
    </sql>

    <select id="getAllDataAccessTokensForUsername" resultType="org.cbioportal.legacy.model.DataAccessToken">
        SELECT
        <include refid="select">
            <property name="prefix" value=""/>
        </include>
        FROM data_access_tokens
        WHERE data_access_tokens.username = #{username}
        ORDER BY data_access_tokens.expiration ASC
    </select>

    <select id="getDataAccessToken" resultType="org.cbioportal.legacy.model.DataAccessToken">
        SELECT
        <include refid="select">
            <property name="prefix" value=""/>
        </include>
        FROM data_access_tokens
        WHERE data_access_tokens.token = #{token}
    </select>

    <delete id="removeDataAccessToken">
        DELETE
        FROM data_access_tokens
        WHERE token = #{token}
    </delete>

    <delete id="removeAllDataAccessTokensForUsername">
        DELETE
        FROM data_access_tokens
        WHERE username = #{username}
    </delete>

    <insert id="addDataAccessToken" parameterType="org.cbioportal.legacy.model.DataAccessToken">
        INSERT
        INTO data_access_tokens(token, username, expiration, creation)
        VALUES (#{token}, #{username}, #{expiration}, #{creation})
    </insert>
</mapper>
