<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cbioportal.legacy.persistence.mybatis.DiscreteCopyNumberMapper">

    <sql id="select">
        cna_event.entrez_gene_id as entrezGeneId,
        cna_event.alteration AS "alteration",
        genetic_profile.stable_id AS "molecularProfileId",
        sample_cna_event.annotation_json as annotationJson,
        sample.stable_id AS "sampleId",
        patient.stable_id AS "patientId",
        cancer_study.cancer_study_identifier AS "studyId",
        alteration_driver_annotation.driver_filter AS "driverFilter",
        alteration_driver_annotation.driver_filter_annotation AS "driverFilterAnnotation",
        alteration_driver_annotation.driver_tiers_filter AS "driverTiersFilter",
        alteration_driver_annotation.driver_tiers_filter_annotation AS "driverTiersFilterAnnotation"
        <if test="projection == 'DETAILED'">
            ,
            <include refid="org.cbioportal.legacy.persistence.mybatis.GeneMapper.select">
                <property name="prefix" value="GENE."/>
            </include>
        </if>
    </sql>

    <sql id="from">
        FROM sample_cna_event sample_cna_event
        INNER JOIN cna_event ON cna_event.cna_event_id = sample_cna_event.cna_event_id
        INNER JOIN genetic_profile ON sample_cna_event.genetic_profile_id = genetic_profile.genetic_profile_id
        INNER JOIN sample ON sample_cna_event.sample_id = sample.internal_id
        INNER JOIN patient ON sample.patient_id = patient.internal_id
        INNER JOIN cancer_study ON patient.cancer_study_id = cancer_study.cancer_study_id
        LEFT JOIN alteration_driver_annotation ON
            sample_cna_event.genetic_profile_id = alteration_driver_annotation.genetic_profile_id
            and sample_cna_event.sample_id = alteration_driver_annotation.sample_id
            and sample_cna_event.cna_event_id = alteration_driver_annotation.alteration_event_id
    </sql>

    <sql id="where">
        <where>
            sample_cna_event.genetic_profile_id = (
                SELECT genetic_profile_id FROM genetic_profile gp WHERE gp.stable_id = #{molecularProfileId}
            )

            <if test="sampleIds != null and !sampleIds.isEmpty()">
                AND sample.stable_id IN
                    <foreach item="item" collection="sampleIds" open="(" separator="," close=")">#{item}</foreach>
            </if>
            <if test="entrezGeneIds != null and !entrezGeneIds.isEmpty()">
                AND cna_event.entrez_gene_id IN
                    <foreach item="item" collection="entrezGeneIds" open="(" separator="," close=")">#{item}</foreach>
            </if>
            <if test="alterationTypes != null and !alterationTypes.isEmpty()">
                AND cna_event.alteration IN
                    <foreach item="item" collection="alterationTypes" open="(" separator="," close=")">#{item}</foreach>
            </if>
        </where>
    </sql>

    <sql id="whereBySampleListId">
        <where>
            sample_cna_event.genetic_profile_id = (
                SELECT genetic_profile_id FROM genetic_profile gp WHERE gp.stable_id = #{molecularProfileId}
            )
            
            AND sample_cna_event.sample_id IN
            (
                SELECT sample_list_list.sample_id FROM sample_list_list
                INNER JOIN sample_list ON sample_list_list.list_id = sample_list.list_id
                WHERE sample_list.stable_id = #{sampleListId}
            )
            <if test="entrezGeneIds != null and !entrezGeneIds.isEmpty()">
                AND cna_event.entrez_gene_id IN
                    <foreach item="item" collection="entrezGeneIds" open="(" separator="," close=")">#{item}</foreach>
            </if>
            <if test="alterationTypes != null and !alterationTypes.isEmpty()">
                AND cna_event.alteration IN
                <foreach item="item" collection="alterationTypes" open="(" separator="," close=")">#{item}</foreach>
            </if>
        </where>
    </sql>

    <sql id="whereInMultipleMolecularProfiles">
        <where>
            <if test="@java.util.Arrays@stream(molecularProfileIds.toArray()).distinct().count() == 1">
                <bind name="sampleArray" value="@org.cbioportal.legacy.persistence.mybatis.util.SqlUtils@listToArray(sampleIds)" />
                sample_cna_event.genetic_profile_id = (
                    SELECT genetic_profile_id FROM genetic_profile gp WHERE gp.stable_id = #{molecularProfileIds[0]}
                ) AND
                sample.stable_id IN (
                    #{sampleArray, typeHandler=org.apache.ibatis.type.ArrayTypeHandler}
                )
            </if>
            <if test="@java.util.Arrays@stream(molecularProfileIds.toArray()).distinct().count() > 1">
                <bind name="sampleProfileKeys" value="@org.cbioportal.legacy.persistence.mybatis.util.SqlUtils@combineStudyAndEntityIds(sampleIds, molecularProfileIds)" />
                CONCAT(sample.stable_id, ':', genetic_profile.stable_id) IN (
                    #{sampleProfileKeys, typeHandler=org.apache.ibatis.type.ArrayTypeHandler}
                )
            </if>
            <if test="_parameter.containsKey('entrezGeneIds') and entrezGeneIds != null and !entrezGeneIds.isEmpty()">
                AND cna_event.entrez_gene_id IN
                    <foreach item="item" collection="entrezGeneIds" open="(" separator="," close=")">#{item}</foreach>
            </if>
            <if test="_parameter.containsKey('alterationTypes') and alterationTypes != null and !alterationTypes.isEmpty()">
                AND cna_event.alteration IN
                    <foreach item="item" collection="alterationTypes" open="(" separator="," close=")">#{item}</foreach>
            </if>
            <include refid="whereWithGeneQueries"/>
        </where>
    </sql>

    <sql id="whereWithGeneQueries">
        <if test="(_parameter.containsKey('geneQueries') and geneQueries != null and !geneQueries.isEmpty())">
            AND
            <foreach item="geneFilterQuery" collection="geneQueries" open="(" separator=" OR " close=")">
                ( cna_event.entrez_gene_id = '${geneFilterQuery.getEntrezGeneId()}'
                <bind name="allDriverAnnotationsSelected" value="geneFilterQuery.getIncludeDriver() and geneFilterQuery.getIncludeVUS() and geneFilterQuery.getIncludeUnknownOncogenicity()" />
                <bind name="noDriverAnnotationsSelected" value="not geneFilterQuery.getIncludeDriver() and not geneFilterQuery.getIncludeVUS() and not geneFilterQuery.getIncludeUnknownOncogenicity()" />
                <choose>
                    <when test="not allDriverAnnotationsSelected and not noDriverAnnotationsSelected">
                        <trim prefix="AND (" suffix=")" prefixOverrides="OR">
                            <if test="geneFilterQuery.getIncludeDriver()">
                                OR LOWER(alteration_driver_annotation.driver_filter) = 'putative_driver'
                            </if>
                            <if test="geneFilterQuery.getIncludeVUS()">
                                OR LOWER(alteration_driver_annotation.driver_filter) = 'putative_passenger'
                            </if>
                            <if test="geneFilterQuery.getIncludeUnknownOncogenicity()">
                                OR alteration_driver_annotation.driver_filter IS NULL
                                OR LOWER(alteration_driver_annotation.driver_filter) IN ('unknown', 'na', '')
                            </if>
                        </trim>
                    </when>
                    <when test="noDriverAnnotationsSelected">
                        AND NULL
                    </when>
                    <otherwise>
                        <!--when allDriverAnnotationsSelected do not filter-->
                    </otherwise>
                </choose>
                <bind name="allTierOptionsSelected" value="(geneFilterQuery.getSelectedTiers() != null and geneFilterQuery.getSelectedTiers().hasAll()) and geneFilterQuery.getIncludeUnknownTier()" />
                <bind name="noTierOptionsSelected" value="(geneFilterQuery.getSelectedTiers() == null or geneFilterQuery.getSelectedTiers().hasNone()) and not geneFilterQuery.getIncludeUnknownTier()" />
                <bind name="allExceptUnknownTierOptionsSelected" value="(geneFilterQuery.getSelectedTiers() != null and geneFilterQuery.getSelectedTiers().hasAll()) and not geneFilterQuery.getIncludeUnknownTier()" />
                <choose>
                    <when test="allExceptUnknownTierOptionsSelected">
                        AND NOT alteration_driver_annotation.driver_tiers_filter IS NULL
                        AND NOT LOWER(alteration_driver_annotation.driver_tiers_filter) IN ('', 'na', 'unknown')
                    </when>
                    <when test="not allTierOptionsSelected and not noTierOptionsSelected">
                        <trim prefix="AND (" suffix=")" prefixOverrides="OR">
                            <if test="geneFilterQuery.getSelectedTiers() != null and geneFilterQuery.getSelectedTiers().hasValues()">
                                OR alteration_driver_annotation.driver_tiers_filter IN
                                    <foreach item="item" collection="geneFilterQuery.getSelectedTiers()" open="(" separator="," close=")">#{item}</foreach>
                            </if>
                            <if test="geneFilterQuery.getIncludeUnknownTier()">
                                OR alteration_driver_annotation.driver_tiers_filter IS NULL
                                OR LOWER(alteration_driver_annotation.driver_tiers_filter) IN ('', 'na', 'unknown')
                            </if>
                        </trim>
                    </when>
                    <when test="noTierOptionsSelected">
                        AND NULL
                    </when>
                    <otherwise>
                        <!--when allTierOptionsSelected do not filter-->
                    </otherwise>
                </choose>
                <bind name="someAlterationTypesSelected" value="geneFilterQuery.getAlterations() != null and not geneFilterQuery.getAlterations().isEmpty()" />
                <choose>
                    <when test="someAlterationTypesSelected">
                        <trim prefix="AND (" suffix=")" prefixOverrides="OR">
                            OR cna_event.alteration IN
                                <foreach item="item" collection="geneFilterQuery.getAlterations()" open="(" separator="," close=")">${item.getCode()}</foreach>
                        </trim>
                    </when>
                    <otherwise>
                        AND NULL
                    </otherwise>
                </choose>
                )
            </foreach>
        </if>
    </sql>

    <select id="getDiscreteCopyNumbersBySampleListId" resultType="org.cbioportal.legacy.model.DiscreteCopyNumberData">
        SELECT
        <include refid="select"/>
        <include refid="from"/>
        <if test="projection == 'DETAILED'">
            INNER JOIN gene ON cna_event.entrez_gene_id = gene.entrez_gene_id
        </if>
        <include refid="whereBySampleListId"/>
    </select>

    <select id="getMetaDiscreteCopyNumbersBySampleListId" resultType="org.cbioportal.legacy.model.meta.BaseMeta">
        SELECT
        COUNT(*) AS "totalCount"
        <include refid="from"/>
        <include refid="whereBySampleListId"/>
    </select>

    <select id="getDiscreteCopyNumbersBySampleIds" resultType="org.cbioportal.legacy.model.DiscreteCopyNumberData">
        SELECT
        <include refid="select"/>
        <include refid="from"/>
        <if test="projection == 'DETAILED'">
            INNER JOIN gene ON cna_event.entrez_gene_id = gene.entrez_gene_id
        </if>
        <include refid="where"/>
    </select>

    <select id="getDiscreteCopyNumbersInMultipleMolecularProfiles" resultType="org.cbioportal.legacy.model.DiscreteCopyNumberData">
        SELECT
        <include refid="select"/>
        <include refid="from"/>
        <if test="projection == 'DETAILED'">
            INNER JOIN gene ON cna_event.entrez_gene_id = gene.entrez_gene_id
        </if>
        <include refid="whereInMultipleMolecularProfiles"/>
    </select>

    <select id="getDiscreteCopyNumbersInMultipleMolecularProfilesByGeneQueries" resultType="org.cbioportal.legacy.model.DiscreteCopyNumberData">
        SELECT
        <include refid="select"/>
        <include refid="from"/>
        <if test="projection == 'DETAILED'">
            INNER JOIN gene ON cna_event.entrez_gene_id = gene.entrez_gene_id
        </if>
        <include refid="whereInMultipleMolecularProfiles"/>
    </select>

    <select id="getMetaDiscreteCopyNumbersBySampleIds" resultType="org.cbioportal.legacy.model.meta.BaseMeta">
        SELECT
        COUNT(*) AS "totalCount"
        <include refid="from"/>
        <include refid="where"/>
    </select>

    <select id="getSampleCountByGeneAndAlterationAndSampleIds" resultType="org.cbioportal.legacy.model.CopyNumberCountByGene">
        SELECT
            cna_event.entrez_gene_id AS "entrezGeneId",
            <!-- TODO: check this-->
            ANY_VALUE(gene.hugo_gene_symbol) AS "hugoGeneSymbol",
            cna_event.alteration AS "alteration",
            COUNT(DISTINCT(sample_cna_event.sample_id)) AS "numberOfAlteredCases"
        FROM sample_cna_event
            INNER JOIN cna_event ON cna_event.cna_event_id = sample_cna_event.cna_event_id
            INNER JOIN genetic_profile ON sample_cna_event.genetic_profile_id = genetic_profile.genetic_profile_id
            INNER JOIN sample ON sample_cna_event.sample_id = sample.internal_id
            INNER JOIN gene ON cna_event.entrez_gene_id = gene.entrez_gene_id
        WHERE genetic_profile.stable_id = #{molecularProfileId}
        <if test="entrezGeneIds != null">
            AND
            (cna_event.entrez_gene_id, cna_event.alteration) IN
                <foreach index="i" collection="entrezGeneIds" open="(" separator="," close=")">(#{entrezGeneIds[${i}]},#{alterations[${i}]})</foreach>
        </if>
        <if test="sampleIds != null and !sampleIds.isEmpty()">
            AND sample.stable_id IN
                <foreach item="item" collection="sampleIds" open="(" separator="," close=")">#{item}</foreach>
        </if>
        GROUP BY cna_event.entrez_gene_id, cna_event.alteration
    </select>

</mapper>
