<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cbioportal.legacy.persistence.mybatis.InfoMapper">

    <resultMap id="InfoDbResult" type="org.cbioportal.legacy.model.InfoDb">
        <result column="db_schema_version" property="dbSchemaVersion"/>
        <result column="geneset_version" property="genesetVersion"/>
        <result column="derived_table_schema_version" property="derivedTableSchemaVersion"/>
        <result column="gene_table_version" property="geneTableVersion"/>
    </resultMap>

    <select id="getInfo" resultMap="InfoDbResult">
        SELECT db_schema_version, geneset_version, derived_table_schema_version, gene_table_version
        FROM info
        LIMIT 1
    </select>

</mapper>


