<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cbioportal.legacy.persistence.mybatis.NamespaceMapper">

    <sql id="joinSampleMutation">
        INNER JOIN sample ON mutation.sample_id = sample.internal_id
        INNER JOIN patient ON sample.patient_id = patient.internal_id
        INNER JOIN cancer_study ON patient.cancer_study_id = cancer_study.cancer_study_id
    </sql>

    <sql id="joinSampleStructuralVariants">
        INNER JOIN sample ON structural_variant.sample_id = sample.internal_id
        INNER JOIN patient ON sample.patient_id = patient.internal_id
        INNER JOIN cancer_study ON patient.cancer_study_id = cancer_study.cancer_study_id
    </sql>

    <sql id="joinSampleCNA">
        INNER JOIN sample ON sample_cna_event.sample_id = sample.internal_id
        INNER JOIN patient ON sample.patient_id = patient.internal_id
        INNER JOIN cancer_study ON patient.cancer_study_id = cancer_study.cancer_study_id
    </sql>

    <sql id="whereSampleInStudyIds">
        <where>
            <if test="sampleIds == null">
                cancer_study.cancer_study_identifier = #{studyIds[0]}
            </if>
            <if test="sampleIds != null">
                <if test="@java.util.Arrays@stream(studyIds.toArray()).distinct().count() == 1">
                    <bind name="sampleArray" value="@org.cbioportal.legacy.persistence.mybatis.util.SqlUtils@listToArray(sampleIds)" />
                    cancer_study.cancer_study_identifier = #{studyIds[0]} AND
                    sample.stable_id IN (
                        #{sampleArray, typeHandler=org.apache.ibatis.type.ArrayTypeHandler}
                    )
                </if>
                <if test="@java.util.Arrays@stream(studyIds.toArray()).distinct().count() > 1">
                    <bind name="sampleUniqueKeys" value="@org.cbioportal.legacy.persistence.mybatis.util.SqlUtils@combineStudyAndPatientIds(studyIds, sampleIds)" />
                    concat(cancer_study.cancer_study_identifier, ':', sample.stable_id) IN (
                        #{sampleUniqueKeys, typeHandler=org.apache.ibatis.type.ArrayTypeHandler}
                    )
                </if>
            </if>
        </where>
    </sql>

    <!-- Only need to select one row per study per datatype as they should have the same json structure -->
    <sql id="getNamespaceRows">
        (SELECT annotation_json
        FROM mutation
        <include refid="joinSampleMutation"/>
        WHERE cancer_study.cancer_study_identifier = #{studyId}
        LIMIT 1)
        UNION ALL
        (SELECT annotation_json
        FROM structural_variant
        <include refid="joinSampleStructuralVariants"/>
        WHERE cancer_study.cancer_study_identifier = #{studyId}
        LIMIT 1)
        UNION ALL
        (SELECT annotation_json
        FROM sample_cna_event
        <include refid="joinSampleCNA"/>
        WHERE cancer_study.cancer_study_identifier = #{studyId}
        LIMIT 1)
    </sql>

    <select id="getNamespaceOuterKey" resultType="org.cbioportal.legacy.model.NamespaceAttribute">
        SELECT DISTINCT JSON_UNQUOTE(outerKey) AS outerKey
        FROM (
            <foreach item="studyId" collection="studyIds" open="(" separator="UNION ALL" close=")">
                <include refid="getNamespaceRows"/>
            </foreach>
        ) combinedAnnotations,
        json_table(json_keys(annotation_json), '$[*]' COLUMNS(outerKey JSON PATH '$')) t;
    </select>

    <select id="getNamespaceInnerKey" resultType="org.cbioportal.legacy.model.NamespaceAttribute">
        SELECT DISTINCT JSON_UNQUOTE(innerKey) AS innerKey, #{outerKey} AS outerKey
        FROM (
            <foreach item="studyId" collection="studyIds" open="(" separator="UNION ALL" close=")">
                <include refid="getNamespaceRows"/>
            </foreach>
        ) combinedAnnotations,
        json_table(json_keys(JSONExtractRaw(annotation_json, concat('$.', #{outerKey}))),
        '$[*]' COLUMNS(innerKey JSON PATH '$')) t;
    </select>

    <select id="getNamespaceAttributeCountsBySampleIds" resultType="org.cbioportal.legacy.model.NamespaceAttributeCount">
    SELECT outerKey, innerKey, COUNT(DISTINCT sample_id) AS count
    FROM (
        <foreach collection="namespaceAttributes" item="namespaceAttribute" separator="UNION ALL">
            SELECT DISTINCT sample_id, 
                #{namespaceAttribute.outerKey} AS outerKey, 
                #{namespaceAttribute.innerKey} AS innerKey
            FROM mutation
            <include refid="joinSampleMutation"/>
            <include refid="whereSampleInStudyIds"/>
            AND JSONExtractRaw(annotation_json, concat('$.', #{namespaceAttribute.outerKey}, '.', #{namespaceAttribute.innerKey})) IS NOT NULL 
            AND JSONExtractString(annotation_json, concat('$.', #{namespaceAttribute.outerKey}, '.', #{namespaceAttribute.innerKey}))) != 'null'

            UNION ALL

            SELECT DISTINCT sample_id, 
                #{namespaceAttribute.outerKey} AS outerKey, 
                #{namespaceAttribute.innerKey} AS innerKey
            FROM structural_variant
            <include refid="joinSampleStructuralVariants"/>
            <include refid="whereSampleInStudyIds"/>
            AND JSONExtractRaw(annotation_json, concat('$.', #{namespaceAttribute.outerKey}, '.', #{namespaceAttribute.innerKey})) IS NOT NULL 
            AND JSONExtractString(annotation_json, concat('$.', #{namespaceAttribute.outerKey}, '.', #{namespaceAttribute.innerKey}))) != 'null'

            UNION ALL

            SELECT DISTINCT sample_id, 
                #{namespaceAttribute.outerKey} AS outerKey, 
                #{namespaceAttribute.innerKey} AS innerKey
            FROM sample_cna_event
            <include refid="joinSampleCNA"/>
            <include refid="whereSampleInStudyIds"/>
            AND JSONExtractRaw(annotation_json, concat('$.', #{namespaceAttribute.outerKey}, '.', #{namespaceAttribute.innerKey})) IS NOT NULL 
            AND JSONExtractString(annotation_json, concat('$.', #{namespaceAttribute.outerKey}, '.', #{namespaceAttribute.innerKey}))) != 'null'
        </foreach>
    ) combinedCounts
    GROUP BY outerKey, innerKey;
    </select>

    <select id="getNamespaceDataCounts" resultType="org.cbioportal.legacy.model.NamespaceDataCount">
        SELECT 
            value,
            outerKey,
            innerKey,
            COUNT(DISTINCT sample_id) AS count,
            COUNT(sample_id) AS totalCount
        FROM (
            SELECT 
                JSONExtractString(annotation_json, concat('$.', #{outerKey}, '.', #{innerKey}))) AS value,
                #{outerKey} AS outerKey,
                #{innerKey} AS innerKey,
                sample_id AS sample_id
            FROM mutation
            <include refid="joinSampleMutation"/>
            <include refid="whereSampleInStudyIds"/>
            AND JSONExtractRaw(annotation_json, concat('$.', #{outerKey}, '.', #{innerKey})) IS NOT NULL 
            AND JSONExtractString(annotation_json, concat('$.', #{outerKey}, '.', #{innerKey}))) != 'null'

            UNION ALL

            SELECT 
                JSONExtractString(annotation_json, concat('$.', #{outerKey}, '.', #{innerKey}))) AS value,
                #{outerKey} AS outerKey,
                #{innerKey} AS innerKey,
                sample_id AS sample_id
            FROM structural_variant
            <include refid="joinSampleStructuralVariants"/>
            <include refid="whereSampleInStudyIds"/>
            AND JSONExtractRaw(annotation_json, concat('$.', #{outerKey}, '.', #{innerKey})) IS NOT NULL 
            AND JSONExtractString(annotation_json, concat('$.', #{outerKey}, '.', #{innerKey}))) != 'null'

            UNION ALL

            SELECT 
                JSONExtractString(annotation_json, concat('$.', #{outerKey}, '.', #{innerKey}))) AS value,
                #{outerKey} AS outerKey,
                #{innerKey} AS innerKey,
                sample_id AS sample_id
            FROM sample_cna_event
            <include refid="joinSampleCNA"/>
            <include refid="whereSampleInStudyIds"/>
            AND JSONExtractRaw(annotation_json, concat('$.', #{outerKey}, '.', #{innerKey})) IS NOT NULL 
            AND JSONExtractString(annotation_json, concat('$.', #{outerKey}, '.', #{innerKey}))) != 'null'
        ) combinedCounts
        GROUP BY value, outerKey, innerKey;
    </select>

    <select id="getNamespaceData" resultType="org.cbioportal.legacy.model.NamespaceData">
    SELECT 
        DISTINCT(JSONExtractString(annotation_json, concat('$.', #{outerKey}, '.', #{innerKey})))) AS attrValue,
        #{outerKey} AS outerKey,
        #{innerKey} AS innerKey,
        studyId AS studyId,
        sampleId AS sampleId
    FROM (
        SELECT annotation_json, sample.stable_id AS sampleId, cancer_study.cancer_study_identifier AS studyId
        FROM mutation
        <include refid="joinSampleMutation"/>
        <include refid="whereSampleInStudyIds"/>

        UNION ALL

        SELECT annotation_json, sample.stable_id AS sampleId, cancer_study.cancer_study_identifier AS studyId
        FROM structural_variant
        <include refid="joinSampleStructuralVariants"/>
        <include refid="whereSampleInStudyIds"/>

        UNION ALL

        SELECT annotation_json, sample.stable_id AS sampleId, cancer_study.cancer_study_identifier AS studyId
        FROM sample_cna_event
        <include refid="joinSampleCNA"/>
        <include refid="whereSampleInStudyIds"/>
        ) combinedNamespaceData
        WHERE JSONExtractRaw(annotation_json, concat('$.', #{outerKey}, '.', #{innerKey})) IS NOT NULL;
    </select>


    <select id="getNamespaceDataForComparison" resultType="org.cbioportal.legacy.model.NamespaceData">
        SELECT 
            #{outerKey} AS outerKey,
            #{value} AS attrValue,
            #{innerKey} AS innerKey,
            studyId,
            sampleId,
            patientId
        FROM (
            SELECT sample.stable_id AS sampleId, patient.stable_id AS patientId, cancer_study.cancer_study_identifier AS studyId
            FROM mutation
            <include refid="joinSampleMutation"/>
            <include refid="whereSampleInStudyIds"/>
            AND JSONExtractString(annotation_json, concat('$.', #{outerKey}, '.', #{innerKey}))) = #{value}

            UNION ALL

            SELECT sample.stable_id AS sampleId, patient.stable_id AS patientId, cancer_study.cancer_study_identifier AS studyId
            FROM structural_variant
            <include refid="joinSampleStructuralVariants"/>
            <include refid="whereSampleInStudyIds"/>
            AND JSONExtractString(annotation_json, concat('$.', #{outerKey}, '.', #{innerKey}))) = #{value}

            UNION ALL

            SELECT sample.stable_id AS sampleId, patient.stable_id AS patientId, cancer_study.cancer_study_identifier AS studyId
            FROM sample_cna_event
            <include refid="joinSampleCNA"/>
            <include refid="whereSampleInStudyIds"/>
            AND JSONExtractString(annotation_json, concat('$.', #{outerKey}, '.', #{innerKey}))) = #{value}
        ) combinedNamespaceData
        GROUP BY sampleId, studyId, patientId;
    </select>
</mapper>
