<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cbioportal.legacy.persistence.mybatis.ResourceDataMapper">

    <sql id="selectSampleResource">
        sample.stable_id AS "${prefix}sampleId",
        patient.stable_id AS "${prefix}patientId",
        resource_sample.resource_id AS "${prefix}resourceId",
        cancer_study.cancer_study_identifier AS "${prefix}studyId"
        <if test="projection == 'SUMMARY' || projection == 'DETAILED'">
            , resource_sample.url AS "${prefix}url"
        </if>
        <if test="projection == 'DETAILED'">
            ,
            <include refid="org.cbioportal.legacy.persistence.mybatis.ResourceDefinitionMapper.select">
                <property name="prefix" value="${prefix}resourceDefinition."/>
            </include>
        </if>
    </sql>

    <sql id="selectPatientResource">
        patient.stable_id AS "${prefix}patientId",
        resource_patient.resource_id AS "${prefix}resourceId",
        cancer_study.cancer_study_identifier AS "${prefix}studyId"
        <if test="projection == 'SUMMARY' || projection == 'DETAILED'">
            , resource_patient.url AS "${prefix}url"
        </if>
        <if test="projection == 'DETAILED'">
            ,
            <include refid="org.cbioportal.legacy.persistence.mybatis.ResourceDefinitionMapper.select">
                <property name="prefix" value="${prefix}resourceDefinition."/>
            </include>
        </if>
    </sql>

    <sql id="selectStudyResource">
        resource_study.resource_id AS "${prefix}resourceId",
        cancer_study.cancer_study_identifier AS "${prefix}studyId"
        <if test="projection == 'SUMMARY' || projection == 'DETAILED'">
            , resource_study.url AS "${prefix}url"
        </if>
        <if test="projection == 'DETAILED'">
            ,
            <include refid="org.cbioportal.legacy.persistence.mybatis.ResourceDefinitionMapper.select">
                <property name="prefix" value="${prefix}resourceDefinition."/>
            </include>
        </if>
    </sql>

    <sql id="fromSample">
        FROM resource_sample
        INNER JOIN sample ON resource_sample.internal_id = sample.internal_id
        INNER JOIN patient ON sample.patient_id = patient.internal_id
        INNER JOIN cancer_study ON patient.cancer_study_id = cancer_study.cancer_study_id
    </sql>

    <sql id="fromPatient">
        FROM resource_patient
        INNER JOIN patient ON resource_patient.internal_id = patient.internal_id
        INNER JOIN cancer_study ON patient.cancer_study_id = cancer_study.cancer_study_id
    </sql>

    <sql id="fromStudy">
        FROM resource_study
        INNER JOIN cancer_study ON resource_study.internal_id = cancer_study.cancer_study_id
    </sql>

    <sql id="whereSample">
        <where>
            <if test="sampleId == null">
                cancer_study.cancer_study_identifier = #{studyId}
            </if>
            <if test="sampleId != null">
                 cancer_study.cancer_study_identifier = #{studyId} AND
                 sample.stable_id = #{sampleId}
            </if>
            <if test="resourceId != null">
                AND resource_sample.resource_id = #{resourceId}
            </if>
        </where>
    </sql>

    <sql id="wherePatient">
        <where>
            <if test="patientId == null">
                cancer_study.cancer_study_identifier = #{studyId}
            </if>
            <if test="patientId != null">
                 cancer_study.cancer_study_identifier = #{studyId} AND
                 patient.stable_id = #{patientId}
            </if>
            <if test="resourceId != null">
                AND resource_patient.resource_id = #{resourceId}
            </if>
        </where>
    </sql>

    <sql id="whereStudy">
        <where>
            cancer_study.cancer_study_identifier = #{studyId}
            <if test="resourceId != null">
                AND resource_study.resource_id = #{resourceId}
            </if>
        </where>
    </sql>

    <select id="getResourceDataOfSampleInStudy" resultType="org.cbioportal.legacy.model.ResourceData">
        SELECT
        <include refid="selectSampleResource">
            <property name="prefix" value=""/>
        </include>
        <include refid="fromSample"/>
        <if test="projection == 'DETAILED'">
            INNER JOIN resource_definition ON resource_sample.resource_id = resource_definition.resource_id
            AND cancer_study.cancer_study_id = resource_definition.cancer_study_id
        </if>
        <include refid="whereSample"/>
        <if test="sortBy != null and projection != 'ID'">
            ORDER BY "${sortBy}" ${direction}
        </if>
        <if test="projection == 'ID'">
            ORDER BY resource_sample.resource_id ASC
        </if>
        <if test="limit != null and limit != 0">
            LIMIT #{limit} OFFSET #{offset}
        </if>
    </select>

    <select id="getResourceDataOfPatientInStudy" resultType="org.cbioportal.legacy.model.ResourceData">
        SELECT
        <include refid="selectPatientResource">
            <property name="prefix" value=""/>
        </include>
        <include refid="fromPatient"/>
        <if test="projection == 'DETAILED'">
            INNER JOIN resource_definition ON resource_patient.resource_id = resource_definition.resource_id
            AND cancer_study.cancer_study_id = resource_definition.cancer_study_id
        </if>
        <include refid="wherePatient"/>
        <if test="sortBy != null and projection != 'ID'">
            ORDER BY "${sortBy}" ${direction}
        </if>
        <if test="projection == 'ID'">
            ORDER BY resource_patient.resource_id ASC
        </if>
        <if test="limit != null and limit != 0">
            LIMIT #{limit} OFFSET #{offset}
        </if>
    </select>

    <select id="getResourceDataForStudy" resultType="org.cbioportal.legacy.model.ResourceData">
        SELECT
        <include refid="selectStudyResource">
            <property name="prefix" value=""/>
        </include>
        <include refid="fromStudy"/>
        <if test="projection == 'DETAILED'">
            INNER JOIN resource_definition ON resource_study.resource_id = resource_definition.resource_id
            AND cancer_study.cancer_study_id = resource_definition.cancer_study_id
        </if>
        <include refid="whereStudy"/>
        <if test="sortBy != null and projection != 'ID'">
            ORDER BY "${sortBy}" ${direction}
        </if>
        <if test="projection == 'ID'">
            ORDER BY resource_patient.resource_id ASC
        </if>
        <if test="limit != null and limit != 0">
            LIMIT #{limit} OFFSET #{offset}
        </if>
    </select>

</mapper>
