<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cbioportal.legacy.persistence.mybatis.SampleMapper">

    <sql id="select">
        sample.internal_id AS "${prefix}internalId",
        sample.stable_id AS "${prefix}stableId",
        patient.stable_id AS "${prefix}patientStableId",
        cancer_study.cancer_study_identifier AS "${prefix}cancerStudyIdentifier"
        <if test="projection == 'SUMMARY' || projection == 'DETAILED'">
            ,
            sample.sample_type AS "${prefix}sampleType",
            sample.patient_id AS "${prefix}patientId"
        </if>
        <if test="projection == 'DETAILED'">
            ,
            <include refid="org.cbioportal.legacy.persistence.mybatis.PatientMapper.select">
                <property name="prefix" value="${prefix}PATIENT."/>
            </include>
        </if>
    </sql>

    <sql id="from">
        FROM sample
        INNER JOIN patient ON sample.patient_id = patient.internal_id
        INNER JOIN cancer_study ON patient.cancer_study_id = cancer_study.cancer_study_id
        INNER JOIN reference_genome ON cancer_study.reference_genome_id = reference_genome.reference_genome_id
    </sql>

    <sql id="where">
        <where>
            <if test="sampleIds == null and studyIds != null">
                cancer_study.cancer_study_identifier IN
                <if test="studyIds.isEmpty()">(NULL)</if>
                <if test="!studyIds.isEmpty()"><foreach item="item" collection="studyIds" open="(" separator="," close=")">#{item}</foreach></if>
            </if>
            <if test="sampleIds != null">
                <if test="@java.util.Arrays@stream(studyIds.toArray()).distinct().count() == 1">
                    <bind name="sampleArray" value="@org.cbioportal.legacy.persistence.mybatis.util.SqlUtils@listToArray(sampleIds)" />
                    cancer_study.cancer_study_identifier = #{studyIds[0]} AND
                    sample.stable_id IN (
                        #{sampleArray, typeHandler=org.apache.ibatis.type.ArrayTypeHandler}
                    )
                </if>
                <if test="@java.util.Arrays@stream(studyIds.toArray()).distinct().count() > 1">
                    <bind name="sampleUniqueKeys" value="@org.cbioportal.legacy.persistence.mybatis.util.SqlUtils@combineStudyAndPatientIds(studyIds, sampleIds)" />
                    CONCAT(cancer_study.cancer_study_identifier, ':', sample.stable_id) IN (
                        #{sampleUniqueKeys, typeHandler=org.apache.ibatis.type.ArrayTypeHandler}
                    )
                </if>
            </if>
            <if test="patientId != null">
                AND patient.stable_id = #{patientId}
            </if>
            <if test="keyword != null">
                AND
                <foreach item="item" collection="keyword.trim().split(' ')" open="(" separator=") AND (" close=")">
                    sample.stable_id like CONCAT('%', #{item}, '%')
                </foreach>
            </if>
        </where>
    </sql>

    <select id="getSamples" resultType="org.cbioportal.legacy.model.Sample">
        SELECT
        <include refid="select">
            <property name="prefix" value=""/>
        </include>
        <include refid="from"/>
        <include refid="where"/>
        <if test="sortBy != null and projection != 'ID'">
            ORDER BY "${sortBy}" ${direction}
        </if>
        <if test="projection == 'ID' and keyword == null">
            ORDER BY sample.stable_id ASC
        </if>
        <if test="keyword != null">
            ORDER BY CASE WHEN sample.stable_id LIKE CONCAT(#{keyword}, '%') THEN 0 ELSE 1 END, sample.stable_id
        </if>
        <if test="limit != null and limit != 0">
            LIMIT #{limit} OFFSET #{offset}
        </if>
    </select>

    <select id="getSamplesBySampleListIds" resultType="org.cbioportal.legacy.model.Sample">
        SELECT
        <include refid="select">
            <property name="prefix" value=""/>
        </include>
        <include refid="from"/>
        WHERE sample.internal_id IN
        (
            SELECT sample_list_list.sample_id FROM sample_list_list
            INNER JOIN sample_list ON sample_list_list.list_id = sample_list.list_id
            WHERE sample_list.stable_id IN
                <foreach item="item" collection="sampleListIds" open="(" separator="," close=")">#{item}</foreach>
        )
    </select>

    <select id="getMetaSamples" resultType="org.cbioportal.legacy.model.meta.BaseMeta">
        SELECT
        COUNT(*) AS "totalCount"
        <include refid="from"/>
        <include refid="where"/>
    </select>

    <select id="getMetaSamplesBySampleListIds" resultType="org.cbioportal.legacy.model.meta.BaseMeta">
        SELECT
        COUNT(*) AS "totalCount"
        <include refid="from"/>
        WHERE sample.internal_id IN
        (
            SELECT sample_list_list.sample_id FROM sample_list_list
            INNER JOIN sample_list ON sample_list_list.list_id = sample_list.list_id
            WHERE sample_list.stable_id IN
                <foreach item="item" collection="list" open="(" separator="," close=")">#{item}</foreach>
            AND sample_list_list.sample_id = sample.internal_id
        )
    </select>

    <select id="getSample" resultType="org.cbioportal.legacy.model.Sample">
        SELECT
        <include refid="select">
            <property name="prefix" value=""/>
        </include>
        <include refid="from"/>
        WHERE sample.stable_id = #{sampleId}
        AND cancer_study.cancer_study_identifier = #{studyId}
    </select>

    <select id="getSampleByInternalId" resultType="org.cbioportal.legacy.model.Sample">
        SELECT
        <include refid="select">
            <property name="prefix" value=""/>
        </include>
        FROM sample
        WHERE sample.internal_id = #{internalId}
    </select>

    <select id="getSamplesByInternalIds" resultType="org.cbioportal.legacy.model.Sample">
        SELECT
        <include refid="select">
            <property name="prefix" value=""/>
        </include>
        <include refid="from"/>
        <where>
            <if test="internalIds != null and !internalIds.isEmpty()">
                sample.internal_id IN
                    <foreach item="item" collection="internalIds" open="(" separator="," close=")">#{item}</foreach>
            </if>
        </where>
    </select>

    <select id="getSamplesOfPatients" resultType="org.cbioportal.legacy.model.Sample">
        SELECT
        <include refid="select">
            <property name="prefix" value=""/>
        </include>
        <include refid="from"/>
        WHERE
        cancer_study.cancer_study_identifier = #{studyId}
        <if test="patientIds != null and !patientIds.isEmpty()">
            AND patient.stable_id IN
                <foreach item="item" collection="patientIds" open="(" separator="," close=")">#{item}</foreach>
        </if>
    </select>

    <select id="getSamplesOfPatientsInMultipleStudies" resultType="org.cbioportal.legacy.model.Sample">
        SELECT
        <include refid="select">
            <property name="prefix" value=""/>
        </include>
        <include refid="from"/>
        WHERE
        <if test="@java.util.Arrays@stream(studyIds.toArray()).distinct().count() == 1">
            <bind name="patientArray" value="@org.cbioportal.legacy.persistence.mybatis.util.SqlUtils@listToArray(patientIds)" />
            cancer_study.cancer_study_identifier = #{studyIds[0]} AND
            patient.stable_id IN (
                #{patientArray, typeHandler=org.apache.ibatis.type.ArrayTypeHandler}
            )
        </if>
        <if test="@java.util.Arrays@stream(studyIds.toArray()).distinct().count() > 1">
            <bind name="patientUniqueKeys" value="@org.cbioportal.legacy.persistence.mybatis.util.SqlUtils@combineStudyAndPatientIds(studyIds, patientIds)" />
            CONCAT(cancer_study.cancer_study_identifier, ':', patient.stable_id) IN (
                #{patientUniqueKeys, typeHandler=org.apache.ibatis.type.ArrayTypeHandler}
            )
        </if>
    </select>
</mapper>
