<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cbioportal.legacy.persistence.mybatis.SampleListMapper">

    <sql id="select">
        sample_list.list_id AS "${prefix}listId",
        sample_list.stable_id AS "${prefix}stableId"
        <if test="projection == 'SUMMARY' || projection == 'DETAILED'">
            ,
            sample_list.cancer_study_id AS "${prefix}cancerStudyId",
            cancer_study.cancer_study_identifier AS "${prefix}cancerStudyIdentifier",
            sample_list.category AS "${prefix}category",
            sample_list.name AS "${prefix}name",
            sample_list.description AS "${prefix}description"
        </if>
        <if test="projection == 'DETAILED'">
            ,
            cancer_study.type_of_cancer_id AS "${prefix}cancerStudy.typeOfCancerId",
            cancer_study.name AS "${prefix}cancerStudy.name",
            cancer_study.description AS "${prefix}cancerStudy.description",
            cancer_study.public AS "${prefix}cancerStudy.publicStudy",
            cancer_study.pmid AS "${prefix}cancerStudy.pmid",
            cancer_study.citation AS "${prefix}cancerStudy.citation",
            cancer_study.groups AS "${prefix}cancerStudy.groups",
            cancer_study.status AS "${prefix}cancerStudy.status",
            cancer_study.import_date AS "${prefix}cancerStudy.importDate",
            reference_genome.name AS "${prefix}cancerStudy.referenceGenome"
        </if>
    </sql>

    <select id="getAllSampleLists" resultType="org.cbioportal.legacy.model.SampleList">
        SELECT
        <include refid="select">
            <property name="prefix" value=""/>
        </include>
        FROM sample_list
        INNER JOIN cancer_study ON sample_list.cancer_study_id = cancer_study.cancer_study_id
        INNER JOIN reference_genome ON cancer_study.reference_genome_id = reference_genome.reference_genome_id
        <if test="studyIds != null">
            <if test="studyIds.isEmpty()">
                WHERE FALSE
            </if>
            <if test="!studyIds.isEmpty()">
                WHERE cancer_study.cancer_study_identifier IN
                    <foreach item="item" collection="studyIds" open="(" separator="," close=")">#{item}</foreach>
            </if>
        </if>
        <if test="sortBy != null and projection != 'ID'">
            ORDER BY "${sortBy}" ${direction}
        </if>
        <if test="projection == 'ID'">
            ORDER BY sample_list.stable_id ASC
        </if>
        <if test="limit != null and limit != 0">
            LIMIT #{limit} OFFSET #{offset}
        </if>
    </select>

    <select id="getMetaSampleLists" resultType="org.cbioportal.legacy.model.meta.BaseMeta">
        SELECT
        COUNT(*) AS totalCount
        FROM sample_list
        <if test="_parameter != null">
            INNER JOIN cancer_study ON sample_list.cancer_study_id = cancer_study.cancer_study_id
            WHERE cancer_study.cancer_study_identifier = #{studyId}
        </if>
    </select>

    <select id="getSampleList" resultType="org.cbioportal.legacy.model.SampleList">
        SELECT
        <include refid="select">
            <property name="prefix" value=""/>
        </include>
        FROM sample_list
        INNER JOIN cancer_study ON sample_list.cancer_study_id = cancer_study.cancer_study_id
        INNER JOIN reference_genome ON cancer_study.reference_genome_id = reference_genome.reference_genome_id
        WHERE sample_list.stable_id = #{sampleListId}
    </select>

    <select id="getSampleLists" resultType="org.cbioportal.legacy.model.SampleList">
        SELECT
        <include refid="select">
            <property name="prefix" value=""/>
        </include>
        FROM sample_list
        INNER JOIN cancer_study ON sample_list.cancer_study_id = cancer_study.cancer_study_id
        INNER JOIN reference_genome ON cancer_study.reference_genome_id = reference_genome.reference_genome_id
        <where>
            <if test="sampleListIds != null and !sampleListIds.isEmpty()">
                sample_list.stable_id IN
                    <foreach item="item" collection="sampleListIds" open="(" separator="," close=")">#{item}</foreach>
            </if>
        </where>
    </select>

    <select id="getAllSampleIdsInSampleList" resultType="string">
        SELECT
        sample.stable_id
        FROM sample_list_list
        INNER JOIN sample_list ON sample_list_list.list_id = sample_list.list_id
        INNER JOIN sample ON sample_list_list.sample_id = sample.internal_id
        WHERE sample_list.stable_id = #{sampleListId}
    </select>

    <select id="getSampleListSampleIds" resultType="org.cbioportal.legacy.model.SampleListToSampleId">
        SELECT
        sample_list_list.list_id as sampleListId,
        sample.stable_id as sampleId
        FROM sample_list_list
        INNER JOIN sample ON sample_list_list.sample_id = sample.internal_id
        <where>
            <if test="list != null and !list.isEmpty()">
                sample_list_list.list_id IN
                    <foreach item="item" collection="list" open="(" separator="," close=")">#{item}</foreach>
            </if>
        </where>
    </select>
</mapper>
