<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cbioportal.persistence.mybatis.StudyGroupMapper">
    <!-- do not cache these queries -->

    <select id="getCancerStudyGroups" resultType="String">
        SELECT 
            `groups` 
        FROM cancer_study 
        WHERE cancer_study_id = #{internalCancerStudyId}
    </select>
</mapper>
