<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- examples of log levels for specific packages -->
    <!-- 
        <logger name="org.mskcc" level="debug">
            <appender-ref ref="STDOUT" />
        </logger>
    
        <logger name="org.cbioportal.security" level="debug">
            <appender-ref ref="STDOUT" />
        </logger>
    -->
    <logger name="org.cbioportal.persistence.mybatis.ClinicalEventMapper" level="debug">
        <appender-ref ref="STDOUT" />
    </logger>

    <root level="error">
        <appender-ref ref="STDOUT" />
    </root>
    
</configuration>