<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns:b="http://www.springframework.org/schema/beans"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xmlns:tx="http://www.springframework.org/schema/tx"
		 xmlns:context="http://www.springframework.org/schema/context"
		 xmlns:util="http://www.springframework.org/schema/util"
		 xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
							 http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
							 http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
							 http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">
 
  <context:annotation-config />
  <context:property-placeholder location="file:${PORTAL_HOME}/portal.properties"/>

  <!-- hibernate session factory -->
  <b:bean id="importerSessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
	<b:property name="dataSource" ref="createSchema" />
	<b:property name="annotatedClasses">
	  <b:list>
		<b:value>org.mskcc.cbio.importer.model.ImportData</b:value>
	  </b:list>
	</b:property>
	<b:property name="hibernateProperties">
	  <util:properties>
		<b:prop key="hibernate.show_sql">true</b:prop>
		<b:prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</b:prop>
		<b:prop key="hibernate.hbm2ddl.auto">create</b:prop>
	  </util:properties>
	</b:property>
  </b:bean>

  <!-- create schema bean -->
  <b:bean id="createSchema" class="org.mskcc.cbio.importer.util.internal.DataSourceFactoryBean"/>

</b:beans>