<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns:b="http://www.springframework.org/schema/beans"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xmlns:tx="http://www.springframework.org/schema/tx"
		 xmlns:context="http://www.springframework.org/schema/context"
		 xmlns:util="http://www.springframework.org/schema/util"
		 xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
							 http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
							 http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
							 http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">
 
  <context:annotation-config />
  <b:bean id="propertyPlaceholderConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <b:property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
    <b:property name="searchSystemEnvironment" value="true" />
    <b:property name="locations">
      <b:list>
        <b:value>file:///${PORTAL_HOME}/portal.properties</b:value>
      </b:list>
    </b:property>
  </b:bean>  

  <!-- importer beans -->
  <b:bean id="cancerStudyImporter" class="org.mskcc.cbio.importer.internal.CancerStudyImporterImpl"/>

  <b:bean name="importerClassMap" class="java.util.HashMap">
    <b:constructor-arg index="0" type="java.util.Map">
      <b:map key-type="java.lang.String" value-type="java.lang.String">
        <!-- staging filename is key, import class ":" boolean indicating if import class requires metadata argument ":" meta filename, is value -->
        <b:entry key="data_CNA.txt" value="org.mskcc.cbio.portal.scripts.ImportProfileData:true:meta_CNA.txt"/>
        <b:entry key="data_log2CNA.txt" value="org.mskcc.cbio.portal.scripts.ImportProfileData:true:meta_log2CNA.txt"/>
        <b:entry key="data_expression.txt" value="org.mskcc.cbio.portal.scripts.ImportProfileData:true:meta_expression.txt"/>
        <b:entry key="data_scna_minus_germline_cnv_hg19.seg" value="org.mskcc.cbio.portal.scripts.ImportCopyNumberSegmentData:false"/>
        <b:entry key="data_scna_hg18.seg" value="org.mskcc.cbio.portal.scripts.ImportCopyNumberSegmentData:false"/>
        <b:entry key="data_gistic_genes_amp.txt" value="org.mskcc.cbio.portal.scripts.ImportGisticData:false"/>
        <b:entry key="data_gistic_genes_del.txt" value="org.mskcc.cbio.portal.scripts.ImportGisticData:false"/>
        <b:entry key="data_methylation_hm27.txt" value="org.mskcc.cbio.portal.scripts.ImportProfileData:true:meta_methylation_hm27.txt"/>
        <b:entry key="data_methylation_hm450.txt" value="org.mskcc.cbio.portal.scripts.ImportProfileData:true:meta_methylation_hm450.txt"/>
        <b:entry key="data_mutations_extended.txt" value="org.mskcc.cbio.portal.scripts.ImportProfileData:true:meta_mutations_extended.txt"/>
        <b:entry key="data_mutsig.txt" value="org.mskcc.cbio.portal.scripts.ImportMutSigData:false"/>
        <b:entry key="data_fusions.txt" value="org.mskcc.cbio.portal.scripts.ImportProfileData:true:meta_fusions.txt"/>
        <b:entry key="data_rppa.txt" value="org.mskcc.cbio.portal.scripts.ImportProteinArrayData:false"/>
        <b:entry key="data_clinical_sup.txt " value="org.mskcc.cbio.portal.scripts.ImportClinicalData:false"/>
      </b:map>
    </b:constructor-arg>
  </b:bean>

</b:beans>
