<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cbioportal.persistence.mybatis.ClinicalAttributeMapper">
    <cache/>

    <sql id="select">
        clinical_attribute_meta.ATTR_ID AS "${prefix}attrId"
        <if test="projection == 'SUMMARY' || projection == 'DETAILED'">
            ,
            clinical_attribute_meta.DISPLAY_NAME AS "${prefix}displayName",
            clinical_attribute_meta.DESCRIPTION AS "${prefix}description",
            clinical_attribute_meta.DATATYPE AS "${prefix}datatype",
            clinical_attribute_meta.PATIENT_ATTRIBUTE AS "${prefix}patientAttribute",
            clinical_attribute_meta.PRIORITY AS "${prefix}priority",
            clinical_attribute_meta.CANCER_STUDY_ID AS "${prefix}cancerStudyId"
        </if>
    </sql>
</mapper>