<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cbioportal.persistence.mybatis.CopyNumberSegmentMapper">
    <cache size="20000"/>
    
    <sql id="select">
        copy_number_seg.SEG_ID AS segId,
        cancer_study.CANCER_STUDY_ID AS cancerStudyId,
        cancer_study.CANCER_STUDY_IDENTIFIER as cancerStudyIdentifier,
        genetic_profile.STABLE_ID as geneticProfileId,
        copy_number_seg.SAMPLE_ID AS sampleId,
        sample.STABLE_ID AS sampleStableId,
        copy_number_seg.CHR AS chr,
        copy_number_seg.START AS start,
        copy_number_seg.END AS end
        <if test="projection == 'SUMMARY' || projection == 'DETAILED'">
            ,
            copy_number_seg.NUM_PROBES AS numProbes,
            copy_number_seg.SEGMENT_MEAN AS segmentMean
        </if>
    </sql>

    <sql id="from">
        FROM copy_number_seg
        INNER JOIN sample ON copy_number_seg.SAMPLE_ID = sample.INTERNAL_ID
        <if test="geneticProfileIds != null and !geneticProfileIds.isEmpty()">
            INNER JOIN genetic_profile ON copy_number_seg.GENETIC_PROFILE_ID = genetic_profile.GENETIC_PROFILE_ID
            INNER JOIN cancer_study on cancer_study.CANCER_STUDY_ID = genetic_profile.CANCER_STUDY_ID
        </if>
    </sql>
    
    <sql id="where">
        <where>
            <if test="geneticProfileIds != null and !geneticProfileIds.isEmpty()">
                <foreach index="i" collection="geneticProfileIds" open="(" separator="OR" close=")">
                    genetic_profile.STABLE_ID = #{geneticProfileIds[0]}
                </foreach>
            </if>
            <if test="sampleIds != null and !sampleIds.isEmpty()">
                AND
                <foreach index="i" collection="sampleIds" open="(" separator="OR" close=")">
                    sample.STABLE_ID = #{sampleIds[${i}]}
                </foreach>
            </if>

        </where>
    </sql>
    
    <select id="getCopyNumberSegments" resultType="org.cbioportal.model.CopyNumberSeg">
        SELECT
        <include refid="select"/>
        <include refid="from"/>
        <include refid="where"/>
        <if test="sortBy != null and projection != 'ID'">
            ORDER BY ${sortBy} ${direction}
        </if>
        <if test="projection == 'ID'">
            ORDER BY copy_number_seg.CHR ASC
        </if>
        <if test="limit != null and limit != 0">
            LIMIT #{limit} OFFSET #{offset}
        </if>
    </select>

    <select id="getMetaCopyNumberSegments" resultType="org.cbioportal.model.meta.BaseMeta">
        SELECT
        COUNT(*) AS totalCount
        <include refid="from"/>
        <include refid="where"/>
    </select>
    
    <select id="getCopyNumberSegmentsBySampleListId" resultType="org.cbioportal.model.CopyNumberSeg">
        SELECT
        <include refid="select"/>
        FROM copy_number_seg
        INNER JOIN sample ON copy_number_seg.SAMPLE_ID = sample.INTERNAL_ID
        INNER JOIN genetic_profile ON copy_number_seg.GENETIC_PROFILE_ID = genetic_profile.GENETIC_PROFILE_ID
        INNER JOIN cancer_study on cancer_study.CANCER_STUDY_ID = genetic_profile.CANCER_STUDY_ID
        WHERE genetic_profile.STABLE_ID = #{geneticProfileId}
        AND copy_number_seg.SAMPLE_ID IN
        (
            SELECT sample_list_list.SAMPLE_ID FROM sample_list_list
            INNER JOIN sample_list ON sample_list_list.LIST_ID = sample_list.LIST_ID
            WHERE sample_list.STABLE_ID = #{sampleListId}
        )
    </select>
</mapper>