<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cbioportal.persistence.mybatis.CosmicCountMapper">
    <cache/>

    <select id="getCOSMICCountsByKeywords" resultType="org.cbioportal.model.CosmicCount">
        select

        cosmic_mutation.PROTEIN_CHANGE as proteinChange,
        cosmic_mutation.KEYWORD as keyword,
        cosmic_mutation.COUNT as count,
        cosmic_mutation.COSMIC_MUTATION_ID as cosmicMutationId
        
        from cosmic_mutation
        <where>
            <if test="keywords != null and !keywords.isEmpty()">
            cosmic_mutation.KEYWORD in 
            <foreach item="item" collection="keywords" open="(" separator="," close=")">#{item}</foreach>
            </if>
        </where>
    </select>

</mapper>