<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cbioportal.persistence.mybatis.GenericAssayMapper">
    <cache readOnly="true"/>

    <select id="getGenericAssayMeta" resultType="org.cbioportal.model.meta.GenericAssayMeta">
        SELECT genetic_entity.STABLE_ID as stableId,
        genetic_entity.ENTITY_TYPE as entityType,
        genetic_entity.NAME as name,
        genetic_entity.DESCRIPTION as description,
        genetic_entity.ADDITIONAL_FIELDS as addtionalFields
        FROM genetic_entity
        <where>
            genetic_entity.STABLE_ID IN
                <foreach item="item" collection="list" open="(" separator="," close=")">
                    #{item}
                </foreach>
        </where>
    </select>

</mapper>
