<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cbioportal.persistence.mybatis.GenePanelMapper">
    <cache readOnly="true"/>
    
    <sql id="select">
        gene_panel.INTERNAL_ID AS internalId,
        gene_panel.STABLE_ID AS stableId
        <if test="projection == 'SUMMARY' || projection == 'DETAILED'">
            ,
            gene_panel.DESCRIPTION AS description
        </if>
    </sql>

    <sql id="selectGenePanelData">
        gene_panel.STABLE_ID AS genePanelId,
        sample.STABLE_ID AS sampleId,
        patient.STABLE_ID AS patientId,
        cancer_study.CANCER_STUDY_IDENTIFIER AS studyId,
        genetic_profile.STABLE_ID AS molecularProfileId
    </sql>

    <sql id="fromGenePanelData">
        FROM sample_profile
        LEFT JOIN gene_panel ON sample_profile.PANEL_ID = gene_panel.INTERNAL_ID
        INNER JOIN genetic_profile ON sample_profile.GENETIC_PROFILE_ID = genetic_profile.GENETIC_PROFILE_ID
        INNER JOIN sample ON sample_profile.SAMPLE_ID = sample.INTERNAL_ID
        INNER JOIN patient ON sample.PATIENT_ID = patient.INTERNAL_ID
        INNER JOIN cancer_study ON patient.CANCER_STUDY_ID = cancer_study.CANCER_STUDY_ID
    </sql>
    
    <select id="getAllGenePanels" resultType="org.cbioportal.model.GenePanel">
        SELECT
        <include refid="select"/>
        FROM gene_panel
        <if test="sortBy != null and projection != 'ID'">
            ORDER BY ${sortBy} ${direction}
        </if>
        <if test="projection == 'ID'">
            ORDER BY gene_panel.STABLE_ID ASC
        </if>
        <if test="limit != null and limit != 0">
            LIMIT #{limit} OFFSET #{offset}
        </if>
    </select>
    
    <select id="getMetaGenePanels" resultType="org.cbioportal.model.meta.BaseMeta">
        SELECT
        COUNT(*) AS totalCount
        FROM gene_panel
    </select>
    
    <select id="getGenePanel" resultType="org.cbioportal.model.GenePanel">
        SELECT
        <include refid="select"/>
        FROM gene_panel
        WHERE gene_panel.STABLE_ID = #{genePanelId}
    </select>

    <select id="fetchGenePanels" resultType="org.cbioportal.model.GenePanel">
        SELECT
        <include refid="select"/>
        FROM gene_panel
        <where>
            <if test="genePanelIds != null and !genePanelIds.isEmpty()">
                gene_panel.STABLE_ID IN
                <foreach item="item" collection="genePanelIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="getGenesOfPanels" resultType="org.cbioportal.model.GenePanelToGene">
        SELECT
        gene_panel.STABLE_ID AS genePanelId,
        gene_panel_list.GENE_ID AS entrezGeneId,
        gene.HUGO_GENE_SYMBOL AS hugoGeneSymbol
        FROM gene_panel_list
        INNER JOIN gene_panel ON gene_panel_list.INTERNAL_ID = gene_panel.INTERNAL_ID
        INNER JOIN gene ON gene_panel_list.GENE_ID = gene.ENTREZ_GENE_ID
        <where>
            <if test="list != null and !list.isEmpty()">
                gene_panel.STABLE_ID IN
                <foreach item="item" collection="list" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>
    
    <select id="getGenePanelDataBySampleListId" resultType="org.cbioportal.model.GenePanelData">
        SELECT
        <include refid="selectGenePanelData"/>
        <include refid="fromGenePanelData"/>
        WHERE
        genetic_profile.STABLE_ID = #{molecularProfileId}
        AND sample_profile.SAMPLE_ID IN
        (
            SELECT sample_list_list.SAMPLE_ID FROM sample_list_list
            INNER JOIN sample_list ON sample_list_list.LIST_ID = sample_list.LIST_ID
            WHERE sample_list.STABLE_ID = #{sampleListId}
            AND sample_list_list.SAMPLE_ID = sample_profile.SAMPLE_ID
        )
    </select>

    <select id="getGenePanelDataBySampleIds" resultType="org.cbioportal.model.GenePanelData">
        SELECT
        <include refid="selectGenePanelData"/>
        <include refid="fromGenePanelData"/>
        WHERE
        genetic_profile.STABLE_ID = #{molecularProfileId}
        <if test="sampleIds != null and !sampleIds.isEmpty()">
            AND sample.STABLE_ID IN
            <foreach item="item" collection="sampleIds" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <select id="fetchGenePanelDataInMultipleMolecularProfiles" resultType="org.cbioportal.model.GenePanelData">
        SELECT
        <include refid="selectGenePanelData"/>
        <include refid="fromGenePanelData"/>
        <where>
            <if test="sampleIds != null">
                <if test="@java.util.Arrays@stream(molecularProfileIds.toArray()).distinct().count() == 1">
                    genetic_profile.STABLE_ID = #{molecularProfileIds[0]} AND
                    sample.STABLE_ID IN
                    <foreach item="item" collection="sampleIds" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </if>
                <if test="@java.util.Arrays@stream(molecularProfileIds.toArray()).distinct().count() > 1">
                    (sample.STABLE_ID, genetic_profile.STABLE_ID) IN
                    <foreach index="i" collection="sampleIds" open="(" separator="," close=")">
                        (#{sampleIds[${i}]}, #{molecularProfileIds[${i}]})
                    </foreach>
                </if>
            </if>
            <if test="sampleIds == null">
                genetic_profile.STABLE_ID IN
                <foreach item="item" collection="molecularProfileIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>
</mapper>
