<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cbioportal.persistence.mybatis.GeneticDataMapper">
    <cache/>

    <select id="getCommaSeparatedSampleIdsOfGeneticProfile" resultType="string">
        SELECT genetic_profile_samples.ORDERED_SAMPLE_LIST
        FROM genetic_profile_samples
        INNER JOIN genetic_profile ON genetic_profile_samples.GENETIC_PROFILE_ID = genetic_profile.GENETIC_PROFILE_ID
        WHERE genetic_profile.STABLE_ID = #{geneticProfileId}
    </select>
    
    <select id="getGeneticAlterations" resultType="org.cbioportal.model.GeneticAlteration">
        SELECT
        gene.ENTREZ_GENE_ID AS entrezGeneId,
        genetic_alteration.VALUES AS "values"
        <if test="projection == 'DETAILED'">
            ,
            <include refid="org.cbioportal.persistence.mybatis.GeneMapper.select">
                <property name="prefix" value="gene."/>
            </include>
        </if>
        FROM genetic_alteration
        INNER JOIN genetic_profile ON genetic_alteration.GENETIC_PROFILE_ID = genetic_profile.GENETIC_PROFILE_ID
        INNER JOIN gene ON genetic_alteration.GENETIC_ENTITY_ID = gene.GENETIC_ENTITY_ID
        <where>
            genetic_profile.STABLE_ID = #{geneticProfileId}
            <if test="entrezGeneIds != null and !entrezGeneIds.isEmpty()">
                AND gene.ENTREZ_GENE_ID IN
                <foreach item="item" collection="entrezGeneIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="getGenesetAlterations" resultType="org.cbioportal.model.GenesetAlteration">
        SELECT
        geneset.EXTERNAL_ID AS genesetId,
        <if test="projection == 'ID'">
        NULL AS "values"
        </if>
        <if test="projection != 'ID'">
        genetic_alteration.VALUES AS "values"
        </if>
        FROM genetic_alteration
        INNER JOIN genetic_profile ON genetic_alteration.GENETIC_PROFILE_ID = genetic_profile.GENETIC_PROFILE_ID
        INNER JOIN geneset ON genetic_alteration.GENETIC_ENTITY_ID = geneset.GENETIC_ENTITY_ID
        <where>
            genetic_profile.STABLE_ID = #{geneticProfileId}
            <if test="genesetIds != null and genesetIds">
                AND geneset.EXTERNAL_ID IN
                <foreach item="item" collection="genesetIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>



</mapper>