<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cbioportal.persistence.mybatis.MutationCountMapper">
    <cache/>
      <select id="getPositionMutationCounts" resultType="org.cbioportal.model.PositionMutationCount">
        select
            gene.HUGO_GENE_SYMBOL as hugoGeneSymbol,
            mutation_event.ONCOTATOR_PROTEIN_POS_START as codonPosition,
            count(*) as mutationCount
        from gene,sample,mutation,mutation_event
        where
            <!-- Match arguments -->
            gene.HUGO_GENE_SYMBOL = #{hugoGeneSymbol} 
            <if test="positions != null and !positions.isEmpty()">
            and mutation_event.ONCOTATOR_PROTEIN_POS_START in 
                <foreach item="item" collection="positions" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
                and
            <!-- Join -->
            sample.INTERNAL_ID = mutation.SAMPLE_ID and
            gene.ENTREZ_GENE_ID = mutation.ENTREZ_GENE_ID and
            mutation.MUTATION_EVENT_ID = mutation_event.MUTATION_EVENT_ID and
            
            <!-- Looking for mutation at single position -->
            mutation_event.ONCOTATOR_PROTEIN_POS_START = mutation_event.ONCOTATOR_PROTEIN_POS_END
            
        group by gene.HUGO_GENE_SYMBOL, mutation_event.ONCOTATOR_PROTEIN_POS_START
    </select>
        
</mapper>
