<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cbioportal.persistence.mybatis.MutationMapper">
    <cache/>

    <sql id="select">
        mutation.GENETIC_PROFILE_ID as geneticProfileId,
        genetic_profile.STABLE_ID as geneticProfileStableId,
        mutation.SAMPLE_ID as sampleId,
        sample.STABLE_ID as sampleStableId,
        mutation.ENTREZ_GENE_ID as entrezGeneId
        <if test="projection == 'SUMMARY' || projection == 'DETAILED'">
            ,
            mutation.CENTER as center,
            mutation.MUTATION_STATUS as mutationStatus,
            mutation.VALIDATION_STATUS as validationStatus,
            mutation.TUMOR_ALT_COUNT as tumorAltCount,
            mutation.TUMOR_REF_COUNT as tumorRefCount,
            mutation.NORMAL_ALT_COUNT as normalAltCount,
            mutation.NORMAL_REF_COUNT as normalRefCount,
            mutation.AMINO_ACID_CHANGE as aminoAcidChange,
            mutation_event.START_POSITION as startPosition,
            mutation_event.END_POSITION as endPosition,
            mutation_event.REFERENCE_ALLELE as referenceAllele,
            mutation_event.TUMOR_SEQ_ALLELE as tumorSeqAllele,
            mutation_event.PROTEIN_CHANGE as proteinChange,
            mutation_event.MUTATION_TYPE as mutationType,
            mutation_event.NCBI_BUILD as ncbiBuild,
            mutation_event.VARIANT_TYPE as variantType,
            mutation_event.ONCOTATOR_REFSEQ_MRNA_ID as oncotatorRefseqMrnaId,
            mutation_event.ONCOTATOR_PROTEIN_POS_START as oncotatorProteinPosStart,
            mutation_event.ONCOTATOR_PROTEIN_POS_END as oncotatorProteinPosEnd,
            mutation_event.KEYWORD as keyword
        </if>
        <if test="projection == 'DETAILED'">
            ,
            <include refid="org.cbioportal.persistence.mybatis.GeneMapper.select">
                <property name="prefix" value="gene."/>
            </include>
        </if>
    </sql>

    <sql id="from">
        FROM mutation
        INNER JOIN genetic_profile ON mutation.GENETIC_PROFILE_ID = genetic_profile.GENETIC_PROFILE_ID
        INNER JOIN sample ON mutation.SAMPLE_ID = sample.INTERNAL_ID
    </sql>

    <sql id="where">
        <where>
            genetic_profile.STABLE_ID = #{geneticProfileId}
            <if test="sampleIds != null and !sampleIds.isEmpty()">
                and sample.STABLE_ID in
                <foreach item="item" collection="sampleIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </sql>

    <select id="getMutations" resultType="org.cbioportal.model.Mutation">
        SELECT
        <include refid="select"/>
        <include refid="from"/>
        <if test="projection == 'SUMMARY' || projection == 'DETAILED'">
            INNER JOIN mutation_event ON mutation.MUTATION_EVENT_ID = mutation_event.MUTATION_EVENT_ID
        </if>
        <if test="projection == 'DETAILED'">
            INNER JOIN gene ON mutation.ENTREZ_GENE_ID = gene.ENTREZ_GENE_ID
        </if>
        <include refid="where"/>
        <if test="sortBy != null and projection != 'ID'">
            ORDER BY ${sortBy} ${direction}
        </if>
        <if test="projection == 'ID'">
            ORDER BY genetic_profile.STABLE_ID ASC, sample.STABLE_ID ASC, mutation.ENTREZ_GENE_ID ASC
        </if>
        <if test="limit != null and limit != 0">
            LIMIT #{limit} OFFSET #{offset}
        </if>
    </select>

    <select id="getMetaMutations" resultType="org.cbioportal.model.meta.BaseMeta">
        SELECT
        COUNT(*) AS totalCount
        <include refid="from"/>
        <include refid="where"/>
    </select>
</mapper>