<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cbioportal.persistence.mybatis.PatientMapper">

    <sql id="select">
        patient.INTERNAL_ID AS "${prefix}internalId",
        patient.STABLE_ID AS "${prefix}stableId",
        patient.CANCER_STUDY_ID AS "${prefix}cancerStudyId",
        cancer_study.CANCER_STUDY_IDENTIFIER AS "${prefix}cancerStudyIdentifier"
        <if test="projection == 'DETAILED'">
            ,
            <include refid="org.cbioportal.persistence.mybatis.StudyMapper.select">
                <property name="prefix" value="${prefix}cancerStudy."/>
            </include>
        </if>
    </sql>

    <sql id="from">
        FROM patient
        INNER JOIN cancer_study ON patient.CANCER_STUDY_ID = cancer_study.CANCER_STUDY_ID
        INNER JOIN reference_genome ON cancer_study.REFERENCE_GENOME_ID = reference_genome.REFERENCE_GENOME_ID
    </sql>

    <sql id="where">
        <where>
            <if test="keyword == null">
                <if test="patientIds == null and studyIds != null">
                    cancer_study.CANCER_STUDY_IDENTIFIER = #{studyIds[0]}
                </if>
                <if test="patientIds != null">
                    (cancer_study.CANCER_STUDY_IDENTIFIER, patient.STABLE_ID) IN
                    <foreach index="i" collection="patientIds" open="(" separator="," close=")">
                        (#{studyIds[${i}]}, #{patientIds[${i}]})
                    </foreach>
                </if>
            </if>
            <if test="keyword != null">
                <foreach item="item" collection="keyword.split(' ')" open="(" separator=") AND (" close=")">
                    patient.STABLE_ID like CONCAT('%', #{item}, '%')
                    OR
                    sample.STABLE_ID like CONCAT('%', #{item}, '%')
                </foreach>
            </if>
        </where>
    </sql>

    <select id="getPatients" resultType="org.cbioportal.model.Patient">
        SELECT
        <include refid="select">
            <property name="prefix" value=""/>
        </include>
        <include refid="from"/>
        <if test="keyword != null">
            INNER JOIN sample ON patient.INTERNAL_ID = sample.PATIENT_ID
        </if>
        <include refid="where"/>
        <if test="sortBy != null and projection != 'ID' and keyword == null">
            ORDER BY "${sortBy}" ${direction}
        </if>
        <if test="projection == 'ID' and keyword == null">
            ORDER BY patient.STABLE_ID ASC
        </if>
        <if test="keyword != null">
            ORDER BY CASE WHEN patient.STABLE_ID LIKE CONCAT(#{keyword}, '%') THEN 0 ELSE 1 END, patient.STABLE_ID
        </if>
        <if test="limit != null and limit != 0">
            LIMIT #{limit} OFFSET #{offset}
        </if>
    </select>

    <select id="getMetaPatients" resultType="org.cbioportal.model.meta.BaseMeta">
        SELECT
        COUNT(*) AS totalCount
        <include refid="from"/>
        <if test="keyword != null">
            INNER JOIN sample ON patient.INTERNAL_ID = sample.PATIENT_ID
        </if>
        <include refid="where"/>
    </select>

    <select id="getPatient" resultType="org.cbioportal.model.Patient">
        SELECT
        <include refid="select">
            <property name="prefix" value=""/>
        </include>
        <include refid="from"/>
        WHERE patient.STABLE_ID = #{patientId}
        AND cancer_study.CANCER_STUDY_IDENTIFIER = #{studyId}
    </select>

    <select id="getPatientsOfSamples" resultType="org.cbioportal.model.Patient">
        SELECT DISTINCT(patient.STABLE_ID) AS stableId,
        cancer_study.CANCER_STUDY_IDENTIFIER AS cancerStudyIdentifier
        FROM sample 
        INNER JOIN patient ON sample.PATIENT_ID = patient.INTERNAL_ID 
        INNER JOIN cancer_study ON patient.CANCER_STUDY_ID = cancer_study.CANCER_STUDY_ID
        INNER JOIN reference_genome ON cancer_study.REFERENCE_GENOME_ID = reference_genome.REFERENCE_GENOME_ID
        WHERE
        <if test="@java.util.Arrays@stream(studyIds.toArray()).distinct().count() == 1">
            cancer_study.CANCER_STUDY_IDENTIFIER = #{studyIds[0]} AND
            sample.STABLE_ID IN
            <foreach item="item" collection="sampleIds" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="@java.util.Arrays@stream(studyIds.toArray()).distinct().count() > 1">
            (cancer_study.CANCER_STUDY_IDENTIFIER, sample.STABLE_ID) IN
            <foreach index="i" collection="sampleIds" open="(" separator="," close=")">
                (#{studyIds[${i}]}, #{sampleIds[${i}]})
            </foreach>
        </if>
        <if test="@java.util.Arrays@stream(studyIds.toArray()).distinct().count() == 0">
            FALSE
        </if>
    </select>
</mapper>
