<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cbioportal.persistence.mybatis.StructuralVariantMapper">
    
    <sql id="select">
        genetic_profile.STABLE_ID AS "${prefix}molecularProfileId",
        structural_variant.INTERNAL_ID AS "${prefix}structuralVariantId",
        structural_variant.SAMPLE_ID AS "${prefix}sampleIdInternal",
        sample.STABLE_ID AS "${prefix}sampleId",
        patient.STABLE_ID AS "${prefix}patientId",
        cancer_study.CANCER_STUDY_IDENTIFIER AS "${prefix}studyId",
        structural_variant.SITE1_ENTREZ_GENE_ID AS "${prefix}site1EntrezGeneId",
        gene1.HUGO_GENE_SYMBOL AS "${prefix}site1HugoSymbol",
        structural_variant.SITE1_ENSEMBL_TRANSCRIPT_ID AS "${prefix}site1EnsemblTranscriptId",
        structural_variant.SITE1_EXON AS "${prefix}site1Exon",
        structural_variant.SITE1_CHROMOSOME AS "${prefix}site1Chromosome",
        structural_variant.SITE1_POSITION AS "${prefix}site1Position",
        structural_variant.SITE1_DESCRIPTION AS "${prefix}site1Description",
        structural_variant.SITE2_ENTREZ_GENE_ID AS "${prefix}site2EntrezGeneId",
        gene2.HUGO_GENE_SYMBOL AS "${prefix}site2HugoSymbol",
        structural_variant.SITE2_ENSEMBL_TRANSCRIPT_ID AS "${prefix}site2EnsemblTranscriptId",
        structural_variant.SITE2_EXON AS "${prefix}site2Exon",
        structural_variant.SITE2_CHROMOSOME AS "${prefix}site2Chromosome",
        structural_variant.SITE2_POSITION AS "${prefix}site2Position",
        structural_variant.SITE2_DESCRIPTION AS "${prefix}site2Description",
        structural_variant.SITE2_EFFECT_ON_FRAME AS "${prefix}site2EffectOnFrame",
        structural_variant.NCBI_BUILD AS "${prefix}ncbiBuild",
        structural_variant.DNA_SUPPORT AS "${prefix}dnaSupport",
        structural_variant.RNA_SUPPORT AS "${prefix}rnaSupport",
        structural_variant.NORMAL_READ_COUNT AS "${prefix}normalReadCount",
        structural_variant.TUMOR_READ_COUNT AS "${prefix}tumorReadCount",
        structural_variant.NORMAL_VARIANT_COUNT AS "${prefix}normalVariantCount",
        structural_variant.TUMOR_VARIANT_COUNT AS "${prefix}tumorVariantCount",
        structural_variant.NORMAL_PAIRED_END_READ_COUNT AS "${prefix}normalPairedEndReadCount",
        structural_variant.TUMOR_PAIRED_END_READ_COUNT AS "${prefix}tumorPairedEndReadCount",
        structural_variant.NORMAL_SPLIT_READ_COUNT AS "${prefix}normalSplitReadCount",
        structural_variant.TUMOR_SPLIT_READ_COUNT AS "${prefix}tumorSplitReadCount",
        structural_variant.ANNOTATION AS "${prefix}annotation",
        structural_variant.BREAKPOINT_TYPE AS "${prefix}breakpointType",
        structural_variant.CENTER AS "${prefix}center",
        structural_variant.CONNECTION_TYPE AS "${prefix}connectionType",
        structural_variant.EVENT_INFO AS "${prefix}eventInfo",
        structural_variant.CLASS AS "${prefix}variantClass",
        structural_variant.LENGTH AS "${prefix}length",
        structural_variant.COMMENTS AS "${prefix}comments",
        structural_variant.EXTERNAL_ANNOTATION AS "${prefix}externalAnnotation",
        alteration_driver_annotation.DRIVER_FILTER AS "${prefix}driverFilter",
        alteration_driver_annotation.DRIVER_FILTER_ANNOTATION AS "${prefix}driverFilterAnn",
        alteration_driver_annotation.DRIVER_TIERS_FILTER AS "${prefix}driverTiersFilter",
        alteration_driver_annotation.DRIVER_TIERS_FILTER_ANNOTATION AS "${prefix}driverTiersFilterAnn"
    </sql>

    <select id="fetchStructuralVariants" resultType="org.cbioportal.model.StructuralVariant">
        SELECT 
        <include refid="select">
            <property name="prefix" value=""/>
        </include> 
        FROM structural_variant
        JOIN genetic_profile ON structural_variant.GENETIC_PROFILE_ID = genetic_profile.GENETIC_PROFILE_ID
        JOIN gene gene1 ON structural_variant.SITE1_ENTREZ_GENE_ID = gene1.ENTREZ_GENE_ID
        JOIN gene gene2 ON structural_variant.SITE2_ENTREZ_GENE_ID = gene2.ENTREZ_GENE_ID
        JOIN sample ON structural_variant.SAMPLE_ID = sample.INTERNAL_ID
        JOIN patient ON sample.PATIENT_ID = patient.INTERNAL_ID
        JOIN cancer_study ON patient.CANCER_STUDY_ID = cancer_study.CANCER_STUDY_ID AND genetic_profile.CANCER_STUDY_ID = cancer_study.CANCER_STUDY_ID
        LEFT JOIN alteration_driver_annotation ON
                structural_variant.GENETIC_PROFILE_ID = alteration_driver_annotation.GENETIC_PROFILE_ID
            and structural_variant.SAMPLE_ID = alteration_driver_annotation.SAMPLE_ID
            and structural_variant.INTERNAL_ID = alteration_driver_annotation.ALTERATION_EVENT_ID

        <where>
            genetic_profile.STABLE_ID IN 
            <foreach item="item" collection="molecularProfileIds" open="(" separator="," close=")">
                #{item}
            </foreach>
            AND (structural_variant.SITE1_ENTREZ_GENE_ID in 
            <foreach item="item" collection="entrezGeneIds" open="(" separator="," close=")">
                #{item}
            </foreach>
            OR structural_variant.SITE2_ENTREZ_GENE_ID IN
            <foreach item="item" collection="entrezGeneIds" open="(" separator="," close=")">
                #{item}
            </foreach>
            )
            <if test="molecularProfileIds.size() > 0 and sampleIds.size() > 0">
                AND (genetic_profile.STABLE_ID, sample.STABLE_ID) IN
                <foreach index="i" collection="sampleIds" open="(" separator="," close=")"> 
                    (#{molecularProfileIds[${i}]}, #{sampleIds[${i}]}) 
                </foreach>
            </if>
        </where>
        ORDER BY gene1.HUGO_GENE_SYMBOL, gene2.HUGO_GENE_SYMBOL
    </select>

</mapper>
