<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cbioportal.persistence.mybatis.StudyViewFilterMapper">

    <select id="getSampleIdentifiersForPanels" resultType="org.cbioportal.model.SampleIdentifier">
        SELECT
            sample.STABLE_ID as sampleId,
            cancer_study.CANCER_STUDY_IDENTIFIER as studyId
        FROM
            gene_panel
            JOIN sample_profile ON gene_panel.INTERNAL_ID = sample_profile.PANEL_ID
            JOIN genetic_profile ON sample_profile.GENETIC_PROFILE_ID = genetic_profile.GENETIC_PROFILE_ID
            JOIN sample ON sample_profile.SAMPLE_ID = sample.INTERNAL_ID
            JOIN patient ON sample.PATIENT_ID = patient.INTERNAL_ID
            JOIN cancer_study ON patient.CANCER_STUDY_ID = cancer_study.CANCER_STUDY_ID
        <if test="genePanels != null and !genePanels.isEmpty()">
            WHERE (gene_panel.STABLE_ID, genetic_profile.STABLE_ID) IN
            <foreach item="item" collection="genePanels" open="(" separator="," close=")">
                (#{item.genePanelId}, #{item.molecularProfileId})
            </foreach>
        </if>
    </select>
</mapper>
