<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cbioportal.persistence.mybatis.TreatmentMapper">
    <cache readOnly="true"/>

    <sql id="select">
        treatment.ID AS "${prefix}id",
        treatment.STABLE_ID AS "${prefix}stableId",
        treatment.NAME as "${prefix}name",
        treatment.DESCRIPTION as "${prefix}description",
        treatment.LINKOUT_URL as "${prefix}refLink"
    </sql>

    <select id="getMetaTreatments" resultType="org.cbioportal.model.meta.BaseMeta">
        SELECT
        COUNT(*) AS totalCount
        FROM treatment
        <if test="list != null">
            WHERE treatment.STABLE_ID IN
            <foreach item="treatmentId" collection="list" open="(" separator="," close=")">
                #{treatmentId}
            </foreach>
        </if>
    </select>

    <select id="getMetaTreatmentsInStudies" resultType="org.cbioportal.model.meta.BaseMeta">
        SELECT
        COUNT (DISTINCT treatment.STABLE_ID) AS totalCount
        FROM treatment
        <if test="list != null">
                LEFT JOIN
            genetic_entity AS ge ON ge.ID = treatment.GENETIC_ENTITY_ID
                LEFT JOIN
            genetic_alteration AS ga ON ga.GENETIC_ENTITY_ID = ge.ID
                LEFT JOIN
            genetic_profile AS gp ON gp.GENETIC_PROFILE_ID = ga.GENETIC_PROFILE_ID
                LEFT JOIN
            cancer_study AS cs ON cs.CANCER_STUDY_ID = gp.CANCER_STUDY_ID
            WHERE cs.CANCER_STUDY_IDENTIFIER IN
            <foreach item="studyId" collection="list" open="(" separator="," close=")">
                #{studyId}
            </foreach>
        </if>
    </select>

    <select id="getTreatmentsInStudies" resultType="org.cbioportal.model.Treatment">
        SELECT DISTINCT
        <include refid="select">
            <property name="prefix" value=""/>
        </include>
        FROM treatment
        <if test="studyIds != null">
                LEFT JOIN
            genetic_entity AS ge ON ge.ID = treatment.GENETIC_ENTITY_ID
                LEFT JOIN
            genetic_alteration AS ga ON ga.GENETIC_ENTITY_ID = ge.ID
                LEFT JOIN
            genetic_profile AS gp ON gp.GENETIC_PROFILE_ID = ga.GENETIC_PROFILE_ID
                LEFT JOIN
            cancer_study AS cs ON cs.CANCER_STUDY_ID = gp.CANCER_STUDY_ID
            WHERE cs.CANCER_STUDY_IDENTIFIER IN
            <foreach item="studyId" collection="studyIds" open="(" separator="," close=")">
                #{studyId}
            </foreach>
        </if>
        <if test="sortBy != null and projection != 'ID'">
            ORDER BY ${sortBy} ${direction}
        </if>
        <if test="projection == 'ID'">
            ORDER BY stableId ASC
        </if>
        <if test="limit != null and limit != 0">
            LIMIT #{limit} OFFSET #{offset}
        </if>
    </select>

    <select id="getTreatmentByStableId" resultType="org.cbioportal.model.Treatment">
        SELECT
        <include refid="select">
            <property name="prefix" value=""/>
        </include>
        FROM treatment
        WHERE treatment.STABLE_ID = #{treatmentId}
    </select>
    
    <select id="fetchTreatments" resultType="org.cbioportal.model.Treatment">
        SELECT
        <include refid="select">
            <property name="prefix" value=""/>
        </include>
        FROM treatment
        WHERE treatment.STABLE_ID IN
        <foreach item="treatmentId" collection="list" open="(" separator="," close=")">
            #{treatmentId}
        </foreach>
        ORDER BY stableId ASC
    </select>

</mapper>