version: '3'

services:
  cbioportal:
    restart: unless-stopped
    image: cbioportal/cbioportal:docker-compose-layer
    container_name: cbioportal_container
    environment:
      SHOW_DEBUG_INFO: "true"
    ports:
      - "8080:8080"
    volumes:
     - ./study:/study/
     - ./config/portal.properties:/cbioportal/portal.properties:ro
    depends_on:
     - cbioportal_database
     - cbioportal_session
    networks:
     - cbio-net
    command: /bin/sh -c "java -Xms2g -Xmx4g -Dauthenticate=noauthsessionservice -Dsession.service.url=http://cbioportal_session:5000/api/sessions/my_portal/ -jar webapp-runner.jar /cbioportal-webapp"
  cbioportal_database:
    restart: unless-stopped
    image: mysql:5.7
    container_name: cbioportal_database_container
    environment:
      MYSQL_DATABASE: cbioportal
      MYSQL_USER: cbio_user
      MYSQL_PASSWORD: somepassword
      MYSQL_ROOT_PASSWORD: somepassword
    volumes:
     - ./data/cgds.sql:/docker-entrypoint-initdb.d/cgds.sql:ro
     - ./data/seed-cbioportal_hg19_v2.7.3.sql.gz:/docker-entrypoint-initdb.d/seed.sql.gz:ro
     - cbioportal_mysql_data:/var/lib/mysql
    networks:
     - cbio-net
  cbioportal_session:
    restart: unless-stopped
    image: cbioportal/session-service:0.2.0
    container_name: cbioportal_session_container
    environment:
      SERVER_PORT: 5000
      JAVA_OPTS: -Dspring.data.mongodb.uri=mongodb://cbioportal_session_database:27017/session-service
    depends_on:
      - cbioportal_session_database
    networks:
      - cbio-net
  cbioportal_session_database:
    restart: unless-stopped
    image: mongo:3.7.9
    container_name: cbioportal_session_database_container
    environment:
      MONGO_INITDB_DATABASE: session_service
    volumes:
      - cbioportal_mongo_data:/data/db
    networks:
      - cbio-net

networks:
  cbio-net: 
  
volumes:
  cbioportal_mysql_data:
  cbioportal_mongo_data:
