<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper 
    namespace="org.cbioportal.infrastructure.repository.clickhouse.cancerstudy.ClickhouseCancerStudyMapper">
    
    <select id="getCancerStudiesMetadata"
            resultMap="CancerStudyMetadataResultMap">
        WITH sample_counts as (
            SELECT
                sample_list.cancer_study_id,
                countIf(stable_id LIKE '%_all') as allSampleCount,
                countIf(stable_id LIKE '%_sequenced') as sequencedSampleCount,
                countIf(stable_id LIKE '%_cna') as cnaSampleCount,
                countIf(stable_id LIKE '%_rna_seq_v2_mrna') as mrnaRnaSeqV2SampleCount,
                countIf(stable_id LIKE '%_microrna') as miRnaSampleCount,
                countIf(stable_id LIKE '%_mrna' AND stable_id NOT LIKE '%_rna_seq_v2_mrna') as mrnaMicroarraySampleCount,
                countIf(stable_id LIKE '%_methylation_hm27') as methylationHm27SampleCount,
                countIf(stable_id LIKE '%_rppa') as rppaSampleCount,
                countIf(stable_id LIKE '%_protein_quantification') as massSpectrometrySampleCount,
                countIf(stable_id LIKE '%_3way_complete') as completeSampleCount,
                countIf(stable_id LIKE '%_rna_seq_mrna') as mrnaRnaSeqSampleCount
            FROM sample_list_list
            INNER JOIN sample_list ON sample_list_list.list_id = sample_list.list_id
            GROUP BY sample_list.cancer_study_id
        ),
        treatment AS (
            SELECT
                COUNT(DISTINCT patient_unique_id) as count,
                cancer_study_identifier
            FROM clinical_event_derived
            <where>
                event_type IN ('Treatment', 'TREATMENT')
            </where>
            GROUP BY cancer_study_identifier 
        ),
        sv AS (
            SELECT
                COUNT(DISTINCT sample_unique_id) as count,
                cancer_study_identifier as cancer_study_identifier
            FROM genomic_event_derived
            <where>
                variant_type = 'structural_variant'
            </where>
            GROUP BY cancer_study_identifier 
        )
        SELECT
            cs.cancer_study_id AS cancerStudyId,
            cs.cancer_study_identifier AS cancerStudyIdentifier,
            cs.type_of_cancer_id AS typeOfCancerId,
            cs.name AS name,
            cs.description AS description,
            cs.public AS publicStudy,
            cs.pmid AS pmid,
            cs.citation AS citation,
            cs.groups AS groups,
            cs.status AS status,
            cs.import_date AS importDate,
            reference_genome.name AS referenceGenome,
            allSampleCount,
            sequencedSampleCount,
            cnaSampleCount,
            mrnaRnaSeqV2SampleCount,
            miRnaSampleCount,
            mrnaMicroarraySampleCount,
            methylationHm27SampleCount,
            rppaSampleCount,
            massSpectrometrySampleCount,
            completeSampleCount,
            mrnaRnaSeqSampleCount,
            IFNULL(treatment.count, 0) AS treatmentCount,
            IFNULL(sv.count, 0) AS structuralVariantCount,
            type_of_cancer.name AS type_of_cancer_name,
            type_of_cancer.dedicated_color AS type_of_cancer_dedicated_color,
            type_of_cancer.short_name AS type_of_cancer_short_name,
            type_of_cancer.parent AS type_of_cancer_parent
            
        FROM cancer_study AS cs
        INNER JOIN reference_genome ON reference_genome.reference_genome_id = cs.reference_genome_id
        INNER JOIN type_of_cancer ON cs.type_of_cancer_id = type_of_cancer.type_of_cancer_id
        LEFT JOIN treatment ON cs.cancer_study_identifier =
        treatment.cancer_study_identifier
        LEFT JOIN sv ON sv.cancer_study_identifier = cs.cancer_study_identifier
        INNER JOIN sample_counts ON sample_counts.cancer_study_id = cs.cancer_study_id
        <where>
            <if test="studyIds != null and !studyIds.isEmpty()">
                cs.cancer_study_identifier IN
                <foreach item="item" collection="studyIds" open="(" separator="," close=")">#{item}</foreach>
            </if>
            <if test="sortAndSearchCriteria.isSearchable()">
                <foreach item="item" collection="sortAndSearchCriteria.searchTerm.split(' ')" open="(" separator=") AND (" close=")">
                    cs.name ilike CONCAT('%', #{item}, '%') OR
                    cs.cancer_study_identifier ilike CONCAT('%', #{item}, '%') OR
                    type_of_cancer.name ilike CONCAT('%', #{item}, '%') OR
                    type_of_cancer.type_of_cancer_id ilike CONCAT('%', #{item}, '%')
                </foreach>
            </if>
        </where>
        GROUP BY cs.cancer_study_id, cs.cancer_study_identifier, cs.type_of_cancer_id, cs.name,
        cs.description, cs.public, cs.pmid, cs.citation, cs.groups, cs.status, cs.import_date, 
        reference_genome.name, treatment.count, sv.count,allSampleCount,
        sequencedSampleCount, cnaSampleCount, mrnaRnaSeqV2SampleCount,
        miRnaSampleCount,mrnaMicroarraySampleCount, methylationHm27SampleCount,
        rppaSampleCount, massSpectrometrySampleCount,completeSampleCount, 
        mrnaRnaSeqSampleCount,type_of_cancer.name, type_of_cancer.dedicated_color,
        type_of_cancer.short_name, type_of_cancer.parent

        <if test="sortAndSearchCriteria.isSortable()">
            ORDER BY ${sortAndSearchCriteria.sortField} ${sortAndSearchCriteria.sortOrder}
        </if>
        <!--  Currently don't support Pagenation at the db layer
         <if test="sortAndSearchCriteria.isPaginated()">
            LIMIT #{sortAndSearchCriteria.pageSize} OFFSET #{sortAndSearchCriteria.offset}
        </if>
        -->
    </select>

    <select id="getCancerStudiesMetadataSummary" resultMap="CancerStudyMetadataSummaryResultMap">
        WITH sample_counts as (
            SELECT
                sample_list.cancer_study_id,
                countIf(stable_id LIKE '%_all') as allSampleCount
            FROM sample_list_list
            INNER JOIN sample_list ON sample_list_list.list_id = sample_list.list_id
            GROUP BY sample_list.cancer_study_id
        )
        SELECT
        cs.cancer_study_id AS cancerStudyId,
        cs.cancer_study_identifier AS cancerStudyIdentifier,
        cs.type_of_cancer_id AS typeOfCancerId,
        cs.name AS name,
        cs.description AS description,
        cs.public AS publicStudy,
        cs.pmid AS pmid,
        cs.citation AS citation,
        cs.groups AS groups,
        cs.status AS status,
        cs.import_date AS importDate,
        reference_genome.name AS referenceGenome,
        allSampleCount,
        type_of_cancer.name AS type_of_cancer_name,
        type_of_cancer.dedicated_color AS type_of_cancer_dedicated_color,
        type_of_cancer.short_name AS type_of_cancer_short_name,
        type_of_cancer.parent AS type_of_cancer_parent

        FROM cancer_study AS cs
        INNER JOIN reference_genome ON reference_genome.reference_genome_id = cs.reference_genome_id
        INNER JOIN type_of_cancer ON cs.type_of_cancer_id = type_of_cancer.type_of_cancer_id
        INNER JOIN sample_counts ON sample_counts.cancer_study_id = cs.cancer_study_id
        <where>
            <if test="studyIds != null and !studyIds.isEmpty()">
                cancer_study.cancer_study_identifier IN
                <foreach item="item" collection="studyIds" open="(" separator="," close=")">#{item}</foreach>
            </if>
            <if test="sortAndSearchCriteria.isSearchable()">
                <foreach item="item" collection="sortAndSearchCriteria.searchTerm.split(' ')" open="(" separator=") AND (" close=")">
                    cs.name ilike CONCAT('%', #{item}, '%') OR
                    cs.cancer_study_identifier ilike CONCAT('%', #{item}, '%') OR
                    type_of_cancer.name ilike CONCAT('%', #{item}, '%') OR
                    type_of_cancer.type_of_cancer_id ilike CONCAT('%', #{item}, '%')
                </foreach>
            </if>
        </where>
        <choose>
            <when test="sortAndSearchCriteria.isSortable()">
                ORDER BY ${sortAndSearchCriteria.sortField} ${sortAndSearchCriteria.sortOrder}
            </when>
            <when test="sortAndSearchCriteria.isSearchable()">
                ORDER BY cancer_study.name ASC
            </when>
        </choose>
    </select>

    <resultMap id="CancerStudyMetadataResultMap" 
               type="org.cbioportal.domain.cancerstudy.CancerStudyMetadata">
        <constructor>
            <idArg column="cancerStudyId" javaType="int" />
            <arg column="cancerStudyIdentifier" javaType="String" />
            <arg column="typeOfCancerId" javaType="String" />
            <arg column="name" javaType="String" />
            <arg column="description" javaType="String" />
            <arg column="publicStudy" javaType="boolean" />
            <arg column="pmid" javaType="String" />
            <arg column="citation" javaType="String" />
            <arg column="groups" javaType="String" />
            <arg column="status" javaType="int" />
            <arg column="importDate" javaType="java.util.Date" />
            <arg column="allSampleCount" javaType="int" />
            <arg column="sequencedSampleCount" javaType="int" />
            <arg column="cnaSampleCount" javaType="int" />
            <arg column="mrnaRnaSeqSampleCount" javaType="int" />
            <arg column="mrnaRnaSeqV2SampleCount" javaType="int" />
            <arg column="mrnaMicroarraySampleCount" javaType="int" />
            <arg column="miRnaSampleCount" javaType="int" />
            <arg column="methylationHm27SampleCount" javaType="int" />
            <arg column="rppaSampleCount" javaType="int" />
            <arg column="massSpectrometrySampleCount" javaType="int" />
            <arg column="completeSampleCount" javaType="int" />
            <arg column="referenceGenome" javaType="String" />
            <arg column="treatmentCount" javaType="int" />
            <arg column="structuralVariantCount" javaType="int" />
            <arg javaType="org.cbioportal.domain.cancerstudy.TypeOfCancer" resultMap="TypeOfCancerResultMap"/>
        </constructor>
    </resultMap>

    <resultMap id="CancerStudyMetadataSummaryResultMap"
               type="org.cbioportal.domain.cancerstudy.CancerStudyMetadata">
        <constructor>
            <idArg column="cancerStudyId" javaType="int" />
            <arg column="cancerStudyIdentifier" javaType="String" />
            <arg column="typeOfCancerId" javaType="String" />
            <arg column="name" javaType="String" />
            <arg column="description" javaType="String" />
            <arg column="publicStudy" javaType="boolean" />
            <arg column="pmid" javaType="String" />
            <arg column="citation" javaType="String" />
            <arg column="groups" javaType="String" />
            <arg column="status" javaType="int" />
            <arg column="importDate" javaType="java.util.Date" />
            <arg column="allSampleCount" javaType="int" />
            <arg column="referenceGenome" javaType="String" />
            <arg javaType="org.cbioportal.domain.cancerstudy.TypeOfCancer" resultMap="TypeOfCancerResultMap"/>
        </constructor>
    </resultMap>

    <resultMap id="TypeOfCancerResultMap" type="org.cbioportal.domain.cancerstudy.TypeOfCancer">
        <constructor>
            <idArg column="typeOfCancerId" javaType="String" />
            <arg column="type_of_cancer_name" javaType="String" />
            <arg column="type_of_cancer_dedicated_color" javaType="String" />
            <arg column="type_of_cancer_short_name" javaType="String" />
            <arg column="type_of_cancer_parent" javaType="String" />
        </constructor>
    </resultMap>

    <select id="getFilteredStudyIds" resultType="string">
        SELECT
        DISTINCT cancer_study_identifier
        FROM sample_derived
        <where>
            sample_unique_id IN ( <include refid="org.cbioportal.infrastructure.repository.clickhouse.studyview.ClickhouseStudyViewFilterMapper.sampleUniqueIdsFromStudyViewFilter"/>)
        </where>
    </select>
</mapper>