name: Docker Image CI
on:
  push:
    branches: 
      - master
      - release-*
      - rc

jobs:
  build_and_publish_web_and_data:
    if: github.repository == 'cBioPortal/cbioportal'
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout git repo'
        uses: actions/checkout@v1
      - name: Extract branch name
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: extract_branch
      - name: 'Docker build with cache'
        uses: whoan/docker-build-with-cache-action@v4
        with:
          username: "${{ secrets.DOCKER_USERNAME }}"
          password: "${{ secrets.DOCKER_PASSWORD }}"
          image_name: cbioportal/cbioportal
          image_tag: ${{ steps.extract_branch.outputs.branch }}
          context: .
          dockerfile: docker/web-and-data/Dockerfile
          pull_image_and_stages: false

  build_and_publish_web:
      if: github.repository == 'cBioPortal/cbioportal'
      runs-on: ubuntu-latest
      steps:
        - name: 'Checkout git repo'
          uses: actions/checkout@v1
        - name: Extract branch name
          run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
          id: extract_branch
        - name: 'Docker build with cache'
          uses: whoan/docker-build-with-cache-action@v4
          with:
            username: "${{ secrets.DOCKER_USERNAME }}"
            password: "${{ secrets.DOCKER_PASSWORD }}"
            image_name: cbioportal/cbioportal
            image_tag: ${{ steps.extract_branch.outputs.branch }}-web-shenandoah
            context: .
            dockerfile: docker/web/Dockerfile
            pull_image_and_stages: false
            
            
# Reference: https://github.com/marketplace/actions/build-docker-images-using-cache
