name: Security integration tests
on: [push, pull_request]
jobs:
  build:
    name: Security integration tests
    runs-on: ubuntu-latest
    env:
      PORTAL_SOURCE_DIR: /home/runner/work/cbioportal/cbioportal/cbioportal
      PORTAL_COMPOSE_DIR: /home/runner/work/cbioportal/cbioportal/cbioportal-docker-compose
      PORTAL_INFO_DIR: /home/runner/work/cbioportal/cbioportal/portalInfo
    steps:
      - name: 'Checkout cbioportal repo'
        uses: actions/checkout@v2
        with:
          path: ./cbioportal
      - name: 'Set up JDK 21'
        uses: oracle-actions/setup-java@v1
        with:
          website: oracle.com
          release: 21
      - name: 'Cache Maven packages'
        uses: actions/cache@v1
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: 'Download Chrome'
        uses: browser-actions/setup-chrome@latest
      - name: 'Copy Application.Properties'
        working-directory: ./cbioportal
        run: |
          cp src/main/resources/application.properties.EXAMPLE src/main/resources/application.properties
      - name: 'Run integration tests'
        working-directory: ./cbioportal
        run: |
          mvn verify -Pintegration-test
