<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.mskcc.cbio.portal.persistence.CNSegmentMapper">

    <select id="getCNSegmentData" resultType="org.mskcc.cbio.portal.model.CNSegmentData">
        select s.stable_id as sample, cns.chr as chr, cns.start as start, cns.end as end, cns.num_probes as numProbes, cns.segment_mean as value 
        from sample s, copy_number_seg cns, cancer_study cs 
        where cs.cancer_study_identifier = #{cancerStudyId} 
        <if test="sampleIds != null and !sampleIds.isEmpty()">
            and s.stable_id in
                <foreach item="item" collection="sampleIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
        </if>
        <if test="chromosomes != null and !chromosomes.isEmpty()">
            and cns.chr in
                <foreach item="item" collection="chromosomes" open="(" separator="," close=")">
                    #{item}
                </foreach>
        </if>
        and cs.cancer_study_id = cns.cancer_study_id and cns.sample_id = s.internal_id;
    </select>

</mapper>
