<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.mskcc.cbio.portal.persistence.MutationalSignatureMapper">

    <select id="getSNPCountsBySampleId" resultType="org.mskcc.cbio.portal.model.SNPCount">
        select
            sample.STABLE_ID as sampleId,
            mutation_event.REFERENCE_ALLELE as referenceAllele,
            mutation_event.TUMOR_SEQ_ALLELE as tumorAllele,
            count(*) as count
        from sample inner join mutation on sample.INTERNAL_ID = mutation.SAMPLE_ID
                    inner join mutation_event on mutation_event.MUTATION_EVENT_ID=mutation.MUTATION_EVENT_ID
                    inner join genetic_profile on mutation.GENETIC_PROFILE_ID = genetic_profile.GENETIC_PROFILE_ID
        where
            genetic_profile.STABLE_ID=#{geneticProfileStableId} and
            mutation_event.REFERENCE_ALLELE in ('A','T','C','G') and
            mutation_event.TUMOR_SEQ_ALLELE in ('A','T','C','G')
            <if test="sampleStableIds != null and !sampleStableIds.isEmpty()">
            and sample.STABLE_ID in
            <foreach item="item" collection="sampleStableIds" open="(" separator="," close=")">
                #{item}
            </foreach>
            </if>
        group by sample.STABLE_ID,mutation_event.REFERENCE_ALLELE,mutation_event.TUMOR_SEQ_ALLELE
    </select>
</mapper>
